* @DataDog/apm-python

ddtrace/contrib/pytest/         @DataDog/apm-python @DataDog/ci-app-tracers
ddtrace/contrib/pytest-bdd/     @DataDog/apm-python @DataDog/ci-app-tracers
ddtrace/ext/ci.py               @DataDog/apm-python @DataDog/ci-app-tracers
ddtrace/ext/test.py             @DataDog/apm-python @DataDog/ci-app-tracers
ddtrace/internal/codeowners.py  @DataDog/apm-python @datadog/ci-app-tracers
tests/contrib/pytest/           @DataDog/apm-python @DataDog/ci-app-tracers
tests/contrib/pytest-bdd/       @DataDog/apm-python @DataDog/ci-app-tracers
