stages:
  - deploy

variables:
  DOWNSTREAM_BRANCH:
    value: "master"
    description: "Run a specific datadog-reliability-env branch downstream"
  FORCE_TRIGGER:
    value: "false"
    description: "Set to true to override rules in the reliability-env pipeline (e.g. override 'only deploy master')"
  DOWNSTREAM_MBP_BRANCH:
    value: "dd-trace-py"
    description: "Run a specific relenv-microbenchmarking-platform branch downstream"

    
.common: &common
  tags: [ "runner:main", "size:large" ]

deploy_to_reliability_env:
  stage: deploy
  when: on_success
  trigger:
    project: DataDog/apm-reliability/datadog-reliability-env
    branch: $DOWNSTREAM_BRANCH
  variables:
    UPSTREAM_PROJECT_ID: $CI_PROJECT_ID
    UPSTREAM_PROJECT_NAME: $CI_PROJECT_NAME
    UPSTREAM_BRANCH: $CI_COMMIT_REF_NAME
    UPSTREAM_COMMIT_SHA: $CI_COMMIT_SHA
    FORCE_TRIGGER: $FORCE_TRIGGER

trigger_microbenchmarking_platform:
  stage: deploy
  when: manual
  trigger:
    project: DataDog/apm-reliability/relenv-microbenchmarking-platform
    branch: $DOWNSTREAM_MBP_BRANCH
  variables:
    UPSTREAM_PROJECT_ID: $CI_PROJECT_ID
    UPSTREAM_PROJECT_NAME: $CI_PROJECT_NAME
    UPSTREAM_BRANCH: $CI_COMMIT_REF_NAME
    UPSTREAM_COMMIT_SHA: $CI_COMMIT_SHA
