stages:
  - package
  - internal-publish
  - dogfood
  - benchmarks
  - benchmarks-pr-comment
  - macrobenchmarks
  - test
  - external-publish

include:
  - remote: https://gitlab-templates.ddbuild.io/libdatadog/include-wip/one-pipeline.yml
  - local: ".gitlab/benchmarks.yml"
  - local: ".gitlab/macrobenchmarks.yml"
  - local: ".gitlab/dogfood.yml"

variables:
  REPO_LANG: python

download_wheels:
  image: registry.ddbuild.io/github-cli:v27480869-eafb11d-2.43.0
  tags: [ "arch:amd64" ]
  stage: package
  script:
    - aws ssm get-parameter --region us-east-1 --name ci.$CI_PROJECT_NAME.gh_token --with-decryption --query "Parameter.Value" --out text > token
    - gh auth login --with-token < token
    - rm token
    - .gitlab/download-wheels-from-gh-actions.sh
  artifacts:
    paths:
      - "pywheels/*.whl"

package-oci:
  needs: [ download_wheels ]

onboarding_tests_k8s_injection:
  rules:
    - when: on_success
      allow_failure: true
  allow_failure: true
  parallel:
    matrix:
      - WEBLOG_VARIANT: [dd-lib-python-init-test-django, dd-lib-python-init-test-django-gunicorn, dd-lib-python-init-test-django-uvicorn]

deploy_to_di_backend:manual:
  stage: internal-publish
  rules:
    - when: manual
      allow_failure: true
  trigger:
    project: DataDog/debugger-demos
    branch: main
  variables:
    UPSTREAM_PROJECT_ID: $CI_PROJECT_ID
    UPSTREAM_PROJECT_NAME: $CI_PROJECT_NAME
    UPSTREAM_COMMIT_SHORT_SHA: $CI_COMMIT_SHORT_SHA
    UPSTREAM_PIPELINE_ID: $CI_PIPELINE_ID
    UPSTREAM_COMMIT_AUTHOR: $CI_COMMIT_AUTHOR
    UPSTREAM_TAG: $CI_COMMIT_TAG
    UPSTREAM_PACKAGE_JOB: build
