[envs.lint]
detached = true
python = "3.10"
dependencies = [
    "black==23.10.1",
    "click==8.1.7",
    "cython-lint==0.15.0",
    "codespell==2.1.0",
    "bandit==1.7.5",
    "mypy==0.991",
    "coverage==7.3.0",
    "envier==0.4.0",
    "types-attrs==19.1.0",
    "types-docutils==0.19.1.1",
    "types-protobuf==3.20.4.5",
    "types-PyYAML==6.0.12.2",
    "types-setuptools==65.6.0.0",
    "types-six==1.16.21.4",
    "ddapm-test-agent>=1.2.0",
    "packaging==23.1",
    "pygments==2.16.1",
    "riot==0.19.0",
    "ruff==0.1.3",
]

[envs.lint.scripts]
style = [
    "black --check -q {args:.}",
    "ruff check {args:.}",
    "cython-lint {args:.}",
]
fmt = [
    "black {args:.}",
    "ruff --fix {args:.}",
    "style",
]
spelling = [
    "codespell --skip='ddwaf.h' {args:ddtrace/ tests/}",
]
typing = [
    "mypy {args}",
]
security = [
    "bandit -c pyproject.toml {args:-r ddtrace/}",
]
fmt-snapshots = [
    "ddapm-test-agent-fmt {args:tests/snapshots/}",
]
riot = [
    "python -m doctest {args} riotfile.py"
]

[envs.docs]
template = "docs"
dev-mode = false
python = "3.10"
features = ["opentracing"]
extra-dependencies = [
    "six>=1.12.0",
    "reno[sphinx]~=3.5.0",
    "sphinx~=4.0",
    "sphinxcontrib-spelling==7.7.0",
    "PyEnchant==3.2.2",
    "sphinx-copybutton==0.5.1",
    # Later release of furo breaks formatting for code blocks
    "furo<=2023.05.20",
        "ddsketch>=2.0.1",
        "protobuf>=3",
        "attrs>=20",
        "cattrs",
        "six>=1.12.0",
        "typing_extensions",
        "importlib_metadata; python_version<'3.8'",
        "xmltodict>=0.12",
        "envier",
        "opentelemetry-api>=1",
        "setuptools; python_version>='3.12'",
    "opentracing>=2.0.0",
    "bytecode",
]
pre-install-commands = [
    "scripts/docs/install.sh",
]

[envs.docs.scripts]
build = [
    "scripts/docs/build.sh",
]

[envs.docs.overrides]
# Local MacOS development requires Docker containers
platform.macos.type = { value = "container" }

[envs.slotscheck]
template = "slotscheck"
python = "3.10"
features = ["opentracing"]
extra-dependencies = [
    "slotscheck==0.17.0",
]

[envs.slotscheck.scripts]
_ = [
    "python -m slotscheck -v ddtrace/",
]


[envs.scripts]
detached = true
python = "3.10"
extra-dependencies = [
    "packaging==23.1",
]

[envs.scripts.scripts]
test = [
    "python -m doctest {args} scripts/get-target-milestone.py scripts/needs_testrun.py tests/suitespec.py",
]

[envs.meta-testing]
extra-dependencies = [
    "pytest",
    "pytest-cov",
    "hypothesis<6.45.1"
]
[envs.meta-testing.scripts]
meta-testing = [
  "pytest {args} tests/meta"
]
