[env]
requires = [
    "hatch-containers==0.7.0",
]

[envs.lint]
detached = true
python = "3.10"
dependencies = [
    "black==23.10.1",
    "click==8.1.7",
    "cython-lint==0.15.0",
    "codespell==2.1.0",
    "bandit==1.7.5",
    "mypy==0.991",
    "coverage==7.3.0",
    "envier==0.5.2",
    "types-docutils==0.19.1.1",
    "types-protobuf==3.20.4.5",
    "types-PyYAML==6.0.12.2",
    "types-setuptools==65.6.0.0",
    "ddapm-test-agent>=1.2.0",
    "packaging==23.1",
    "pygments==2.16.1",
    "riot==0.19.1",
    "ruff==0.1.3",
    "clang-format==18.1.5",
]

[envs.lint.scripts]
black_check = [
    "black --check {args:.}",
]
cformat_check = [
    "bash scripts/cformat.sh"
]
style = [
    "black_check",
    "ruff check {args:.}",
    "cython-lint {args:.}",
    "cformat_check",
]
fmt = [
    "black {args:.}",
    "ruff --fix {args:.}",
    "style",
]
# checks should encapsulate all rules used in pre-check
checks = [
    "style",
    "typing",
    "spelling",
    "riot",
    "security",
    "test",
    "suitespec-check",
]
spelling = [
    "codespell --skip='ddwaf.h,*cassettes*' {args:ddtrace/ tests/ releasenotes/ docs/}",
]
typing = [
    "mypy {args}",
]
security = [
    "bandit -c pyproject.toml {args:-r ddtrace/}",
]
fmt-snapshots = [
    "ddapm-test-agent-fmt {args:tests/snapshots/}",
]
riot = [
    "python -m doctest {args} riotfile.py"
]
suitespec-check = [
    "python scripts/check_suitespec_coverage.py"
]

[envs.docs]
template = "docs"
dev-mode = false
python = "3.10"
features = ["opentracing"]
dependencies = [  # copied from library dependencies
    "protobuf>=3",
    "typing_extensions",
    "xmltodict>=0.12",
    "envier",
    "opentelemetry-api>=1",
    "opentracing>=2.0.0",
    "bytecode",
]
extra-dependencies = [
    "reno[sphinx]~=3.5.0",
    "sphinx~=4.0",
    "sphinxcontrib-applehelp<1.0.8",
    "sphinxcontrib-devhelp<1.0.6",
    "sphinxcontrib-htmlhelp<2.0.5",
    "sphinxcontrib-devhelp<1.0.6",
    "sphinxcontrib-serializinghtml<1.1.10",
    "sphinxcontrib-qthelp<1.0.7",
    "sphinxcontrib-spelling==7.7.0",
    "PyEnchant==3.2.2",
    "sphinx-copybutton==0.5.1",
    # Later release of furo breaks formatting for code blocks
    "furo<=2023.05.20",
]
pre-install-commands = [
    "scripts/docs/install.sh",
]
[envs.docs.env-vars]
DD_TRACE_ENABLED = "false"

[envs.docs.scripts]
build = [
    "scripts/docs/build.sh",
]

[envs.docs.overrides]
# Local MacOS development requires Docker containers
platform.macos.type = { value = "container" }

[envs.slotscheck]
template = "slotscheck"
python = "3.10"
features = ["opentracing"]
extra-dependencies = [
    "slotscheck==0.17.0",
]

[envs.slotscheck.scripts]
_ = [
    "python -m slotscheck -v ddtrace/",
]


[envs.scripts]
detached = true
python = "3.10"
extra-dependencies = [
    "packaging==23.1",
]

[envs.scripts.scripts]
test = [
    "python -m doctest {args} scripts/get-target-milestone.py scripts/needs_testrun.py tests/suitespec.py",
]

[envs.meta-testing]
extra-dependencies = [
    "pytest",
    "pytest-cov",
    "hypothesis<6.45.1"
]
[envs.meta-testing.scripts]
meta-testing = [
  "pytest {args} tests/meta"
]

[envs.integration_test]
template = "integration_test"
extra-dependencies = [
    "mock==5.0.1",
    "pytest==7.2.2",
    "pytest-mock==3.10.0",
    "coverage==7.2.2",
    "pytest-cov==4.0.0",
    "opentracing==2.4.0",
    "hypothesis==6.45.0",
]

[[envs.integration_test.matrix]]
python = ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12"]

[envs.integration_test.env-vars]
_DD_CIVISIBILITY_USE_CI_CONTEXT_PROVIDER = "1"
DD_TESTING_RAISE = "1"
DD_REMOTE_CONFIGURATION_ENABLED = "false"
DD_CIVISIBILITY_AGENTLESS_ENABLED = "1"
DD_CIVISIBILITY_CODE_COVERAGE_ENABLED = "1"
DD_CIVISIBILITY_ITR_ENABLED = "1"
DD_PATCH_MODULES = "unittest:false"
CMAKE_BUILD_PARALLEL_LEVEL = "12"


## ASM Django

[envs.appsec_threats_django]
template = "appsec_threats_django"
dependencies = [
    "pytest",
    "pytest-cov",
    "requests",
    "hypothesis",
    "django{matrix:django}"
]

[envs.appsec_threats_django.scripts]
test = [
    "uname -a",
    "pip freeze",
    "DD_IAST_ENABLED=false python -m pytest tests/appsec/contrib_appsec/test_django.py",
    "DD_IAST_ENABLED=true DD_IAST_REQUEST_SAMPLING=100 python -m pytest tests/appsec/contrib_appsec/test_django.py"
]

# if you add or remove a version here, please also update the parallelism parameter
# in .circleci/config.templ.yml
[[envs.appsec_threats_django.matrix]]
python = ["3.7", "3.9"]
django = ["~=2.2"]

[[envs.appsec_threats_django.matrix]]
python = ["3.7", "3.9", "3.10"]
django = ["~=3.2"]

[[envs.appsec_threats_django.matrix]]
python = ["3.8", "3.10"]
django = ["==4.0.10"]

[[envs.appsec_threats_django.matrix]]
python = ["3.8", "3.10", "3.12"]
django = ["~=4.2"]

[[envs.appsec_threats_django.matrix]]
python = ["3.10", "3.12"]
django = ["~=5.0"]


## ASM Flask

[envs.appsec_threats_flask]
template = "appsec_threats_flask"
dependencies = [
    "pytest",
    "pytest-cov",
    "requests",
    "hypothesis",
    "MarkupSafe{matrix:markupsafe:}",
    "Werkzeug{matrix:werkzeug:}",
    "flask{matrix:flask}"
]

[envs.appsec_threats_flask.scripts]
test = [
    "uname -a",
    "pip freeze",
    "DD_IAST_ENABLED=false python -m pytest tests/appsec/contrib_appsec/test_flask.py",
    "DD_IAST_ENABLED=true DD_IAST_REQUEST_SAMPLING=100 python -m pytest tests/appsec/contrib_appsec/test_flask.py"
]

# if you add or remove a version here, please also update the parallelism parameter
# in .circleci/config.templ.yml
[[envs.appsec_threats_flask.matrix]]
python = ["3.7", "3.9"]
flask = ["~=1.1"]
markupsafe = ["~=1.1"]

[[envs.appsec_threats_flask.matrix]]
python = ["3.7", "3.9"]
flask = ["==2.1.3"]
werkzeug = ["<3.0"]

[[envs.appsec_threats_flask.matrix]]
python = ["3.8", "3.9", "3.12"]
flask = ["~=2.3"]

[[envs.appsec_threats_flask.matrix]]
python = ["3.8", "3.10", "3.12"]
flask = ["~=3.0"]

## ASM FastAPI

[envs.appsec_threats_fastapi]
template = "appsec_threats_fastapi"
dependencies = [
    "pytest",
    "pytest-cov",
    "requests",
    "hypothesis",
    "httpx",
    "anyio{matrix:anyio:}",
    "fastapi{matrix:fastapi}"
]

[envs.appsec_threats_fastapi.scripts]
test = [
    "uname -a",
    "pip freeze",
    "DD_IAST_ENABLED=false python -m pytest tests/appsec/contrib_appsec/test_fastapi.py",
    "DD_IAST_ENABLED=true DD_IAST_REQUEST_SAMPLING=100 python -m pytest tests/appsec/contrib_appsec/test_fastapi.py"
]

# if you add or remove a version here, please also update the parallelism parameter
# in .circleci/config.templ.yml
[[envs.appsec_threats_fastapi.matrix]]
python = ["3.7", "3.9", "3.11"]
fastapi = ["==0.86.0"]
anyio = ["==3.7.1"]

[[envs.appsec_threats_fastapi.matrix]]
python = ["3.7", "3.9", "3.12"]
fastapi = ["==0.94.1"]

[[envs.appsec_threats_fastapi.matrix]]
python = ["3.8", "3.10", "3.12"]
fastapi = ["~=0.109"]

## Unit Tests

[envs.ddtrace_unit_tests]
dependencies = [
    "pytest",
    "pytest-cov",
    "requests",
    "hypothesis",
]

[envs.ddtrace_unit_tests.env-vars]
DD_IAST_ENABLED = "false"
DD_REMOTE_CONFIGURATION_ENABLED = "false"

[envs.ddtrace_unit_tests.scripts]
test = [
    "uname -a",
    "pip freeze",
    "python -m pytest tests/internal/service_name/test_extra_services_names.py -vvv -s",
]

[[envs.ddtrace_unit_tests.matrix]]
python = ["3.12", "3.10", "3.7"]

# Internal coverage (dd_coverage to distinguish from regular coverage) has version-specific code so tests are run
# across all supported versions
[envs.dd_coverage]
template = "dd_coverage"
dependencies = [
    "hypothesis",
    "pytest",
    "pytest-cov",
]

[envs.dd_coverage.scripts]
test = [
    "pip freeze",
    "pytest tests/coverage -s --no-cov",
]

[[envs.dd_coverage.matrix]]
python = ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12"]

[envs.pytest_plugin_v2]
template = "pytest_plugin_v2"
dependencies = [
    "httpx",
    "msgpack",
    "pytest",
    "pytest-cov",  # only used so --no-cov can be passed (conflicts with setup.cfg otherwise)
    "requests",
    "hypothesis",
]

[envs.pytest_plugin_v2.env-vars]
_DD_CIVISIBILITY_USE_PYTEST_V2 = "true"
DD_AGENT_PORT = "9126"

[envs.pytest_plugin_v2.scripts]
test = [
    "pip freeze",
    "echo $PYTEST_ADDOPTS",
    "pytest -c /dev/null --no-ddtrace --no-cov tests/contrib/pytest {args:}",
]

[[envs.pytest_plugin_v2.matrix]]
python = ["3.7", "3.9"]
pytest = ["~=6.0", ">7"]


[[envs.pytest_plugin_v2.matrix]]
python = ["3.10", "3.12"]
pytest = ["~=6.0", "~=7.0", ">7"]
