[tool.black]
line-length = 120
target_version = ['py27', 'py34', 'py35', 'py36', 'py37', 'py38']
exclude = '''
(
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.nox
  | \.tox
  | \.venv
  | _build/
  | buck-out/
  | build/
  | dist/
  | ddtrace/(
    [^/]+\.py
    | bootstrap/
    | commands/
    | contrib/
    | ext/
    | http/
    | internal/
    | opentracer/
    | propagation/
    | settings/
    | utils/
    | vendor/
  )
  | tests/
)
'''
