[build-system]
requires = ["setuptools >= 40.6.0", "setuptools-scm", "cython"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 120
target_version = ['py27', 'py35', 'py36', 'py37', 'py38']
exclude = '''
(
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.nox
  | \.tox
  | \.venv
  | _build/
  | buck-out/
  | build/
  | dist/
  | ddtrace/(
    (?!(compat|monkey|span|__init__|_hooks)\.py$)[^/]+\.py$
    | commands/
    | contrib/
    (
      aiobotocore
      | aiohttp
      | aiopg
      | algoliasearch
      | asyncio
      | boto
      | botocore
      | bottle
      | cassandra
      | celery
      | consul
      | dbapi
      | dogpile_cache
      | elasticsearch
      | falcon
      | flask
      | flask_cache
      | futures
      | gevent
      | grpc/
      (
        __init__.py
        | constants.py
        | patch.py
        | server_interceptor.py
        | utils.py
      )
      | httplib
      | jinja2
      | kombu
      | mako
      | molten
      | mongoengine
      | mysql
      | mysqldb
      | psycopg
      | pylibmc
      | pylons
      | pymemcache
      | pymongo
      | pymysql
      | pyramid
      | redis
      | rediscluster
      | requests/
      (
        __init__.py
        | constants.py
        | legacy.py
        | patch.py
        | session.py
      )
      | sqlalchemy
      | sqlite3
      | tornado
      | util.py
      | vertica
    )
    | ext/
    | http/
    | opentracer/
    | profiling/exporter/pprof_pb2.py$
    | propagation/
    | vendor/
  )
  | tests/
  (
    base
    | commands
    | contrib/
    (
      aiobotocore
      | aiohttp
      | aiopg
      | algoliasearch
      | asyncio
      | boto
      | botocore
      | bottle
      | cassandra
      | config.py
      | consul
      | dbapi
      | elasticsearch
      | falcon
      | flask
      | flask_autopatch
      | flask_cache
      | futures
      | gevent
      | grpc
      | httplib
      | jinja2
      | kombu
      | mako
      | molten
      | mongoengine
      | mysql
      | mysqldb
      | patch.py
      | psycopg
      | pylibmc
      | pylons
      | pymemcache
      | pymongo
      | pymysql
      | pyramid/
      (
        app/web.py
        | __init__.py
        | test_pyramid.py
        | test_pyramid_autopatch.py
      )
      | redis
      | rediscluster
      | requests
      | requests_gevent
      | sqlalchemy
      | sqlite3
      | test_utils.py
      | tornado
      | vertica
    )
    | ddtrace_run.py
    | internal/
    (
      runtime/
      | test_context_manager.py
      | test_hostname.py
      | test_logger.py
      | test_rate_limiter.py
    )
    | memory.py
    | opentracer/
    (
      conftest.py
      | test_dd_compatibility.py
      | test_span.py
      | test_span_context.py
      | test_tracer_asyncio.py
      | test_tracer_gevent.py
      | test_tracer_tornado.py
      | test_utils.py
    )
    | profiling/_ast_test_file.py
    | propagation/test_utils.py
    | subprocesstest.py
    | test_api.py
    | test_compat.py
    | test_context.py
    | test_encoders.py
    | test_filters.py
    | test_global_config.py
    | test_helpers.py
    | test_hook.py
    | test_instance_config.py
    | test_payload.py
    | test_pin.py
    | test_sampler.py
    | test_span.py
    | test_tracer.py
    | test_utils.py
    | test_worker.py
    | unit
    | util.py
    | utils
    | vendor
    | wait-for-services.py
  )
)
'''
