[package]
name = "ddtrace-native"
version = "0.1.0"
edition = "2021"
resolver = "2"

[profile.release]
lto = true
debug = "line-tables-only"
opt-level = 's'
codegen-units = 1

[features]
crashtracker = ["dep:anyhow", "dep:libdd-crashtracker", "dep:pyo3-ffi", "dep:libc"]
profiling = ["dep:libdd-profiling-ffi"]

[dependencies]
anyhow = { version = "1.0", optional = true }
libc = { version = "0.2", optional = true }
datadog-ffe = { git = "https://github.com/DataDog/libdatadog", rev = "v24.0.0", version = "1.0.0", features = ["pyo3"] }
libdd-crashtracker = { git = "https://github.com/DataDog/libdatadog", rev = "v24.0.0", optional = true }
libdd-ddsketch = { git = "https://github.com/DataDog/libdatadog", rev = "v24.0.0" }
libdd-library-config = { git = "https://github.com/DataDog/libdatadog", rev = "v24.0.0" }
libdd-log = { git = "https://github.com/DataDog/libdatadog", rev = "v24.0.0" }
libdd-data-pipeline = { git = "https://github.com/DataDog/libdatadog", rev = "v24.0.0" }
libdd-profiling-ffi = { git = "https://github.com/DataDog/libdatadog", rev = "v24.0.0", optional = true, features = [
    "cbindgen",
] }
libdd-common = { git = "https://github.com/DataDog/libdatadog", rev = "v24.0.0" }
pyo3 = { version = "0.25", features = ["extension-module", "anyhow"] }
tracing = { version = "0.1", default-features = false }
pyo3-ffi = { version = "0.25", optional = true }

[build-dependencies]
pyo3-build-config = "0.25"
build_common = { git = "https://github.com/DataDog/libdatadog", rev = "v24.0.0", features = [
    "cbindgen",
] }

[lib]
name = "_native"
path = "lib.rs"
crate-type = ["cdylib"]

[net]
# Use git binary from the system instead of the built-in git client
# "Setting this to true can be helpful if you have special authentication requirements that Cargo does not support."
git-fetch-with-cli = true
