[package]
name = "ddtrace-native"
version = "0.1.0"
edition = "2021"

[profile.release]
codegen-units = 1
opt-level = "z"

[dependencies]
pyo3 = { version = "0.24.0", features = ["extension-module", "abi3-py38", "anyhow"] }
datadog-ddsketch = { git = "https://github.com/DataDog/libdatadog", rev = "v17.0.0" }
datadog-library-config = { git = "https://github.com/DataDog/libdatadog", rev = "v17.0.0" }
data-pipeline = { git = "https://github.com/DataDog/libdatadog", rev = "v17.0.0" }
tinybytes = { git = "https://github.com/DataDog/libdatadog", rev = "v17.0.0" }

[build-dependencies]
pyo3-build-config = "0.21.2"

[lib]
name = "_native"
path = "lib.rs"
crate-type = ["cdylib"]


[net]
# Use git binary from the system instead of the built-in git client
# "Setting this to true can be helpful if you have special authentication requirements that Cargo does not support."
git-fetch-with-cli = true
