[package]
name = "ddtrace-native"
version = "0.1.0"
edition = "2021"

[profile.release]
lto = true
strip = "debuginfo"
codegen-units = 1
opt-level = 3

[dependencies]
anyhow = { version = "1.0", optional = true }
datadog-crashtracker = { git = "https://github.com/DataDog/libdatadog", rev = "v17.0.0", optional = true }
datadog-ddsketch = { git = "https://github.com/DataDog/libdatadog", rev = "v16.0.3" }
datadog-library-config = { git = "https://github.com/DataDog/libdatadog", rev = "v16.0.3" }
ddcommon = { git = "https://github.com/DataDog/libdatadog", rev = "v17.0.0"}
pyo3 = { version = "0.24", features = ["extension-module", "abi3-py38", "anyhow"] }

[build-dependencies]
pyo3-build-config = "0.24"

[lib]
name = "_native"
path = "lib.rs"
crate-type = ["cdylib"]

[features]
crashtracker = ["dep:anyhow", "dep:datadog-crashtracker"]

[net]
# Use git binary from the system instead of the built-in git client
# "Setting this to true can be helpful if you have special authentication requirements that Cargo does not support."
git-fetch-with-cli = true
