version: 2.1

default_resource_class: &default_resource_class medium
ubuntu_base_image: &ubuntu_base_img ubuntu-2004:2023.04.2
cimg_base_image: &cimg_base_image cimg/base:2022.08
python310_image: &python310_image cimg/python:3.10.12
ddtrace_dev_image: &ddtrace_dev_image ghcr.io/datadog/dd-trace-py/testrunner:47c7b5287da25643e46652e6d222a40a52f2382a@sha256:3a02dafeff9cd72966978816d1b39b54f5517af4049396923b95c8452f604269
httpbin_image: &httpbin_image kennethreitz/httpbin@sha256:2c7abc4803080c22928265744410173b6fea3b898872c01c5fd0f0f9df4a59fb
testagent_image: &testagent_image ghcr.io/datadog/dd-apm-test-agent/ddapm-test-agent:v1.21.0

parameters:
  coverage:
    type: boolean
    default: false
  riot_run_latest:
    type: boolean
    default: false

orbs:
  win: circleci/windows@5.0

machine_executor: &machine_executor
  machine:
    image: *ubuntu_base_img
  environment:
    - BOTO_CONFIG: /dev/null
    # https://support.circleci.com/hc/en-us/articles/360045268074-Build-Fails-with-Too-long-with-no-output-exceeded-10m0s-context-deadline-exceeded-
    - PYTHONUNBUFFERED: 1
    - CMAKE_BUILD_PARALLEL_LEVEL: 12
  steps:
    - run: sudo apt-get update && sudo DEBIAN_FRONTEND=noninteractive apt-get install -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold" --force-yes -y --no-install-recommends openssh-client git
    - &pyenv-set-global
      run:
        name: Set global pyenv
        command: |
          pyenv global 3.9.4

contrib_job: &contrib_job
  executor: ddtrace_dev
  parallelism: 2

contrib_job_small: &contrib_job_small
  executor: ddtrace_dev_small
  parallelism: 1

commands:
  save_coverage:
    description: "Save coverage.py results to workspace"
    steps:
      - run: |
          set -ex
          mkdir coverage
          touch ./coverage/empty.$CIRCLE_BUILD_NUM-$CIRCLE_JOB-$CIRCLE_NODE_INDEX.coverage
          if [ -f .coverage ];
          then
            cp .coverage ./coverage/$CIRCLE_BUILD_NUM-$CIRCLE_JOB-$CIRCLE_NODE_INDEX.coverage
          fi
      - persist_to_workspace:
          root: coverage
          paths:
            - "*.coverage"
      - store_artifacts:
          path: coverage

  setup_riot:
    description: "Install riot"
    steps:
      # Make sure we install and run riot on Python 3
      - run: pip3 install riot==0.20.1

  setup_rust:
    description: "Install rust toolchain"
    steps:
      -  run: curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain stable -y
      -  run: echo 'export PATH="$HOME/.cargo/bin:$PATH"' >> "$BASH_ENV"

  setup_sccache:
    description: "Install and configure sccache"
    steps:
      - run:
          name: "Install sccache"
          command: |
              curl -L https://github.com/mozilla/sccache/releases/download/v0.8.1/sccache-v0.8.1-x86_64-unknown-linux-musl.tar.gz | tar zx --strip-components=1 -C /usr/local/bin/ sccache-v0.8.1-x86_64-unknown-linux-musl/sccache
              echo "export SCCACHE_DIR=/root/.cache/sccache" >> "$BASH_ENV"
              echo "export SCCACHE_CACHE_SIZE=1G" >> "$BASH_ENV"
              echo "export SCCACHE_DIRECT=true" >> "$BASH_ENV"
              echo "export DD_USE_SCCACHE=1" >> "$BASH_ENV"
              /usr/local/bin/sccache --version
      - restore_cache:
          name: Restore sccache cache
          key: v0-sccache-cache-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ .Environment.CIRCLE_NODE_INDEX }}

  save_sccache:
   description: "Save the sccache cache"
   steps:
     - run:
         name: "sccache stats"
         command: /usr/local/bin/sccache --show-stats
     - save_cache:
         name: Save sccache cache
         key: v0-sccache-cache-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ .Environment.CIRCLE_NODE_INDEX }}-{{ epoch }}
         paths:
           - /root/.cache/sccache/

  setup_hatch:
    description: "Install hatch"
    steps:
      - run:
          name: "Install hatch"
          command: |
            curl -L https://github.com/pypa/hatch/releases/download/hatch-v1.12.0/hatch-x86_64-unknown-linux-gnu.tar.gz | tar zx
            sudo install -t /usr/local/bin hatch
            hatch -q

  start_docker_services:
    description: "Start Docker services"
    parameters:
      env:
        type: string
        default: ""
      services:
        type: string
        default: ""
    steps:
      # Retry pulls in case they fail
      - run: for i in {1..3}; do docker-compose pull -q << parameters.services >> && break || sleep 3; done
      - run: << parameters.env >> docker-compose up -d << parameters.services >>
      - run:
          command: docker-compose logs -f
          background: true

  run_test:
    description: "Run tests matching a pattern"
    parameters:
      pattern:
        type: string
        default: ""
      wait:
        type: string
        default: ""
      snapshot:
        type: boolean
        default: false
      docker_services:
        type: string
        default: ""
      store_coverage:
        type: boolean
        default: true
      trace_agent_url:
        type: string
        default: "http://localhost:9126"
      run_agent_checks:
        type: boolean
        default: true
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - lastsuccess-{{ .Environment.CIRCLE_BRANCH }}-<<parameters.pattern>>-{{ .Environment.CIRCLE_NODE_INDEX }}
      - when:
          condition:
              << parameters.snapshot >>
          steps:
            - setup_riot
            - start_docker_services:
                env: SNAPSHOT_CI=1
                services: testagent << parameters.docker_services >>
            - run:
                environment:
                  DD_TRACE_AGENT_URL: << parameters.trace_agent_url >>
                  RIOT_RUN_RECOMPILE_REQS: "<< pipeline.parameters.riot_run_latest >>"
                  DD_CIVISIBILITY_AGENTLESS_ENABLED: true
                no_output_timeout: 5m
                attempts: 2
                command: |
                  ulimit -c unlimited
                  ./scripts/run-test-suite '<<parameters.pattern>>' <<pipeline.parameters.coverage>> 1
            - run:
                command: |
                  mkdir -p /tmp/core_dumps
                  cp core.* /tmp/core_dumps || true
                  ./scripts/bt
                when: on_fail
            - store_artifacts:
                name: "Store core dumps"
                path: /tmp/core_dumps
      - unless:
          condition:
              << parameters.snapshot >>
          steps:
            - setup_riot
            - when:
                condition:
                  << parameters.wait >>
                steps:
                  - run:
                      name: "Waiting for << parameters.wait >>"
                      command: riot -P -v run -s 'wait' << parameters.wait >>
            - when:
                condition:
                  << parameters.trace_agent_url >> != ""
                steps:
                  - run:
                      command: |
                        echo 'export DD_TRACE_AGENT_URL=<< parameters.trace_agent_url >>' >> "$BASH_ENV"
                        source "$BASH_ENV"
            - run:
                environment:
                  RIOT_RUN_RECOMPILE_REQS: "<< pipeline.parameters.riot_run_latest >>"
                  DD_CIVISIBILITY_AGENTLESS_ENABLED: true
                no_output_timeout: 5m
                command: |
                  ulimit -c unlimited
                  ./scripts/run-test-suite '<<parameters.pattern>>' <<pipeline.parameters.coverage>>
            - run:
                command: |
                  mkdir -p /tmp/core_dumps
                  cp core.* /tmp/core_dumps || true
                  ./scripts/bt
                when: on_fail
            - store_artifacts:
                name: "Store core dumps"
                path: /tmp/core_dumps
      - when:
          condition:
            << parameters.store_coverage >>
          steps:
            - save_coverage
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - run:
          name: "Store Test Agent Supported Integrations Data"
          command: |
            if [[ -z "$(curl -s << parameters.trace_agent_url >>/test/integrations/tested_versions)" ]]; then
              # No integrations were tested. Not saving any artifacts
              echo "Response body is empty. Skipping saving integration artifacts."
            else
              # make temporary files to save response data to
              response=$(mktemp) && headers=$(mktemp)
              # create artifacts directory if it doesn't exist
              [ -d "./artifacts" ] || mkdir -p "./artifacts"
              # get tested integrations
              curl -o "$response" -D "$headers" << parameters.trace_agent_url >>/test/integrations/tested_versions
              # get filename representing the name of the tested integration from headers
              filename=$(awk -F': ' '/file-name/{print $2}' "$headers" | tr -d '\r\n')
              # copy data to final file and remove temp files
              mv "$response" "artifacts/${filename}_supported_versions.csv"
              rm "$headers"
            fi
      - store_artifacts:
          path: artifacts
          destination: supported-integrations
      - save_cache:
          key: lastsuccess-{{ .Environment.CIRCLE_BRANCH }}-<<parameters.pattern>>-{{ .Environment.CIRCLE_NODE_INDEX }}-{{ epoch }}
          paths:
            - ./latest-success-commit
      - when:
          condition:
              << parameters.run_agent_checks >>
          steps:
            - run:
                name: Get APM Test Agent Trace Check Results
                command: bash ./scripts/get-test-agent-results.sh

executors:
  cimg_base:
    docker:
      - image: *cimg_base_image
        environment:
          - CMAKE_BUILD_PARALLEL_LEVEL: 6
    resource_class: medium
  python310:
    docker:
      - image: *python310_image
        environment:
          - CMAKE_BUILD_PARALLEL_LEVEL: 12
    resource_class: large
  ddtrace_dev:
    docker:
      - image: *ddtrace_dev_image
        environment:
          - CMAKE_BUILD_PARALLEL_LEVEL: 6
    resource_class: *default_resource_class
  ddtrace_dev_small:
    docker:
      - image: *ddtrace_dev_image
        environment:
          - CMAKE_BUILD_PARALLEL_LEVEL: 4
    resource_class: small

# Common configuration blocks as YAML anchors
# See: https://circleci.com/blog/circleci-hacks-reuse-yaml-in-your-circleci-config-with-yaml/
httpbin_local: &httpbin_local
  image: *httpbin_image
  name: httpbin.org

testagent: &testagent
  image: *testagent_image
  environment:
    - LOG_LEVEL=DEBUG
    - SNAPSHOT_DIR=/snapshots
    - PORT=9126
    - SNAPSHOT_CI=1
    - DD_POOL_TRACE_CHECK_FAILURES=true
    - DD_DISABLE_ERROR_RESPONSES=true
    - ENABLED_CHECKS=trace_content_length,trace_stall,meta_tracer_version_header,trace_count_header,trace_peer_service,trace_dd_service

jobs:
  pre_check:
    executor: python310
    steps:
      - checkout
      - setup_hatch
      - run:
          name: "Spelling"
          command: hatch run lint:spelling

  coverage_report:
    executor: python310
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: pip install -r ci/coverage/requirements.txt
      - run: rm -f empty.*.coverage
      # Combine all job coverage reports into one
      - run: ls -hal *.coverage 2>/dev/null && coverage combine *.coverage || true
      # Upload coverage report to Codecov
      # DEV: Do not use the bash uploader, it cannot be trusted
      - run: codecov
      # Generate and save xml report
      # DEV: "--ignore-errors" to skip over files that are missing
      - run: coverage xml --ignore-errors || true
      - store_artifacts:
          path: coverage.xml
      # Generate and save JSON report
      # DEV: "--ignore-errors" to skip over files that are missing
      - run: coverage json --ignore-errors || true
      - store_artifacts:
          path: coverage.json
      # Print ddtrace/ report to stdout
      # DEV: "--ignore-errors" to skip over files that are missing
      - run: coverage report --ignore-errors --omit='tests/*' || true
      # Print tests/ report to stdout
      # DEV: "--ignore-errors" to skip over files that are missing
      - run: coverage report --ignore-errors --omit='ddtrace/*' || true
      # Print diff-cover report to stdout (compares against origin/1.x)
      - run: diff-cover --compare-branch $(git rev-parse --abbrev-ref origin/HEAD) coverage.xml || true


  build_base_venvs:
    resource_class: large
    docker:
      - image: *ddtrace_dev_image
    parallelism: 6
    steps:
      - checkout
      - setup_riot
      - setup_sccache
      - run:
          name: "Generate base virtual environments."
          # DEV: riot list -i tracer lists all supported Python versions
          command: |
            if [ "$CIRCLE_BRANCH" = "main" ]; then
              export DD_FAST_BUILD=0
            else
              export DD_FAST_BUILD=1
            fi
            echo "DD_FAST_BUILD is set to $DD_FAST_BUILD"
            riot list -i tracer | circleci tests split | xargs -I PY riot -P -v generate --python=PY
          environment:
            CMAKE_BUILD_PARALLEL_LEVEL: 12
            PIP_VERBOSE: 1
      - save_sccache
      - persist_to_workspace:
          root: .
          paths:
            - "."

requires_pre_check: &requires_pre_check
  requires:
    - pre_check
requires_base_venvs: &requires_base_venvs
  requires:
    - pre_check
    - build_base_venvs
requires_tests: &requires_tests
  requires:


workflows:
  version: 2
  test: &workflow_test
    jobs:
      # Pre-checking before running all jobs
      - pre_check
