version: 2.1

python310_image: &python310_image cimg/python:3.10.12

setup: true

parameters:
  coverage:
    type: boolean
    default: false
  riot_run_latest:
    type: boolean
    default: false


orbs:
  continuation: circleci/continuation@0.1.2

executors:
  python310:
    docker:
      - image: *python310_image
    resource_class: small

jobs:
  setup:
    executor: python310
    steps:
      - checkout
      - run:
          name: Generate config
          command: |
            export GIT_COMMIT_DESC=$(git log -n 1 $CIRCLE_SHA1)
            pip3 install riot==0.19.1
            riot -P -v run --pass-env -s circleci-gen-config -- -v
      - continuation/continue:
          configuration_path: .circleci/config.gen.yml

workflows:
  setup:
    jobs:
      - setup
