interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=meals-and-workouts-1.3
  response:
    body:
      string: '{"data":[{"id":"33026409-f49f-434d-bbab-19f462d077f7","type":"datasets","attributes":{"author":{"id":"aaa48df4-a85c-11eb-a14c-da7ad0900002"},"created_at":"2025-02-18T21:54:09.85518Z","current_version":95,"metadata":{"team":"ml-obs"},"name":"meals-and-workouts-1.3-alex","updated_at":"2025-04-08T17:02:09.632888Z"}},{"id":"74382738-8750-4b51-8885-88ae8491c12e","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-01-06T17:02:10.22236Z","current_version":0,"metadata":{"team":"ml-obs"},"name":"meals-and-workouts-1.3","updated_at":"2025-01-06T17:02:10.642166Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "datasets", "attributes": {"records": [{"id": "683ccee0-9a0c-4ecf-ae5c-000936afd392",
      "input": {"prompt": "mixed add"}, "expected_output": {"response": "mixed add
      resp"}}, {"input": {"prompt": "new version add"}, "expected_output": {"response":
      "nv add resp"}}], "overwrite": false}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/33026409-f49f-434d-bbab-19f462d077f7/push
  response:
    body:
      string: '{"data":[{"id":"8e9bcafb-5548-45f9-8f2f-4512137c0fde","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:17.59442962Z","dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","expected_output":{"response":"nv
        add resp"},"input":{"prompt":"new version add"},"updated_at":"2025-04-08T17:02:17.59442962Z","version":96}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/33026409-f49f-434d-bbab-19f462d077f7/records
  response:
    body:
      string: '{"data":[{"id":"8e9bcafb-5548-45f9-8f2f-4512137c0fde","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:17.594429Z","dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","expected_output":{"response":"nv
        add resp"},"input":{"prompt":"new version add"},"updated_at":"2025-04-08T17:02:17.594429Z"}},{"id":"683ccee0-9a0c-4ecf-ae5c-000936afd392","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:09.592499Z","dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","expected_output":{"response":"mixed
        add resp"},"input":{"prompt":"mixed add"},"updated_at":"2025-04-08T17:02:17.622188Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "datasets", "attributes": {"records": [{"id": "d6d10d5b-454c-4c2e-9d61-1a66d8a74ddb",
      "input": "What is 1+1?", "expected_output": "2"}, {"id": "cfeab290-2f66-43fc-b56d-f3f145926a2b",
      "input": "Capital of UK?", "expected_output": "London"}, {"input": {"prompt":
      "new version add"}, "expected_output": {"response": "nv add resp"}}], "overwrite":
      false}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/33026409-f49f-434d-bbab-19f462d077f7/push
  response:
    body:
      string: '{"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}'
    headers:
      content-type:
      - application/json
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=test-meals-workouts
  response:
    body:
      string: '{"data":[{"id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:04:55.12868Z","current_version":7,"description":"Dataset
        for testing meals and workouts parsing (created by tests)","name":"test-meals-workouts","updated_at":"2025-05-05T17:43:03.216833Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/75e1668b-d0ab-4ac3-97da-780fc96cb9cb/records
  response:
    body:
      string: '{"data":[{"id":"b234c531-f78a-4129-8400-68213e4b1fc2","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:43:19.800872Z","dataset_id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","expected_output":{"response":"nv
        add resp"},"input":{"prompt":"new version add"},"updated_at":"2025-05-05T17:43:19.800872Z"}},{"id":"8126b592-415a-4701-b466-9675b13a2a8b","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:43:03.203698Z","dataset_id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","expected_output":{"response":"mixed
        add resp"},"input":{"prompt":"mixed add"},"updated_at":"2025-05-05T17:43:19.807047Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
