interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=meals-and-workouts-1.3
  response:
    body:
      string: '{"data":[{"id":"33026409-f49f-434d-bbab-19f462d077f7","type":"datasets","attributes":{"author":{"id":"aaa48df4-a85c-11eb-a14c-da7ad0900002"},"created_at":"2025-02-18T21:54:09.85518Z","current_version":91,"metadata":{"team":"ml-obs"},"name":"meals-and-workouts-1.3-alex","updated_at":"2025-04-07T23:21:10.856056Z"}},{"id":"74382738-8750-4b51-8885-88ae8491c12e","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-01-06T17:02:10.22236Z","current_version":0,"metadata":{"team":"ml-obs"},"name":"meals-and-workouts-1.3","updated_at":"2025-01-06T17:02:10.642166Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/33026409-f49f-434d-bbab-19f462d077f7/versions
  response:
    body:
      string: '{"data":[{"id":"7af3e826-b434-4c0b-b361-94d25e4c348a","type":"dataset_version","attributes":{"dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","last_used":"2025-04-07T23:08:08.1278Z","version_number":58}},{"id":"95e32757-1086-4e14-9930-3296013ec81e","type":"dataset_version","attributes":{"dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","last_used":"2025-04-07T22:34:01.934353Z","version_number":28}},{"id":"121733de-e5b6-47bf-880e-ca8ae8844e72","type":"dataset_version","attributes":{"dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","last_used":"2025-04-07T21:45:52.656367Z","version_number":7}},{"id":"d1de135c-a20e-4fb4-b577-1d267bcea516","type":"dataset_version","attributes":{"dataset_id"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]="meals-and-workouts-1.3"
  response:
    body:
      string: '{"data":[],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]="meals-and-workouts-1.3"
  response:
    body:
      string: '{"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}'
    headers:
      content-type:
      - application/json
    status:
      code: 403
      message: Forbidden
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]="meals-and-workouts-1.3"
  response:
    body:
      string: '{"data":[],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
