interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"metric_source": "summary", "metric_type": "categorical", "timestamp_ms":
      1744132075273, "label": "meets_criteria", "categorical_value": "true", "error":
      null}], "tags": ["ddtrace.version:3.4.0.dev129+g96662098f.d20250407", "experiment_id:80ad71d7-7e95-459d-aab2-e94ce285c768"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/80ad71d7-7e95-459d-aab2-e94ce285c768/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"metric_source": "summary", "metric_type": "categorical", "timestamp_ms":
      1746471058684, "label": "meets_criteria", "categorical_value": "true", "error":
      null, "metadata": {"position": 0, "is_primary": false}}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:8e765ae2-3e12-479c-a31c-a99273596335"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/8e765ae2-3e12-479c-a31c-a99273596335/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"metric_source": "summary", "metric_type": "categorical", "timestamp_ms":
      1746477152354, "label": "meets_criteria", "categorical_value": "true", "error":
      null, "metadata": {"is_primary": false}}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:ab14bdb8-6049-4c67-96b1-c3ba9d2c2ed0"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/ab14bdb8-6049-4c67-96b1-c3ba9d2c2ed0/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
