interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"metric_source": "summary", "metric_type": "categorical", "timestamp_ms":
      1744132075273, "label": "meets_criteria", "categorical_value": "true", "error":
      null}], "tags": ["ddtrace.version:3.4.0.dev129+g96662098f.d20250407", "experiment_id:80ad71d7-7e95-459d-aab2-e94ce285c768"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/80ad71d7-7e95-459d-aab2-e94ce285c768/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"metric_source": "summary", "metric_type": "categorical", "timestamp_ms":
      1744135077021, "label": "meets_criteria", "categorical_value": "true", "error":
      null}], "tags": ["ddtrace.version:3.4.0.dev129+g96662098f.d20250407", "experiment_id:b859bd20-025c-4394-922a-ece17957177a"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/b859bd20-025c-4394-922a-ece17957177a/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
