interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/projects?filter[name]=Test-Project-Experiment
  response:
    body:
      string: '{"data":[{"id":"40e10255-4153-4451-9ada-f694838d38c5","type":"projects","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T14:45:56.61478Z","name":"Test-Project-Experiment","updated_at":"2025-04-08T14:45:56.61478Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test-run-task-dd-2883ad",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"987099c8-be1d-4671-881b-6e2d8489d138","type":"experiments","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"config":null,"created_at":"2025-04-08T17:06:02.567575216Z","dataset_id":"749fac78-4f2c-4a66-9e01-63395909c71d","dataset_version":1,"description":"","metadata":{"tags":[]},"name":"test-run-task-dd-2883ad","project_id":"40e10255-4153-4451-9ada-f694838d38c5","updated_at":"2025-04-08T17:06:02.567575306Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test-run-task-dd-6db633",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}'
    headers:
      content-type:
      - application/json
    status:
      code: 403
      message: Forbidden
[...]
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test-run-task-dd-650903",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"The provided project
        or dataset ID is not valid."}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/projects?filter[name]=Test-Project-Experiment
  response:
    body:
      string: '{"data":[],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "projects", "attributes": {"name": "Test-Project-Experiment",
      "description": ""}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/projects
  response:
    body:
      string: '{"data":{"id":"acaddd81-db16-4ace-b534-ff8d71c24e1d","type":"projects","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T18:48:04.835499677Z","name":"Test-Project-Experiment","updated_at":"2025-05-05T18:48:04.835499677Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '[{"_dd.stage": "raw", "_dd.tracer_version": "3.4.0.dev284+gabe7934be",
      "event_type": "span", "spans": [{"trace_id": "681907e500000000157ec325d8a1e1f9",
      "span_id": "1778910093380871787", "parent_id": "undefined", "name": "simple_identity_task",
      "start_ns": 1746470885842158000, "duration": 1053000, "status": "ok", "meta":
      {"span.kind": "experiment", "metadata": {}, "expected_output": "2", "input":
      "What is 1+1?", "output": "What is 1+1?"}, "metrics": {}, "_dd": {"span_id":
      "1778910093380871787", "trace_id": "681907e500000000157ec325d8a1e1f9"}, "tags":
      ["version:", "env:", "service:tests.llmobs", "source:integration", "ml_app:test-exp-app",
      "ddtrace.version:3.4.0.dev284+gabe7934be", "language:python", "error:0", "experiment_id:2549ffeb-045b-4fdc-9713-22505c66b0f9",
      "dataset_id:033c3a68-c51d-4064-b941-78825cf83066", "dataset_record_id:784bcd1a-6b0f-48c1-8063-7431455b659d"]}],
      "_dd.scope": "experiments"}, {"_dd.stage": "raw", "_dd.tracer_version": "3.4.0.dev284+gabe7934be",
      "event_type": "span", "spans": [{"trace_id": "681907e500000000fe55d72b391eb7f9",
      "span_id": "4069303966693753178", "parent_id": "undefined", "name": "simple_identity_task",
      "start_ns": 1746470885843885000, "duration": 330000, "status": "ok", "meta":
      {"span.kind": "experiment", "metadata": {}, "expected_output": "Paris", "input":
      "Capital of France?", "output": "Capital of France?"}, "metrics": {}, "_dd":
      {"span_id": "4069303966693753178", "trace_id": "681907e500000000fe55d72b391eb7f9"},
      "tags": ["version:", "env:", "service:tests.llmobs", "source:integration", "ml_app:test-exp-app",
      "ddtrace.version:3.4.0.dev284+gabe7934be", "language:python", "error:0", "experiment_id:2549ffeb-045b-4fdc-9713-22505c66b0f9",
      "dataset_id:033c3a68-c51d-4064-b941-78825cf83066", "dataset_record_id:49919f09-a3f9-4339-bdbe-85df9f5ec553"]}],
      "_dd.scope": "experiments"}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://llmobs-intake.us3.datadoghq.com/api/v2/llmobs
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
