interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/projects?filter[name]=Test-Project-Experiment
  response:
    body:
      string: '{"data":[{"id":"40e10255-4153-4451-9ada-f694838d38c5","type":"projects","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T14:45:56.61478Z","name":"Test-Project-Experiment","updated_at":"2025-04-08T14:45:56.61478Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test-run-task-error-no-raise-3c3505",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"c4ca7194-68d0-47e7-b90a-96f5aa4f0295","type":"experiments","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"config":null,"created_at":"2025-04-08T17:06:19.317796448Z","dataset_id":"749fac78-4f2c-4a66-9e01-63395909c71d","dataset_version":1,"description":"","metadata":{"tags":[]},"name":"test-run-task-error-no-raise-3c3505","project_id":"40e10255-4153-4451-9ada-f694838d38c5","updated_at":"2025-04-08T17:06:19.317796522Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test-run-task-error-no-raise-950a2d",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}'
    headers:
      content-type:
      - application/json
    status:
      code: 403
      message: Forbidden
[...]
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test-run-task-error-no-raise-884ec4",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"The provided project
        or dataset ID is not valid."}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "repr-task-errors-75bd2c",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"The provided project
        or dataset ID is not valid."}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
