interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/projects?filter[name]=Test-Project-Experiment
  response:
    body:
      string: '{"data":[{"id":"40e10255-4153-4451-9ada-f694838d38c5","type":"projects","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T14:45:56.61478Z","name":"Test-Project-Experiment","updated_at":"2025-04-08T14:45:56.61478Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "repr-full-run-f70007",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"69fd2f9a-5e51-4d22-b0f7-8e38c1c38025","type":"experiments","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"config":null,"created_at":"2025-04-08T17:08:10.580921058Z","dataset_id":"749fac78-4f2c-4a66-9e01-63395909c71d","dataset_version":1,"description":"","metadata":{"tags":[]},"name":"repr-full-run-f70007","project_id":"40e10255-4153-4451-9ada-f694838d38c5","updated_at":"2025-04-08T17:08:10.58092114Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "17808855862318036345", "trace_id": "67f557fa00000000b68b0403a365bb0b",
      "metric_type": "categorical", "timestamp_ms": 1744132090615, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "7694932510114455028",
      "trace_id": "67f557fa00000000fc0bfd9bdd54cec7", "metric_type": "categorical",
      "timestamp_ms": 1744132090616, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev129+g96662098f.d20250407",
      "experiment_id:69fd2f9a-5e51-4d22-b0f7-8e38c1c38025"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/69fd2f9a-5e51-4d22-b0f7-8e38c1c38025/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "repr-full-run-ef9a8a",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}'
    headers:
      content-type:
      - application/json
    status:
      code: 403
      message: Forbidden
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "repr-full-run-0fe62c",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"The provided project
        or dataset ID is not valid."}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/projects?filter[name]=Test-Project-Experiment
  response:
    body:
      string: '{"data":[{"id":"acaddd81-db16-4ace-b534-ff8d71c24e1d","type":"projects","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T18:48:04.835499Z","name":"Test-Project-Experiment","updated_at":"2025-05-05T18:48:04.835499Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '[{"_dd.stage": "raw", "_dd.tracer_version": "3.4.0.dev284+gabe7934be",
      "event_type": "span", "spans": [{"trace_id": "681908ab00000000bdb646d68b4af5f4",
      "span_id": "2997862295990187364", "parent_id": "undefined", "name": "simple_identity_task",
      "start_ns": 1746471083454172000, "duration": 806000, "status": "ok", "meta":
      {"span.kind": "experiment", "metadata": {}, "expected_output": "2", "input":
      "What is 1+1?", "output": "What is 1+1?"}, "metrics": {}, "_dd": {"span_id":
      "2997862295990187364", "trace_id": "681908ab00000000bdb646d68b4af5f4"}, "tags":
      ["version:", "env:", "service:tests.llmobs", "source:integration", "ml_app:test-exp-app",
      "ddtrace.version:3.4.0.dev284+gabe7934be", "language:python", "error:0", "experiment_id:a1b5ced9-bd80-4407-af26-c206c55d7de8",
      "dataset_id:033c3a68-c51d-4064-b941-78825cf83066", "dataset_record_id:784bcd1a-6b0f-48c1-8063-7431455b659d"]}],
      "_dd.scope": "experiments"}, {"_dd.stage": "raw", "_dd.tracer_version": "3.4.0.dev284+gabe7934be",
      "event_type": "span", "spans": [{"trace_id": "681908ab000000009999b15d35fbd32c",
      "span_id": "17722299341875950484", "parent_id": "undefined", "name": "simple_identity_task",
      "start_ns": 1746471083455652000, "duration": 385000, "status": "ok", "meta":
      {"span.kind": "experiment", "metadata": {}, "expected_output": "Paris", "input":
      "Capital of France?", "output": "Capital of France?"}, "metrics": {}, "_dd":
      {"span_id": "17722299341875950484", "trace_id": "681908ab000000009999b15d35fbd32c"},
      "tags": ["version:", "env:", "service:tests.llmobs", "source:integration", "ml_app:test-exp-app",
      "ddtrace.version:3.4.0.dev284+gabe7934be", "language:python", "error:0", "experiment_id:a1b5ced9-bd80-4407-af26-c206c55d7de8",
      "dataset_id:033c3a68-c51d-4064-b941-78825cf83066", "dataset_record_id:49919f09-a3f9-4339-bdbe-85df9f5ec553"]}],
      "_dd.scope": "experiments"}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://llmobs-intake.us3.datadoghq.com/api/v2/llmobs
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "2997862295990187364", "trace_id": "681908ab00000000bdb646d68b4af5f4",
      "metric_type": "categorical", "timestamp_ms": 1746471083454, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "17722299341875950484",
      "trace_id": "681908ab000000009999b15d35fbd32c", "metric_type": "categorical",
      "timestamp_ms": 1746471083455, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:a1b5ced9-bd80-4407-af26-c206c55d7de8"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/a1b5ced9-bd80-4407-af26-c206c55d7de8/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "10958227262179623158", "trace_id": "6819304300000000d4cbf300bb9eee91",
      "metric_type": "categorical", "timestamp_ms": 1746481219142, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "6666942942954806529",
      "trace_id": "681930430000000064f8b264887cdf6c", "metric_type": "categorical",
      "timestamp_ms": 1746481219142, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:10aef092-27d7-4998-bee4-4657b461ed51"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/10aef092-27d7-4998-bee4-4657b461ed51/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
