interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/projects?filter[name]=Test-Project-Experiment
  response:
    body:
      string: '{"data":[{"id":"40e10255-4153-4451-9ada-f694838d38c5","type":"projects","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T14:45:56.61478Z","name":"Test-Project-Experiment","updated_at":"2025-04-08T14:45:56.61478Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "repr-full-run-f70007",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"69fd2f9a-5e51-4d22-b0f7-8e38c1c38025","type":"experiments","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"config":null,"created_at":"2025-04-08T17:08:10.580921058Z","dataset_id":"749fac78-4f2c-4a66-9e01-63395909c71d","dataset_version":1,"description":"","metadata":{"tags":[]},"name":"repr-full-run-f70007","project_id":"40e10255-4153-4451-9ada-f694838d38c5","updated_at":"2025-04-08T17:08:10.58092114Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "17808855862318036345", "trace_id": "67f557fa00000000b68b0403a365bb0b",
      "metric_type": "categorical", "timestamp_ms": 1744132090615, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "7694932510114455028",
      "trace_id": "67f557fa00000000fc0bfd9bdd54cec7", "metric_type": "categorical",
      "timestamp_ms": 1744132090616, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev129+g96662098f.d20250407",
      "experiment_id:69fd2f9a-5e51-4d22-b0f7-8e38c1c38025"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/69fd2f9a-5e51-4d22-b0f7-8e38c1c38025/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "2241861080328117547", "trace_id": "67f563b100000000e30c5e115f9bc73f",
      "metric_type": "categorical", "timestamp_ms": 1744135089333, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "9723235359780703580",
      "trace_id": "67f563b1000000005bc9d33ccefe2128", "metric_type": "categorical",
      "timestamp_ms": 1744135089335, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev129+g96662098f.d20250407",
      "experiment_id:3b8c50d1-2729-485d-864d-5a89475d631a"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/3b8c50d1-2729-485d-864d-5a89475d631a/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
