interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=test-meals-workouts
  response:
    body:
      string: '{"data":[{"id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:04:55.12868Z","current_version":2,"description":"Dataset
        for testing meals and workouts parsing (created by tests)","name":"test-meals-workouts","updated_at":"2025-05-05T17:12:21.106399Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/75e1668b-d0ab-4ac3-97da-780fc96cb9cb/versions
  response:
    body:
      string: '{"data":[{"id":"ac96bfa9-51a6-4397-88f4-9aff1a5c437a","type":"dataset_version","attributes":{"dataset_id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","last_used":"2025-05-05T17:12:21.081856Z","version_number":1}},{"id":"388724d2-146f-4e9d-a478-40ab037af70b","type":"dataset_version","attributes":{"dataset_id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","last_used":"2025-05-05T17:12:21.081856Z","version_number":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/8b040361-e30a-47d9-a5d9-b42616978f34/versions
  response:
    body:
      string: '{"data":[{"id":"f95c07de-2783-4067-b65f-8ed94c017516","type":"dataset_version","attributes":{"dataset_id":"8b040361-e30a-47d9-a5d9-b42616978f34","last_used":null,"version_number":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
