interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"span_id": "13272595171331332265", "trace_id": "67f557980000000092bc3acd47f4c6b3",
      "metric_type": "categorical", "timestamp_ms": 1744131992038, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "223015722435988157",
      "trace_id": "67f557980000000007e2409e1143ee4a", "metric_type": "categorical",
      "timestamp_ms": 1744131992039, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev129+g96662098f.d20250407",
      "experiment_id:0645d8b6-2287-4c15-aa6b-26c339277996"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/0645d8b6-2287-4c15-aa6b-26c339277996/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "12556565646303202838", "trace_id": "6819080e000000003e27d007bc6323d0",
      "metric_type": "categorical", "timestamp_ms": 1746470926717, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "5132259741123215271",
      "trace_id": "6819080e000000004b5eb1bb824beae5", "metric_type": "categorical",
      "timestamp_ms": 1746470926719, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:8e78e959-3689-4cb8-ad96-ddfc16257405"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/8e78e959-3689-4cb8-ad96-ddfc16257405/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "1282165207954780831", "trace_id": "68220fe0000000005bae4af75e014dcc",
      "metric_type": "categorical", "timestamp_ms": 1747062752714, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "3960721039670900291",
      "trace_id": "68220fe0000000009737f353cf69d04f", "metric_type": "categorical",
      "timestamp_ms": 1747062752714, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:a938a5ba-caaf-4878-8f0a-5d1e082c0af4"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/a938a5ba-caaf-4878-8f0a-5d1e082c0af4/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
