interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=test-push-new-69ef8706
  response:
    body:
      string: '{"data":[],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-push-new-69ef8706",
      "description": "Simple math/geo"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets
  response:
    body:
      string: '{"data":{"id":"805f60ee-7f63-4b0a-ab6a-223ab8b827b1","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:01:53.676241887Z","current_version":0,"description":"Simple
        math/geo","name":"test-push-new-69ef8706","updated_at":"2025-04-08T17:01:53.676241887Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "datasets", "attributes": {"records": [{"input": "What
      is 1+1?", "expected_output": "2"}, {"input": "Capital of UK?", "expected_output":
      "London"}], "overwrite": false}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/805f60ee-7f63-4b0a-ab6a-223ab8b827b1/push
  response:
    body:
      string: '{"data":[{"id":"d17c085f-fe3b-408c-8273-754df0cb66d0","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:01:53.771758113Z","dataset_id":"805f60ee-7f63-4b0a-ab6a-223ab8b827b1","expected_output":"2","input":"What
        is 1+1?","updated_at":"2025-04-08T17:01:53.771758113Z","version":1}},{"id":"68f708dd-60db-4ba3-9d7f-eef2d659d17b","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:01:53.771772537Z","dataset_id":"805f60ee-7f63-4b0a-ab6a-223ab8b827b1","expected_output":"London","input":"Capital
        of UK?","updated_at":"2025-04-08T17:01:53.771772537Z","version":1}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/805f60ee-7f63-4b0a-ab6a-223ab8b827b1/records
  response:
    body:
      string: '{"data":[{"id":"d17c085f-fe3b-408c-8273-754df0cb66d0","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:01:53.771758Z","dataset_id":"805f60ee-7f63-4b0a-ab6a-223ab8b827b1","expected_output":"2","input":"What
        is 1+1?","updated_at":"2025-04-08T17:01:53.771758Z"}},{"id":"68f708dd-60db-4ba3-9d7f-eef2d659d17b","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:01:53.771772Z","dataset_id":"805f60ee-7f63-4b0a-ab6a-223ab8b827b1","expected_output":"London","input":"Capital
        of UK?","updated_at":"2025-04-08T17:01:53.771772Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
