interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=meals-and-workouts-1.3
  response:
    body:
      string: '{"data":[{"id":"33026409-f49f-434d-bbab-19f462d077f7","type":"datasets","attributes":{"author":{"id":"aaa48df4-a85c-11eb-a14c-da7ad0900002"},"created_at":"2025-02-18T21:54:09.85518Z","current_version":94,"metadata":{"team":"ml-obs"},"name":"meals-and-workouts-1.3-alex","updated_at":"2025-04-08T17:02:05.780899Z"}},{"id":"74382738-8750-4b51-8885-88ae8491c12e","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-01-06T17:02:10.22236Z","current_version":0,"metadata":{"team":"ml-obs"},"name":"meals-and-workouts-1.3","updated_at":"2025-01-06T17:02:10.642166Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "datasets", "attributes": {"insert_records": [{"input":
      {"prompt": "mixed add"}, "expected_output": {"response": "mixed add resp"}}],
      "update_records": [{"id": "fffd25d6-b7db-4f12-8691-b668b57391a4", "input": {"prompt":
      "mixed update"}, "expected_output": {"response": "mixed update resp"}}], "delete_records":
      ["cfeab290-2f66-43fc-b56d-f3f145926a2b"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/33026409-f49f-434d-bbab-19f462d077f7/batch_update
  response:
    body:
      string: '{"data":[{"id":"5773705f-ea04-4977-9107-2dba63d483ae","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:09.623227287Z","dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","expected_output":{"response":"mixed
        update resp"},"input":{"prompt":"mixed update"},"updated_at":"2025-04-08T17:02:09.62322736Z","version":95}},{"id":"683ccee0-9a0c-4ecf-ae5c-000936afd392","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:09.592499772Z","dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","expected_output":{"response":"mixed
        add resp"},"input":{"prompt":"mixed add"},"updated_at":"2025-04-08T17:02:09.592499772Z","version":95}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/33026409-f49f-434d-bbab-19f462d077f7/records
  response:
    body:
      string: '{"data":[{"id":"5773705f-ea04-4977-9107-2dba63d483ae","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:09.623227Z","dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","expected_output":{"response":"mixed
        update resp"},"input":{"prompt":"mixed update"},"updated_at":"2025-04-08T17:02:09.623227Z"}},{"id":"683ccee0-9a0c-4ecf-ae5c-000936afd392","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:09.592499Z","dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","expected_output":{"response":"mixed
        add resp"},"input":{"prompt":"mixed add"},"updated_at":"2025-04-08T17:02:09.592499Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "datasets", "attributes": {"insert_records": [{"input":
      {"prompt": "mixed add"}, "expected_output": {"response": "mixed add resp"}}],
      "update_records": [{"id": "d6d10d5b-454c-4c2e-9d61-1a66d8a74ddb", "input": {"prompt":
      "mixed update"}, "expected_output": {"response": "mixed update resp"}}], "delete_records":
      ["cfeab290-2f66-43fc-b56d-f3f145926a2b"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/33026409-f49f-434d-bbab-19f462d077f7/batch_update
  response:
    body:
      string: '{"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}'
    headers:
      content-type:
      - application/json
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=test-meals-workouts
  response:
    body:
      string: '{"data":[{"id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:04:55.12868Z","current_version":6,"description":"Dataset
        for testing meals and workouts parsing (created by tests)","name":"test-meals-workouts","updated_at":"2025-05-05T17:42:55.336192Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/75e1668b-d0ab-4ac3-97da-780fc96cb9cb/records
  response:
    body:
      string: '{"data":[{"id":"7471601d-e4c2-425a-8468-167ebb48aebd","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:43:03.211996Z","dataset_id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","expected_output":{"response":"mixed
        update resp"},"input":{"prompt":"mixed update"},"updated_at":"2025-05-05T17:43:03.211996Z"}},{"id":"8126b592-415a-4701-b466-9675b13a2a8b","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:43:03.203698Z","dataset_id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","expected_output":{"response":"mixed
        add resp"},"input":{"prompt":"mixed add"},"updated_at":"2025-05-05T17:43:03.203698Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
