interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=meals-and-workouts-1.3
  response:
    body:
      string: '{"data":[{"id":"33026409-f49f-434d-bbab-19f462d077f7","type":"datasets","attributes":{"author":{"id":"aaa48df4-a85c-11eb-a14c-da7ad0900002"},"created_at":"2025-02-18T21:54:09.85518Z","current_version":95,"metadata":{"team":"ml-obs"},"name":"meals-and-workouts-1.3-alex","updated_at":"2025-04-08T17:02:09.632888Z"}},{"id":"74382738-8750-4b51-8885-88ae8491c12e","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-01-06T17:02:10.22236Z","current_version":0,"metadata":{"team":"ml-obs"},"name":"meals-and-workouts-1.3","updated_at":"2025-01-06T17:02:10.642166Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "datasets", "attributes": {"records": [{"id": "683ccee0-9a0c-4ecf-ae5c-000936afd392",
      "input": {"prompt": "mixed add"}, "expected_output": {"response": "mixed add
      resp"}}], "overwrite": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/33026409-f49f-434d-bbab-19f462d077f7/push
  response:
    body:
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/33026409-f49f-434d-bbab-19f462d077f7/records
  response:
    body:
      string: '{"data":[{"id":"683ccee0-9a0c-4ecf-ae5c-000936afd392","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:09.592499Z","dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","expected_output":{"response":"mixed
        add resp"},"input":{"prompt":"mixed add"},"updated_at":"2025-04-08T17:02:13.562779Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "datasets", "attributes": {"records": [{"id": "cfeab290-2f66-43fc-b56d-f3f145926a2b",
      "input": "Capital of UK?", "expected_output": "London"}], "overwrite": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/33026409-f49f-434d-bbab-19f462d077f7/push
  response:
    body:
      string: '{"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}'
    headers:
      content-type:
      - application/json
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=test-meals-workouts
  response:
    body:
      string: '{"data":[{"id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:04:55.12868Z","current_version":3,"description":"Dataset
        for testing meals and workouts parsing (created by tests)","name":"test-meals-workouts","updated_at":"2025-05-05T17:19:52.852465Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "datasets", "attributes": {"records": [{"id": "cc972c07-1941-483f-93c9-07619cca6532",
      "input": {"prompt": "Morning routine: 5k run, then 4x12 squats at 185lbs, finished
      with 10 minutes of stretching"}, "expected_output": {"response": [{"description":
      "5k run", "distance_km": 5, "exercise": "running", "type": "workout"}, {"description":
      "4x12 squats at 185lbs", "exercise": "squats", "reps": 12, "series": 4, "type":
      "workout", "weight_kg": 84}, {"description": "10 minutes of stretching", "duration_seconds":
      600, "exercise": "stretching", "type": "workout"}]}, "metadata": {"metadata":
      {"category": "exercise"}}}, {"id": "489b2a0f-48d1-4f6e-9c06-169906c8ec84", "input":
      {"prompt": "Had authentic pad thai from the street vendor and 2 mango sticky
      rice for dessert"}, "expected_output": {"response": [{"calories": 600, "carbs":
      80, "description": "pad thai", "fat": 25, "protein": 22, "type": "meal"}, {"calories":
      700, "carbs": 140, "description": "2 mango sticky rice", "fat": 16, "protein":
      8, "type": "meal"}]}, "metadata": {"metadata": {"category": "nutrition"}}},
      {"id": "329fd44e-23de-4784-a666-b73ed46e0dd2", "input": {"prompt": "1 hour of
      yoga"}, "expected_output": {"response": [{"description": "1 hour of yoga", "duration_seconds":
      3600, "exercise": "yoga", "type": "workout"}]}, "metadata": {"metadata": {"category":
      "exercise"}}}, [...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/75e1668b-d0ab-4ac3-97da-780fc96cb9cb/records
  response:
    body:
      string: '{"data":[{"id":"32546594-70f1-4486-aa07-c827f4f6c140","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:20:02.152621Z","dataset_id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","expected_[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/4519e302-a62d-45f5-864b-f211bf9bd486/records
  response:
    body:
      string: '{"data":[{"id":"7c4586fe-84d2-4e01-9671-b16f05301a07","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:44:56.13887Z","dataset_id":"4519e302-a62d-45f5-864b-f211bf9bd486","expected_output":{"response":[{"description":"5k
        run","distance_km":5,"exercise":"running","type":"workout"},{"description":"4x12
        squats at 185lbs","exercise":"squats","reps":12,"series":4,"type":"workout","weight_kg":84},{"description":"10
        minutes of stretching","duration_seconds":600,"exercise":"stretching","type":"workout"}]},"input":{"prompt":"Morning
        routine: 5k run, then 4x12 squats at 185lbs, finished with 10 minutes of stretching"},"metadata":{"metadata":{"category":"exercise"}},"updated_at":"2025-05-05T17:44:56.13887Z"}},{"id":"37754ef6-466f-4fa4-8107-b7eda52cc2d5","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:44:56.138356Z","dataset_id":"4519e302-a62d-45f5-864b-f211bf9bd486","expected_output":{"response":[{"calories":1000,"carbs":0,"description":"1000
        calories","fat":0[...]
[...]
