interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/projects?filter[name]=Test-Project-Experiment
  response:
    body:
      string: '{"data":[{"id":"40e10255-4153-4451-9ada-f694838d38c5","type":"projects","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T14:45:56.61478Z","name":"Test-Project-Experiment","updated_at":"2025-04-08T14:45:56.61478Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test-run-full-task-err-3d5096",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"f01755b0-c080-4e1d-90ef-6ed531a24bc5","type":"experiments","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"config":null,"created_at":"2025-04-08T17:07:14.331454435Z","dataset_id":"749fac78-4f2c-4a66-9e01-63395909c71d","dataset_version":1,"description":"","metadata":{"tags":[]},"name":"test-run-full-task-err-3d5096","project_id":"40e10255-4153-4451-9ada-f694838d38c5","updated_at":"2025-04-08T17:07:14.331454509Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "11280316840490644929", "trace_id": "67f557c200000000893a1a838eb2e7a6",
      "metric_type": "categorical", "timestamp_ms": 1744132034363, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "4541862529171014836",
      "trace_id": "67f557c200000000fb85cbe7ac2d0dca", "metric_type": "categorical",
      "timestamp_ms": 1744132034363, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev129+g96662098f.d20250407",
      "experiment_id:f01755b0-c080-4e1d-90ef-6ed531a24bc5"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/f01755b0-c080-4e1d-90ef-6ed531a24bc5/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test-run-full-task-err-831d78",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}'
    headers:
      content-type:
      - application/json
    status:
      code: 403
      message: Forbidden
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test-run-full-task-err-beb8a4",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"The provided project
        or dataset ID is not valid."}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/projects?filter[name]=Test-Project-Experiment
  response:
    body:
      string: '{"data":[{"id":"acaddd81-db16-4ace-b534-ff8d71c24e1d","type":"projects","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T18:48:04.835499Z","name":"Test-Project-Experiment","updated_at":"2025-05-05T18:48:04.835499Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '[{"_dd.stage": "raw", "_dd.tracer_version": "3.4.0.dev284+gabe7934be",
      "event_type": "span", "spans": [{"trace_id": "68190851000000001cd911d15ba3259f",
      "span_id": "6662535419689415150", "parent_id": "undefined", "name": "failing_task",
      "start_ns": 1746470993829142000, "duration": 2172000, "status": "error", "meta":
      {"span.kind": "experiment", "metadata": {}, "error.message": "Task failed intentionally",
      "error.stack": "Traceback (most recent call last):\n  File \"/Users/jonathan.chavez/go/src/github.com/DataDog/dd-trace-py/ddtrace/llmobs/experimentation/_experiment.py\",
      line 384, in process_row\n    output = self.task(input_data)\n             ^^^^^^^^^^^^^^^^^^^^^\n  File
      \"/Users/jonathan.chavez/go/src/github.com/DataDog/dd-trace-py/ddtrace/llmobs/experimentation/_decorators.py\",
      line 15, in wrapper\n    return func(input)\n           ^^^^^^^^^^^\n  File
      \"/Users/jonathan.chavez/go/src/github.com/DataDog/dd-trace-py/tests/llmobs/test_experimentation_experiment.py\",
      line 110, in failing_task\n    raise ValueError(\"Task failed intentionally\")\nValueError:
      Task failed intentionally\n", "error.type": "builtins.ValueError", "expected_output":
      "2", "input": "What is 1+1?"}, "metrics": {}, "_dd": {"span_id": "6662535419689415150",
      "trace_id": "68190851000000001cd911d15ba3259f"}, "tags": ["version:", "env:",
      "service:tests.llmobs", "source:integration", "ml_app:test-exp-app", "ddtrace.version:3.4.0.dev284+gabe7934be",
      "language:python", "error:1", "experiment_id:96afa03b-1a1f-4cfa-a60d-830151fc29fa",
      "error_type:builtins.ValueError", "dataset_id:033c3a68-c51d-4064-b941-78825cf83066",
      "dataset_record_id:784bcd1a-6b0f-48c1-8063-7431455b659d"]}], "_dd.scope": "experiments"},
      {"_dd.stage": "raw", "_dd.tracer_version": "3.4.0.dev284+gabe7934be", "event_type":
      "span", "spans": [{"trace_id": "6819085100000000c6072a710aecbd61", "span_id":
      "10048798310851539124", "parent_id": "undefined", "name": "failing_task", "start_ns":
      1746470993831783000, "duration": 978000, "status": "error", "meta": {"span.kind":
      "experiment", "metadata": {}, "error.message": "Task failed intentionally",
      "error.stack": "Traceback (most recent ca[...]
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "6662535419689415150", "trace_id": "68190851000000001cd911d15ba3259f",
      "metric_type": "categorical", "timestamp_ms": 1746470993829, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "10048798310851539124",
      "trace_id": "6819085100000000c6072a710aecbd61", "metric_type": "categorical",
      "timestamp_ms": 1746470993831, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:96afa03b-1a1f-4cfa-a60d-830151fc29fa"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/96afa03b-1a1f-4cfa-a60d-830151fc29fa/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "18337980293781096247", "trace_id": "6819201c00000000e9205a67b3d3e4c7",
      "metric_type": "categorical", "timestamp_ms": 1746477084874, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "7309781802136698439",
      "trace_id": "6819201c000000007ca6a06e335833d5", "metric_type": "categorical",
      "timestamp_ms": 1746477084876, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:3d13577c-1bbe-4fd7-93a6-92ed966f678f"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/3d13577c-1bbe-4fd7-93a6-92ed966f678f/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
