interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"span_id": "7511592829981964318", "trace_id": "67f557a10000000093f49612f2c00b05",
      "metric_type": "score", "timestamp_ms": 1744132001038, "label": "length_evaluator",
      "score_value": 18, "error": null}, {"span_id": "4889515230329386321", "trace_id":
      "67f557a100000000aaee043f05b4ea80", "metric_type": "score", "timestamp_ms":
      1744132001039, "label": "length_evaluator", "score_value": 12, "error": null}],
      "tags": ["ddtrace.version:3.4.0.dev129+g96662098f.d20250407", "experiment_id:0ccf9357-376e-4b57-b9a7-113e6a791a1b"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/0ccf9357-376e-4b57-b9a7-113e6a791a1b/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "5135468084020042858", "trace_id": "6819081d00000000bc6a049f444753ed",
      "metric_type": "score", "timestamp_ms": 1746470941406, "label": "length_evaluator",
      "score_value": 12, "error": null}, {"span_id": "14282393300218905363", "trace_id":
      "6819081d00000000b4e4f1a33bbb7df5", "metric_type": "score", "timestamp_ms":
      1746470941407, "label": "length_evaluator", "score_value": 18, "error": null}],
      "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be", "experiment_id:c7a22847-0683-4c19-ae9b-b40c130c1939"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/c7a22847-0683-4c19-ae9b-b40c130c1939/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "6190896267736953610", "trace_id": "6822049b0000000071c4329db901b21d",
      "metric_type": "score", "timestamp_ms": 1747059867850, "label": "length_evaluator",
      "score_value": 18, "error": null}, {"span_id": "17370898966474431421", "trace_id":
      "6822049b0000000084900db0fc89727e", "metric_type": "score", "timestamp_ms":
      1747059867851, "label": "length_evaluator", "score_value": 12, "error": null}],
      "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be", "experiment_id:3a1e4b48-8d33-49a6-9605-b46c7b8120e9"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/3a1e4b48-8d33-49a6-9605-b46c7b8120e9/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
