interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"span_id": "15558596406803035990", "trace_id": "681908e7000000008794a729d3378874",
      "metric_type": "categorical", "timestamp_ms": 1746471143693, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "1425224719567097732",
      "trace_id": "681908e7000000008c0b2e8ddf9ba1e5", "metric_type": "categorical",
      "timestamp_ms": 1746471143695, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:e52a3f11-9467-4c50-86d5-dbd3f5920a53"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/e52a3f11-9467-4c50-86d5-dbd3f5920a53/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "8313290585216952782", "trace_id": "68193083000000002e867399ff49f573",
      "metric_type": "categorical", "timestamp_ms": 1746481283700, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "2839706890303939237",
      "trace_id": "68193083000000008773d09803b9f2d2", "metric_type": "categorical",
      "timestamp_ms": 1746481283701, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:e0abefc8-0e34-46ec-953f-897794d8490a"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/e0abefc8-0e34-46ec-953f-897794d8490a/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
