interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=test-push-new-69ef8706
  response:
    body:
      string: '{"data":[],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-push-new-69ef8706",
      "description": "Simple math/geo"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets
  response:
    body:
      string: '{"data":{"id":"805f60ee-7f63-4b0a-ab6a-223ab8b827b1","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:01:53.676241887Z","current_version":0,"description":"Simple
        math/geo","name":"test-push-new-69ef8706","updated_at":"2025-04-08T17:01:53.676241887Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "datasets", "attributes": {"records": [{"input": "What
      is 1+1?", "expected_output": "2"}, {"input": "Capital of UK?", "expected_output":
      "London"}], "overwrite": false}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/805f60ee-7f63-4b0a-ab6a-223ab8b827b1/push
  response:
    body:
      string: '{"data":[{"id":"d17c085f-fe3b-408c-8273-754df0cb66d0","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:01:53.771758113Z","dataset_id":"805f60ee-7f63-4b0a-ab6a-223ab8b827b1","expected_output":"2","input":"What
        is 1+1?","updated_at":"2025-04-08T17:01:53.771758113Z","version":1}},{"id":"68f708dd-60db-4ba3-9d7f-eef2d659d17b","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:01:53.771772537Z","dataset_id":"805f60ee-7f63-4b0a-ab6a-223ab8b827b1","expected_output":"London","input":"Capital
        of UK?","updated_at":"2025-04-08T17:01:53.771772537Z","version":1}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/805f60ee-7f63-4b0a-ab6a-223ab8b827b1/records
  response:
    body:
      string: '{"data":[{"id":"d17c085f-fe3b-408c-8273-754df0cb66d0","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:01:53.771758Z","dataset_id":"805f60ee-7f63-4b0a-ab6a-223ab8b827b1","expected_output":"2","input":"What
        is 1+1?","updated_at":"2025-04-08T17:01:53.771758Z"}},{"id":"68f708dd-60db-4ba3-9d7f-eef2d659d17b","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:01:53.771772Z","dataset_id":"805f60ee-7f63-4b0a-ab6a-223ab8b827b1","expected_output":"London","input":"Capital
        of UK?","updated_at":"2025-04-08T17:01:53.771772Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-push-new-18b7151f",
      "description": "Simple math/geo"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets
  response:
    body:
      string: '{"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}'
    headers:
      content-type:
      - application/json
    status:
      code: 403
      message: Forbidden
[...]
- request:
    body: '{"data": {"type": "datasets", "attributes": {"records": [{"input": "What
      is 1+1?", "expected_output": "2"}, {"input": "Capital of UK?", "expected_output":
      "London"}], "overwrite": false}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/b93c72d1-6a4f-4292-bfa2-92084211d236/push
  response:
    body:
      string: '{"data":[{"id":"dad4f5db-eee9-43a5-8754-b9c7c1eeecbf","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-02T18:25:38.274955732Z","dataset_id":"b93c72d1-6a4f-4292-bfa2-92084211d236","expected_output":"2","input":"What
        is 1+1?","updated_at":"2025-05-02T18:25:38.274955732Z","version":1}},{"id":"03ba2784-31cd-4fb1-ac2f-a08d50dbd4e7","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-02T18:25:38.274973396Z","dataset_id":"b93c72d1-6a4f-4292-bfa2-92084211d236","expected_output":"London","input":"Capital
        of UK?","updated_at":"2025-05-02T18:25:38.274973396Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]="test-push-new-28e26412"
  response:
    body:
      string: '{"data":[],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=test-push-new-7372b29d
  response:
    body:
      string: '{"data":[],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/ad963276-2cb6-4473-a2ae-2c1aea7bd94a/records
  response:
    body:
      string: '{"data":[{"id":"a62f5da1-28da-45bf-a939-2ca0db3cf374","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:19:41.74498Z","dataset_id":"ad963276-2cb6-4473-a2ae-2c1aea7bd94a","expected_output":"London","input":"Capital
        of UK?","updated_at":"2025-05-05T17:19:41.74498Z"}},{"id":"4000a177-5eee-42e7-9acc-8931eff2b10c","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:19:41.74497Z","dataset_id":"ad963276-2cb6-4473-a2ae-2c1aea7bd94a","expected_output":"2","input":"What
        is 1+1?","updated_at":"2025-05-05T17:19:41.74497Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
