interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"span_id": "6567977824535861090", "trace_id": "681908d900000000de356712bbe9fb48",
      "metric_type": "categorical", "timestamp_ms": 1746471129129, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "8895379391536284010",
      "trace_id": "681908d900000000d3c67dfd929455de", "metric_type": "categorical",
      "timestamp_ms": 1746471129130, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:e7e08dcd-58b6-46b2-87cb-0dec75a76c24"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/e7e08dcd-58b6-46b2-87cb-0dec75a76c24/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "6997699262428913666", "trace_id": "68220561000000005407336e828ba806",
      "metric_type": "categorical", "timestamp_ms": 1747060065817, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "17147749233642932426",
      "trace_id": "68220561000000008b11a5a22e752000", "metric_type": "categorical",
      "timestamp_ms": 1747060065818, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:4407853e-691e-487b-99d9-844436968968"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/4407853e-691e-487b-99d9-844436968968/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
