interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"span_id": "13400355286266753651", "trace_id": "681908c2000000001b6bea1528cdf25b",
      "metric_type": "categorical", "timestamp_ms": 1746471106137, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "6628422458586664941",
      "trace_id": "681908c2000000007643f3f8e760a855", "metric_type": "categorical",
      "timestamp_ms": 1746471106139, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:4f19f967-0b3f-4c70-8056-4e84734aad2e"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/4f19f967-0b3f-4c70-8056-4e84734aad2e/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "14158147690659553715", "trace_id": "68221356000000004b9ded81a3059c4a",
      "metric_type": "categorical", "timestamp_ms": 1747063638237, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "17925942770501073092",
      "trace_id": "68221356000000000e3c833625c2795b", "metric_type": "categorical",
      "timestamp_ms": 1747063638239, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:d2c4476b-d7ef-4958-9659-ce76d7634a75"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/d2c4476b-d7ef-4958-9659-ce76d7634a75/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
