interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/projects?filter[name]=Test-Project-Experiment
  response:
    body:
      string: '{"data":[{"id":"40e10255-4153-4451-9ada-f694838d38c5","type":"projects","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T14:45:56.61478Z","name":"Test-Project-Experiment","updated_at":"2025-04-08T14:45:56.61478Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test-run-full-success-fd4ced",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"b47ec575-dd12-4d00-8098-0fbcbc72a370","type":"experiments","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"config":null,"created_at":"2025-04-08T17:07:05.3956633Z","dataset_id":"749fac78-4f2c-4a66-9e01-63395909c71d","dataset_version":1,"description":"","metadata":{"tags":[]},"name":"test-run-full-success-fd4ced","project_id":"40e10255-4153-4451-9ada-f694838d38c5","updated_at":"2025-04-08T17:07:05.395663415Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "11870653965107652474", "trace_id": "67f557b9000000002b98be1c612ef1dc",
      "metric_type": "categorical", "timestamp_ms": 1744132025425, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "11870653965107652474",
      "trace_id": "67f557b9000000002b98be1c612ef1dc", "metric_type": "score", "timestamp_ms":
      1744132025425, "label": "length_evaluator", "score_value": 18, "error": null},
      {"span_id": "2231282318465127198", "trace_id": "67f557b900000000d4e02034d6b02932",
      "metric_type": "categorical", "timestamp_ms": 1744132025425, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "2231282318465127198",
      "trace_id": "67f557b900000000d4e02034d6b02932", "metric_type": "score", "timestamp_ms":
      1744132025425, "label": "length_evaluator", "score_value": 12, "error": null}],
      "tags": ["ddtrace.version:3.4.0.dev129+g96662098f.d20250407", "experiment_id:b47ec575-dd12-4d00-8098-0fbcbc72a370"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/b47ec575-dd12-4d00-8098-0fbcbc72a370/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test-run-full-success-be5447",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}'
    headers:
      content-type:
      - application/json
    status:
      code: 403
      message: Forbidden
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test-run-full-success-033f67",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"The provided project
        or dataset ID is not valid."}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/projects?filter[name]=Test-Project-Experiment
  response:
    body:
      string: '{"data":[{"id":"acaddd81-db16-4ace-b534-ff8d71c24e1d","type":"projects","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T18:48:04.835499Z","name":"Test-Project-Experiment","updated_at":"2025-05-05T18:48:04.835499Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '[{"_dd.stage": "raw", "_dd.tracer_version": "3.4.0.dev284+gabe7934be",
      "event_type": "span", "spans": [{"trace_id": "6819084300000000eaa61345cdc0e747",
      "span_id": "14354684625480406957", "parent_id": "undefined", "name": "simple_identity_task",
      "start_ns": 1746470979491383000, "duration": 830000, "status": "ok", "meta":
      {"span.kind": "experiment", "metadata": {}, "expected_output": "2", "input":
      "What is 1+1?", "output": "What is 1+1?"}, "metrics": {}, "_dd": {"span_id":
      "14354684625480406957", "trace_id": "6819084300000000eaa61345cdc0e747"}, "tags":
      ["version:", "env:", "service:tests.llmobs", "source:integration", "ml_app:test-exp-app",
      "ddtrace.version:3.4.0.dev284+gabe7934be", "language:python", "error:0", "experiment_id:88ad8da0-1435-4bbe-ba5c-92d0110e47a2",
      "dataset_id:033c3a68-c51d-4064-b941-78825cf83066", "dataset_record_id:784bcd1a-6b0f-48c1-8063-7431455b659d"]}],
      "_dd.scope": "experiments"}, {"_dd.stage": "raw", "_dd.tracer_version": "3.4.0.dev284+gabe7934be",
      "event_type": "span", "spans": [{"trace_id": "6819084300000000a1f183ba8ea74f02",
      "span_id": "10168801677871077843", "parent_id": "undefined", "name": "simple_identity_task",
      "start_ns": 1746470979492932000, "duration": 253000, "status": "ok", "meta":
      {"span.kind": "experiment", "metadata": {}, "expected_output": "Paris", "input":
      "Capital of France?", "output": "Capital of France?"}, "metrics": {}, "_dd":
      {"span_id": "10168801677871077843", "trace_id": "6819084300000000a1f183ba8ea74f02"},
      "tags": ["version:", "env:", "service:tests.llmobs", "source:integration", "ml_app:test-exp-app",
      "ddtrace.version:3.4.0.dev284+gabe7934be", "language:python", "error:0", "experiment_id:88ad8da0-1435-4bbe-ba5c-92d0110e47a2",
      "dataset_id:033c3a68-c51d-4064-b941-78825cf83066", "dataset_record_id:49919f09-a3f9-4339-bdbe-85df9f5ec553"]}],
      "_dd.scope": "experiments"}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://llmobs-intake.us3.datadoghq.com/api/v2/llmobs
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "14354684625480406957", "trace_id": "6819084300000000eaa61345cdc0e747",
      "metric_type": "categorical", "timestamp_ms": 1746470979491, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "14354684625480406957",
      "trace_id": "6819084300000000eaa61345cdc0e747", "metric_type": "score", "timestamp_ms":
      1746470979491, "label": "length_evaluator", "score_value": 12, "error": null},
      {"span_id": "10168801677871077843", "trace_id": "6819084300000000a1f183ba8ea74f02",
      "metric_type": "categorical", "timestamp_ms": 1746470979492, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "10168801677871077843",
      "trace_id": "6819084300000000a1f183ba8ea74f02", "metric_type": "score", "timestamp_ms":
      1746470979492, "label": "length_evaluator", "score_value": 18, "error": null}],
      "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be", "experiment_id:88ad8da0-1435-4bbe-ba5c-92d0110e47a2"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/88ad8da0-1435-4bbe-ba5c-92d0110e47a2/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "14032023319543884475", "trace_id": "6822134600000000ff90ee4f5340c266",
      "metric_type": "categorical", "timestamp_ms": 1747063622705, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "14032023319543884475",
      "trace_id": "6822134600000000ff90ee4f5340c266", "metric_type": "score", "timestamp_ms":
      1747063622705, "label": "length_evaluator", "score_value": 18, "error": null},
      {"span_id": "637022794669013398", "trace_id": "6822134600000000a60ff3183dfc753e",
      "metric_type": "categorical", "timestamp_ms": 1747063622707, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "637022794669013398",
      "trace_id": "6822134600000000a60ff3183dfc753e", "metric_type": "score", "timestamp_ms":
      1747063622707, "label": "length_evaluator", "score_value": 12, "error": null}],
      "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be", "experiment_id:2a6704d2-19c0-4cc6-b5c6-c717a9d7c9aa"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/2a6704d2-19c0-4cc6-b5c6-c717a9d7c9aa/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
