interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"span_id": "1733710875489451256", "trace_id": "67f557aa000000000f68028ff7e8fe84",
      "metric_type": "categorical", "timestamp_ms": 1744132010603, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "1733710875489451256",
      "trace_id": "67f557aa000000000f68028ff7e8fe84", "metric_type": "categorical",
      "timestamp_ms": 1744132010603, "label": "failing_evaluator", "categorical_value":
      null, "error": {"message": "Evaluator failed intentionally", "type": "TypeError",
      "stack": "Traceback (most recent call last):\n  File \"/Users/jonathan.chavez/go/src/github.com/DataDog/dd-trace-py/ddtrace/llmobs/experimentation/_experiment.py\",
      line 519, in run_evaluations\n    evaluation_result = evaluator(input_data,
      output, expected_output)\n  File \"/Users/jonathan.chavez/go/src/github.com/DataDog/dd-trace-py/ddtrace/llmobs/experimentation/_decorators.py\",
      line 35, in wrapper\n    return func(input, output, expected_output)\n  File
      \"/Users/jonathan.cha[...]
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "7081009366093874331", "trace_id": "6819082c00000000476e08f7676cd8ea",
      "metric_type": "categorical", "timestamp_ms": 1746470956065, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "7081009366093874331",
      "trace_id": "6819082c00000000476e08f7676cd8ea", "metric_type": "categorical",
      "timestamp_ms": 1746470956065, "label": "failing_evaluator", "categorical_value":
      null, "[...]
[...]
