interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=test-meals-workouts
  response:
    body:
      string: '{"data":[{"id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:04:55.12868Z","current_version":2,"description":"Dataset
        for testing meals and workouts parsing (created by tests)","name":"test-meals-workouts","updated_at":"2025-05-05T17:12:21.106399Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/75e1668b-d0ab-4ac3-97da-780fc96cb9cb/versions
  response:
    body:
      string: '{"data":[{"id":"c011a78b-2dba-41f8-b3f9-d16b618373f0","type":"dataset_version","attributes":{"dataset_id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","last_used":"2025-05-05T17:12:21.081856Z","version_number":1}},{"id":"d880c980-fe35-4401-b851-30cd758bb9d6","type":"dataset_version","attributes":{"dataset_id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","last_used":"2025-05-05T17:12:21.081856Z","version_number":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/75e1668b-d0ab-4ac3-97da-780fc96cb9cb/records?filter[version]=1
  response:
    body:
      string: '{"data":[],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/4519e302-a62d-45f5-864b-f211bf9bd486/records?filter[version]=1
  response:
    body:
      string: '{"data":[{"id":"f5129947-895a-40c7-b598-16f36985454f","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:44:23.070175Z","dataset_id":"4519e302-a62d-45f5-864b-f211bf9bd486","expected_output":{"response":[{"calories":100,"carbs":10,"description":"a
        salad","fat":10,"protein":10,"type":"meal"}]},"input":{"prompt":"I had a salad
        for lunch"},"metadata":{"metadata":{"category":"nutrition"}},"updated_at":"2025-05-05T17:44:23.070175Z"}},{"id":"9726d781-e1df-41d3-afe4-2148f498726d","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:44:23.07017Z","dataset_id":"4519e302-a62d-45f5-864b-f211bf9bd486","expected_output":{"response":[{"calories":1000,"carbs":100,"description":"5
        tacos","fat":100,"protein":100,"type":"meal"},{"calories":100,"carbs":0,"description":"a
        coke","fat":0,"protein":0,"type":[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/4519e302-a62d-45f5-864b-f211bf9bd486/records?filter[version]=1
  response:
    body:
      string: '{"data":[{"id":"d8859f3d-eef0-4943-a871-df63ffc55624","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:44:23.070181Z","dataset_id":"4519e302-a62d-45f5-864b-f211bf9bd486","expected_output":{"response":[{"description":"45min
        HIIT session","duration_seconds":2700,"exercise":"HIIT","type":"workout"},{"calories":440,"carbs":44,"description":"2
        protein bars","fat":16,"protein":40,"type":"meal"},{"calories":105,"carbs":27,"description":"banana","fat":0,"protein":1,"type":"meal"}]},"input":{"prompt":"45min
        HIIT session followed by 2 protein bars and a banana"},"metadata":{"metadata":{"category":"mixed"}},"ttl":"2025-08-03T17:44:56.137747Z","updated_at":"2025-05-05T17:44:56.137747Z"}},{"id":"b3e28b9b-58e5-45cd-8c1a-10e40d073ad8","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:44:23.070173Z","dataset_id":"4519e302-a62d-45f5-864b-f211bf9bd486","expected_output":{"response":[{"calories":1000,"carbs":100,"description":"bacon-egg-and-cheese","fat":100,"protein":100,"type":"meal"},{"calories":1000,"carbs":100,"description":"a
        small di[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/48edcd0f-3572-40ac-a8cd-44b99ae3475a/records?filter[version]=1
  response:
    body:
      string: '{"data":[{"id":"b688ac8f-6053-4960-b40b-619edc248e8b","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T18:44:01.478054Z","dataset_id":"48edcd0f-3572-40ac-a8cd-44b99ae3475a","expected_output":"London","input":"Capital
        of UK?","ttl":"2025-08-03T18:44:52.281018Z","updated_at":"2025-05-05T18:44:52.281018Z"}},{"id":"bbb1a20d-7830-4f4a-9224-46f27d40bdaa","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T18:44:01.478044Z","dataset_id":"48edcd0f-3572-40ac-a8cd-44b99ae3475a","deleted_at":"2025-05-05T18:45:00.27582Z","expected_output":"2","input":"What
        is 1+1?","ttl":"2025-08-03T18:45:00.275822Z","updated_at":"2025-05-05T18:45:00.276957Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
