interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"span_id": "15558596406803035990", "trace_id": "681908e7000000008794a729d3378874",
      "metric_type": "categorical", "timestamp_ms": 1746471143693, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "1425224719567097732",
      "trace_id": "681908e7000000008c0b2e8ddf9ba1e5", "metric_type": "categorical",
      "timestamp_ms": 1746471143695, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:e52a3f11-9467-4c50-86d5-dbd3f5920a53"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/e52a3f11-9467-4c50-86d5-dbd3f5920a53/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "5983509878303136083", "trace_id": "6822136f000000007afee31e746cf43c",
      "metric_type": "categorical", "timestamp_ms": 1747063663573, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "10238707845227253355",
      "trace_id": "6822136f000000007b27a0516c0fe099", "metric_type": "categorical",
      "timestamp_ms": 1747063663574, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:54848c10-d83a-4fc6-b3b1-12b74dc86da4"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/54848c10-d83a-4fc6-b3b1-12b74dc86da4/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
