interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"metric_source": "summary", "metric_type": "categorical", "timestamp_ms":
      1744132066277, "label": "pass_category", "categorical_value": "high", "error":
      null}], "tags": ["ddtrace.version:3.4.0.dev129+g96662098f.d20250407", "experiment_id:c8c21766-3ab4-4abe-8ea8-28f05eaa5ef9"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/c8c21766-3ab4-4abe-8ea8-28f05eaa5ef9/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"metric_source": "summary", "metric_type": "categorical", "timestamp_ms":
      1746471043929, "label": "pass_category", "categorical_value": "high", "error":
      null, "metadata": {"position": 0, "is_primary": false}}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:9b3666a2-ade6-48cb-a3bf-2d4133b3c651"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/9b3666a2-ade6-48cb-a3bf-2d4133b3c651/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"metric_source": "summary", "metric_type": "categorical", "timestamp_ms":
      1746477136929, "label": "pass_category", "categorical_value": "high", "error":
      null, "metadata": {"is_primary": false}}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:6df700e4-4fe7-4c60-8178-b22c5974bba2"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/6df700e4-4fe7-4c60-8178-b22c5974bba2/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
