interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=synced-exp-test-dataset
  response:
    body:
      string: '{"data":[{"id":"749fac78-4f2c-4a66-9e01-63395909c71d","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T14:45:51.412479Z","current_version":1,"name":"synced-exp-test-dataset","updated_at":"2025-04-08T14:45:51.66126Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/749fac78-4f2c-4a66-9e01-63395909c71d/records
  response:
    body:
      string: '{"data":[{"id":"3ecf635b-b625-4d83-85b1-88a09ade4b54","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T14:45:51.512269Z","dataset_id":"749fac78-4f2c-4a66-9e01-63395909c71d","expected_output":"Paris","input":"Capital
        of France?","updated_at":"2025-04-08T14:45:51.512269Z"}},{"id":"000e4995-09b9-41a7-a4c1-5971a0bd1c8d","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T14:45:51.512255Z","dataset_id":"749fac78-4f2c-4a66-9e01-63395909c71d","expected_output":"2","input":"What
        is 1+1?","updated_at":"2025-04-08T14:45:51.512255Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/749fac78-4f2c-4a66-9e01-63395909c71d/records
  response:
    body:
      string: '{"data":[{"id":"3ecf635b-b625-4d83-85b1-88a09ade4b54","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T14:45:51.512269Z","dataset_id":"749fac78-4f2c-4a66-9e01-63395909c71d","expected_output":"Paris","input":"Capital
        of France?","updated_at":"2025-04-08T14:45:51.512269Z"}},{"id":"000e4995-09b9-41a7-a4c1-5971a0bd1c8d","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T14:45:51.512255Z","dataset_id":"749fac78-4f2c-4a66-9e01-63395909c71d","expected_output":"2","input":"What
        is 1+1?","updated_at":"2025-04-08T14:45:51.512255Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
