interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=meals-and-workouts-1.3
  response:
    body:
      string: '{"data":[{"id":"33026409-f49f-434d-bbab-19f462d077f7","type":"datasets","attributes":{"author":{"id":"aaa48df4-a85c-11eb-a14c-da7ad0900002"},"created_at":"2025-02-18T21:54:09.85518Z","current_version":91,"metadata":{"team":"ml-obs"},"name":"meals-and-workouts-1.3-alex","updated_at":"2025-04-07T23:21:10.856056Z"}},{"id":"74382738-8750-4b51-8885-88ae8491c12e","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-01-06T17:02:10.22236Z","current_version":0,"metadata":{"team":"ml-obs"},"name":"meals-and-workouts-1.3","updated_at":"2025-01-06T17:02:10.642166Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/33026409-f49f-434d-bbab-19f462d077f7/versions
  response:
    body:
      string: '{"data":[{"id":"12181698-98b4-4394-87eb-05377ad4afb1","type":"dataset_version","attributes":{"dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","last_used":"2025-04-07T21:45:52.656367Z","version_number":5}},{"id":"68215ff2-75ba-415d-8184-7292ced103d9","type":"dataset_version","attributes":{"dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","last_used":"2025-04-07T22:33:54.348021Z","version_number":27}},{"id":"20a6553d-0e75-461f-a3bb-cb50c548bb08","type":"dataset_version","attributes":{"dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","last_used":"2025-04-07T23:19:34.270615Z","version_number":84}},{"id":"1bb7d042-4859-41bf-b5c9-0c5650a0ba22","type":"dataset_version","attributes":{"dataset_id"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/33026409-f49f-434d-bbab-19f462d077f7/records?filter[version]=1
  response:
    body:
      string: "{\"data\":[{\"id\":\"d87652de-b6bf-4617-9930-a3993368e248\",\"type\":\"datasets\",\"attributes\":{\"author\":{\"id\":\"aaa48df4-a85c-11eb-a14c-da7ad0900002\"},\"created_at\":\"2025-02-18T21:54:09.971675Z\",\"dataset_id\":\"33026409-f49f-434d-bbab-19f462d077f7\",\"expected_output\":[{\"description\":\"5k
        run\",\"duration_seconds\":1800,\"exercise\":\"running\",\"type\":\"workout\"},{\"description\":\"4x12
        squats at 185lbs\",\"exercise\":\"squats\",\"reps\":12,\"series\":4,\"type\":\"workout\",\"weight_kg\":84},{\"description\":\"10
        minutes of stretching\",\"duration_seconds\":600,\"exercise\":\"stretching\",\"type\":\"workout\"}],\"input\":\"Morning
        routine: 5k run, then 4x12 squats at 185lbs, finished with 10 minutes of stretching\",\"ttl\":\"2025-07-06T21:45:41.4916Z\",\"updated_at\":\"2025-04-07T21:45:41.4916Z\"}},{\"id\":\"afbf9905-8f14-47f8-8c62-49ea3f6e902f\",\"type\":\"datasets\",\"attributes\":{\"author\":{\"id\":\"aaa48df4-a85c-11eb-a14c-da7ad0900002\"},\"created_at\":\"2025-02-18T21:54:09.971675Z\",\"dataset_id\":\"33026409-f49f-434d-bbab-19f462d077f7\",\"expected_output\":[{\"calories\":1200,\"carbs\":90,\"description\":\"2
        raciones de cocido madrile\xF1o\",\"fat\":55,\"protein\":65,\"type\":\"meal\"},{\"calories\":125,\"carbs\":4,\"description\":\"1
        copa de rioja\",\"fat\":0,\"protein\":0,\"type\":\"meal\"},{\"calories\":220,\"carbs\":32,\"description\":\"flan
        casero\",\"fat\":8,\"protein\":8,\"type\":\"meal\"}],\"input\":\"Cena familiar:
        2 raciones de cocido madrile\xF1o, 1 copa de rioja, y flan casero de postre\",\"ttl\":\"2025-07-06T21:45:41.492612Z\",\"updated_at\":\"2025-04-07T21:45:41.492613Z\"}},{\"id\":\"6fa23002-8eb0-4ad2-ba21-a1377c79a3[...]
[...]
