interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]="test-meals-workouts"
  response:
    body:
      string: '{"data":[],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-meals-workouts",
      "description": "Dataset for testing meals and workouts parsing (created by tests)"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets
  response:
    body:
      string: '{"data":{"id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:04:55.128680718Z","current_version":0,"description":"Dataset
        for testing meals and workouts parsing (created by tests)","name":"test-meals-workouts","updated_at":"2025-05-05T17:04:55.128680718Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "datasets", "attributes": {"records": [{"input": {"prompt":
      "1 medium size pizza"}, "expected_output": {"response": [{"type": "meal", "description":
      "1 medium size pizza", "calories": 2300, "protein": 20, "carbs": 20, "fat":
      20}]}, "metadata": {"metadata": {"category": "nutrition"}}}, {"input": {"prompt":
      "30 minutes of yoga"}, "expected_output": {"response": [{"type": "workout",
      "description": "30 minutes of yoga", "exercise": "yoga", "duration_seconds":
      1800}]}, "metadata": {"metadata": {"category": "exercise"}}}, {"input": {"prompt":
      "1 hour of yoga"}, "expected_output": {"response": [{"type": "workout", "description":
      "1 hour of yoga", "exercise": "yoga", "duration_seconds": 3600}]}, "metadata":
      {"metadata": {"category": "exercise"}}}, {"input": {"prompt": "3x10 bench press
      225lbs"}, "expected_output": {"response": [{"type": "workout", "description":
      "3x10 bench press 225lbs", "exercise": "bench press", "series": 3, "reps": 10,
      "weight_kg": 102}]}, "metadata": {"metadata": {"category": "exercise", "intensity":
      "high"}}}, {"input": {"prompt": "1000 calories"}, "expected_output": {"response":
      [{"type": "meal", "description": "1000 calories", "calories": 1000, "protein":
      0, "carbs": 0, "fat": 0}]}, "metadata": {"metadata": {"category": "nutrition"}}},
      {"input": {"prompt": "Feeling hungry"}, "expected_output": {"response": {"type":
      "error"}}, "metadata": {"metadata": {"category": "unknown"}}}, {"input": {"prompt":
      "5 tacos and a coke"}, "expected_output": {"response": [{"type": "meal", "description":
      "5 tacos", "calories": 1000, "protein": 100, "carbs": 100, "fat": 100}, {"type":
      "meal", "description": "a coke", "calories": 100, "protein": 0, "carbs": 0,
      "fat": 0}]}, "metadata": {"metadata": {"category": "nutrition"}}}, {"input":
      {"prompt": "I ran 5km and then ate 3 hard boiled eggs"}, "expected_output":
      {"response": [{"type": "workout", "description": "I ran 5km", "exercise": "running",
      "distance_km": 5}, {"type": "meal", "description": "3 hard boiled eggs", "calories":
      200, "protein": 20, "carbs": 2, "fat": 14}]}, "metadata": {"metadata": {"category":
      "mixed"}}}, {"input": {"prompt": "During the morning I had a bacon-egg-and-cheese,
      in the afternoon I don''t remember, and now I''m having a small dish of lasagna."},
      "expected_output": {"response": [{"type": "meal", "description": "bacon-egg-and-cheese",
      "calories": 1000, "protein": 100, "carbs": 100, "fat": 100}[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=test-meals-workouts
  response:
    body:
      string: '{"data":[{"id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:04:55.12868Z","current_version":2,"description":"Dataset
        for testing meals and workouts parsing (created by tests)","name":"test-meals-workouts","updated_at":"2025-05-05T17:12:21.106399Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/75e1668b-d0ab-4ac3-97da-780fc96cb9cb/records
  response:
    body:
      string: '{"data":[{"id":"15112b93-58c1-48a7-aece-589b263cf584","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:12:21.075284Z","dataset_id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","expected_output":{"response":[{"description":"I
        ran 5km","distance_km":5,"exercise":"running","type":"workout"},{"calories":200,"carbs":2,"description":"3
        hard boiled eggs","fat":14,"protein":20,"type":"meal"}]},"input":{"prompt":"I
        ran 5km and then ate 3 hard boiled eggs"},"metadata":{"metadata":{"category":"mixed"}},"updated_at":"2025-05-05T17:12:21.075284Z"}},{"id":"be47289c-f9ae-4d0f-8b8a-78b767e7684d","type":"datasets","attribu[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/48edcd0f-3572-40ac-a8cd-44b99ae3475a/records
  response:
    body:
      string: '{"data":[{"id":"b688ac8f-6053-4960-b40b-619edc248e8b","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T18:44:01.478054Z","dataset_id":"48edcd0f-3572-40ac-a8cd-44b99ae3475a","expected_output":"London","input":"Capital
        of UK?","updated_at":"2025-05-05T18:44:01.478054Z"}},{"id":"bbb1a20d-7830-4f4a-9224-46f27d40bdaa","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T18:44:01.478044Z","dataset_id":"48edcd0f-3572-40ac-a8cd-44b99ae3475a","expected_output":"2","input":"What
        is 1+1?","updated_at":"2025-05-05T18:44:01.478044Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
