interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=test-meals-workouts
  response:
    body:
      string: '{"data":[{"id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:04:55.12868Z","current_version":2,"description":"Dataset
        for testing meals and workouts parsing (created by tests)","name":"test-meals-workouts","updated_at":"2025-05-05T17:12:21.106399Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/75e1668b-d0ab-4ac3-97da-780fc96cb9cb/records
  response:
    body:
      string: '{"data":[{"id":"15112b93-58c1-48a7-aece-589b263cf584","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:12:21.075284Z","dataset_id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","expected_output":{"response":[{"description":"I
        ran 5km","distance_km":5,"exercise":"running","type":"workout"},{"calories":200,"carbs":2,"description":"3
        hard boiled eggs","fat":14,"protein":20,"type":"meal"}]},"input":{"prompt":"I
        ran 5km and then ate 3 hard boiled eggs"},"metadata":{"metadata":{"category":"mixed"}},"updated_at":"2025-05-05T17:12:21.075284Z"}},{"id":"be47289c-f9ae-4d0f-8b8a-78b767e7684d","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:12:21.075292Z","dataset_id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","expected_output":{"response":[{"calories":350,"carbs":56,"description":"overnight
        oats with berries","fat":8,"protein":12,"type":"meal"},{"calories":160,"carbs":3,"description":"protein
        shake","fat":2,"protein":30,"type":"meal"},{"calories":650,"carbs":45,"description":"grilled
        salmon and quinoa","fat":28,"protein":45,"type":"meal"}]},"input":{"prompt":"Started
        my day with overnight oats with berries, had a protein shake after my workout,
        and finished with grilled salmon and quinoa for dinner"},"metadata":{"metadata":{"category":"nutrition"}},"updated_at":"2025-05-05T17:12:21.075292Z"}},{"id":"cc972c07-1941-483f-93c9-07619cca6532","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:12:21.075299Z","dataset_id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","expected_output":{"response":[{"description":"5k
        run","distance_km":5,"exercise":"running","type":"workout"},{"description":"4x12
        squats at 185lbs","exercise":"squats","reps":12,"series":4,"type":"workout","weight_kg":84},{"description":"10
        minutes of stretching","duration_seconds":600,"exercise":"stretching","type":"workout"}]},"input":{"prompt":"Morning
        routine: 5k run, then 4x12 squats at 185lbs, finished with 10 minutes of stretching"},"metadata":{"metadata":{"category":"exercise"}},"updated_at":"2025-05-05T17:12:21.075299Z"}},{"id":"489b2a0f-48d1-4f6e-9c06-169906c8ec84","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:12:21.075293Z","dataset_id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","expected_output":{"response":[{"calories":600,"carbs":80,"description":"pad
        thai","fat":25,"protein":22,"type":"meal"},{"calories":700,"carbs":140,"description":"2
        mango sticky rice","fat":16,"protein":8,"type":"meal"}]},"input":{"prompt":"Had
        authentic pad thai from the street vendor and 2 mango sticky rice for dessert"},"metadata":{"metadata":{"category":"nutrition"}},"updated_at":"2025-05-05T17:12:21.075293Z"}},{"id":"d1ca84f5-1038-4c41-b75a-671014655493","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:12:21.075277Z","dataset_id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","expected_output":{"response":[{"description":"3x10
        bench press 225lbs","exercise":"bench press","reps":10,"series":3,"type":"workout","weight_kg":102}]},"input":{"prompt":"3x10
        bench press 225lbs"},"metadata":{"metadata":{"category":"exercise","intensity":"high"}},"updated_at":"2025-05-05T17:12:21.075277Z"}},{"id":"329fd44e-23de-4784-a666-b73ed46e0dd2","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T17:12:21.075275Z","dataset_id":"75e1668b-d0ab-4ac3-97da-780fc96cb9cb","expected_output":{"response":[{"description":"1
        hour of yoga","duration_seconds":3600,"exercise":"yoga","type":"workout"}]},"input":{"prompt":"1
        hour of yoga"},"metadata":{"metadata":{"category":"exerci[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/8b040361-e30a-47d9-a5d9-b42616978f34/records
  response:
    body:
      string: '{"data":[{"id":"ba9c8dd9-c91f-4a34-9265-47bad133b161","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-12T15:28:34.418698Z","dataset_id":"8b040361-e30a-47d9-a5d9-b42616978f34","expected_output":{"response":"mixed
        update resp"},"input":{"prompt":"mixed update"},"updated_at":"2025-05-12T15:28:34.418698Z"}},{"id":"b0a13cd3-4ea7-41f5-ba36-47bf0064ca44","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-12T15:28:34.40475Z","dataset_id":"8b040361-e30a-47d9-a5d9-b42616978f34","expected_output":{"response":"mixed
        add resp"},"input":{"prompt":"mixed add"},"updated_at":"2025-05-12T15:28:34.40475Z"}},{"id":"37fec521-c4ac-4f73-983c-611cc381c1cf","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-12T14:29:12.576616Z","dataset_id":"8b040361-e30a-47d9-a5d9-b42616978f34","expected_output":"2","input":"What
        is 1+1?","updated_at":"2025-05-12T14:29:12.576616Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
