interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/projects?filter[name]=Test-Project-Experiment
  response:
    body:
      string: '{"data":[{"id":"40e10255-4153-4451-9ada-f694838d38c5","type":"projects","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T14:45:56.61478Z","name":"Test-Project-Experiment","updated_at":"2025-04-08T14:45:56.61478Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test-run-full-task-err-3d5096",
      "description": "", "dataset_id": "749fac78-4f2c-4a66-9e01-63395909c71d", "project_id":
      "40e10255-4153-4451-9ada-f694838d38c5", "dataset_version": 1, "config": null,
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"f01755b0-c080-4e1d-90ef-6ed531a24bc5","type":"experiments","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"config":null,"created_at":"2025-04-08T17:07:14.331454435Z","dataset_id":"749fac78-4f2c-4a66-9e01-63395909c71d","dataset_version":1,"description":"","metadata":{"tags":[]},"name":"test-run-full-task-err-3d5096","project_id":"40e10255-4153-4451-9ada-f694838d38c5","updated_at":"2025-04-08T17:07:14.331454509Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "11280316840490644929", "trace_id": "67f557c200000000893a1a838eb2e7a6",
      "metric_type": "categorical", "timestamp_ms": 1744132034363, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "4541862529171014836",
      "trace_id": "67f557c200000000fb85cbe7ac2d0dca", "metric_type": "categorical",
      "timestamp_ms": 1744132034363, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev129+g96662098f.d20250407",
      "experiment_id:f01755b0-c080-4e1d-90ef-6ed531a24bc5"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/f01755b0-c080-4e1d-90ef-6ed531a24bc5/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "1811551001251311125", "trace_id": "67f5638500000000dac212b894eaffad",
      "metric_type": "categorical", "timestamp_ms": 1744135045313, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "11034844306215918127",
      "trace_id": "67f56385000000006a397042bf20f4ab", "metric_type": "categorical",
      "timestamp_ms": 1744135045315, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev129+g96662098f.d20250407",
      "experiment_id:e2dcd774-5f0f-41fa-bdb2-da12da2452d4"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/e2dcd774-5f0f-41fa-bdb2-da12da2452d4/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
