interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"metric_source": "summary", "metric_type": "score", "timestamp_ms":
      1744132057354, "label": "overall_accuracy", "score_value": 0.85, "error": null}],
      "tags": ["ddtrace.version:3.4.0.dev129+g96662098f.d20250407", "experiment_id:d3671e6c-61a8-428d-b2ca-40870f7f75f8"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/d3671e6c-61a8-428d-b2ca-40870f7f75f8/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"metric_source": "summary", "metric_type": "score", "timestamp_ms":
      1746471029524, "label": "overall_accuracy", "score_value": 0.85, "error": null,
      "metadata": {"position": 0, "is_primary": false}}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:af343cb9-66fa-4361-a943-3cf4a563f85b"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/af343cb9-66fa-4361-a943-3cf4a563f85b/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"metric_source": "summary", "metric_type": "score", "timestamp_ms":
      1746477121641, "label": "overall_accuracy", "score_value": 0.85, "error": null,
      "metadata": {"is_primary": false}}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:eff3358a-0688-435d-a65c-549a0f9e113b"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/eff3358a-0688-435d-a65c-549a0f9e113b/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
