interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=meals-and-workouts-1.3
  response:
    body:
      string: '{"data":[{"id":"33026409-f49f-434d-bbab-19f462d077f7","type":"datasets","attributes":{"author":{"id":"aaa48df4-a85c-11eb-a14c-da7ad0900002"},"created_at":"2025-02-18T21:54:09.85518Z","current_version":96,"metadata":{"team":"ml-obs"},"name":"meals-and-workouts-1.3-alex","updated_at":"2025-04-08T17:02:17.627208Z"}},{"id":"74382738-8750-4b51-8885-88ae8491c12e","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-01-06T17:02:10.22236Z","current_version":0,"metadata":{"team":"ml-obs"},"name":"meals-and-workouts-1.3","updated_at":"2025-01-06T17:02:10.642166Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "datasets", "attributes": {"records": [{"input": "What
      is 1+1?", "expected_output": "2"}, {"input": "Capital of UK?", "expected_output":
      "London"}], "overwrite": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/33026409-f49f-434d-bbab-19f462d077f7/push
  response:
    body:
      string: '{"data":[{"id":"bb7a5069-c134-4575-947d-3d5aceb8c4fc","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:21.659224481Z","dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","expected_output":"2","input":"What
        is 1+1?","updated_at":"2025-04-08T17:02:21.659224481Z","version":96}},{"id":"d5f2a203-a638-4e72-895b-1f8bf2fb3347","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:21.659238799Z","dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","expected_output":"London","input":"Capital
        of UK?","updated_at":"2025-04-08T17:02:21.659238799Z","version":96}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/33026409-f49f-434d-bbab-19f462d077f7/records
  response:
    body:
      string: '{"data":[{"id":"bb7a5069-c134-4575-947d-3d5aceb8c4fc","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:21.659224Z","dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","expected_output":"2","input":"What
        is 1+1?","updated_at":"2025-04-08T17:02:21.659224Z"}},{"id":"d5f2a203-a638-4e72-895b-1f8bf2fb3347","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:21.659238Z","dataset_id":"33026409-f49f-434d-bbab-19f462d077f7","expected_output":"London","input":"Capital
        of UK?","updated_at":"2025-04-08T17:02:21.659238Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
