interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=test-push-large-05580c2a
  response:
    body:
      string: '{"data":[],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-push-large-05580c2a",
      "description": ""}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets
  response:
    body:
      string: '{"data":{"id":"2de803b0-e4d9-47ca-83eb-d85d0e927651","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:29.168562503Z","current_version":0,"name":"test-push-large-05580c2a","updated_at":"2025-04-08T17:02:29.168562503Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "datasets", "attributes": {"records": [{"input": "q0",
      "expected_output": "a0"}, {"input": "q1", "expected_output": "a1"}, {"input":
      "q2", "expected_output": "a2"}, {"input": "q3", "expected_output": "a3"}, {"input":
      "q4", "expected_output": "a4"}, {"input": "q5", "expected_output": "a5"}, {"input":
      "q6", "expected_output": "a6"}, {"input": "q7", "expected_output": "a7"}, {"input":
      "q8", "expected_output": "a8"}, {"input": "q9", "expected_output": "a9"}, {"input":
      "q10", "expected_output": "a10"}, {"input": "q11", "expected_output": "a11[...]
- request:
    body: '{"data": {"type": "datasets", "attributes": {"records": [{"input": "q300",
      "expected_output": "a300"}, {"input": "q301", "expected_output": "a301"}, {"input":
      "q302", "expected_output": "a302"}, {"input": "q303", "expected_output": "a303"},
      {"input": "q304", "expected_output": "a304"}], "overwrite": false}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/2de803b0-e4d9-47ca-83eb-d85d0e927651/push
  response:
    body:
      string: '{"data":[{"id":"d7510e92-0a7d-4bdd-b342-489fdf85279a","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:29.539318341Z","dataset_id":"2de803b0-e4d9-47ca-83eb-d85d0e927651","expected_output":"a300","input":"q300","updated_at":"2025-04-08T17:02:29.539318341Z","version":2}},{"id":"14c3ce1b-0d8f-41f0-989c-322d35f8338c","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:29.539333529Z","dataset_id":"2de803b0-e4d9-47ca-83eb-d85d0e927651","expected_output":"a301","input":"q301","updated_at":"2025-04-08T17:02:29.539333529Z","version":2}},{"id":"c8e089d1-038e-43e7-a9e8-7d65f6c89310","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:29.539336499Z","dataset_id":"2de803b0-e4d9-47ca-83eb-d85d0e927651","expected_output":"a302","input":"q302","updated_at":"2025-04-08T17:02:29.539336499Z","version":2}},{"id":"6a045c40-bfd1-487c-a621-57a8e81b6888","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:29.539340757Z","dataset_id":"2de803b0-e4d9-47ca-83eb-d85d0e927651","expected_output":"a303","input":"q303","updated_at":"2025-04-08T17:02:29.539340757Z","version":2}},{"id":"2c7cfab5-006a-4d4d-952c-f5d61035fb9d","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:29.539343235Z","dataset_id":"2de803b0-e4d9-47ca-83eb-d85d0e927651","expected_output":"a304","input":"q304","updated_at":"2025-04-08T17:02:29.539343235Z","version":2}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/2de803b0-e4d9-47ca-83eb-d85d0e927651/records
  response:
    body:
      string: '{"data":[{"id":"d7510e92-0a7d-4bdd-b342-489fdf85279a","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T17:02:29.539318Z","dataset_id":"2de803b0-e4d9-47ca-83eb-d85d0e927651","expected_outp[...]
[...]
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-push-large-a3b244aa",
      "description": ""}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets
  response:
    body:
      string: '{"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}'
    headers:
      content-type:
      - application/json
    status:
      code: 403
      message: Forbidden
[...]
- request:
    body: '{"data": {"type": "datasets", "attributes": {"records": [{"input": "q0",
      "expected_output": "a0"}, {"input": "q1", "expected_output": "a1"}, {"input":
      "q2", "expected_output": "a2"}, {"input": "q3", "expected_output": "a3"}, {"input":
      "q4", "expected_output": "a4"}, {"input": "q5", "expected_output": "a5"}, {"input":
      "q6", "expected_output": "a6"}, {"input": "q7", "expected_output": "a7"}, {"input":
      "q8", "expected_output": "a8"}, {"input": "q9[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]="test-push-large-465a878c"
  response:
    body:
      string: '{"data":[],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=test-push-large-6a25747e
  response:
    body:
      string: '{"data":[],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
