interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=synced-exp-test-dataset
  response:
    body:
      string: '{"data":[{"id":"749fac78-4f2c-4a66-9e01-63395909c71d","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T14:45:51.412479Z","current_version":1,"name":"synced-exp-test-dataset","updated_at":"2025-04-08T14:45:51.66126Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/749fac78-4f2c-4a66-9e01-63395909c71d/records
  response:
    body:
      string: '{"data":[{"id":"3ecf635b-b625-4d83-85b1-88a09ade4b54","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T14:45:51.512269Z","dataset_id":"749fac78-4f2c-4a66-9e01-63395909c71d","expected_output":"Paris","input":"Capital
        of France?","updated_at":"2025-04-08T14:45:51.512269Z"}},{"id":"000e4995-09b9-41a7-a4c1-5971a0bd1c8d","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2025-04-08T14:45:51.512255Z","dataset_id":"749fac78-4f2c-4a66-9e01-63395909c71d","expected_output":"2","input":"What
        is 1+1?","updated_at":"2025-04-08T14:45:51.512255Z"}}],"meta":{"after":""}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=synced-exp-test-dataset
  response:
    body:
      string: '{"data":[],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/033c3a68-c51d-4064-b941-78825cf83066/records
  response:
    body:
      string: '{"data":[{"id":"784bcd1a-6b0f-48c1-8063-7431455b659d","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T18:47:57.281416Z","dataset_id":"033c3a68-c51d-4064-b941-78825cf83066","expected_output":"2","input":"What
        is 1+1?","updated_at":"2025-05-05T18:47:57.281416Z"}},{"id":"49919f09-a3f9-4339-bdbe-85df9f5ec553","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-05T18:47:57.281426Z","dataset_id":"033c3a68-c51d-4064-b941-78825cf83066","expected_output":"Paris","input":"Capital
        of France?","updated_at":"2025-05-05T18:47:57.281426Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/datasets/b1dbeef8-632b-40e1-8990-3e8b367a5be5/records
  response:
    body:
      string: '{"data":[{"id":"508e4ac2-b4f3-4c99-8e89-90e844062804","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-12T14:48:54.585093Z","dataset_id":"b1dbeef8-632b-40e1-8990-3e8b367a5be5","expected_output":"Paris","input":"Capital
        of France?","updated_at":"2025-05-12T14:48:54.585093Z"}},{"id":"7e83fde1-ebbe-4268-a555-c8fc576e4fef","type":"datasets","attributes":{"author":{"id":"4834b5f9-a5ad-11ee-9dad-26da8082033c"},"created_at":"2025-05-12T14:48:54.585077Z","dataset_id":"b1dbeef8-632b-40e1-8990-3e8b367a5be5","expected_output":"2","input":"What
        is 1+1?","updated_at":"2025-05-12T14:48:54.585077Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
