interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"span_id": "6567977824535861090", "trace_id": "681908d900000000de356712bbe9fb48",
      "metric_type": "categorical", "timestamp_ms": 1746471129129, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "8895379391536284010",
      "trace_id": "681908d900000000d3c67dfd929455de", "metric_type": "categorical",
      "timestamp_ms": 1746471129130, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:e7e08dcd-58b6-46b2-87cb-0dec75a76c24"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/e7e08dcd-58b6-46b2-87cb-0dec75a76c24/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "4377341397361859323", "trace_id": "681930730000000016ecc9e7194e8086",
      "metric_type": "categorical", "timestamp_ms": 1746481267881, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "3233072081192883845",
      "trace_id": "68193073000000007228ba93c791789a", "metric_type": "categorical",
      "timestamp_ms": 1746481267883, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:440d9f4b-8f72-473f-bf21-21aff4601715"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/440d9f4b-8f72-473f-bf21-21aff4601715/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
