interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"metric_source": "summary", "metric_type": "score", "timestamp_ms":
      1744132057354, "label": "overall_accuracy", "score_value": 0.85, "error": null}],
      "tags": ["ddtrace.version:3.4.0.dev129+g96662098f.d20250407", "experiment_id:d3671e6c-61a8-428d-b2ca-40870f7f75f8"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/d3671e6c-61a8-428d-b2ca-40870f7f75f8/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"metric_source": "summary", "metric_type": "score", "timestamp_ms":
      1744135062805, "label": "overall_accuracy", "score_value": 0.85, "error": null}],
      "tags": ["ddtrace.version:3.4.0.dev129+g96662098f.d20250407", "experiment_id:b983f0a0-f17d-410d-bf6b-484c21cf5fd2"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/b983f0a0-f17d-410d-bf6b-484c21cf5fd2/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
