interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"span_id": "13400355286266753651", "trace_id": "681908c2000000001b6bea1528cdf25b",
      "metric_type": "categorical", "timestamp_ms": 1746471106137, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "6628422458586664941",
      "trace_id": "681908c2000000007643f3f8e760a855", "metric_type": "categorical",
      "timestamp_ms": 1746471106139, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:4f19f967-0b3f-4c70-8056-4e84734aad2e"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/4f19f967-0b3f-4c70-8056-4e84734aad2e/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
[...]
{"scope": "experiments",
      "metrics": [{"span_id": "17990468381140382738", "trace_id": "6819305a00000000a9ff989b5bf71a38",
      "metric_type": "categorical", "timestamp_ms": 1746481242904, "label": "simple_match_evaluator",
      "categorical_value": "false", "error": null}, {"span_id": "154812332467833112",
      "trace_id": "6819305a000000008da806327b60d036", "metric_type": "categorical",
      "timestamp_ms": 1746481242905, "label": "simple_match_evaluator", "categorical_value":
      "false", "error": null}], "tags": ["ddtrace.version:3.4.0.dev284+gabe7934be",
      "experiment_id:ced77710-24a4-45b4-8d5b-0292457a2a9d"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us3.datadoghq.com/api/unstable/llm-obs/v1/experiments/ced77710-24a4-45b4-8d5b-0292457a2a9d/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
