interactions:
- request:
    body: '[{"timestamp": 1682232053965.313, "message": "test msg", "hostname": "dev-mbp",
      "ddsource": "python", "service": "", "status": "info", "ddtags": ""}, {"timestamp":
      1682232053965.3142, "message": "test msg", "hostname": "dev-mbp", "ddsource":
      "python", "service": "", "status": "info", "ddtags": ""}]'
    headers:
      Content-Type:
      - application/json
      DD-API-KEY:
      - XXXXXX
    method: POST
    uri: https://http-intake.logs.datadoghq.com/api/v2/logs
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '[{"timestamp": 1682232054170.752, "message": "test msg", "hostname": "dev-mbp",
      "ddsource": "python", "service": "", "status": "info", "ddtags": ""}, {"timestamp":
      1682232054170.756, "message": "test msg", "hostname": "dev-mbp", "ddsource":
      "python", "service": "", "status": "info", "ddtags": ""}]'
    headers:
      Content-Type:
      - application/json
      DD-API-KEY:
      - XXXXXX
    method: POST
    uri: https://http-intake.logs.datadoghq.com/api/v2/logs
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
