interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter[name]=meal-calorie-dataset-multilingual-3
  response:
    body:
      string: '{"data":[{"id":"f61953f8-43de-4a99-bcaf-0b145471dcb0","type":"datasets","attributes":{"author":{"id":"8855edca-05df-11ec-bea0-da7ad0900002"},"created_at":"2024-11-05T15:57:29.145601Z","description":"A
        dataset of meals and their expected calories","metadata":{"team":"ml-obs"},"name":"meal-calorie-dataset-multilingual-3","updated_at":"2024-11-05T15:57:29.222045Z"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/f61953f8-43de-4a99-bcaf-0b145471dcb0/records
  response:
    body:
      string: "{\"data\":[{\"id\":\"92ada783-c6c7-42c3-97c7-a64a2341aadd\",\"type\":\"datasets\",\"attributes\":{\"author\":{\"id\":\"8855edca-05df-11ec-bea0-da7ad0900002\"},\"created_at\":\"2024-11-05T15:57:29.199538Z\",\"dataset_id\":\"f61953f8-43de-4a99-bcaf-0b145471dcb0\",\"expected_output\":{\"calories\":1100},\"input\":{\"user_input\":\"had
        a big mac with medium fries and a coke for lunch\"},\"updated_at\":\"2024-11-05T15:57:29.199538Z\"}},{\"id\":\"450af99c-c56e-4b81-a466-eb1ec69b7ad4\",\"type\":\"datasets\",\"attributes\":{\"author\":{\"id\":\"8855edca-05df-11ec-bea0-da7ad0900002\"},\"created_at\":\"2024-11-05T15:57:29.199538Z\",\"dataset_id\":\"f61953f8-43de-4a99-bcaf-0b145471dcb0\",\"expected_output\":{\"calories\":416},\"input\":{\"user_input\":\"breakfast:
        2 eggs, toast with butter, and black coffee\"},\[...]
