interactions:
- request:
    body: '{"prompt": "Why does everyone in Bikini Bottom hate Plankton?", "stopSequences":
      [], "temperature": 0.7, "maxTokens": 256, "minTokens": 0, "topP": 1.0, "presencePenalty":
      {"scale": 0, "applyToWhitespaces": true, "applyToPunctuations": true, "applyToNumbers":
      true, "applyToStopwords": true, "applyToEmojis": true}, "countPenalty": {"scale":
      0, "applyToWhitespaces": true, "applyToPunctuations": true, "applyToNumbers":
      true, "applyToStopwords": true, "applyToEmojis": true}, "frequencyPenalty":
      {"scale": 0, "applyToWhitespaces": true, "applyToPunctuations": true, "applyToNumbers":
      true, "applyToStopwords": true, "applyToEmojis": true}, "numResults": 1, "logitBias":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ai21.com/studio/v1/j2-jumbo-instruct/complete
  response:
    body:
      string: "{\"id\":\"c3e5117c-8d76-5f9e-79cd-91051f840d8a\",\"prompt\":{\"text\":\"Why
        does everyone in Bikini Bottom hate Plankton?\",\"tokens\":[{\"generatedToken\":{\"token\":\"\u2581Why\u2581does\",\"logprob\":-10.208540916442871,\"raw_logprob\":-10.208540916442871},\"topTokens\":null,\"textRange\":{\"start\":0,\"end\":8}},{\"generatedToken\":{\"token\":\"\u2581everyone\",\"logprob\":-5.55824089050293,\"raw_logprob\":-5.55824089050293},\"topTokens\":null,\"textRange\":{\"start\":8,\"end\":17}},{\"generatedToken\":{\"token\":\"\u2581in\",\"logprob\":-5.1295318603515625,\"raw_logprob\":-5.1295318603515625},\"topTokens\":null,\"textRange\":{\"start\":17,\"end\":20}},{\"generatedToken\":{\"token\":\"\u2581Bikini\",\"logprob\":-7.318790435791016,\"raw_logprob\":-7.318790435791016},\"topTokens\":null,\"textRange\":{\"start\":20,\"end\":27}},{\"generatedToken\":{\"token\":\"\u2581Bottom\",\"logprob\":-0.01663598231971264,\"raw_logprob\":-0.01663598231971264},\"topTokens\":null,\"textRange\":{\"start\":27,\"end\":34}},{\"generatedToken\":{\"token\":\"\u2581hate\",\"logprob\":-1.3611352443695068,\"raw_logprob\":-1.3611352443695068},\"topTokens\":null,\"textRange\":{\"start\":34,\"end\":39}},{\"generatedToken\":{\"token\":\"\u2581Plank\",\"logprob\":-0.3689423203468323,\"raw_logprob\":-0.3689423203468323},\"topTokens\":null,\"textRange\":{\"start\":39,\"end\":45}},{\"generatedToken\":{\"token\":\"ton\",\"logprob\":-0.0021787970326840878,\"raw_logprob\":-0.0021787970326840878},\"topTokens\":null,\"textRange\":{\"start\":45,\"end\":48}},{\"generatedToken\":{\"token\":\"?\",\"logprob\":-5.5226898193359375,\"raw_logprob\":-5.5226898193359375},\"topTokens\":null,\"textRange\":{\"start\":48,\"end\":49}}]},\"completions\":[{\"data\":{\"text\":\"\\nPlankton
        is a character in the animated television show SpongeBob SquarePants. He is
        the owner of The Chum Bucket, a fast food restaurant located across the street
        from the successful Krusty Krab. Plankton is known for his small size and
        his evil plots to steal the secret formula for the Krabby Patty from Mr. Krabs,
        the owner of the Krusty Krab. While Plankton is not inherently evil in the
        show, his actions are often motivated by his[...]
