.services:
  ddagent:
    name: registry.ddbuild.io/images/mirror/datadog/agent:7.40.1
    alias: ddagent
    variables:
      DD_HOSTNAME: ddagent
      LOG_LEVEL: ERROR
      DD_REMOTE_CONFIGURATION_ENABLED: true
      DD_SITE: datadoghq.com
      DD_API_KEY: invalid_but_this_is_fine
      DD_REMOTE_CONFIGURATION_KEY: invalid_but_this_is_fine
      DD_REMOTE_CONFIGURATION_REFRESH_INTERVAL: 5s
      DD_DOGSTATSD_NON_LOCAL_TRAFFIC: true
  testagent:
    name: registry.ddbuild.io/images/mirror/dd-apm-test-agent/ddapm-test-agent:v1.21.0
    alias: testagent
    variables:
      LOG_LEVEL: INFO
      SNAPSHOT_DIR: ${CI_PROJECT_DIR}/tests/snapshots
      SNAPSHOT_CI: 1
      PORT: 9126
      DD_POOL_TRACE_CHECK_FAILURES: true
      DD_DISABLE_ERROR_RESPONSES: true
      ENABLED_CHECKS: trace_content_length,trace_stall,meta_tracer_version_header,trace_count_header,trace_peer_service,trace_dd_service
      SNAPSHOT_IGNORED_ATTRS: span_id,trace_id,parent_id,duration,start,metrics.system.pid,metrics.system.process_id,metrics.process_id,meta.runtime-id,meta._dd.p.tid,meta.pathway.hash,metrics._dd.tracer_kr,meta._dd.parent_id,meta.kafka.cluster_id
  mongo:
    name: registry.ddbuild.io/images/mirror/mongo:6.0.5
    alias: mongo
  redis:
    name: registry.ddbuild.io/redis:7.0.7
    alias: redis
  kafka:
    name: registry.ddbuild.io/images/mirror/apache/kafka:3.8.0
    alias: kafka
    variables:
      ALLOW_PLAINTEXT_LISTENER: yes
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,EXTERNAL://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_NODE_ID: 1
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      CLUSTER_ID: 5L6g3nShT-eMCtK--X86sw
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
  httpbin_local:
    name: registry.ddbuild.io/images/mirror/mccutchen/go-httpbin:v2.14.1
    alias: httpbin-local
    variables:
      PORT: 8001
  memcached:
    name: registry.ddbuild.io/images/mirror/library/memcached:1.5-alpine
    alias: memcached
  rediscluster:
    name: registry.ddbuild.io/images/mirror/grokzen/redis-cluster:6.2.0
    alias: rediscluster
  elasticsearch:
    name: registry.ddbuild.io/images/mirror/library/elasticsearch:7.17.23
    alias: elasticsearch
    variables:
      discovery.type: single-node
      xpack.security.enabled: false
  opensearch:
    name: registry.ddbuild.io/images/mirror/opensearchproject/opensearch:1.3.13
    alias: opensearch
    variables:
      DISABLE_SECURITY_PLUGIN: true
      discovery.type: single-node
      http.port: 9201
  postgres:
    name: registry.ddbuild.io/images/mirror/postgres:12-alpine
    alias: postgres
    variables:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
  rabbitmq:
    name: registry.ddbuild.io/images/mirror/rabbitmq:3.12.7-management-alpine
    alias: rabbitmq
  mysql:
    name: registry.ddbuild.io/images/mirror/mysql:5.7
    alias: mysql
    variables:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_PASSWORD: test
      MYSQL_USER: test
      MYSQL_DATABASE: test
  cassandra:
    name: registry.ddbuild.io/images/mirror/cassandra:3.11.3
    alias: cassandra
    variables:
      MAX_HEAP_SIZE: 512M
      HEAP_NEWSIZE: 256M
  localstack:
    name: registry.ddbuild.io/images/mirror/localstack:1.4.0
    alias: localstack
    variables:
      LAMBDA_EXECUTOR: local
      DOCKER_HOST: unix:///var/run/docker.sock
  mariadb:
    name: registry.ddbuild.io/images/mirror/mariadb:lts
    alias: mariadb
    variables:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: test
      MYSQL_USER: test
      MYSQL_PASSWORD: test
  consul:
    name: registry.ddbuild.io/images/mirror/consul:1.6.0
    alias: consul
  moto:
    name: registry.ddbuild.io/images/mirror/moto:5.1.0
    alias: moto
    variables:
      MOTO_PORT: 3000
