.services:
  ddagent:
    name: datadog/agent:latest
    alias: ddagent
    variables:
      DD_HOSTNAME: ddagent
      LOG_LEVEL: ERROR
      DD_REMOTE_CONFIGURATION_ENABLED: true
      DD_SITE: datadoghq.com
      DD_API_KEY: invalid_but_this_is_fine
      DD_REMOTE_CONFIGURATION_KEY: invalid_but_this_is_fine
      DD_REMOTE_CONFIGURATION_REFRESH_INTERVAL: 5s
      DD_DOGSTATSD_NON_LOCAL_TRAFFIC: true
  testagent:
    name: ghcr.io/datadog/dd-apm-test-agent/ddapm-test-agent:v1.17.0
    alias: testagent
    variables:
      LOG_LEVEL: INFO
      SNAPSHOT_DIR: ${CI_PROJECT_DIR}/tests/snapshots
      SNAPSHOT_CI: 1
      PORT: 9126
      DD_POOL_TRACE_CHECK_FAILURES: true
      DD_DISABLE_ERROR_RESPONSES: true
      ENABLED_CHECKS: trace_content_length,trace_stall,meta_tracer_version_header,trace_count_header,trace_peer_service,trace_dd_service
  redis:
    name: registry.ddbuild.io/redis:7.0.7
    alias: redis
  rediscluster:
    name: registry.ddbuild.io/images/mirror/grokzen/redis-cluster:6.2.0
    alias: rediscluster
  kafka:
    name: registry.ddbuild.io/kafka:3.4.1
    alias: kafka
  httpbin_local:
    name: registry.ddbuild.io/images/mirror/kennethreitz/httpbin:1
    alias: httpbin_local
