interactions:
- request:
    body: success_url=https%3A%2F%2Fexample.com%2Fsuccess&line_items[0][price_data][currency]=eur&line_items[0][price_data][product_data][name]=Demo+Product&line_items[0][price_data][unit_amount]=1000&line_items[0][price_data][recurring][interval]=month&line_items[0][price_data][recurring][interval_count]=1&line_items[0][quantity]=2&mode=subscription
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b15e6dd7-675c-4583-932b-cf0d1618ad23
      Stripe-Version:
      - 2025-11-17.clover
    method: POST
    uri: https://api.stripe.com/v1/checkout/sessions
  response:
    body:
      string: '{"id": "cs_test_a1PKT3M2mMHB2VExfDMZsE1me3Ihq3r2f1oscrQOrTr0GUiOrgGKGSaHJM",
        "object": "checkout.session", "adaptive_pricing": {"enabled": false}, "after_expiration":
        null, "allow_promotion_codes": null, "amount_subtotal": 2000, "amount_total":
        2000, "automatic_tax": {"enabled": false, "liability": null, "provider": null,
        "status": null}, "billing_address_collection": null, "branding_settings":
        {"background_color": "#ffffff", "border_style": "rounded", "button_color":
        "#0074d4", "display_name": "", "font_family": "default", "icon": null, "logo":
        null}, "cancel_url": null, "client_reference_id": null, "client_secret": "redacted",
        "collected_information": null, "consent": null, "consent_collection": null,
        "created": 1765976093, "currency": "eur", "currency_conversion": null, "custom_fields":
        [], "custom_text": {"after_submit": null, "shipping_address": null, "submit":
        null, "terms_of_service_acceptance": null}, "customer": null, "customer_account":
        null, "customer_creation": "always", "customer_details": null, "customer_email":
        null, "discounts": [], "expires_at": 1766062493, "invoice": null, "invoice_creation":
        null, "livemode": false, "locale": null, "metadata": {}, "mode": "subscription",
        "origin_context": null, "payment_intent": null, "payment_link": null, "payment_method_collection":
        "always", "payment_method_configuration_details": {"id": "pmc_1SdSuoAiRiHgXZJiX2GuVMpZ",
        "parent": null}, "payment_method_options": {"card": {"request_three_d_secure":
        "automatic"}}, "payment_method_types": ["card", "klarna", "link", "amazon_pay"],
        "payment_status": "unpaid", "permissions": null, "phone_number_collection":
        {"enabled": false}, "recovered_from": null, "saved_payment_method_options":
        {"allow_redisplay_filters": ["always"], "payment_method_remove": "disabled",
        "payment_method_save": null}, "setup_intent": null, "shipping_address_collection":
        null, "shipping_cost": null, "shipping_options": [], "status": "open", "submit_type":
        null, "subscription": null, "success_url": "https://example.com/success",
        "total_details": {"amount_discount": 0, "amount_shipping": 0, "amount_tax":
        0}, "ui_mode": "hosted", "url": "https://checkout.stripe.com/c/pay/cs_test_a1PKT3M2mMHB2VExfDMZsE1me3Ihq3r2f1oscrQOrTr0GUiOrgGKGSaHJM#fidnandhYHdWcXxpYCc%2FJ2FgY2RwaXEnKSdkdWxOYHwnPyd1blpxYHZxWjA0VmFWcExEbFdsTWJdX09sdVZEPFJsa3NXdTBrPDFCTW11RG1wZHBBSmg2a09ndzRUdXxGcTV%2FcFNsX3EycmlBPF1KU21oUHVXajJER1BXZlRDd31ufTN8NTVrZ2Y9a2ZrNycpJ2N3amhWYHdzYHcnP3F3cGApJ2dkZm5id2pwa2FGamlqdyc%2FJyZjY2NjY2MnKSdpZHxqcHFRfHVgJz8ndmxrYmlgWmxxYGgnKSdga2RnaWBVaWRmYG1qaWFgd3YnP3F3cGB4JSUl",
        "wallet_options": null}'
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b15e6dd7-675c-4583-932b-cf0d1618ad23
      Original-Request:
      - req_sOgvrt5q24NxGb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-11-17.clover
      X-Wc:
      - ABGHIJ
    status:
      code: 200
      message: OK
version: 1
