interactions:
- request:
    body: success_url=https%3A%2F%2Fexample.com%2Fsuccess&currency=eur&mode=setup
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0cd69d65-4be9-4d2f-9478-0ecd447fdabe
      Stripe-Version:
      - 2025-11-17.clover
    method: POST
    uri: https://api.stripe.com/v1/checkout/sessions
  response:
    body:
      string: '{"id": "cs_test_c1TBx7KB7KsicRHhfMLVtDH4vZm23QuXe6qn4Fq3SF7EEW4pxofjn1Hv6P",
        "object": "checkout.session", "adaptive_pricing": {"enabled": false}, "after_expiration":
        null, "allow_promotion_codes": null, "amount_subtotal": null, "amount_total":
        null, "automatic_tax": {"enabled": false, "liability": null, "provider": null,
        "status": null}, "billing_address_collection": null, "branding_settings":
        {"background_color": "#ffffff", "border_style": "rounded", "button_color":
        "#0074d4", "display_name": "", "font_family": "default", "icon": null, "logo":
        null}, "cancel_url": null, "client_reference_id": null, "client_secret": "redacted",
        "collected_information": null, "consent": null, "consent_collection": null,
        "created": 1765976092, "currency": "eur", "currency_conversion": null, "custom_fields":
        [], "custom_text": {"after_submit": null, "shipping_address": null, "submit":
        null, "terms_of_service_acceptance": null}, "customer": null, "customer_account":
        null, "customer_creation": "if_required", "customer_details": null, "customer_email":
        null, "discounts": null, "expires_at": 1766062492, "invoice": null, "invoice_creation":
        null, "livemode": false, "locale": null, "metadata": {}, "mode": "setup",
        "origin_context": null, "payment_intent": null, "payment_link": null, "payment_method_collection":
        "always", "payment_method_configuration_details": {"id": "pmc_1SdSuoAiRiHgXZJiX2GuVMpZ",
        "parent": null}, "payment_method_options": {"card": {"request_three_d_secure":
        "automatic"}}, "payment_method_types": ["card", "bancontact", "klarna", "link",
        "amazon_pay"], "payment_status": "no_payment_required", "permissions": null,
        "phone_number_collection": {"enabled": false}, "recovered_from": null, "saved_payment_method_options":
        null, "setup_intent": "seti_1SfKFkAiRiHgXZJiOW1ycLBm", "shipping_address_collection":
        null, "shipping_cost": null, "shipping_options": [], "status": "open", "submit_type":
        null, "subscription": null, "success_url": "https://example.com/success",
        "total_details": null, "ui_mode": "hosted", "url": "https://checkout.stripe.com/c/pay/cs_test_c1TBx7KB7KsicRHhfMLVtDH4vZm23QuXe6qn4Fq3SF7EEW4pxofjn1Hv6P#fidnandhYHdWcXxpYCc%2FJ2FgY2RwaXEnKSdkdWxOYHwnPyd1blpxYHZxWjA0VmFWcExEbFdsTWJdX09sdVZEPFJsa3NXdTBrPDFCTW11RG1wZHBBSmg2a09ndzRUdXxGcTV%2FcFNsX3EycmlBPF1KU21oUHVXajJER1BXZlRDd31ufTN8NTVrZ2Y9a2ZrNycpJ2N3amhWYHdzYHcnP3F3cGApJ2dkZm5id2pwa2FGamlqdyc%2FJyZjY2NjY2MnKSdpZHxqcHFRfHVgJz8ndmxrYmlgWmZqaXBoaycpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl",
        "wallet_options": null}'
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0cd69d65-4be9-4d2f-9478-0ecd447fdabe
      Original-Request:
      - req_CdeCd9G9TInQrp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-11-17.clover
      X-Wc:
      - ABGHIJ
    status:
      code: 200
      message: OK
version: 1
