interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "610e1456-9a9f-41f5-bfa4-97ec401b7c33",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": {"difficulty":
      "easy"}}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/610e1456-9a9f-41f5-bfa4-97ec401b7c33/batch_update
  response:
    body:
      string: '{"data":[{"id":"557a8b28-5e85-4cca-814e-95044f38b5a8","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:48:14.541562569Z","dataset_id":"610e1456-9a9f-41f5-bfa4-97ec401b7c33","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{"difficulty":"easy"},"updated_at":"2025-09-09T02:48:14.541562569Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
