interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/9e357184-88a0-4d7b-9563-a65e65a397cb/records
  response:
    body:
      string: '{"data":[{"id":"ec83e304-1536-44b4-bc9f-9721fd7e00e9","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:52:17.50331Z","dataset_id":"9e357184-88a0-4d7b-9563-a65e65a397cb","expected_output":"","input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T02:52:17.50331Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
