interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "16a389b7-9448-4377-a669-0fabc14cbe47",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/16a389b7-9448-4377-a669-0fabc14cbe47/batch_update
  response:
    body:
      string: '{"data":[{"id":"8cdd518c-18f1-40d7-bc44-d13a5bee7a1a","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"4ae6ce4f-a438-4d6f-824c-41a304aff88c","created_at":"2026-02-27T16:34:31.849057456Z","dataset_id":"16a389b7-9448-4377-a669-0fabc14cbe47","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-02-27T16:34:31.849057456Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
