interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "c690837e-36f6-4eb3-bc28-7d8be7b35669",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/c690837e-36f6-4eb3-bc28-7d8be7b35669/batch_update
  response:
    body:
      string: '{"data":[{"id":"e09fc168-0ffd-4cdb-900a-f528bc2d5ff7","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"bccdb270-f3b4-4c04-9b77-0b706da1f2ad","created_at":"2026-02-20T04:45:22.943866441Z","dataset_id":"c690837e-36f6-4eb3-bc28-7d8be7b35669","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-20T04:45:22.943866441Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
