interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "5e12e86a-c3b5-4e0f-86c8-d101fb882f74",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/5e12e86a-c3b5-4e0f-86c8-d101fb882f74/batch_update
  response:
    body:
      string: '{"data":[{"id":"400269ee-0c3d-42f3-bd02-23d893a2686b","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"cd90dc17-bd0f-4688-8359-ddf14f3075f0","created_at":"2026-02-11T20:52:22.878666986Z","dataset_id":"5e12e86a-c3b5-4e0f-86c8-d101fb882f74","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:52:22.878666986Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
