interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "059e448e-d43e-4306-be6f-b8c30d6359a1",
      "attributes": {"insert_records": [], "update_records": [{"input": {"prompt":
      "What is the capital of Germany?"}, "expected_output": {"answer": "Berlin"},
      "metadata": null, "id": "fe08f7ea-154a-491d-8a3c-aced9353d31b"}, {"input": {"prompt":
      "What is the capital of Mexico?"}, "expected_output": "", "metadata": {"difficulty":
      "easy"}, "id": "c72767af-2b79-4f7e-b8f1-000daae74496"}], "delete_records": [],
      "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/059e448e-d43e-4306-be6f-b8c30d6359a1/batch_update
  response:
    body:
      string: '{"data":[{"id":"1329901d-3491-403b-aa37-348ace6f6367","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"2d40cbcc-ea52-47c2-889a-7ce3194aa0ad","created_at":"2026-02-18T06:05:12.353958713Z","dataset_id":"059e448e-d43e-4306-be6f-b8c30d6359a1","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"tags":[],"updated_at":"2026-02-18T06:05:12.353958787Z","version":2}},{"id":"ff16d220-69c5-4afa-b9be-c54e163ee085","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"704e6a24-fd1d-4322-806c-62643b261f8a","created_at":"2026-02-18T06:05:12.353977553Z","dataset_id":"059e448e-d43e-4306-be6f-b8c30d6359a1","expected_output":"","input":{"prompt":"What
        is the capital of Mexico?"},"metadata":{"difficulty":"easy"},"tags":[],"updated_at":"2026-02-18T06:05:12.353977626Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
