interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "1ebc4710-c5a1-4487-b56f-25ecefcc1bf1",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["f681d2a5-01aa-4369-b760-5eed65ae632d"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/1ebc4710-c5a1-4487-b56f-25ecefcc1bf1/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
