interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-test_ds_repl_tags_new_rec",
      "description": "A test dataset"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets
  response:
    body:
      string: '{"data":{"id":"c536fedb-b1d9-4053-a362-c275a39d1211","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2026-03-05T19:58:45.71344558Z","current_version":0,"description":"A
        test dataset","name":"test-dataset-test_ds_repl_tags_new_rec","project_id":"569aa33c-7acf-4061-abd0-4f2078e61ee8","updated_at":"2026-03-05T19:58:45.71344558Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
