interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9/datasets?filter%5Bname%5D=test-dataset-test_dataset_delete_after_update%5Btest_dataset_records0%5D-v2
  response:
    body:
      string: '{"data":[{"id":"175818a4-8155-4084-9723-a2d4047d63d7","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"created_at":"2026-02-11T20:53:29.417916Z","current_version":2,"dataset_type":"user","description":"A
        test dataset","name":"test-dataset-test_dataset_delete_after_update[test_dataset_records0]-v2","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","updated_at":"2026-02-11T20:53:37.791541Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
