interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "c7e92120-edec-4585-bcee-f8c26d49a826",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Italy?"}, "expected_output": {"answer": "Rome"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/c7e92120-edec-4585-bcee-f8c26d49a826/batch_update
  response:
    body:
      string: '{"data":[{"id":"99ff4b58-864e-4dd0-8058-51ddecda7ae6","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"9d1f2e14-215e-4548-b085-4e65815ef312","created_at":"2026-02-18T06:24:14.340319841Z","dataset_id":"c7e92120-edec-4585-bcee-f8c26d49a826","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-18T06:24:14.340319841Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
