interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-857-tags",
      "description": "A boston dataset with tags"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/3a1a13ae-9bf7-4953-8f09-2e0235836d11/datasets
  response:
    body:
      string: '{"data":{"id":"8cbd1b8c-e858-4ae0-9347-bcbc02fc17dc","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2026-02-20T06:52:28.795096183Z","current_version":0,"description":"A
        boston dataset with tags","name":"test-dataset-857-tags","project_id":"3a1a13ae-9bf7-4953-8f09-2e0235836d11","updated_at":"2026-02-20T06:52:28.795096183Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
