interactions:
- request:
    body: "------------boundary------\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"tmp.csv\"\r\nContent-Type: text/csv\r\n\r\ninput,expected_output,metadata\r\n\"{\"\"in0\"\":
      \"\"r0v1\"\", \"\"in1\"\": \"\"r0v2\"\", \"\"in2\"\": \"\"r0v3\"\"}\",\"{\"\"out0\"\":
      \"\"r0v4\"\", \"\"out1\"\": \"\"r0v5\"\"}\",\"{\"\"m0\"\": \"\"r0v6\"\"}\"\r\n\"{\"\"in0\"\":
      \"\"r1v1\"\", \"\"in1\"\": \"\"r1v2\"\", \"\"in2\"\": \"\"r1v3\"\"}\",\"{\"\"out0\"\":
      \"\"r1v4\"\", \"\"out1\"\": \"\"r1v5\"\"}\",\"{\"\"m0\"\": \"\"r1v6\"\"}\"\r\n\r\n------------boundary--------\r\n"
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - multipart/form-data; boundary=----------boundary------
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/2217cb92-6540-47bb-90bb-c7243fc0762c/records/upload
  response:
    body:
      string: '{"data":{"id":"8c43a1a4-971b-46a5-9fb3-ed29172f7af2","type":"dataset_version","attributes":{"dataset_id":"2217cb92-6540-47bb-90bb-c7243fc0762c","last_used":"2026-02-11T20:50:43.075529773Z","version_number":1}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
