interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/d0a66837-e303-4060-8869-e280f8c6c412/records
  response:
    body:
      string: '{"data":[{"id":"300d0dad-2644-48a9-9d74-49eef9b7def1","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:04:49.892198Z","dataset_id":"d0a66837-e303-4060-8869-e280f8c6c412","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"updated_at":"2025-09-09T01:04:49.892198Z"}},{"id":"d171acfd-ca0c-4587-a3aa-e1af306b7ff3","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:04:49.892218Z","dataset_id":"d0a66837-e303-4060-8869-e280f8c6c412","expected_output":"","input":{"prompt":"What
        is the capital of Mexico?"},"metadata":{"difficulty":"easy"},"updated_at":"2025-09-09T01:04:49.892218Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
