interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "612e5bc7-642b-4c93-a350-2bab8397f66b",
      "attributes": {"insert_records": [], "update_records": [{"input": {"prompt":
      "What is the capital of Germany?"}, "expected_output": {"answer": "Berlin"},
      "metadata": null, "id": "eed9130a-3bdc-4ed6-8ef3-7297a0e0e3b5"}], "delete_records":
      []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/612e5bc7-642b-4c93-a350-2bab8397f66b/batch_update
  response:
    body:
      string: '{"data":[{"id":"57d8f978-cde6-403f-b5cb-2bdb9faa2361","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:51:24.458355245Z","dataset_id":"612e5bc7-642b-4c93-a350-2bab8397f66b","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"updated_at":"2025-08-06T20:51:24.458355319Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
