interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_experiment",
      "description": "", "dataset_id": "0969efc9-f104-45cc-b955-25b329e91293", "project_id":
      "c4b49fb5-7b16-46e1-86f0-de5800e8a56c", "dataset_version": 1, "config": {},
      "metadata": {"tags": ["ddtrace.version:1.2.3", "project_id:c4b49fb5-7b16-46e1-86f0-de5800e8a56c"]},
      "ensure_unique": true, "run_count": 1}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"bfec4024-c9ec-4131-aff9-9dc988d52c01","type":"experiments","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"config":{},"created_at":"2025-12-05T19:05:15.980153107Z","dataset_id":"0969efc9-f104-45cc-b955-25b329e91293","dataset_version":1,"description":"","experiment":"test_experiment","metadata":{"tags":["ddtrace.version:1.2.3","project_id:c4b49fb5-7b16-46e1-86f0-de5800e8a56c"]},"name":"test_experiment-1764961515980","project_id":"c4b49fb5-7b16-46e1-86f0-de5800e8a56c","updated_at":"2025-12-05T19:05:15.980153189Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
