interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "fae1f44d-d399-4f08-b092-93c3f69407e6",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/fae1f44d-d399-4f08-b092-93c3f69407e6/batch_update
  response:
    body:
      string: '{"data":[{"id":"f8ea4384-882c-44b7-96a8-3a59752bd80d","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:51:51.937915864Z","dataset_id":"fae1f44d-d399-4f08-b092-93c3f69407e6","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-08-06T20:51:51.937915864Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
