interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "db24fce1-b84d-412d-9724-c8da397f545a",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["bd2bd0ed-1b43-43ce-978b-fa7ba79bcf48"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/db24fce1-b84d-412d-9724-c8da397f545a/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
