interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-2",
      "description": "A second test dataset"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/97aeb674-3464-45a7-a1eb-5ba857779c54/datasets
  response:
    body:
      string: '{"data":{"id":"28acc97e-4d31-421d-893e-5da3e3a59465","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:32:00.950884448Z","current_version":0,"description":"A
        second test dataset","name":"test-dataset-2","project_id":"97aeb674-3464-45a7-a1eb-5ba857779c54","updated_at":"2025-09-09T04:32:00.950884448Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
