interactions:
- request:
    body: '{"data": {"type": "projects", "attributes": {"name": "test-project-dne-sdk",
      "description": ""}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/projects
  response:
    body:
      string: '{"data":{"id":"905824bc-ccec-4444-a48d-401931d5065b","type":"projects","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-07-22T23:28:17.093498Z","name":"test-project-dne-sdk","updated_at":"2025-07-22T23:28:17.093498Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
