interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/a14fa7c0-e16c-4781-800d-e37d61d8837d/records
  response:
    body:
      string: '{"data":[{"id":"aae28efd-7929-4de7-88bf-35ca486cb6d6","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"eb470caa-efc2-4976-b7c4-81e1ca590af3","created_at":"2026-02-20T04:45:19.612298Z","dataset_id":"a14fa7c0-e16c-4781-800d-e37d61d8837d","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2026-02-20T04:45:19.612298Z"}},{"id":"8b267a29-e575-40b3-9c2e-fd05dce7bdfa","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"c6d3d04b-5b11-49fd-8876-feadc79aea0e","created_at":"2026-02-20T04:45:15.376002Z","dataset_id":"a14fa7c0-e16c-4781-800d-e37d61d8837d","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2026-02-20T04:45:15.376002Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
