interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "a672d64f-b809-4904-b518-4ccaac15391a",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Italy?"}, "expected_output": {"answer": "Rome"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/a672d64f-b809-4904-b518-4ccaac15391a/batch_update
  response:
    body:
      string: '{"data":[{"id":"ab712a62-00cd-4bd1-bcb5-3dab9cbb84af","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"747d5203-0b25-4ee8-8852-7327b6857fb5","created_at":"2026-02-18T06:05:41.446723489Z","dataset_id":"a672d64f-b809-4904-b518-4ccaac15391a","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-18T06:05:41.446723489Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
