interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "66e52899-01fd-4b36-89b2-25a580bfd3f9",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/66e52899-01fd-4b36-89b2-25a580bfd3f9/batch_update
  response:
    body:
      string: '{"data":[{"id":"1f1e5435-24fb-4343-95ac-e8111b76d085","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:06:05.359354604Z","dataset_id":"66e52899-01fd-4b36-89b2-25a580bfd3f9","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T01:06:05.359354604Z","version":1}},{"id":"e93787fd-3fa2-41cc-b18d-81aedab8f0ff","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:06:05.359354604Z","dataset_id":"66e52899-01fd-4b36-89b2-25a580bfd3f9","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-09-09T01:06:05.359354604Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
