interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/6ad8735c-c9f6-4752-8b6d-a5bef4084345/records
  response:
    body:
      string: '{"data":[{"id":"654f40ee-9009-429e-bdc7-7cad52d54dc0","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-02-20T04:43:59.67587Z","dataset_id":"6ad8735c-c9f6-4752-8b6d-a5bef4084345","expected_output":{},"input":{"in0":"r0v1","in1":"r0v2","in2":"r0v3"},"metadata":{},"updated_at":"2026-02-20T04:43:59.67587Z"}},{"id":"6c7e1422-629d-4771-9d9e-fb4c3435b1fd","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-02-20T04:43:59.67587Z","dataset_id":"6ad8735c-c9f6-4752-8b6d-a5bef4084345","expected_output":{},"input":{"in0":"r1v1","in1":"r1v2","in2":"r1v3"},"metadata":{},"updated_at":"2026-02-20T04:43:59.67587Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
