interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "629782c9-8ed3-4ac7-8148-a4198433a3ef",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod", "team:ml"]}], "update_records": [],
      "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/629782c9-8ed3-4ac7-8148-a4198433a3ef/batch_update
  response:
    body:
      string: '{"data":[{"id":"230fcfee-c14f-4653-8519-e3c368ac0dd8","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"549b4b86-3d66-4242-8598-14e58cb3108f","created_at":"2026-03-05T19:58:33.284089203Z","dataset_id":"629782c9-8ed3-4ac7-8148-a4198433a3ef","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod","team:ml"],"updated_at":"2026-03-05T19:58:33.284089203Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
