interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "e1d3fef9-875a-4730-b16f-c07bc0c5d155",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["6530cbe6-1075-47a4-b3c9-ad069d359604"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/e1d3fef9-875a-4730-b16f-c07bc0c5d155/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
