interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "d0a66837-e303-4060-8869-e280f8c6c412",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of China?"}, "expected_output": {"answer": "Beijing"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/d0a66837-e303-4060-8869-e280f8c6c412/batch_update
  response:
    body:
      string: '{"data":[{"id":"5d413df3-028e-4227-bf60-d3fedb0f3061","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:04:46.580732538Z","dataset_id":"d0a66837-e303-4060-8869-e280f8c6c412","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T01:04:46.580732538Z","version":1}},{"id":"c2314f15-aa45-400f-8c21-b50a6ce536f0","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:04:46.580732538Z","dataset_id":"d0a66837-e303-4060-8869-e280f8c6c412","expected_output":{"answer":"Beijing"},"input":{"prompt":"What
        is the capital of China?"},"updated_at":"2025-09-09T01:04:46.580732538Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
