interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "faf29e08-7af7-4f45-9b55-8de1a156805b",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Nauru?"}, "expected_output": null, "metadata": null}, {"input": {"prompt":
      "What is the capital of Sealand?"}, "expected_output": null, "metadata": null}],
      "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/faf29e08-7af7-4f45-9b55-8de1a156805b/batch_update
  response:
    body:
      string: '{"data":[{"id":"29e82879-47b4-4bc7-a24d-36f61379f59b","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"2f503b45-b08c-4b51-9a5c-d04c68baa36e","created_at":"2026-02-11T20:53:16.103002712Z","dataset_id":"faf29e08-7af7-4f45-9b55-8de1a156805b","input":{"prompt":"What
        is the capital of Nauru?"},"tags":[],"updated_at":"2026-02-11T20:53:16.103002712Z","version":1}},{"id":"be478ac8-2f29-4b85-8362-1deece3c79f0","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"04ef6f7a-90ae-45fb-9c15-1fb4cc198ba4","created_at":"2026-02-11T20:53:16.103002712Z","dataset_id":"faf29e08-7af7-4f45-9b55-8de1a156805b","input":{"prompt":"What
        is the capital of Sealand?"},"tags":[],"updated_at":"2026-02-11T20:53:16.103002712Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
