interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "79648ac7-fdc8-4f62-8a53-886b9238b91e",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Sealand?"}, "expected_output": null, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/79648ac7-fdc8-4f62-8a53-886b9238b91e/batch_update
  response:
    body:
      string: '{"data":[{"id":"1eb96c1e-fa2d-46ab-873a-654361e9658e","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"6f5ab1bc-72d5-4d73-afea-e86cbf252dcf","created_at":"2026-02-18T06:24:28.353761191Z","dataset_id":"79648ac7-fdc8-4f62-8a53-886b9238b91e","input":{"prompt":"What
        is the capital of Sealand?"},"tags":[],"updated_at":"2026-02-18T06:24:28.353761191Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
