interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "a14fa7c0-e16c-4781-800d-e37d61d8837d",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/a14fa7c0-e16c-4781-800d-e37d61d8837d/batch_update
  response:
    body:
      string: '{"data":[{"id":"8b267a29-e575-40b3-9c2e-fd05dce7bdfa","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"c6d3d04b-5b11-49fd-8876-feadc79aea0e","created_at":"2026-02-20T04:45:15.376002462Z","dataset_id":"a14fa7c0-e16c-4781-800d-e37d61d8837d","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-20T04:45:15.376002462Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
