interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "5e12e86a-c3b5-4e0f-86c8-d101fb882f74",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Italy?"}, "expected_output": {"answer": "Rome"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/5e12e86a-c3b5-4e0f-86c8-d101fb882f74/batch_update
  response:
    body:
      string: '{"data":[{"id":"4d411189-d140-4244-8815-ba2a7e44724d","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"bace4858-3eab-4270-a767-efbc534b722c","created_at":"2026-02-11T20:52:31.093631652Z","dataset_id":"5e12e86a-c3b5-4e0f-86c8-d101fb882f74","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-11T20:52:31.093631652Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
