interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/3a1a13ae-9bf7-4953-8f09-2e0235836d11/datasets/8cbd1b8c-e858-4ae0-9347-bcbc02fc17dc/records?&filter%5Btags%5D=team:ml&filter%5Btags%5D=priority:high
  response:
    body:
      string: '{"data":[{"id":"bb0e432f-8794-4ebd-8a16-600615b0f149","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"0131f7c3-45e4-4ac5-b886-db74148cde92","created_at":"2026-02-20T06:52:29.010342Z","dataset_id":"8cbd1b8c-e858-4ae0-9347-bcbc02fc17dc","expected_output":{"answer":"Boston"},"input":{"prompt":"What
        is the capital of Massachusetts?"},"tags":["team:ml","priority:high"],"updated_at":"2026-02-20T06:52:29.010342Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
