interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"insert_records": [{"input":
      {"prompt": "What is the capital of Germany?"}, "expected_output": {"answer":
      "Berlin"}, "metadata": {}, "record_id": null}]}}}'
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/e69e7ba5-3282-4534-8fe0-a0f0e96ca230/batch_update
  response:
    body:
      string: '{"data":[{"id":"728b7e73-6ab4-4bf5-b0e6-8309b5558d9d","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-15T04:23:54.382116735Z","dataset_id":"e69e7ba5-3282-4534-8fe0-a0f0e96ca230","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"metadata":{},"updated_at":"2025-07-15T04:23:54.382116735Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
