interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["90a01190-a77e-4f7d-a746-0c1784822b83"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"90a01190-a77e-4f7d-a746-0c1784822b83","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"created_at":"2026-02-18T06:23:58.024857Z","current_version":2,"dataset_type":"user","deleted_at":"2026-02-18T06:24:02.84619Z","description":"A
        test dataset","name":"test-dataset-test_dataset_modify_record_on_optional[test_dataset_records0]","project_id":"c1579583-4e74-4538-8b17-17950b764f42","updated_at":"2026-02-18T06:24:00.350605Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
