interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_run_for_experiment",
      "description": "", "dataset_id": "126b1329-c830-4904-94d6-c278ac3d75c6", "project_id":
      "569aa33c-7acf-4061-abd0-4f2078e61ee8", "dataset_version": 1, "config": {},
      "metadata": {"tags": ["ddtrace.version:4.5.0rc4", "project_name:test-project-clean",
      "dataset_name:test-dataset-123", "experiment_name:test_run_for_experiment",
      "project_id:569aa33c-7acf-4061-abd0-4f2078e61ee8"]}, "ensure_unique": false,
      "run_count": 1}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"1a7b4baf-d4c5-4053-9afd-d2e656c80757","type":"experiments","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"config":{},"created_at":"2026-02-20T17:05:29.86277Z","dataset_id":"126b1329-c830-4904-94d6-c278ac3d75c6","dataset_version":1,"description":"","experiment":"test_run_for_experiment","metadata":{"tags":["ddtrace.version:4.5.0rc4","project_name:test-project-clean","dataset_name:test-dataset-123","experiment_name:test_run_for_experiment","project_id:569aa33c-7acf-4061-abd0-4f2078e61ee8"]},"name":"test_run_for_experiment","project_id":"569aa33c-7acf-4061-abd0-4f2078e61ee8","run_count":1,"updated_at":"2026-02-20T17:05:29.86277Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
