interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["68925c9c-7399-47c8-85ca-c9a3f19e8760"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"68925c9c-7399-47c8-85ca-c9a3f19e8760","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"created_at":"2026-02-11T20:45:39.170894Z","current_version":1,"dataset_type":"user","deleted_at":"2026-02-11T20:45:41.717198Z","description":"A
        good pipe separated csv dataset","name":"test-dataset-test_dataset_csv_pipe_separated","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","updated_at":"2026-02-11T20:45:39.319601Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
