interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "2d5ba9ea-9d38-436b-a83e-abddf23c8f5b",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/2d5ba9ea-9d38-436b-a83e-abddf23c8f5b/batch_update
  response:
    body:
      string: '{"data":[{"id":"242c009b-3cf1-49c7-ac39-075c216e5d44","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:52:23.73187685Z","dataset_id":"2d5ba9ea-9d38-436b-a83e-abddf23c8f5b","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T02:52:23.73187685Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
