interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/4cb189d9-762b-4052-a2c9-eeb5284fe4b5/records
  response:
    body:
      string: '{"data":[{"id":"32acf0a2-e8b1-4e36-86cf-4513709b431b","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-01T16:57:10.612684Z","dataset_id":"4cb189d9-762b-4052-a2c9-eeb5284fe4b5","expected_output":"","input":{"prompt":"What
        is the capital of Germany?"},"metadata":{},"updated_at":"2025-08-01T16:57:10.612684Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
