interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "1a5ec508-5e67-45e8-b8aa-264c1cd74aad",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Italy?"}, "expected_output": {"answer": "Rome"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Sweden?"}, "expected_output": {"answer":
      "Stockholm"}, "metadata": null}], "update_records": [], "delete_records": [],
      "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/1a5ec508-5e67-45e8-b8aa-264c1cd74aad/batch_update
  response:
    body:
      string: '{"data":[{"id":"80f98f65-4938-4ff5-b67d-d7d61fc65203","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"8008bebe-8f9a-438e-9108-bad4d4701a44","created_at":"2026-02-18T06:24:21.340157435Z","dataset_id":"1a5ec508-5e67-45e8-b8aa-264c1cd74aad","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-18T06:24:21.340157435Z","version":2}},{"id":"2b80f904-0d09-48f1-b032-8990f734029b","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"b00f329a-0fc2-411f-b60c-df697fcebe4e","created_at":"2026-02-18T06:24:21.340157435Z","dataset_id":"1a5ec508-5e67-45e8-b8aa-264c1cd74aad","expected_output":{"answer":"Stockholm"},"input":{"prompt":"What
        is the capital of Sweden?"},"tags":[],"updated_at":"2026-02-18T06:24:21.340157435Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
