interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-2",
      "description": "A second test dataset"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets
  response:
    body:
      string: '{"data":{"id":"c28e4de0-452f-4869-bade-6e0bdfbf5caf","type":"datasets","attributes":{"author":{"id":"df7d11c9-da50-11ed-af19-2e9f609a4672"},"created_at":"2025-07-15T14:39:06.110474486Z","current_version":0,"description":"A
        second test dataset","name":"test-dataset-2","updated_at":"2025-07-15T14:39:06.110474486Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
