interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"metric_source": "custom", "span_id": "123", "trace_id": "456",
      "timestamp_ms": 1771564166000, "metric_type": "score", "label": "dummy_evaluator",
      "score_value": 0, "error": null, "tags": [], "experiment_id": "0a0eceec-7e30-4939-b95b-712f8acf99bb"}],
      "tags": ["ddtrace.version:1.2.3", "project_id:c4b49fb5-7b16-46e1-86f0-de5800e8a56c",
      "experiment_id:0a0eceec-7e30-4939-b95b-712f8acf99bb", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/0a0eceec-7e30-4939-b95b-712f8acf99bb/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
