interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"insert_records": [{"input":
      {"prompt": "What is the capital of France?"}, "expected_output": {"answer":
      "Paris"}, "metadata": {}}], "update_records": [], "delete_record_ids": []}}}'
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/7f7b84b6-fefa-4183-bb27-776c6c5a1145/batch_update
  response:
    body:
      string: '{"data":[{"id":"6dfc7cae-c0f3-4045-a7a4-31bfb75a3798","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-16T02:23:33.335863156Z","dataset_id":"7f7b84b6-fefa-4183-bb27-776c6c5a1145","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{},"updated_at":"2025-07-16T02:23:33.335863156Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
