interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_experiment_arun_mixed_eval",
      "description": "", "dataset_id": "4df8ea9c-65df-4b55-b968-5efb88f64c53", "project_id":
      "f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "dataset_version": 1, "config": {},
      "metadata": {"tags": ["ddtrace.version:1.2.3", "project_name:test-project",
      "dataset_name:async-test-dataset-one", "experiment_name:test_experiment_arun_mixed_eval",
      "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9"]}, "ensure_unique": true,
      "run_count": 1}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"0318724b-5adf-4f03-a195-6ebd1a973c05","type":"experiments","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"config":{},"created_at":"2026-02-11T20:24:24.278272627Z","dataset_id":"4df8ea9c-65df-4b55-b968-5efb88f64c53","dataset_version":1,"description":"","experiment":"test_experiment_arun_mixed_eval","metadata":{"tags":["ddtrace.version:1.2.3","project_name:test-project","dataset_name:async-test-dataset-one","experiment_name:test_experiment_arun_mixed_eval","project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9"]},"name":"test_experiment_arun_mixed_eval-1770841464278","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","run_count":1,"updated_at":"2026-02-11T20:24:24.278272701Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
