interactions:
- request:
    body: '{"data": {"type": "evaluation_metric", "attributes": {"metrics": [{"join_on":
      {"span": {"span_id": "12345678901", "trace_id": "98765432101"}}, "metric_type":
      "categorical", "categorical_value": "very", "label": "toxicity", "ml_app": "dummy-ml-app",
      "timestamp_ms": 1756910127022}]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/intake/llm-obs/v2/eval-metric
  response:
    body:
      string: '{"data":{"id":"1ef94721-392d-4612-ad63-5f3b289c1cd5","type":"evaluation_metric","attributes":{"metrics":[{"id":"-Xbd-WStY2","join_on":{"span":{"trace_id":"98765432101","span_id":"12345678901"}},"timestamp_ms":1756910127022,"ml_app":"dummy-ml-app","metric_type":"categorical","label":"toxicity","categorical_value":"very"}]}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
