interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/30798ee3-7426-410f-8d0c-b45947528e93/records
  response:
    body:
      string: '{"data":[{"id":"f84135b0-9111-4f10-a279-61bc66716ae8","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-02-11T20:50:55.118369Z","dataset_id":"30798ee3-7426-410f-8d0c-b45947528e93","expected_output":{"out0":"r0v4","out1":"r0v5"},"input":{"in0":"r0v1","in1":"r0v2","in2":"r0v3"},"metadata":{"m0":"r0v6"},"updated_at":"2026-02-11T20:50:55.118369Z"}},{"id":"8848fe29-3692-42d7-a6c1-c1577155158d","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-02-11T20:50:55.118369Z","dataset_id":"30798ee3-7426-410f-8d0c-b45947528e93","expected_output":{"out0":"r1v4","out1":"r1v5"},"input":{"in0":"r1v1","in1":"r1v2","in2":"r1v3"},"metadata":{"m0":"r1v6"},"updated_at":"2026-02-11T20:50:55.118369Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
