interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "6425ab27-20ab-4022-b1e0-b9996b33957f",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/6425ab27-20ab-4022-b1e0-b9996b33957f/batch_update
  response:
    body:
      string: '{"data":[{"id":"5924b9a5-fbdd-4826-be57-203aa3bbdfa3","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"77fa7abe-27aa-4fdc-b242-81c7ea1e2c54","created_at":"2026-02-18T06:22:52.924717646Z","dataset_id":"6425ab27-20ab-4022-b1e0-b9996b33957f","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:22:52.924717646Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
