interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "bfb7ee03-6695-4283-934f-266b5dd65a1c",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/bfb7ee03-6695-4283-934f-266b5dd65a1c/batch_update
  response:
    body:
      string: '{"data":[{"id":"c68268a2-56d1-4b1c-aca0-ec52eeb821eb","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"cea0fb44-a169-4a91-bbff-ae3d1d217869","created_at":"2026-03-05T19:58:25.273451393Z","dataset_id":"bfb7ee03-6695-4283-934f-266b5dd65a1c","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-03-05T19:58:25.273451393Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
