interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"metric_source": "custom", "span_id": "123", "trace_id": "456",
      "timestamp_ms": 1770919108685, "metric_type": "score", "label": "dummy_evaluator",
      "score_value": 0, "error": null, "tags": [], "experiment_id": "571f46fb-9a1a-4196-9c2e-0fad90051288"},
      {"metric_source": "custom", "span_id": "123", "trace_id": "456", "timestamp_ms":
      1770919108685, "metric_type": "score", "label": "async_dummy_evaluator", "score_value":
      0, "error": null, "tags": [], "experiment_id": "571f46fb-9a1a-4196-9c2e-0fad90051288"},
      {"metric_source": "summary", "span_id": "", "trace_id": "", "timestamp_ms":
      1770919108685, "metric_type": "score", "label": "dummy_summary_evaluator", "score_value":
      4, "error": null, "tags": [], "experiment_id": "571f46fb-9a1a-4196-9c2e-0fad90051288"},
      {"metric_source": "summary", "span_id": "", "trace_id": "", "timestamp_ms":
      1770919108685, "metric_type": "score", "label": "async_dummy_summary_evaluator",
      "score_value": 4, "error": null, "tags": [], "experiment_id": "571f46fb-9a1a-4196-9c2e-0fad90051288"}],
      "tags": ["ddtrace.version:1.2.3", "project_id:569aa33c-7acf-4061-abd0-4f2078e61ee8",
      "experiment_id:571f46fb-9a1a-4196-9c2e-0fad90051288", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/571f46fb-9a1a-4196-9c2e-0fad90051288/events
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"Key: ''ExperimentEvalMetricEvent.EvalMetricBase.TimestampMs''
        Error:Field validation for ''TimestampMs'' failed on the ''timestamp_within_24hr''
        tag"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
