interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"insert_records": [{"input":
      {"prompt": "What is the capital of France?"}, "expected_output": {"answer":
      "Paris"}, "metadata": {}, "record_id": null}, {"input": {"prompt": "What is
      the capital of Canada?"}, "expected_output": {"answer": "Ottawa"}, "metadata":
      {}, "record_id": null}]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/4698b07a-7bf6-4f65-9690-6bd481718459/batch_update
  response:
    body:
      string: '{"data":[{"id":"011f8ac5-e043-48fa-9340-463be07b30b4","type":"datasets","attributes":{"author":{"id":"df7d11c9-da50-11ed-af19-2e9f609a4672"},"created_at":"2025-07-15T14:39:36.221889243Z","dataset_id":"4698b07a-7bf6-4f65-9690-6bd481718459","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{},"updated_at":"2025-07-15T14:39:36.221889243Z","version":1}},{"id":"a08fc351-a419-4aa9-82b7-2c661b0b52b2","type":"datasets","attributes":{"author":{"id":"df7d11c9-da50-11ed-af19-2e9f609a4672"},"created_at":"2025-07-15T14:39:36.221889243Z","dataset_id":"4698b07a-7bf6-4f65-9690-6bd481718459","expected_output":{"answer":"Ottawa"},"input":{"prompt":"What
        is the capital of Canada?"},"metadata":{},"updated_at":"2025-07-15T14:39:36.221889243Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
