interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/4fe88b92-aa39-4be9-9043-b8402147a3aa/records
  response:
    body:
      string: '{"data":[{"id":"348c1c74-0bd9-4f36-8593-feaa1331dd06","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:15.245158Z","dataset_id":"4fe88b92-aa39-4be9-9043-b8402147a3aa","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{"difficulty":"easy"},"updated_at":"2025-09-09T01:05:15.245158Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
