interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "92c5fd27-3d0d-49fd-a653-9862a657fd7e",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/92c5fd27-3d0d-49fd-a653-9862a657fd7e/batch_update
  response:
    body:
      string: '{"data":[{"id":"79a41fdd-ef12-46b9-be84-c7f138ccbc89","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"6f66603d-df62-49b7-bbc0-610c539aa869","created_at":"2026-02-20T04:45:53.508014991Z","dataset_id":"92c5fd27-3d0d-49fd-a653-9862a657fd7e","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-20T04:45:53.508014991Z","version":1}},{"id":"4c8e41ac-a29e-4e29-9f38-655787e00eeb","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"6e9a59a6-e1df-4e30-8f4c-a09c6fcb96fc","created_at":"2026-02-20T04:45:53.508014991Z","dataset_id":"92c5fd27-3d0d-49fd-a653-9862a657fd7e","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-20T04:45:53.508014991Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
