interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "ef7e9581-66ae-45e2-83b4-24e9437dd72f",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/ef7e9581-66ae-45e2-83b4-24e9437dd72f/batch_update
  response:
    body:
      string: '{"data":[{"id":"b17b1f9a-678a-4166-9dae-f7372463000d","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"a210cc47-9605-41ef-865f-18c91567c77e","created_at":"2026-02-11T20:51:25.701267718Z","dataset_id":"ef7e9581-66ae-45e2-83b4-24e9437dd72f","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:51:25.701267718Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
