interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "e1d3fef9-875a-4730-b16f-c07bc0c5d155",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Nauru?"}, "expected_output": null, "metadata": null}, {"input": {"prompt":
      "What is the capital of Sealand?"}, "expected_output": null, "metadata": null}],
      "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/e1d3fef9-875a-4730-b16f-c07bc0c5d155/batch_update
  response:
    body:
      string: '{"data":[{"id":"8f7049eb-5f76-4871-9ae1-fd8b355bb813","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:56.346780213Z","dataset_id":"e1d3fef9-875a-4730-b16f-c07bc0c5d155","input":{"prompt":"What
        is the capital of Nauru?"},"updated_at":"2025-09-09T01:05:56.346780213Z","version":1}},{"id":"6530cbe6-1075-47a4-b3c9-ad069d359604","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:56.346780213Z","dataset_id":"e1d3fef9-875a-4730-b16f-c07bc0c5d155","input":{"prompt":"What
        is the capital of Sealand?"},"updated_at":"2025-09-09T01:05:56.346780213Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
