interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_experiment",
      "description": "", "dataset_id": "bc0a52f9-e5b8-42bb-81ec-4fa83b379dd4", "project_id":
      "c4b49fb5-7b16-46e1-86f0-de5800e8a56c", "dataset_version": 1, "config": {},
      "metadata": {"tags": ["ddtrace.version:1.2.3", "project_id:c4b49fb5-7b16-46e1-86f0-de5800e8a56c"]},
      "ensure_unique": true, "run_count": 1}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"3beafe8d-f4a5-4d32-ae7b-b8680f47e304","type":"experiments","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"config":{},"created_at":"2026-02-18T06:07:24.647779171Z","dataset_id":"bc0a52f9-e5b8-42bb-81ec-4fa83b379dd4","dataset_version":1,"description":"","experiment":"test_experiment","metadata":{"tags":["ddtrace.version:1.2.3","project_id:c4b49fb5-7b16-46e1-86f0-de5800e8a56c"]},"name":"test_experiment-1771394844647","project_id":"c4b49fb5-7b16-46e1-86f0-de5800e8a56c","run_count":1,"updated_at":"2026-02-18T06:07:24.647779244Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
