interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "3249d56a-701e-45e1-a317-790c8e0eff66",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/3249d56a-701e-45e1-a317-790c8e0eff66/batch_update
  response:
    body:
      string: '{"data":[{"id":"4b02d88b-1458-4b88-8322-3ec086113dd0","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:52:08.504605438Z","dataset_id":"3249d56a-701e-45e1-a317-790c8e0eff66","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-08-06T20:52:08.504605438Z","version":1}},{"id":"c2951e95-5b86-47f5-9ba6-eb091e8ff61f","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:52:08.504605438Z","dataset_id":"3249d56a-701e-45e1-a317-790c8e0eff66","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-08-06T20:52:08.504605438Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
