interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "1183acf3-7268-4557-8471-4736cb04227e",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/1183acf3-7268-4557-8471-4736cb04227e/batch_update
  response:
    body:
      string: '{"data":[{"id":"9747f2b0-6219-4fee-aedb-675de0d3b266","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"6a05f0a4-d3e7-4074-96cf-a82b7db564e7","created_at":"2026-03-05T19:58:30.779523629Z","dataset_id":"1183acf3-7268-4557-8471-4736cb04227e","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":[],"updated_at":"2026-03-05T19:58:30.779523629Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
