interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "b6db6070-5bc9-4886-8055-927b832812d4",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of China?"}, "expected_output": {"answer": "Beijing"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/b6db6070-5bc9-4886-8055-927b832812d4/batch_update
  response:
    body:
      string: '{"data":[{"id":"af6d74cb-003e-4c92-b1ce-8cc5cc5d6728","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"ca4450be-b61c-422f-bbe2-3d471c4bea31","created_at":"2026-02-20T04:44:31.980373122Z","dataset_id":"b6db6070-5bc9-4886-8055-927b832812d4","expected_output":{"answer":"Beijing"},"input":{"prompt":"What
        is the capital of China?"},"tags":[],"updated_at":"2026-02-20T04:44:31.980373122Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
