interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-test_dataset_update_with_tags_on_new_record",
      "description": "A test dataset"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets
  response:
    body:
      string: '{"data":{"id":"f2277067-6d70-4408-8a5f-4fc6b9f48e39","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2026-02-27T16:35:13.076992647Z","current_version":0,"description":"A
        test dataset","name":"test-dataset-test_dataset_update_with_tags_on_new_record","project_id":"569aa33c-7acf-4061-abd0-4f2078e61ee8","updated_at":"2026-02-27T16:35:13.076992647Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
