interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "7778e4c0-b400-4e8d-9ae3-35ab2753123d",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Sealand?"}, "expected_output": null, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/7778e4c0-b400-4e8d-9ae3-35ab2753123d/batch_update
  response:
    body:
      string: '{"data":[{"id":"4d4d83e4-6cb0-45f2-b4de-261eb04dc5aa","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"ecd214db-3d85-4e6f-9fd1-aad31dc7d8a2","created_at":"2026-02-11T20:52:57.638846995Z","dataset_id":"7778e4c0-b400-4e8d-9ae3-35ab2753123d","input":{"prompt":"What
        is the capital of Sealand?"},"tags":[],"updated_at":"2026-02-11T20:52:57.638846995Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
