interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/71f46136-2402-4b71-9ebd-86d346433ffb/records
  response:
    body:
      string: '{"data":[{"id":"0e5a62d0-64ed-4d77-831b-869985a21b0a","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"e43b8c63-6daf-49f7-ac8e-2d55efb97b71","created_at":"2026-02-11T20:51:20.336131Z","dataset_id":"71f46136-2402-4b71-9ebd-86d346433ffb","expected_output":{"answer":"Beijing"},"input":{"prompt":"What
        is the capital of China?"},"updated_at":"2026-02-11T20:51:20.336131Z"}},{"id":"cc162be1-1d9d-4210-ba36-59b9131a7fa3","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"f5b682b7-ba00-4043-b021-65cb2e4470ec","created_at":"2026-02-11T20:51:16.203463Z","dataset_id":"71f46136-2402-4b71-9ebd-86d346433ffb","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2026-02-11T20:51:16.203463Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
