interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "ca84bfdf-2350-40bc-a16d-8bddd3e27075",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/ca84bfdf-2350-40bc-a16d-8bddd3e27075/batch_update
  response:
    body:
      string: '{"data":[{"id":"78177be9-184d-4d70-953a-6b1d85b2eac1","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"820ab245-0c8c-4746-a404-762c105e0af1","created_at":"2026-02-11T20:28:13.927677261Z","dataset_id":"ca84bfdf-2350-40bc-a16d-8bddd3e27075","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:28:13.927677261Z","version":3}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
