interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"experiment_id": "e8d11308-3b65-4d6a-8131-a7c9eeb4feb8", "metric_source":
      "custom", "span_id": "123", "trace_id": "456", "timestamp_ms": 1770751160226,
      "metric_type": "categorical", "label": "async_faulty_evaluator", "categorical_value":
      null, "error": {"message": "This is a test error in async evaluator", "type":
      "ValueError", "stack": "Traceback (most recent call last):\n  File \"/Users/christopher.fox/go/src/github.com/DataDog/dd-trace-py/ddtrace/llmobs/_async_experiment.py\",
      line 502, in _run_evaluator\n    eval_result = await evaluator(input_data, output,
      expected_output)\n                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\n  File
      \"/Users/christopher.fox/go/src/github.com/DataDog/dd-trace-py/tests/llmobs/test_async_experiments.py\",
      line 85, in async_faulty_evaluator\n    raise ValueError(\"This is a test error
      in async evaluator\")\nValueError: This is a test error in async evaluator\n"},
      "tags": ["ddtrace.version:4.4.0rc4", "project_name:test-project", "dataset_name:async-test-dataset-one",
      "experiment_name:test_async_experiment_eval_error", "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9",
      "experiment_id:e8d11308-3b65-4d6a-8131-a7c9eeb4feb8", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"]}], "tags": ["ddtrace.version:4.4.0rc4", "project_name:test-project",
      "dataset_name:async-test-dataset-one", "experiment_name:test_async_experiment_eval_error",
      "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "experiment_id:e8d11308-3b65-4d6a-8131-a7c9eeb4feb8",
      "run_id:12345678-abcd-abcd-abcd-123456789012", "run_iteration:1"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/e8d11308-3b65-4d6a-8131-a7c9eeb4feb8/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
