interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/e081fb4a-674f-4e2b-9e93-c61a1b066a94/records
  response:
    body:
      string: '{"data":[{"id":"b1bd870c-589d-4b64-825b-17da6f0e97a8","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"1c1caf9a-2bd9-44e2-9d73-c9e12e9e9525","created_at":"2026-02-18T06:24:46.327296Z","dataset_id":"e081fb4a-674f-4e2b-9e93-c61a1b066a94","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2026-02-18T06:24:46.327296Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
