interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "71f46136-2402-4b71-9ebd-86d346433ffb",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/71f46136-2402-4b71-9ebd-86d346433ffb/batch_update
  response:
    body:
      string: '{"data":[{"id":"cc162be1-1d9d-4210-ba36-59b9131a7fa3","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"f5b682b7-ba00-4043-b021-65cb2e4470ec","created_at":"2026-02-11T20:51:16.203463Z","dataset_id":"71f46136-2402-4b71-9ebd-86d346433ffb","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:51:16.203463Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
