interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"insert_records": [{"input":
      {"prompt": "What is the capital of France?"}, "expected_output": {"answer":
      "Paris"}, "metadata": {}, "record_id": null}]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/c612a61a-5767-4648-98c5-fb8104410ab0/batch_update
  response:
    body:
      string: '{"data":[{"id":"88689c65-dcb8-4aff-9132-159679bc7d61","type":"datasets","attributes":{"author":{"id":"df7d11c9-da50-11ed-af19-2e9f609a4672"},"created_at":"2025-07-15T00:15:21.723970258Z","dataset_id":"c612a61a-5767-4648-98c5-fb8104410ab0","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{},"updated_at":"2025-07-15T00:15:21.723970258Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
