interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "4d9db36e-386d-4dfb-8cf7-4057c264d0a7",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/4d9db36e-386d-4dfb-8cf7-4057c264d0a7/batch_update
  response:
    body:
      string: '{"data":[{"id":"13c3bb74-a894-4527-b6fb-dde755ce40e2","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-08T06:45:17.642909225Z","dataset_id":"4d9db36e-386d-4dfb-8cf7-4057c264d0a7","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-08-08T06:45:17.642909225Z","version":1}},{"id":"0cf29ef0-9a0f-4895-9b90-690e52267bae","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-08T06:45:17.642909225Z","dataset_id":"4d9db36e-386d-4dfb-8cf7-4057c264d0a7","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-08-08T06:45:17.642909225Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
