interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/07f7dd8e-9b78-4cb7-9196-c4e90863d956/records
  response:
    body:
      string: '{"data":[{"id":"30ac3005-ab33-46fd-a777-4ffc5d4924e2","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"634b3188-5375-4b96-b23c-bd63d938cb5f","created_at":"2026-02-27T16:35:25.945939Z","dataset_id":"07f7dd8e-9b78-4cb7-9196-c4e90863d956","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-02-27T16:35:25.945939Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
