interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "71f46136-2402-4b71-9ebd-86d346433ffb",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of China?"}, "expected_output": {"answer": "Beijing"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/71f46136-2402-4b71-9ebd-86d346433ffb/batch_update
  response:
    body:
      string: '{"data":[{"id":"0e5a62d0-64ed-4d77-831b-869985a21b0a","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"e43b8c63-6daf-49f7-ac8e-2d55efb97b71","created_at":"2026-02-11T20:51:20.336131973Z","dataset_id":"71f46136-2402-4b71-9ebd-86d346433ffb","expected_output":{"answer":"Beijing"},"input":{"prompt":"What
        is the capital of China?"},"tags":[],"updated_at":"2026-02-11T20:51:20.336131973Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
