interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["2ed5e2c4-2989-4e68-b8f0-da3eadae9b2b"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"2ed5e2c4-2989-4e68-b8f0-da3eadae9b2b","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"created_at":"2026-02-11T20:51:30.637997Z","current_version":1,"dataset_type":"user","deleted_at":"2026-02-11T20:51:35.156205Z","description":"A
        boston dataset","name":"test-dataset-test_dataset_pull_from_project-v2","project_id":"3a1a13ae-9bf7-4953-8f09-2e0235836d11","updated_at":"2026-02-11T20:51:30.75856Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
