interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "939faec0-49d3-4c6d-b9c4-5a3baef0e385",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/939faec0-49d3-4c6d-b9c4-5a3baef0e385/batch_update
  response:
    body:
      string: '{"data":[{"id":"7ec81601-b5f6-475a-b720-b6da86fb0bcb","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"31490743-3e8d-4ba3-a780-f841f0ddb74b","created_at":"2026-02-27T16:34:23.767714253Z","dataset_id":"939faec0-49d3-4c6d-b9c4-5a3baef0e385","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-02-27T16:34:23.767714253Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
