interactions:
- request:
    body: null
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/ec1700cb-fec3-4aa9-b324-2a10b0b69247/records
  response:
    body:
      string: '{"data":[{"id":"e62e6597-5e1e-4b57-ae33-f2cad2ee50e5","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-16T20:06:40.388403Z","dataset_id":"ec1700cb-fec3-4aa9-b324-2a10b0b69247","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"metadata":{},"updated_at":"2025-07-16T20:06:40.388403Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
