interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "f0d84e88-8ea5-4429-8f9b-8e0549a5ee15",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/f0d84e88-8ea5-4429-8f9b-8e0549a5ee15/batch_update
  response:
    body:
      string: '{"data":[{"id":"2d97aec5-c4e2-4279-aae7-992e875c302b","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:33:06.773071062Z","dataset_id":"f0d84e88-8ea5-4429-8f9b-8e0549a5ee15","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T04:33:06.773071062Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
