interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_distributed_experiment",
      "description": "A distributed experiment", "dataset_id": "126b1329-c830-4904-94d6-c278ac3d75c6",
      "project_id": "569aa33c-7acf-4061-abd0-4f2078e61ee8", "dataset_version": 1,
      "config": {"models": ["gpt-4.1"]}, "metadata": {"tags": ["ddtrace.version:4.6.0rc1",
      "project_name:test-project-clean", "dataset_name:test-dataset-123", "experiment_name:test_distributed_experiment",
      "project_id:569aa33c-7acf-4061-abd0-4f2078e61ee8"]}, "ensure_unique": false,
      "run_count": 1}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
      ? !!python/object/apply:multidict._multidict.istr
      - Datadog-Entity-ID
      : - in-968
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"0ef1c572-785c-4de7-9a3c-b3a5ca19f1ca","type":"experiments","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"config":{"models":["gpt-4.1"]},"created_at":"2026-02-20T17:05:49.524697Z","dataset_id":"126b1329-c830-4904-94d6-c278ac3d75c6","dataset_version":1,"description":"A
        distributed experiment","experiment":"test_distributed_experiment","metadata":{"tags":["ddtrace.version:4.5.0rc4","project_name:test-project-clean","dataset_name:test-dataset-123","experiment_name:test_distributed_experiment","project_id:569aa33c-7acf-4061-abd0-4f2078e61ee8"]},"name":"test_distributed_experiment","project_id":"569aa33c-7acf-4061-abd0-4f2078e61ee8","run_count":1,"updated_at":"2026-02-20T17:05:49.524697Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
