interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["7778e4c0-b400-4e8d-9ae3-35ab2753123d"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"7778e4c0-b400-4e8d-9ae3-35ab2753123d","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"created_at":"2026-02-11T20:52:49.331581Z","current_version":2,"dataset_type":"user","deleted_at":"2026-02-11T20:53:02.201771Z","description":"A
        test dataset","name":"test-dataset-test_dataset_append_no_expected_output[test_dataset_records0]-v2","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","updated_at":"2026-02-11T20:52:57.646588Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
