interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "1707dcaf-1364-48f1-bf28-6c8c39cda1d0",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Sweden?"}, "expected_output": null, "metadata": null}], "update_records":
      [], "delete_records": ["6b8234bf-9ab1-4bf2-b712-7586c5ae4cc6"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/1707dcaf-1364-48f1-bf28-6c8c39cda1d0/batch_update
  response:
    body:
      string: '{"data":[{"id":"8e779a74-3c64-4c7d-acd4-99824f0f7fa0","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:53:23.252637387Z","dataset_id":"1707dcaf-1364-48f1-bf28-6c8c39cda1d0","input":{"prompt":"What
        is the capital of Sweden?"},"updated_at":"2025-09-09T02:53:23.252637387Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
