interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "eeb31dd4-38a7-4a76-ab12-cfe6dca5cb23",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/eeb31dd4-38a7-4a76-ab12-cfe6dca5cb23/batch_update
  response:
    body:
      string: '{"data":[{"id":"804e7198-be65-4185-a708-4040cc0554bf","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"50a85a2f-8b97-4b49-918b-01d8aa2c0971","created_at":"2026-02-18T06:05:15.218661948Z","dataset_id":"eeb31dd4-38a7-4a76-ab12-cfe6dca5cb23","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:05:15.218661948Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
