interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "ce11ec07-4c99-49c8-a471-acddc38e8946",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["1dd96d4f-e2ba-4e20-b36f-9fd03131d655"]}}}'
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/ce11ec07-4c99-49c8-a471-acddc38e8946/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
