interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/a1fc099e-827d-439a-a580-bd174fcec8fe/records
  response:
    body:
      string: '{"data":[{"id":"723f6302-468e-4539-88e6-866dcfe06b60","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"28ae09d5-71c9-4e07-a690-962f9b73b105","created_at":"2026-02-11T20:52:17.778406Z","dataset_id":"a1fc099e-827d-439a-a580-bd174fcec8fe","expected_output":{"answer":"Paris"},"input":"A","metadata":{"difficulty":"easy"},"updated_at":"2026-02-11T20:52:17.778407Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
