interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "c1129a9c-35c8-41fb-acbb-b01b72e672b3",
      "attributes": {"insert_records": [], "update_records": [{"input": null, "expected_output":
      "", "metadata": {}, "id": "106302a9-678e-4465-9a54-9c158cdd55b0"}], "delete_records":
      []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/c1129a9c-35c8-41fb-acbb-b01b72e672b3/batch_update
  response:
    body:
      string: '{"data":[{"id":"784ff4b0-dc28-4766-8e20-33d3b9c122de","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T03:00:23.232545193Z","dataset_id":"c1129a9c-35c8-41fb-acbb-b01b72e672b3","expected_output":"","input":{"prompt":"What
        is the capital of France?"},"metadata":{},"updated_at":"2025-08-06T03:00:23.232545266Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
