interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "991e43a9-f74b-41a6-99b0-04a0bbf76268",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Sweden?"}, "expected_output": null, "metadata": null}], "update_records":
      [], "delete_records": ["6beb0660-9101-4004-ab51-43db4d430631"], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/991e43a9-f74b-41a6-99b0-04a0bbf76268/batch_update
  response:
    body:
      string: '{"data":[{"id":"d990cae8-2d7e-4c05-9ca7-6fc0f0ff7e1c","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"3498e842-82aa-4497-8def-548941c3af53","created_at":"2026-02-18T06:06:23.522964042Z","dataset_id":"991e43a9-f74b-41a6-99b0-04a0bbf76268","input":{"prompt":"What
        is the capital of Sweden?"},"tags":[],"updated_at":"2026-02-18T06:06:23.522964042Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
