interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["df56b404-42a2-4a55-aaec-702c83a152f3"]}}}'
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"df56b404-42a2-4a55-aaec-702c83a152f3","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-11T02:28:06.760541Z","current_version":0,"deleted_at":"2025-07-11T02:28:09.246268Z","description":"A
        test dataset","name":"test-dataset-test_dataset_pull_exists_but_no_records[test_dataset_records0]","updated_at":"2025-07-11T02:28:06.760541Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
