interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/e1d3fef9-875a-4730-b16f-c07bc0c5d155/records
  response:
    body:
      string: '{"data":[{"id":"8f7049eb-5f76-4871-9ae1-fd8b355bb813","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:56.34678Z","dataset_id":"e1d3fef9-875a-4730-b16f-c07bc0c5d155","input":{"prompt":"What
        is the capital of Nauru?"},"updated_at":"2025-09-09T01:05:56.34678Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
