interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/ced82cd1-0dac-49f5-882b-d3f7ca9ae1c1/records?filter%5Bversion%5D=1
  response:
    body:
      string: '{"data":[{"id":"7e6bd079-500b-43f7-ae47-8d2175b9496f","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"ffdb3316-1192-41d8-8b37-19022737cc0a","created_at":"2026-02-18T02:01:26.225874Z","dataset_id":"ced82cd1-0dac-49f5-882b-d3f7ca9ae1c1","expected_output":"output_1001","input":"input_1001","updated_at":"2026-02-18T02:01:26.225874Z"}},{"id":"73a986e2-f86b-4775-8037-a562850b36f6","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"4dabd28e-507e-4d4b-a0d9-89f74feeb491","created_at":"2026-02-18T02:01:26.225874Z","dataset_id":"ced82cd1-0dac-49f5-882b-d3f7ca9ae1c1","expected_output":"output_557","input":"input_557","updated_at":"2026-02-18T02:01:26.225874Z"}},{"id":"0f4a6c35-4920-434c-969d-37ba1eadb042","type":"datasets","attributes":{"author":{"id"[...]
