interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/c60b92b7-f3bf-47a4-af9d-a6a351fd8eb2/records
  response:
    body:
      string: '{"data":[{"id":"6bc046eb-6d75-49a2-8e22-51f2131e5513","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"8c27e265-ac51-4e73-b708-f47e55c0ff69","created_at":"2026-02-11T20:52:08.405238Z","dataset_id":"c60b92b7-f3bf-47a4-af9d-a6a351fd8eb2","expected_output":"","input":{"prompt":"What
        is the capital of France?"},"updated_at":"2026-02-11T20:52:08.405238Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
