interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-123",
      "description": "A test dataset"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets
  response:
    body:
      string: '{"data":{"id":"757f4529-ce99-4c10-ab9c-4c389b47839c","type":"datasets","attributes":{"author":{"id":"df7d11c9-da50-11ed-af19-2e9f609a4672"},"created_at":"2025-07-15T14:39:10.786980143Z","current_version":0,"description":"A
        test dataset","name":"test-dataset-123","updated_at":"2025-07-15T14:39:10.786980143Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
