interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter%5Bname%5D=test-dataset-test_dataset_pull_exists_but_no_records%5Btest_dataset_records0%5D
  response:
    body:
      string: '{"data":[{"id":"95bfb2a6-377e-4a79-83ef-487f335aa3f6","type":"datasets","attributes":{"author":{"id":"df7d11c9-da50-11ed-af19-2e9f609a4672"},"created_at":"2025-07-15T14:39:07.259058Z","current_version":0,"description":"A
        test dataset","name":"test-dataset-test_dataset_pull_exists_but_no_records[test_dataset_records0]","updated_at":"2025-07-15T14:39:07.259058Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
