interactions:
- request:
    body: null
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter%5Bname%5D=test-dataset-test_dataset_append%5Btest_dataset_records0%5D
  response:
    body:
      string: '{"data":[{"id":"6b9d0a65-a8a0-47ef-9deb-6fdbeef395f8","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-16T20:06:44.363008Z","current_version":2,"description":"A
        test dataset","name":"test-dataset-test_dataset_append[test_dataset_records0]","updated_at":"2025-07-16T20:06:49.117713Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
