interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"experiment_id": "1c1b4521-0eaa-4119-a28c-fa81e27d1080", "metric_source":
      "custom", "span_id": "123", "trace_id": "456", "timestamp_ms": 1770839456896,
      "metric_type": "categorical", "label": "failing_evaluator", "categorical_value":
      null, "error": {"message": "Test error in concurrent evaluator", "type": "ValueError",
      "stack": "Traceback (most recent call last):\n  ValueError: Test error in concurrent
      evaluator\n"}, "tags": ["ddtrace.version:1.2.3", "project_name:test-project",
      "dataset_name:async-test-dataset-one", "experiment_name:test_experiment_concurrent_error",
      "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "experiment_id:1c1b4521-0eaa-4119-a28c-fa81e27d1080",
      "run_id:12345678-abcd-abcd-abcd-123456789012", "run_iteration:1"]}, {"experiment_id":
      "1c1b4521-0eaa-4119-a28c-fa81e27d1080", "metric_source": "custom", "span_id":
      "123", "trace_id": "456", "timestamp_ms": 1770839456896, "metric_type": "score",
      "label": "successful_evaluator", "score_value": 100, "error": null, "tags":
      ["ddtrace.version:1.2.3", "project_name:test-project", "dataset_name:async-test-dataset-one",
      "experiment_name:test_experiment_concurrent_error", "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9",
      "experiment_id:1c1b4521-0eaa-4119-a28c-fa81e27d1080", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"]}], "tags": ["ddtrace.version:1.2.3", "project_name:test-project",
      "dataset_name:async-test-dataset-one", "experiment_name:test_experiment_concurrent_error",
      "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "experiment_id:1c1b4521-0eaa-4119-a28c-fa81e27d1080",
      "run_id:12345678-abcd-abcd-abcd-123456789012", "run_iteration:1"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/1c1b4521-0eaa-4119-a28c-fa81e27d1080/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
