interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/43c174aa-2752-4cb2-9f06-4a54cf47b781/records
  response:
    body:
      string: '{"data":[{"id":"0512ca10-3511-4e8c-a5b3-e3566790f1f2","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:51:21.47664Z","dataset_id":"43c174aa-2752-4cb2-9f06-4a54cf47b781","expected_output":{},"input":{"in0":"r1v1","in1":"r1v2","in2":"r1v3"},"metadata":{},"updated_at":"2025-09-09T02:51:21.47664Z"}},{"id":"360b588d-2cc4-45b7-89cb-84bcb7f9cd3a","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:51:21.47664Z","dataset_id":"43c174aa-2752-4cb2-9f06-4a54cf47b781","expected_output":{},"input":{"in0":"r0v1","in1":"r0v2","in2":"r0v3"},"metadata":{},"updated_at":"2025-09-09T02:51:21.47664Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
