interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "e772d37c-8f3a-4374-9121-44552fbb5024",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/e772d37c-8f3a-4374-9121-44552fbb5024/batch_update
  response:
    body:
      string: '{"data":[{"id":"6dbdd645-c6b4-4b83-bafc-b74d9900666f","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"a2ca33d1-4384-4c73-b80e-8294771c96e8","created_at":"2026-02-27T16:35:30.537002896Z","dataset_id":"e772d37c-8f3a-4374-9121-44552fbb5024","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-02-27T16:35:30.537002896Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
