interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "ba9bf3d2-5b5a-4611-a3a8-d1b25935a46e",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/ba9bf3d2-5b5a-4611-a3a8-d1b25935a46e/batch_update
  response:
    body:
      string: '{"data":[{"id":"8e71c239-4491-48bf-8c00-54c5c114f756","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"cf4be6ec-530d-4d43-b229-5928d96511af","created_at":"2026-02-18T06:05:58.314265256Z","dataset_id":"ba9bf3d2-5b5a-4611-a3a8-d1b25935a46e","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:05:58.314265256Z","version":1}},{"id":"1dc26acc-9be5-4e9f-8f90-84f7ef39329a","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"873c919e-76df-46b6-ae32-c74500bfad5e","created_at":"2026-02-18T06:05:58.314265256Z","dataset_id":"ba9bf3d2-5b5a-4611-a3a8-d1b25935a46e","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-18T06:05:58.314265256Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
