interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"metric_source": "custom", "span_id": "123", "trace_id": "456",
      "timestamp_ms": 1771602113367, "metric_type": "score", "label": "dummy_evaluator",
      "score_value": 0, "error": null, "tags": [], "experiment_id": "mock-run-for-exp-id"}],
      "tags": ["ddtrace.version:4.6.0rc1", "project_name:test-project-clean", "dataset_name:test-dataset-123",
      "experiment_name:test_run_for_experiment", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
      ? !!python/object/apply:multidict._multidict.istr
      - Datadog-Entity-ID
      : - in-1054
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/mock-run-for-exp-id/events
  response:
    body:
      string: '{"errors":["Unauthorized"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 401
      message: Unauthorized
version: 1
