interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "dab0ce13-b1a7-4a3a-a2b8-10127dbb65e6",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/dab0ce13-b1a7-4a3a-a2b8-10127dbb65e6/batch_update
  response:
    body:
      string: '{"data":[{"id":"d600bc52-5e72-47cb-b7db-45264c38b163","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"97f1b608-f9da-4676-bc69-3e19865b4a61","created_at":"2026-02-11T20:28:18.96814981Z","dataset_id":"dab0ce13-b1a7-4a3a-a2b8-10127dbb65e6","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:28:18.96814981Z","version":3}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
