interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "1746e4c8-5dc6-4ddc-9a6a-48c5196541b7",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/1746e4c8-5dc6-4ddc-9a6a-48c5196541b7/batch_update
  response:
    body:
      string: '{"data":[{"id":"2afc686a-84f6-498d-98e2-48db4f983b1a","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"f9e468ba-90a6-4c68-b294-780c9093f850","created_at":"2026-02-18T06:05:20.253139714Z","dataset_id":"1746e4c8-5dc6-4ddc-9a6a-48c5196541b7","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:05:20.253139714Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
