interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/569da609-084d-4a26-ba65-31ae35321678/records
  response:
    body:
      string: '{"data":[{"id":"26b984a0-2f6d-4792-9c02-d377f2ee5bd9","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T03:12:17.351021Z","dataset_id":"569da609-084d-4a26-ba65-31ae35321678","expected_output":"","input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T03:12:17.351021Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
