interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "2ed5e2c4-2989-4e68-b8f0-da3eadae9b2b",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Massachusetts?"}, "expected_output": {"answer": "Boston"}, "metadata": null}],
      "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/2ed5e2c4-2989-4e68-b8f0-da3eadae9b2b/batch_update
  response:
    body:
      string: '{"data":[{"id":"974b00b7-feda-4987-9fbc-571ecbd4d790","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"c7c42ef1-9237-4f51-a501-b1c15fa661dd","created_at":"2026-02-11T20:51:30.749989134Z","dataset_id":"2ed5e2c4-2989-4e68-b8f0-da3eadae9b2b","expected_output":{"answer":"Boston"},"input":{"prompt":"What
        is the capital of Massachusetts?"},"tags":[],"updated_at":"2026-02-11T20:51:30.749989134Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
