interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "a2b8562d-657b-48f2-a7df-f43e4169791e",
      "attributes": {"insert_records": [], "update_records": [{"input": {"prompt":
      "What is the capital of Germany?"}, "expected_output": {"answer": "Berlin"},
      "metadata": null, "id": "53701514-6c3c-41f3-92a5-b2668c03dea4"}, {"input": {"prompt":
      "What is the capital of Mexico?"}, "expected_output": "", "metadata": {"difficulty":
      "easy"}, "id": "c98b1479-6483-4827-b1d0-48d464bb10eb"}], "delete_records": [],
      "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/a2b8562d-657b-48f2-a7df-f43e4169791e/batch_update
  response:
    body:
      string: '{"data":[{"id":"539fdb06-f962-4556-a49f-f44d56b99b69","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"9fc1b444-0306-4ed3-92ea-8688cdce826e","created_at":"2026-02-20T04:44:47.114902122Z","dataset_id":"a2b8562d-657b-48f2-a7df-f43e4169791e","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"tags":[],"updated_at":"2026-02-20T04:44:47.114902204Z","version":2}},{"id":"319a9010-34c2-4149-ab5b-a3d296bbae63","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"174894cf-d6ad-499f-b9fc-8acf9e8c147e","created_at":"2026-02-20T04:44:47.114921748Z","dataset_id":"a2b8562d-657b-48f2-a7df-f43e4169791e","expected_output":"","input":{"prompt":"What
        is the capital of Mexico?"},"metadata":{"difficulty":"easy"},"tags":[],"updated_at":"2026-02-20T04:44:47.114921822Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
