interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["2b8768ec-f3c0-4f7e-8fad-baf27e4e45c6"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"2b8768ec-f3c0-4f7e-8fad-baf27e4e45c6","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T03:55:52.765772Z","current_version":0,"deleted_at":"2025-09-09T03:55:52.968605Z","description":"A
        second test dataset","name":"test-dataset-2","project_id":"97aeb674-3464-45a7-a1eb-5ba857779c54","updated_at":"2025-09-09T03:55:52.765772Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
