interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/175818a4-8155-4084-9723-a2d4047d63d7/records
  response:
    body:
      string: '{"data":[{"id":"58df2426-4784-472c-a865-67964c974b36","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"b0bf1317-015f-4ade-8f5f-e79d2f2ee09c","created_at":"2026-02-11T20:53:29.611887Z","dataset_id":"175818a4-8155-4084-9723-a2d4047d63d7","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2026-02-11T20:53:29.611887Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
