interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "c60b92b7-f3bf-47a4-af9d-a6a351fd8eb2",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/c60b92b7-f3bf-47a4-af9d-a6a351fd8eb2/batch_update
  response:
    body:
      string: '{"data":[{"id":"c7db3bb6-e351-4ab1-bc38-1696ef962b38","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"8c27e265-ac51-4e73-b708-f47e55c0ff69","created_at":"2026-02-11T20:52:04.189317642Z","dataset_id":"c60b92b7-f3bf-47a4-af9d-a6a351fd8eb2","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:52:04.189317642Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
