interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "8cbd1b8c-e858-4ae0-9347-bcbc02fc17dc",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Massachusetts?"}, "expected_output": {"answer": "Boston"}, "metadata": null,
      "tags": ["team:ml", "priority:high"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/3a1a13ae-9bf7-4953-8f09-2e0235836d11/datasets/8cbd1b8c-e858-4ae0-9347-bcbc02fc17dc/batch_update
  response:
    body:
      string: '{"data":[{"id":"bb0e432f-8794-4ebd-8a16-600615b0f149","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"0131f7c3-45e4-4ac5-b886-db74148cde92","created_at":"2026-02-20T06:52:29.010342183Z","dataset_id":"8cbd1b8c-e858-4ae0-9347-bcbc02fc17dc","expected_output":{"answer":"Boston"},"input":{"prompt":"What
        is the capital of Massachusetts?"},"tags":["priority:high","team:ml"],"updated_at":"2026-02-20T06:52:29.010342183Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
