interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "fc463e9c-0afb-4a6f-854a-3784f7a5154e",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Sealand?"}, "expected_output": null, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/fc463e9c-0afb-4a6f-854a-3784f7a5154e/batch_update
  response:
    body:
      string: '{"data":[{"id":"6418ba33-c8d4-46be-9d0c-dfb421770867","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:43.036249181Z","dataset_id":"fc463e9c-0afb-4a6f-854a-3784f7a5154e","input":{"prompt":"What
        is the capital of Sealand?"},"updated_at":"2025-09-09T01:05:43.036249181Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
