interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "a00d396a-8602-445a-ad69-340275be5f6f",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/a00d396a-8602-445a-ad69-340275be5f6f/batch_update
  response:
    body:
      string: '{"data":[{"id":"2a8bacf1-568b-42e6-a338-29a883288537","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:29.245741454Z","dataset_id":"a00d396a-8602-445a-ad69-340275be5f6f","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T01:05:29.245741454Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
