interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "92c5fd27-3d0d-49fd-a653-9862a657fd7e",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["79a41fdd-ef12-46b9-be84-c7f138ccbc89"], "deduplicate": true, "create_new_version":
      true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/92c5fd27-3d0d-49fd-a653-9862a657fd7e/batch_update
  response:
    body:
      string: '{"data":[{"id":"79a41fdd-ef12-46b9-be84-c7f138ccbc89","type":"datasets","attributes":{"version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
