interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "84a30ea8-df55-4bcb-8ca5-d7e8bd4a8212",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": {}}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": {}}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/84a30ea8-df55-4bcb-8ca5-d7e8bd4a8212/batch_update
  response:
    body:
      string: '{"data":[{"id":"281525b3-3b48-4f5a-b63e-82225d9a1f5b","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-16T20:06:52.070603864Z","dataset_id":"84a30ea8-df55-4bcb-8ca5-d7e8bd4a8212","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{},"updated_at":"2025-07-16T20:06:52.070603864Z","version":1}},{"id":"7504ed48-452e-4d96-924e-d6ed8247a670","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-16T20:06:52.070603864Z","dataset_id":"84a30ea8-df55-4bcb-8ca5-d7e8bd4a8212","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"metadata":{},"updated_at":"2025-07-16T20:06:52.070603864Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
