interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "5b25f158-9e45-4da9-980e-2cdbee4b01d3",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/5b25f158-9e45-4da9-980e-2cdbee4b01d3/batch_update
  response:
    body:
      string: '{"data":[{"id":"d89379e3-c338-4093-8239-ce620e6475b0","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"15acd654-2488-4ab5-a38d-629505c6db95","created_at":"2026-02-20T04:46:01.020583298Z","dataset_id":"5b25f158-9e45-4da9-980e-2cdbee4b01d3","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-20T04:46:01.020583298Z","version":1}},{"id":"95cf308d-50ee-463c-98e6-57e87d16d3e3","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"a5de2c82-44db-40d0-84d3-609add61ba9b","created_at":"2026-02-20T04:46:01.020583298Z","dataset_id":"5b25f158-9e45-4da9-980e-2cdbee4b01d3","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-20T04:46:01.020583298Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
