interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_experiment",
      "description": "", "dataset_id": "7f7b84b6-fefa-4183-bb27-776c6c5a1145", "project_id":
      "dc4158e7-c60f-446e-bcf1-540aa68ffa0f", "dataset_version": 1, "config": {},
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"6e891c88-6b29-4c90-b8c4-fd2745eaa0ec","type":"experiments","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"config":{},"created_at":"2025-07-16T02:24:17.998945794Z","dataset_id":"7f7b84b6-fefa-4183-bb27-776c6c5a1145","dataset_version":1,"description":"","experiment":"test_experiment","metadata":{"tags":[]},"name":"test_experiment-1752632657998","project_id":"dc4158e7-c60f-446e-bcf1-540aa68ffa0f","updated_at":"2025-07-16T02:24:17.998945909Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
