interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/69835f73-67c1-4a71-b44a-a1c146e37930/records
  response:
    body:
      string: '{"data":[{"id":"8ea71009-e18a-4cbf-ac55-d0471b9f73cd","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"e15fa6c5-8251-421e-b1bd-4ee7227bb824","created_at":"2026-02-18T06:24:31.223565Z","dataset_id":"69835f73-67c1-4a71-b44a-a1c146e37930","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2026-02-18T06:24:31.223565Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
