interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "9f0e6306-3b43-40ef-9921-a808fc9a0aac",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Sealand?"}, "expected_output": null, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/9f0e6306-3b43-40ef-9921-a808fc9a0aac/batch_update
  response:
    body:
      string: '{"data":[{"id":"c4c1b8be-07e7-4b8d-b637-84bdf1460528","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:52:04.943692681Z","dataset_id":"9f0e6306-3b43-40ef-9921-a808fc9a0aac","input":{"prompt":"What
        is the capital of Sealand?"},"updated_at":"2025-08-06T20:52:04.943692681Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
