interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"metric_source": "custom", "span_id": "123", "trace_id": "456",
      "timestamp_ms": 1234, "metric_type": "score", "label": "dummy_evaluator", "score_value":
      0, "error": null, "tags": [], "experiment_id": "3beafe8d-f4a5-4d32-ae7b-b8680f47e304",
      "status": "OK"}], "tags": ["ddtrace.version:1.2.3", "project_id:c4b49fb5-7b16-46e1-86f0-de5800e8a56c",
      "experiment_id:3beafe8d-f4a5-4d32-ae7b-b8680f47e304", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
      ? !!python/object/apply:multidict._multidict.istr
      - Datadog-Entity-ID
      : - in-882
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/3beafe8d-f4a5-4d32-ae7b-b8680f47e304/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
