interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "2f376001-f964-4f1e-897d-4585ccff39ea",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["f859c072-c30a-497b-be53-a66d14fedd57"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/2f376001-f964-4f1e-897d-4585ccff39ea/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
