interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "d2900581-71da-4dd5-9582-4f64839b3955",
      "attributes": {"insert_records": [], "update_records": [{"input": {"prompt":
      "What is the capital of Germany?"}, "expected_output": {"answer": "Berlin"},
      "metadata": null, "id": "77b601feb28443f4b30658f7dbdfab51"}, {"input": {"prompt":
      "What is the capital of Mexico?"}, "expected_output": "", "metadata": {"difficulty":
      "easy"}, "id": "380b43267d134ca9a582bb0913b31f64"}], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/d2900581-71da-4dd5-9582-4f64839b3955/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
