interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/5b25f158-9e45-4da9-980e-2cdbee4b01d3/records
  response:
    body:
      string: '{"data":[{"id":"74c220b1-6cac-4741-957b-7fc89ba68c5d","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"9cc6cfb2-72d6-4117-b081-c1ff52aa547d","created_at":"2026-02-20T04:46:05.238681Z","dataset_id":"5b25f158-9e45-4da9-980e-2cdbee4b01d3","input":{"prompt":"What
        is the capital of Sweden?"},"updated_at":"2026-02-20T04:46:05.238681Z"}},{"id":"95cf308d-50ee-463c-98e6-57e87d16d3e3","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"a5de2c82-44db-40d0-84d3-609add61ba9b","created_at":"2026-02-20T04:46:01.020583Z","dataset_id":"5b25f158-9e45-4da9-980e-2cdbee4b01d3","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2026-02-20T04:46:01.020583Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
