interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "9e357184-88a0-4d7b-9563-a65e65a397cb",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/9e357184-88a0-4d7b-9563-a65e65a397cb/batch_update
  response:
    body:
      string: '{"data":[{"id":"33af45dd-1b9e-420b-884f-282cf4d2b1a2","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:52:14.16714687Z","dataset_id":"9e357184-88a0-4d7b-9563-a65e65a397cb","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T02:52:14.16714687Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
