interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-large-num-records",
      "description": "A test dataset with a large number of records"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets
  response:
    body:
      string: '{"data":{"id":"f572bfe7-98d4-42c2-90d9-4c50e554d62b","type":"datasets","attributes":{"author":{"id":"a7cd01e3-f412-11ed-a144-0aa89e224034"},"created_at":"2025-09-04T23:06:39.294177895Z","current_version":0,"description":"A
        test dataset with a large number of records","name":"test-dataset-large-num-records","updated_at":"2025-09-04T23:06:39.294177895Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
