interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "db24fce1-b84d-412d-9724-c8da397f545a",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/db24fce1-b84d-412d-9724-c8da397f545a/batch_update
  response:
    body:
      string: '{"data":[{"id":"bd2bd0ed-1b43-43ce-978b-fa7ba79bcf48","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:47.282678499Z","dataset_id":"db24fce1-b84d-412d-9724-c8da397f545a","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T01:05:47.282678499Z","version":1}},{"id":"03edf0cf-d01b-4e6c-a30f-042020ea8766","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:47.282678499Z","dataset_id":"db24fce1-b84d-412d-9724-c8da397f545a","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-09-09T01:05:47.282678499Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
