interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "8d55059f-2d2e-4b58-8f99-eaa80c5c6be1",
      "attributes": {"insert_records": [], "update_records": [{"input": {"prompt":
      "What is the capital of Germany?"}, "expected_output": {"answer": "Berlin"},
      "metadata": null, "id": "efc063b9-3177-4692-8add-c6ad844a3bb6"}], "delete_records":
      []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/8d55059f-2d2e-4b58-8f99-eaa80c5c6be1/batch_update
  response:
    body:
      string: '{"data":[{"id":"dd403cf4-afa1-4a60-96cf-95874a008eed","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:52:02.37373945Z","dataset_id":"8d55059f-2d2e-4b58-8f99-eaa80c5c6be1","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"updated_at":"2025-09-09T02:52:02.373739524Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
