interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "fdefd8cf-849c-4af1-be36-51241ac09dc5",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/fdefd8cf-849c-4af1-be36-51241ac09dc5/batch_update
  response:
    body:
      string: '{"data":[{"id":"ee68b79b-0716-42db-84e2-a0d7fb76b4de","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:47:10.231532218Z","dataset_id":"fdefd8cf-849c-4af1-be36-51241ac09dc5","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T02:47:10.231532218Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
