interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["8491bade-bb2a-4ded-8111-bd97520cb025"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"8491bade-bb2a-4ded-8111-bd97520cb025","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"created_at":"2026-02-18T06:23:42.415765Z","current_version":2,"dataset_type":"user","deleted_at":"2026-02-18T06:23:47.172468Z","description":"A
        test dataset","name":"test-dataset-test_dataset_modify_records_multiple_times[test_dataset_records0]","project_id":"c1579583-4e74-4538-8b17-17950b764f42","updated_at":"2026-02-18T06:23:44.711285Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
