interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "6ce9ff00-16f0-4893-8f47-5ad94cf5b721",
      "attributes": {"insert_records": [{"input": {"prompt": "a"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}, {"input": {"prompt": "b"}, "expected_output":
      "", "metadata": {}, "tags": ["env:staging"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/6ce9ff00-16f0-4893-8f47-5ad94cf5b721/batch_update
  response:
    body:
      string: '{"data":[{"id":"b6f02c21-d69c-48ca-8190-d664011efd57","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"20479727-a0e7-4383-8fe3-7cf60427cf02","created_at":"2026-02-27T16:34:57.44969617Z","dataset_id":"6ce9ff00-16f0-4893-8f47-5ad94cf5b721","expected_output":"","input":{"prompt":"a"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-02-27T16:34:57.44969617Z","version":1}},{"id":"4db552fa-3b8c-4f91-98ea-a53fafccef92","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"b2645ca8-0e49-47a2-b93a-a83f9ef3008b","created_at":"2026-02-27T16:34:57.44969617Z","dataset_id":"6ce9ff00-16f0-4893-8f47-5ad94cf5b721","expected_output":"","input":{"prompt":"b"},"metadata":{},"tags":["env:staging"],"updated_at":"2026-02-27T16:34:57.44969617Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
