interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "2de7d760-e683-4dfd-ae8f-16d107b92364",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/2de7d760-e683-4dfd-ae8f-16d107b92364/batch_update
  response:
    body:
      string: '{"data":[{"id":"443202ce-315c-42fc-b492-c8d1ee7e18f5","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"59c1e81e-f467-41dd-97bc-e842f615de58","created_at":"2026-02-11T20:28:18.055834362Z","dataset_id":"2de7d760-e683-4dfd-ae8f-16d107b92364","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:28:18.055834362Z","version":3}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
