interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/eeb31dd4-38a7-4a76-ab12-cfe6dca5cb23/records
  response:
    body:
      string: '{"data":[{"id":"ef2f6229-9d6f-4c57-8838-2063ac841a15","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"50a85a2f-8b97-4b49-918b-01d8aa2c0971","created_at":"2026-02-18T06:05:17.390224Z","dataset_id":"eeb31dd4-38a7-4a76-ab12-cfe6dca5cb23","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"updated_at":"2026-02-18T06:05:17.390224Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
