interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/1a5ec508-5e67-45e8-b8aa-264c1cd74aad/records
  response:
    body:
      string: '{"data":[{"id":"80f98f65-4938-4ff5-b67d-d7d61fc65203","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"8008bebe-8f9a-438e-9108-bad4d4701a44","created_at":"2026-02-18T06:24:21.340157Z","dataset_id":"1a5ec508-5e67-45e8-b8aa-264c1cd74aad","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2026-02-18T06:24:21.340157Z"}},{"id":"2b80f904-0d09-48f1-b032-8990f734029b","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"b00f329a-0fc2-411f-b60c-df697fcebe4e","created_at":"2026-02-18T06:24:21.340157Z","dataset_id":"1a5ec508-5e67-45e8-b8aa-264c1cd74aad","expected_output":{"answer":"Stockholm"},"input":{"prompt":"What
        is the capital of Sweden?"},"updated_at":"2026-02-18T06:24:21.340157Z"}},{"id":"8e3c85b7-f7e9-4d0a-92ae-ae809cecb00a","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"305fe454-26b6-4e93-89c5-3d9cd50f873e","created_at":"2026-02-18T06:24:17.16046Z","dataset_id":"1a5ec508-5e67-45e8-b8aa-264c1cd74aad","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2026-02-18T06:24:17.16046Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
