interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/c1579583-4e74-4538-8b17-17950b764f42/datasets?filter%5Bname%5D=test-dataset-test_dataset_modify_single_record%5Btest_dataset_records0%5D
  response:
    body:
      string: '{"data":[{"id":"d546a3b6-781e-4043-9d46-4599fc28eb40","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"created_at":"2026-02-18T06:23:47.411269Z","current_version":2,"dataset_type":"user","description":"A
        test dataset","name":"test-dataset-test_dataset_modify_single_record[test_dataset_records0]","project_id":"c1579583-4e74-4538-8b17-17950b764f42","updated_at":"2026-02-18T06:23:49.696109Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
