interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["e66655ff-b2cc-4ceb-bb7c-949deb963839"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"e66655ff-b2cc-4ceb-bb7c-949deb963839","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2026-03-05T19:58:40.710639Z","current_version":0,"dataset_type":"user","deleted_at":"2026-03-05T19:58:42.825917Z","description":"A
        test dataset","name":"test-dataset-test_ds_add_tags_new_dedup","project_id":"569aa33c-7acf-4061-abd0-4f2078e61ee8","updated_at":"2026-03-05T19:58:40.710639Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
