interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["7ebcf701-2bd3-42d4-9dbd-01bb1169e66f"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"7ebcf701-2bd3-42d4-9dbd-01bb1169e66f","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:50:43.950024Z","current_version":1,"deleted_at":"2025-08-06T20:50:47.897324Z","description":"A
        good pipe separated csv dataset","name":"test-dataset-good-csv-pipe","updated_at":"2025-08-06T20:50:44.335903Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
