interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["8657a34e-0c25-4dd6-a45f-8834e2a1b65e"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"8657a34e-0c25-4dd6-a45f-8834e2a1b65e","type":"datasets","attributes":{"author":{"id":"df7d11c9-da50-11ed-af19-2e9f609a4672"},"created_at":"2025-07-15T00:15:20.485973Z","current_version":0,"deleted_at":"2025-07-15T00:15:21.062995Z","description":"A
        test dataset","name":"test-dataset-test_dataset_pull_exists_but_no_records[test_dataset_records0]","updated_at":"2025-07-15T00:15:20.485973Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
