interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "4d9db36e-386d-4dfb-8cf7-4057c264d0a7",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Sweden?"}, "expected_output": null, "metadata": null}], "update_records":
      [], "delete_records": ["546d50f7f4994c0eaaae4afeeb3f1f04", "09e3cd3b99484cab854e0f039c95918c",
      "13c3bb74-a894-4527-b6fb-dde755ce40e2"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/4d9db36e-386d-4dfb-8cf7-4057c264d0a7/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
