interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"span_id": "123", "trace_id": "456", "timestamp_ms": 1234, "metric_type":
      "score", "label": "dummy_evaluator", "score_value": 0, "error": null, "tags":
      ["ddtrace.version:1.2.3", "experiment_id:2bf1ee31-85d5-4b7e-bc14-66fec8df7d35"],
      "experiment_id": "2bf1ee31-85d5-4b7e-bc14-66fec8df7d35"}], "tags": ["ddtrace.version:1.2.3",
      "experiment_id:2bf1ee31-85d5-4b7e-bc14-66fec8df7d35"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/2bf1ee31-85d5-4b7e-bc14-66fec8df7d35/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
