interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "e03e6dcc-1a71-49ed-82b0-0042d0f7e117",
      "attributes": {"insert_records": [{"input": {"in0": "r0v1", "in1": "r0v2", "in2":
      "r0v3"}, "expected_output": {"out0": "r0v4", "out1": "r0v5"}, "metadata": {}},
      {"input": {"in0": "r1v1", "in1": "r1v2", "in2": "r1v3"}, "expected_output":
      {"out0": "r1v4", "out1": "r1v5"}, "metadata": {}}], "update_records": [], "delete_records":
      []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/e03e6dcc-1a71-49ed-82b0-0042d0f7e117/batch_update
  response:
    body:
      string: '{"data":[{"id":"da1cc2ae-89de-4560-8383-2636bf34ee97","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:50:39.959049669Z","dataset_id":"e03e6dcc-1a71-49ed-82b0-0042d0f7e117","expected_output":{"out0":"r0v4","out1":"r0v5"},"input":{"in0":"r0v1","in1":"r0v2","in2":"r0v3"},"metadata":{},"updated_at":"2025-08-06T20:50:39.959049669Z","version":1}},{"id":"f02d8e81-269c-4785-af58-5fbf75c69c72","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:50:39.959049669Z","dataset_id":"e03e6dcc-1a71-49ed-82b0-0042d0f7e117","expected_output":{"out0":"r1v4","out1":"r1v5"},"input":{"in0":"r1v1","in1":"r1v2","in2":"r1v3"},"metadata":{},"updated_at":"2025-08-06T20:50:39.959049669Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
