interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "847deb0c-39c5-4e15-89d6-a232092624b5",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/847deb0c-39c5-4e15-89d6-a232092624b5/batch_update
  response:
    body:
      string: '{"data":[{"id":"b6c73a01-e105-4aa9-ba27-27581556ad1c","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:34:23.999850259Z","dataset_id":"847deb0c-39c5-4e15-89d6-a232092624b5","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T04:34:23.999850259Z","version":1}},{"id":"debdb5c9-f5d5-4bec-bad0-4876baff75a1","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:34:23.999850259Z","dataset_id":"847deb0c-39c5-4e15-89d6-a232092624b5","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-09-09T04:34:23.999850259Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
