interactions:
- request:
    body: '{"data": {"type": "projects", "attributes": {"name": "test-project-dne-sdk",
      "description": ""}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/projects
  response:
    body:
      string: '{"data":{"id":"29892594-46a2-4539-893d-5dc75f5968b7","type":"projects","attributes":{"author":{"id":"df7d11c9-da50-11ed-af19-2e9f609a4672"},"created_at":"2025-07-22T13:56:57.145757042Z","name":"test-project-dne-sdk","updated_at":"2025-07-22T13:56:57.145757042Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
