interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/ee7fe7e8-e947-4d0e-be54-be22314ca561/records
  response:
    body:
      string: '{"data":[{"id":"e321f0d4-4015-4d75-b2ea-041ac769bce4","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:50:33.566793Z","dataset_id":"ee7fe7e8-e947-4d0e-be54-be22314ca561","expected_output":{},"input":{"in0":"r0v1","in1":"r0v2","in2":"r0v3"},"metadata":{},"updated_at":"2025-08-06T20:50:33.566793Z"}},{"id":"5fad1a5e-3f1d-427b-94f6-fcc17026153d","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:50:33.566793Z","dataset_id":"ee7fe7e8-e947-4d0e-be54-be22314ca561","expected_output":{},"input":{"in0":"r1v1","in1":"r1v2","in2":"r1v3"},"metadata":{},"updated_at":"2025-08-06T20:50:33.566793Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
