interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/6caca08a-b29c-403a-849b-a8b7c9d96104/records
  response:
    body:
      string: '{"data":[{"id":"bb3bb851-a960-418e-ab75-4fc86952b600","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"d5c7d8a5-517b-43b7-95b8-feb7f8545745","created_at":"2026-02-18T06:24:57.948059Z","dataset_id":"6caca08a-b29c-403a-849b-a8b7c9d96104","input":{"prompt":"What
        is the capital of Sweden?"},"updated_at":"2026-02-18T06:24:57.948059Z"}},{"id":"a06a400e-1b9c-4091-9288-6bd7fa6fc6cb","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"9c36e9f8-c367-4530-8b17-83ac9da0cfae","created_at":"2026-02-18T06:24:53.771541Z","dataset_id":"6caca08a-b29c-403a-849b-a8b7c9d96104","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2026-02-18T06:24:53.771541Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
