interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"metric_source": "custom", "span_id": "123", "trace_id": "456",
      "timestamp_ms": 1234, "metric_type": "score", "label": "dummy_evaluator", "score_value":
      0, "error": null, "tags": ["ddtrace.version:1.2.3", "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9",
      "experiment_id:27dc7718-7e8c-4eb4-9a5a-fc48022ad381", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"], "experiment_id": "27dc7718-7e8c-4eb4-9a5a-fc48022ad381"}],
      "tags": ["ddtrace.version:1.2.3", "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9",
      "experiment_id:27dc7718-7e8c-4eb4-9a5a-fc48022ad381", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/27dc7718-7e8c-4eb4-9a5a-fc48022ad381/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
