interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/3e6200df-a231-4978-8c1f-256d4d85a4dd/records
  response:
    body:
      string: '{"data":[{"id":"e927dd73-2d5b-4fa1-907a-8102fa5d05aa","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"f207dd19-be3d-4031-807d-5a13c8943027","created_at":"2026-02-20T04:45:35.245119Z","dataset_id":"3e6200df-a231-4978-8c1f-256d4d85a4dd","input":{"prompt":"What
        is the capital of Sealand?"},"updated_at":"2026-02-20T04:45:35.245119Z"}},{"id":"5b947119-60af-426d-9e0b-39048079019a","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"6a824e3a-0ade-4aab-bb66-e5d7803f5bdd","created_at":"2026-02-20T04:45:31.019616Z","dataset_id":"3e6200df-a231-4978-8c1f-256d4d85a4dd","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2026-02-20T04:45:31.019616Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
