interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/13cef92c-20b7-412b-b7cf-bee4de3ac31a/records
  response:
    body:
      string: '{"data":[{"id":"34484a82-80af-46fd-8822-76552ac2174b","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:52:46.036904Z","dataset_id":"13cef92c-20b7-412b-b7cf-bee4de3ac31a","input":{"prompt":"What
        is the capital of Sealand?"},"updated_at":"2025-09-09T02:52:46.036904Z"}},{"id":"b78f2c3b-0c66-4ab1-9815-66dda065e793","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:52:41.31151Z","dataset_id":"13cef92c-20b7-412b-b7cf-bee4de3ac31a","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T02:52:41.31151Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
