interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"metric_source": "custom", "span_id": "123", "trace_id": "456",
      "timestamp_ms": 1234, "metric_type": "score", "label": "dummy_evaluator", "score_value":
      0, "error": null, "tags": ["ddtrace.version:1.2.3", "experiment_id:cc9ef6bd-84dc-4479-8c94-248a784d6420",
      "run_id:12345678-abcd-abcd-abcd-123456789012", "run_iteration:1"], "experiment_id":
      "cc9ef6bd-84dc-4479-8c94-248a784d6420"}], "tags": ["ddtrace.version:1.2.3",
      "experiment_id:cc9ef6bd-84dc-4479-8c94-248a784d6420", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/cc9ef6bd-84dc-4479-8c94-248a784d6420/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
