interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "bbef66f9-5e48-49aa-92ec-65e217d08271",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["caa14d5c-2d02-4058-8a73-fd4f5c55959d"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/bbef66f9-5e48-49aa-92ec-65e217d08271/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
