interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "2facf581-08b9-40c8-8377-28f895290c88",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/2facf581-08b9-40c8-8377-28f895290c88/batch_update
  response:
    body:
      string: '{"data":[{"id":"6eea94f8-d0d9-439b-813c-d6601c683828","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:51:29.335441534Z","dataset_id":"2facf581-08b9-40c8-8377-28f895290c88","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-08-06T20:51:29.335441534Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
