interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/2f376001-f964-4f1e-897d-4585ccff39ea/records
  response:
    body:
      string: '{"data":[{"id":"8d55ad5a-528e-46c4-bd58-76e3d2ea4ddf","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T03:00:50.046982Z","dataset_id":"2f376001-f964-4f1e-897d-4585ccff39ea","expected_output":"","input":{"prompt":"What
        is the capital of Nauru?"},"metadata":{},"updated_at":"2025-08-06T03:00:50.046982Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
