interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_experiment",
      "description": "", "dataset_id": "bc0a52f9-e5b8-42bb-81ec-4fa83b379dd4", "project_id":
      "569aa33c-7acf-4061-abd0-4f2078e61ee8", "dataset_version": 1, "config": {"models":
      ["gpt-4.1"]}, "metadata": {"tags": []}, "ensure_unique": true, "run_count":
      1}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"33760df8-a7a6-499d-b0e5-22ec90a76e5a","type":"experiments","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"config":{"models":["gpt-4.1"]},"created_at":"2026-02-18T06:06:43.71829025Z","dataset_id":"bc0a52f9-e5b8-42bb-81ec-4fa83b379dd4","dataset_version":1,"description":"","experiment":"test_experiment","metadata":{"tags":[]},"name":"test_experiment-1771394803718","project_id":"569aa33c-7acf-4061-abd0-4f2078e61ee8","run_count":1,"updated_at":"2026-02-18T06:06:43.718290332Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
