interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "5c608c07-535e-4ee5-93b6-568c1e122062",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/5c608c07-535e-4ee5-93b6-568c1e122062/batch_update
  response:
    body:
      string: '{"data":[{"id":"57ea2905-7b52-4d23-876b-31d0fa12a705","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"1fc20149-327e-4366-919a-cec6016cb297","created_at":"2026-03-05T19:58:38.305896844Z","dataset_id":"5c608c07-535e-4ee5-93b6-568c1e122062","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":[],"updated_at":"2026-03-05T19:58:38.305896844Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
