interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["4f6919dd-ea6d-44f6-89b5-cc77b04ec872"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"4f6919dd-ea6d-44f6-89b5-cc77b04ec872","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2026-02-27T16:35:16.098566Z","current_version":2,"dataset_type":"user","deleted_at":"2026-02-27T16:35:22.344075Z","description":"A
        test dataset","name":"test-dataset-test_dataset_push_with_replace_maps_to_set[test_dataset_records0]","project_id":"569aa33c-7acf-4061-abd0-4f2078e61ee8","updated_at":"2026-02-27T16:35:19.034324Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
