interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/c46fe7a4-f87f-4d52-a234-7abf856d467e/records
  response:
    body:
      string: '{"data":[{"id":"411de088-842f-44a7-9fac-5bea94d9696e","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:34:05.973713Z","dataset_id":"c46fe7a4-f87f-4d52-a234-7abf856d467e","input":{"prompt":"What
        is the capital of Nauru?"},"updated_at":"2025-09-09T04:34:05.973713Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
