interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/847deb0c-39c5-4e15-89d6-a232092624b5/records
  response:
    body:
      string: '{"data":[{"id":"30f76d97-31e7-4574-9b74-290b68374369","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:34:28.858006Z","dataset_id":"847deb0c-39c5-4e15-89d6-a232092624b5","input":{"prompt":"What
        is the capital of Sweden?"},"updated_at":"2025-09-09T04:34:28.858006Z"}},{"id":"debdb5c9-f5d5-4bec-bad0-4876baff75a1","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:34:23.99985Z","dataset_id":"847deb0c-39c5-4e15-89d6-a232092624b5","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-09-09T04:34:23.99985Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
