interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["84a30ea8-df55-4bcb-8ca5-d7e8bd4a8212"]}}}'
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"84a30ea8-df55-4bcb-8ca5-d7e8bd4a8212","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-16T20:06:51.923696Z","current_version":2,"deleted_at":"2025-07-16T20:06:54.765237Z","description":"A
        test dataset","name":"test-dataset-test_dataset_delete_record[test_dataset_records0]","updated_at":"2025-07-16T20:06:54.575183Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
