interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "05c49e7d-1f10-4f4f-a660-114b00674e13",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": {}}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/05c49e7d-1f10-4f4f-a660-114b00674e13/batch_update
  response:
    body:
      string: '{"data":[{"id":"3f4b5c92-27d5-40f7-a655-a9557af891ce","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T03:00:34.501998598Z","dataset_id":"05c49e7d-1f10-4f4f-a660-114b00674e13","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{},"updated_at":"2025-08-06T03:00:34.501998598Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
