interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "cfdb514f-92b0-404f-9b3f-020f82b0cd51",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/cfdb514f-92b0-404f-9b3f-020f82b0cd51/batch_update
  response:
    body:
      string: '{"data":[{"id":"0c84833f-c2a2-43e0-bbbe-5dee1336c5f3","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-08T20:49:58.695339032Z","dataset_id":"cfdb514f-92b0-404f-9b3f-020f82b0cd51","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-08-08T20:49:58.695339032Z","version":1}},{"id":"0a37e076-a220-427b-babe-74b9b7ca74a1","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-08T20:49:58.695339032Z","dataset_id":"cfdb514f-92b0-404f-9b3f-020f82b0cd51","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-08-08T20:49:58.695339032Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
