interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "a00d396a-8602-445a-ad69-340275be5f6f",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Italy?"}, "expected_output": {"answer": "Rome"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Sweden?"}, "expected_output": {"answer":
      "Stockholm"}, "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/a00d396a-8602-445a-ad69-340275be5f6f/batch_update
  response:
    body:
      string: '{"data":[{"id":"e3b5909c-9bbb-4745-b6ae-f6945a730d7a","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:34.100525022Z","dataset_id":"a00d396a-8602-445a-ad69-340275be5f6f","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-09-09T01:05:34.100525022Z","version":2}},{"id":"601d126c-6b91-4571-ab87-4812693c33f6","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:34.100525022Z","dataset_id":"a00d396a-8602-445a-ad69-340275be5f6f","expected_output":{"answer":"Stockholm"},"input":{"prompt":"What
        is the capital of Sweden?"},"updated_at":"2025-09-09T01:05:34.100525022Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
