interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "8491bade-bb2a-4ded-8111-bd97520cb025",
      "attributes": {"insert_records": [], "update_records": [{"input": {"prompt":
      "What is the capital of Germany?"}, "expected_output": {"answer": "Berlin"},
      "metadata": null, "id": "0de7bd08-d33e-4119-9c9d-b0d35457d102"}, {"input": {"prompt":
      "What is the capital of Mexico?"}, "expected_output": "", "metadata": {"difficulty":
      "easy"}, "id": "6720889f-32b4-48a0-9124-e753dc8117ea"}], "delete_records": [],
      "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/8491bade-bb2a-4ded-8111-bd97520cb025/batch_update
  response:
    body:
      string: '{"data":[{"id":"35029790-07f3-452a-bd30-cfb995d50189","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"5721b61f-da01-4199-ba22-1bd10ab0dd1b","created_at":"2026-02-18T06:23:44.702259791Z","dataset_id":"8491bade-bb2a-4ded-8111-bd97520cb025","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"tags":[],"updated_at":"2026-02-18T06:23:44.702259873Z","version":2}},{"id":"568d0050-82ec-48a2-8334-d9c679989627","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"944320bb-e9c7-42bd-af1f-6dfebf2025dc","created_at":"2026-02-18T06:23:44.702282477Z","dataset_id":"8491bade-bb2a-4ded-8111-bd97520cb025","expected_output":"","input":{"prompt":"What
        is the capital of Mexico?"},"metadata":{"difficulty":"easy"},"tags":[],"updated_at":"2026-02-18T06:23:44.702282551Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
