interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "9efdbfee-55af-4ad7-8377-6b1c8fe965d6",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/9efdbfee-55af-4ad7-8377-6b1c8fe965d6/batch_update
  response:
    body:
      string: '{"data":[{"id":"d756f72b-bcd9-4683-b811-0f88cf21e2b3","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"1ecb5ffa-e822-4cbc-8b7b-fef016e11242","created_at":"2026-03-05T19:58:15.210303012Z","dataset_id":"9efdbfee-55af-4ad7-8377-6b1c8fe965d6","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-03-05T19:58:15.210303012Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
