interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/f4feada7-0fe5-45df-acc7-b8b3949f3b43/records
  response:
    body:
      string: '{"data":[{"id":"4828cca9-8ef3-43b0-9c2d-c532fa41685d","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"44fa5b03-d2d3-4635-ba58-858f40ed8d9e","created_at":"2026-02-18T06:24:05.364665Z","dataset_id":"f4feada7-0fe5-45df-acc7-b8b3949f3b43","expected_output":{"answer":"Paris"},"input":"A","metadata":{"difficulty":"easy"},"updated_at":"2026-02-18T06:24:05.364665Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
