interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "7ebcf701-2bd3-42d4-9dbd-01bb1169e66f",
      "attributes": {"insert_records": [{"input": {"in0": "r0v1", "in1": "r0v2", "in2":
      "r0v3"}, "expected_output": {"out0": "r0v4", "out1": "r0v5"}, "metadata": {"m0":
      "r0v6"}}, {"input": {"in0": "r1v1", "in1": "r1v2", "in2": "r1v3"}, "expected_output":
      {"out0": "r1v4", "out1": "r1v5"}, "metadata": {"m0": "r1v6"}}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/7ebcf701-2bd3-42d4-9dbd-01bb1169e66f/batch_update
  response:
    body:
      string: '{"data":[{"id":"e010dba2-e158-44ab-9e93-fefebe057531","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:50:44.073620115Z","dataset_id":"7ebcf701-2bd3-42d4-9dbd-01bb1169e66f","expected_output":{"out0":"r0v4","out1":"r0v5"},"input":{"in0":"r0v1","in1":"r0v2","in2":"r0v3"},"metadata":{"m0":"r0v6"},"updated_at":"2025-08-06T20:50:44.073620115Z","version":1}},{"id":"e0f229b9-f018-4fc0-9076-9826400d0925","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:50:44.073620115Z","dataset_id":"7ebcf701-2bd3-42d4-9dbd-01bb1169e66f","expected_output":{"out0":"r1v4","out1":"r1v5"},"input":{"in0":"r1v1","in1":"r1v2","in2":"r1v3"},"metadata":{"m0":"r1v6"},"updated_at":"2025-08-06T20:50:44.073620115Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
