interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "6caca08a-b29c-403a-849b-a8b7c9d96104",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/6caca08a-b29c-403a-849b-a8b7c9d96104/batch_update
  response:
    body:
      string: '{"data":[{"id":"026a6974-4102-49a4-aa16-e05b49dc0c29","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"7bb12afa-dd16-45d8-b986-082c80173222","created_at":"2026-02-18T06:24:53.771541273Z","dataset_id":"6caca08a-b29c-403a-849b-a8b7c9d96104","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:24:53.771541273Z","version":1}},{"id":"a06a400e-1b9c-4091-9288-6bd7fa6fc6cb","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"9c36e9f8-c367-4530-8b17-83ac9da0cfae","created_at":"2026-02-18T06:24:53.771541273Z","dataset_id":"6caca08a-b29c-403a-849b-a8b7c9d96104","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-18T06:24:53.771541273Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
