interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-test_dataset_pull_exists_but_no_records[test_dataset_records0]",
      "description": "A test dataset"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/c1579583-4e74-4538-8b17-17950b764f42/datasets
  response:
    body:
      string: '{"data":{"id":"853401e1-bdef-40fb-ac96-9fd05d19ef5e","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"created_at":"2026-02-18T06:23:19.791984859Z","current_version":0,"description":"A
        test dataset","name":"test-dataset-test_dataset_pull_exists_but_no_records[test_dataset_records0]","project_id":"c1579583-4e74-4538-8b17-17950b764f42","updated_at":"2026-02-18T06:23:19.791984859Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
