interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["acf19ca4-8062-4548-abbf-95b33f55d51d"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"acf19ca4-8062-4548-abbf-95b33f55d51d","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-07-23T02:50:52.663543Z","current_version":1,"deleted_at":"2025-07-23T02:50:55.361839Z","description":"A
        good pipe separated csv dataset","name":"test-dataset-good-csv-pipe","updated_at":"2025-07-23T02:50:52.943101Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
