interactions:
- request:
    body: null
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/558866c8-20df-40cf-8929-ee9a4a825edc/records
  response:
    body:
      string: '{"data":[{"id":"27010292-4158-454a-ae6d-d5466d789595","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-11T02:28:09.907146Z","dataset_id":"558866c8-20df-40cf-8929-ee9a4a825edc","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{},"updated_at":"2025-07-11T02:28:09.907146Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
