interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "dab0ce13-b1a7-4a3a-a2b8-10127dbb65e6",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["9722dd12-1ea7-42ac-ac26-ddb438321d1c"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/dab0ce13-b1a7-4a3a-a2b8-10127dbb65e6/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
