interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-test_dataset_csv_no_expected_output",
      "description": "A good csv dataset without expected_output columns"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9/datasets
  response:
    body:
      string: '{"data":{"id":"8e7c21cf-bcf2-432c-bccd-20789cca6954","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"created_at":"2026-02-11T20:45:31.141991779Z","current_version":0,"description":"A
        good csv dataset without expected_output columns","name":"test-dataset-test_dataset_csv_no_expected_output","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","updated_at":"2026-02-11T20:45:31.141991779Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
