interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["da65493e-1d6e-4c70-8fa2-734f72ecb955"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"da65493e-1d6e-4c70-8fa2-734f72ecb955","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T02:59:55.210104Z","current_version":1,"deleted_at":"2025-08-06T03:00:01.962516Z","description":"A
        good csv dataset without expected_output columns","name":"test-dataset-good-csv-without-expected-output","updated_at":"2025-08-06T02:59:55.677815Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
