interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "9683ace0-bde7-4223-a623-b0d57dc090e7",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Sealand?"}, "expected_output": null, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/9683ace0-bde7-4223-a623-b0d57dc090e7/batch_update
  response:
    body:
      string: '{"data":[{"id":"e4eedb8e-14d4-41dc-9e38-3656166e950d","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"0f8c98e7-7c9d-4070-baf3-87879825045a","created_at":"2026-02-18T06:05:55.475019225Z","dataset_id":"9683ace0-bde7-4223-a623-b0d57dc090e7","input":{"prompt":"What
        is the capital of Sealand?"},"tags":[],"updated_at":"2026-02-18T06:05:55.475019225Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
