interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/9683ace0-bde7-4223-a623-b0d57dc090e7/records
  response:
    body:
      string: '{"data":[{"id":"e4eedb8e-14d4-41dc-9e38-3656166e950d","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"0f8c98e7-7c9d-4070-baf3-87879825045a","created_at":"2026-02-18T06:05:55.475019Z","dataset_id":"9683ace0-bde7-4223-a623-b0d57dc090e7","input":{"prompt":"What
        is the capital of Sealand?"},"updated_at":"2026-02-18T06:05:55.475019Z"}},{"id":"57200165-7a8e-4c44-aad7-82abda3e15e0","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"dc93334c-fe61-4c76-be87-0c2c08a52298","created_at":"2026-02-18T06:05:51.331183Z","dataset_id":"9683ace0-bde7-4223-a623-b0d57dc090e7","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2026-02-18T06:05:51.331183Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
