interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_async_experiment_extra_values",
      "description": "", "dataset_id": "4df8ea9c-65df-4b55-b968-5efb88f64c53", "project_id":
      "f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "dataset_version": 1, "config": {},
      "metadata": {"tags": ["ddtrace.version:4.4.0rc4", "project_name:test-project",
      "dataset_name:async-test-dataset-one", "experiment_name:test_async_experiment_extra_values",
      "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9"]}, "ensure_unique": true,
      "run_count": 1}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"c5da0a9e-eb7b-41e2-bd1c-3699039c0efa","type":"experiments","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"config":{},"created_at":"2026-02-10T19:29:49.261339198Z","dataset_id":"4df8ea9c-65df-4b55-b968-5efb88f64c53","dataset_version":1,"description":"","experiment":"test_async_experiment_extra_values","metadata":{"tags":["ddtrace.version:4.4.0rc4","project_name:test-project","dataset_name:async-test-dataset-one","experiment_name:test_async_experiment_extra_values","project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9"]},"name":"test_async_experiment_extra_values-1770751789261","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","run_count":1,"updated_at":"2026-02-10T19:29:49.261339288Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
