interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "9df93ba2-af52-47c8-83df-9e2ab6641577",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/9df93ba2-af52-47c8-83df-9e2ab6641577/batch_update
  response:
    body:
      string: '{"data":[{"id":"67b1e69d-877d-4342-811c-2d95df816dd2","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"3b72b950-7c47-4d99-8794-ff314bc7d86c","created_at":"2026-02-18T06:02:15.701397462Z","dataset_id":"9df93ba2-af52-47c8-83df-9e2ab6641577","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:02:15.701397462Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
