interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"experiment_id": "b3f0da3c-a50a-4d09-b09e-814fc8dba1ed", "metric_source":
      "custom", "span_id": "123", "trace_id": "456", "timestamp_ms": 1770751160226,
      "metric_type": "score", "label": "async_dummy_evaluator", "score_value": 0,
      "error": null, "tags": ["ddtrace.version:1.2.3", "project_name:test-project",
      "dataset_name:async-test-dataset-multiple", "experiment_name:test_async_experiment_async_summary",
      "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "experiment_id:b3f0da3c-a50a-4d09-b09e-814fc8dba1ed",
      "run_id:12345678-abcd-abcd-abcd-123456789012", "run_iteration:1"]}, {"experiment_id":
      "b3f0da3c-a50a-4d09-b09e-814fc8dba1ed", "metric_source": "custom", "span_id":
      "123", "trace_id": "456", "timestamp_ms": 1770[...]
