interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/05c49e7d-1f10-4f4f-a660-114b00674e13/records
  response:
    body:
      string: '{"data":[{"id":"ff37d6e6-98cf-45c6-b042-cc603f065858","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T03:00:38.99758Z","dataset_id":"05c49e7d-1f10-4f4f-a660-114b00674e13","expected_output":"","input":{"prompt":"What
        is the capital of Sealand?"},"metadata":{},"updated_at":"2025-08-06T03:00:38.99758Z"}},{"id":"3f4b5c92-27d5-40f7-a655-a9557af891ce","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T03:00:34.501998Z","dataset_id":"05c49e7d-1f10-4f4f-a660-114b00674e13","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{},"updated_at":"2025-08-06T03:00:34.501998Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
