interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "878e91c3-62de-4eed-bb8f-fe9bfb4bc722",
      "attributes": {"insert_records": [], "update_records": [{"input": {"prompt":
      "What is the capital of Germany?"}, "expected_output": {"answer": "Berlin"},
      "metadata": null, "id": "77a0ee10-d3a3-4652-a00d-964782706498"}], "delete_records":
      []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/878e91c3-62de-4eed-bb8f-fe9bfb4bc722/batch_update
  response:
    body:
      string: '{"data":[{"id":"e378461c-3857-4c63-be0a-47d7c18d0381","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"472c2b03-f0ba-46d3-a0ef-954ab6da0872","created_at":"2026-02-11T20:51:49.623615815Z","dataset_id":"878e91c3-62de-4eed-bb8f-fe9bfb4bc722","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"tags":[],"updated_at":"2026-02-11T20:51:49.623615897Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
