interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["cd3cadcb-6465-4bf6-b503-5100535e7fbe"]}}}'
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"cd3cadcb-6465-4bf6-b503-5100535e7fbe","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-11T02:28:20.330783Z","current_version":0,"deleted_at":"2025-07-11T02:28:22.474416Z","description":"A
        test dataset","name":"test-dataset-test_experiment_invalid_evaluators_type_raises","updated_at":"2025-07-11T02:28:20.330783Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
