interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_async_experiment_async_summary",
      "description": "", "dataset_id": "108d1c0d-0fda-4d3f-8bba-de3075e0ee15", "project_id":
      "f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "dataset_version": 1, "config": {},
      "metadata": {"tags": ["ddtrace.version:4.4.0rc4", "project_name:test-project",
      "dataset_name:async-test-dataset-multiple", "experiment_name:test_async_experiment_async_summary",
      "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9"]}, "ensure_unique": true,
      "run_count": 1}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"9829b3ae-4626-4159-a672-78cd8ea6b37c","type":"experiments","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"config":{},"created_at":"2026-02-10T19:29:54.696012493Z","dataset_id":"108d1c0d-0fda-4d3f-8bba-de3075e0ee15","dataset_version":1,"description":"","experiment":"test_async_experiment_async_summary","metadata":{"tags":["ddtrace.version:4.4.0rc4","project_name:test-project","dataset_name:async-test-dataset-multiple","experiment_name:test_async_experiment_async_summary","project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9"]},"name":"test_async_experiment_async_summary-1770751794696","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","run_count":1,"updated_at":"2026-02-10T19:29:54.696012608Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
