interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["3b0f34cf-b840-4cb7-92bf-59fb2f103f38"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"3b0f34cf-b840-4cb7-92bf-59fb2f103f38","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2026-02-20T04:44:41.285163Z","current_version":1,"dataset_type":"user","deleted_at":"2026-02-20T04:44:44.243187Z","description":"A
        boston dataset","name":"test-dataset-857","project_id":"3a1a13ae-9bf7-4953-8f09-2e0235836d11","updated_at":"2026-02-20T04:44:41.496871Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
