interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "dd3ae298-27cf-44ad-9581-a730d9bfa0d4",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/dd3ae298-27cf-44ad-9581-a730d9bfa0d4/batch_update
  response:
    body:
      string: '{"data":[{"id":"bd219fc9-54fd-44a4-9e07-7ab1864361ac","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"efcef8f0-14ef-4200-899f-41ca36550afa","created_at":"2026-02-27T16:35:00.969895317Z","dataset_id":"dd3ae298-27cf-44ad-9581-a730d9bfa0d4","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":[],"updated_at":"2026-02-27T16:35:00.969895317Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
