interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/ca84bfdf-2350-40bc-a16d-8bddd3e27075/records
  response:
    body:
      string: '{"data":[{"id":"d1ea65b8-030f-4556-b04b-d99e77c63e8b","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:33:16.75372Z","dataset_id":"ca84bfdf-2350-40bc-a16d-8bddd3e27075","expected_output":"","input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T04:33:16.75372Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
