interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "db19b946-da1c-4fc2-91ee-d6831fc27b58",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/db19b946-da1c-4fc2-91ee-d6831fc27b58/batch_update
  response:
    body:
      string: '{"data":[{"id":"0d742c92-08c4-47cb-87a0-4ad7416626bb","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"4b1c6e32-7997-4d22-b930-f954cebd56b1","created_at":"2026-02-27T16:34:43.350762095Z","dataset_id":"db19b946-da1c-4fc2-91ee-d6831fc27b58","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-02-27T16:34:43.350762095Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
