interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/25e4172b-d5a6-4304-be67-804829fcda67/records
  response:
    body:
      string: '{"data":[{"id":"f084c52c-3737-43e0-9806-dc363d80fd77","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-02-18T06:23:07.803019Z","dataset_id":"25e4172b-d5a6-4304-be67-804829fcda67","expected_output":{"out0":"r1v4","out1":"r1v5"},"input":{"in0":"r1v1","in1":"r1v2","in2":"r1v3"},"metadata":{},"updated_at":"2026-02-18T06:23:07.803019Z"}},{"id":"9d7755be-1850-4edf-847f-c3f04634e094","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-02-18T06:23:07.803019Z","dataset_id":"25e4172b-d5a6-4304-be67-804829fcda67","expected_output":{"out0":"r0v4","out1":"r0v5"},"input":{"in0":"r0v1","in1":"r0v2","in2":"r0v3"},"metadata":{},"updated_at":"2026-02-18T06:23:07.803019Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
