interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-2",
      "description": "A second test dataset"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets
  response:
    body:
      string: '{"data":{"id":"a8ac91ba-3c20-4109-861e-f775f7c3f661","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:50:55.456509334Z","current_version":0,"description":"A
        second test dataset","name":"test-dataset-2","updated_at":"2025-08-06T20:50:55.456509334Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
