interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "7cca2e83-cab9-4297-9731-ed43bb4cfb32",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["e8ba0224-3f87-4d30-a859-35a9b4169d6e"], "deduplicate": true, "create_new_version":
      true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/7cca2e83-cab9-4297-9731-ed43bb4cfb32/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
