interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "4d9db36e-386d-4dfb-8cf7-4057c264d0a7",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Sweden?"}, "expected_output": null, "metadata": null}], "update_records":
      [], "delete_records": ["38d3262f5ae14d03acbc5b7b6c9b4e75", "382cd40e754b4b8a91f7fb11304cd782",
      "13c3bb74-a894-4527-b6fb-dde755ce40e2"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/4d9db36e-386d-4dfb-8cf7-4057c264d0a7/batch_update
  response:
    body:
      string: '{"data":[{"id":"d6d90a6c-24cd-431f-88e6-ba9ee505ffc6","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-08T06:45:22.183316263Z","dataset_id":"4d9db36e-386d-4dfb-8cf7-4057c264d0a7","input":{"prompt":"What
        is the capital of Sweden?"},"updated_at":"2025-08-08T06:45:22.183316263Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
