interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/0ae73297-91e7-44d8-b63e-b034cbbe0d9f/records
  response:
    body:
      string: '{"data":[{"id":"fce1046d-5652-489f-9562-1acaea31c3a1","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:04:32.741132Z","dataset_id":"0ae73297-91e7-44d8-b63e-b034cbbe0d9f","expected_output":"output_67","input":"input_67","updated_at":"2025-09-09T01:04:32.741132Z"}},{"id":"0ac55738-e29c-4d12-9640-33b858112c4f","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:04:32.741132Z","dataset_id":"0ae73297-91e7-44d8-b63e-b034cbbe0d9f","expected_output":"output_6","input":"input_6","updated_at":"2025-09-09T01:04:32.741132Z"}},{"id":"e36c4e21-6789-4409-a7b0-46149b923334","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"202[...]
