interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "cfcd9217-5ed1-4608-a320-c7bae70c62e4",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/cfcd9217-5ed1-4608-a320-c7bae70c62e4/batch_update
  response:
    body:
      string: '{"data":[{"id":"895803a9-ca55-42c8-b6e2-952235329d27","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"6dfed253-556c-43c1-9f57-62b895136bd9","created_at":"2026-03-05T19:58:51.433841156Z","dataset_id":"cfcd9217-5ed1-4608-a320-c7bae70c62e4","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-03-05T19:58:51.433841156Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
