interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "1ebc4710-c5a1-4487-b56f-25ecefcc1bf1",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/1ebc4710-c5a1-4487-b56f-25ecefcc1bf1/batch_update
  response:
    body:
      string: '{"data":[{"id":"f681d2a5-01aa-4369-b760-5eed65ae632d","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-08T05:56:35.363359262Z","dataset_id":"1ebc4710-c5a1-4487-b56f-25ecefcc1bf1","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-08-08T05:56:35.363359262Z","version":1}},{"id":"f28cabd6-e1c6-4b00-9888-4dea090b13d3","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-08T05:56:35.363359262Z","dataset_id":"1ebc4710-c5a1-4487-b56f-25ecefcc1bf1","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-08-08T05:56:35.363359262Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
