interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "b6ad1338-d393-4c73-9870-a476beaa17d1",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Massachusetts?"}, "expected_output": {"answer": "Boston"}, "metadata": null}],
      "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/b6ad1338-d393-4c73-9870-a476beaa17d1/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
