interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "da2d313e-11d6-4a75-ada5-371c30e31ac1",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/da2d313e-11d6-4a75-ada5-371c30e31ac1/batch_update
  response:
    body:
      string: '{"data":[{"id":"6889a39d-eefc-4267-9dc3-7f113438a3f6","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:06:14.877787541Z","dataset_id":"da2d313e-11d6-4a75-ada5-371c30e31ac1","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T01:06:14.877787541Z","version":1}},{"id":"c09f69d6-508a-4cca-a483-b5aa50fc2fc3","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:06:14.877787541Z","dataset_id":"da2d313e-11d6-4a75-ada5-371c30e31ac1","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-09-09T01:06:14.877787541Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
