interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_experiment",
      "description": "", "dataset_id": "e3608c37-7422-4a91-8897-9dc6097e86b4", "project_id":
      "dc4158e7-c60f-446e-bcf1-540aa68ffa0f", "dataset_version": 0, "config": {},
      "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"3a60c3a4-bf4a-42f9-ae25-685395737c9d","type":"experiments","attributes":{"author":{"id":"df7d11c9-da50-11ed-af19-2e9f609a4672"},"config":{},"created_at":"2025-07-11T21:27:31.727404922Z","dataset_id":"e3608c37-7422-4a91-8897-9dc6097e86b4","dataset_version":0,"description":"","experiment":"test_experiment","metadata":{"tags":[]},"name":"test_experiment-1752269251727","project_id":"dc4158e7-c60f-446e-bcf1-540aa68ffa0f","updated_at":"2025-07-11T21:27:31.727405004Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
