interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets?filter%5Bname%5D=test-dataset-one-rec
  response:
    body:
      string: '{"data":[{"id":"cd4a3640-8cc3-40f0-829c-1f6116fdf94f","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2026-02-20T06:02:42.009159Z","current_version":1,"dataset_type":"user","description":"A
        test dataset","name":"test-dataset-one-rec","project_id":"569aa33c-7acf-4061-abd0-4f2078e61ee8","updated_at":"2026-02-20T06:02:42.220898Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
