interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_experiment",
      "description": "", "dataset_id": "ccc67a8c-a416-4819-9678-c66ba970b6dc", "project_id":
      "f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "dataset_version": 1, "config": {"models":
      ["gpt-4.1"]}, "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"c3ef6f72-bbb4-42e1-a3fc-9db3b127dd8d","type":"experiments","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"config":{"models":["gpt-4.1"]},"created_at":"2025-09-09T01:06:41.46862847Z","dataset_id":"ccc67a8c-a416-4819-9678-c66ba970b6dc","dataset_version":1,"description":"","experiment":"test_experiment","metadata":{"tags":[]},"name":"test_experiment-1757380001468","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","updated_at":"2025-09-09T01:06:41.46862856Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
