interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "053f6531-6a5a-4b4b-97b3-552f8f2d922c",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/053f6531-6a5a-4b4b-97b3-552f8f2d922c/batch_update
  response:
    body:
      string: '{"data":[{"id":"43612148-5def-40fb-bf00-90527c4cef9a","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"7cf22aec-dbbc-44ca-a5ea-dece647e5026","created_at":"2026-02-27T16:34:50.363913087Z","dataset_id":"053f6531-6a5a-4b4b-97b3-552f8f2d922c","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":[],"updated_at":"2026-02-27T16:34:50.363913087Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
