interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-good-csv",
      "description": "A good csv dataset"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets
  response:
    body:
      string: '{"data":{"id":"e03e6dcc-1a71-49ed-82b0-0042d0f7e117","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:50:31.955110766Z","current_version":0,"description":"A
        good csv dataset","name":"test-dataset-good-csv","updated_at":"2025-08-06T20:50:31.955110766Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
