interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/a2b8562d-657b-48f2-a7df-f43e4169791e/records
  response:
    body:
      string: '{"data":[{"id":"539fdb06-f962-4556-a49f-f44d56b99b69","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"9fc1b444-0306-4ed3-92ea-8688cdce826e","created_at":"2026-02-20T04:44:47.114902Z","dataset_id":"a2b8562d-657b-48f2-a7df-f43e4169791e","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"updated_at":"2026-02-20T04:44:47.114902Z"}},{"id":"319a9010-34c2-4149-ab5b-a3d296bbae63","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"174894cf-d6ad-499f-b9fc-8acf9e8c147e","created_at":"2026-02-20T04:44:47.114921Z","dataset_id":"a2b8562d-657b-48f2-a7df-f43e4169791e","expected_output":"","input":{"prompt":"What
        is the capital of Mexico?"},"metadata":{"difficulty":"easy"},"updated_at":"2026-02-20T04:44:47.114921Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
