interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "8491bade-bb2a-4ded-8111-bd97520cb025",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of China?"}, "expected_output": {"answer": "Beijing"},
      "metadata": null}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/8491bade-bb2a-4ded-8111-bd97520cb025/batch_update
  response:
    body:
      string: '{"data":[{"id":"0de7bd08-d33e-4119-9c9d-b0d35457d102","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"5721b61f-da01-4199-ba22-1bd10ab0dd1b","created_at":"2026-02-18T06:23:42.535697177Z","dataset_id":"8491bade-bb2a-4ded-8111-bd97520cb025","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:23:42.535697177Z","version":1}},{"id":"6720889f-32b4-48a0-9124-e753dc8117ea","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"944320bb-e9c7-42bd-af1f-6dfebf2025dc","created_at":"2026-02-18T06:23:42.535697177Z","dataset_id":"8491bade-bb2a-4ded-8111-bd97520cb025","expected_output":{"answer":"Beijing"},"input":{"prompt":"What
        is the capital of China?"},"tags":[],"updated_at":"2026-02-18T06:23:42.535697177Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
