interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/cd4a3640-8cc3-40f0-829c-1f6116fdf94f/records
  response:
    body:
      string: '{"data":[{"id":"63242c2c-a4fb-471d-9a55-9a799978912e","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"67834e74-3ab9-4265-8fd4-4657840c7b33","created_at":"2026-02-20T06:02:42.210178Z","dataset_id":"cd4a3640-8cc3-40f0-829c-1f6116fdf94f","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2026-02-20T06:02:42.210178Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
