interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "1707dcaf-1364-48f1-bf28-6c8c39cda1d0",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/1707dcaf-1364-48f1-bf28-6c8c39cda1d0/batch_update
  response:
    body:
      string: '{"data":[{"id":"6b8234bf-9ab1-4bf2-b712-7586c5ae4cc6","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:53:18.413174465Z","dataset_id":"1707dcaf-1364-48f1-bf28-6c8c39cda1d0","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T02:53:18.413174465Z","version":1}},{"id":"084fa9f5-9f1c-4b6c-8017-2799c9869224","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:53:18.413174465Z","dataset_id":"1707dcaf-1364-48f1-bf28-6c8c39cda1d0","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-09-09T02:53:18.413174465Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
