interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"insert_records": [{"input":
      {"prompt": "What is the capital of France?"}, "expected_output": {"answer":
      "Paris"}, "metadata": {}}, {"input": {"prompt": "What is the capital of Canada?"},
      "expected_output": {"answer": "Ottawa"}, "metadata": {}}], "update_records":
      [], "delete_record_ids": []}}}'
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/e972d40d-2e15-462d-bf0f-2a1de8bff1f4/batch_update
  response:
    body:
      string: '{"data":[{"id":"e8273426-d710-4cde-8221-85319efa2cf2","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-16T02:24:18.58150214Z","dataset_id":"e972d40d-2e15-462d-bf0f-2a1de8bff1f4","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{},"updated_at":"2025-07-16T02:24:18.58150214Z","version":1}},{"id":"d9c43aaa-2b07-42b1-90f4-ab5c9587120b","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-16T02:24:18.58150214Z","dataset_id":"e972d40d-2e15-462d-bf0f-2a1de8bff1f4","expected_output":{"answer":"Ottawa"},"input":{"prompt":"What
        is the capital of Canada?"},"metadata":{},"updated_at":"2025-07-16T02:24:18.58150214Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
