interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "108d1c0d-0fda-4d3f-8bba-de3075e0ee15",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Germany?"}, "expected_output": {"answer":
      "Berlin"}, "metadata": null}, {"input": {"prompt": "What is the capital of Japan?"},
      "expected_output": {"answer": "Tokyo"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/108d1c0d-0fda-4d3f-8bba-de3075e0ee15/batch_update
  response:
    body:
      string: '{"data":[{"id":"849ba2e0-8e82-4550-ba68-3d74dfa75086","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"31b6860a-3aba-48ac-9b41-6216f41aa42c","created_at":"2026-02-10T19:29:44.985180126Z","dataset_id":"108d1c0d-0fda-4d3f-8bba-de3075e0ee15","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-10T19:29:44.985180126Z","version":1}},{"id":"acccb129-1897-449a-9345-db94002df620","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"33845cb3-ba0c-49a6-9597-896a5278b395","created_at":"2026-02-10T19:29:44.985180126Z","dataset_id":"108d1c0d-0fda-4d3f-8bba-de3075e0ee15","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"tags":[],"updated_at":"2026-02-10T19:29:44.985180126Z","version":1}},{"id":"51155eea-ff54-40dc-a6b2-69b2169fc968","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"69ed3f0a-2566-4e32-9643-b774ff00005f","created_at":"2026-02-10T19:29:44.985180126Z","dataset_id":"108d1c0d-0fda-4d3f-8bba-de3075e0ee15","expected_output":{"answer":"Tokyo"},"input":{"prompt":"What
        is the capital of Japan?"},"tags":[],"updated_at":"2026-02-10T19:29:44.985180126Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
