interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/9f0e6306-3b43-40ef-9921-a808fc9a0aac/records
  response:
    body:
      string: '{"data":[{"id":"c4c1b8be-07e7-4b8d-b637-84bdf1460528","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:52:04.943692Z","dataset_id":"9f0e6306-3b43-40ef-9921-a808fc9a0aac","input":{"prompt":"What
        is the capital of Sealand?"},"updated_at":"2025-08-06T20:52:04.943692Z"}},{"id":"31c80e89-fc4e-44e0-a840-2255f47668b6","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:52:00.498858Z","dataset_id":"9f0e6306-3b43-40ef-9921-a808fc9a0aac","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-08-06T20:52:00.498858Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
