interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "ee6a4f79-9e62-4661-9ef5-8ee7c849d84e",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": {"difficulty":
      "easy"}}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/ee6a4f79-9e62-4661-9ef5-8ee7c849d84e/batch_update
  response:
    body:
      string: '{"data":[{"id":"233d4d5b-055d-409a-ae44-f3d30fc272cd","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"a6accb0f-647a-405e-97bc-aa3b93955f2d","created_at":"2026-02-10T19:30:01.272654987Z","dataset_id":"ee6a4f79-9e62-4661-9ef5-8ee7c849d84e","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{"difficulty":"easy"},"tags":[],"updated_at":"2026-02-10T19:30:01.272654987Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
