interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["ec1700cb-fec3-4aa9-b324-2a10b0b69247"]}}}'
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"ec1700cb-fec3-4aa9-b324-2a10b0b69247","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-16T20:06:37.847311Z","current_version":2,"deleted_at":"2025-07-16T20:06:43.756024Z","description":"A
        test dataset","name":"test-dataset-test_dataset_modify_single_record[test_dataset_records0]","updated_at":"2025-07-16T20:06:40.394118Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
