interactions:
- request:
    body: '{"data": {"type": "projects", "attributes": {"name": "boston-project",
      "description": ""}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/projects
  response:
    body:
      string: '{"data":{"id":"3a1a13ae-9bf7-4953-8f09-2e0235836d11","type":"projects","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T03:51:19.396967Z","name":"boston-project","updated_at":"2025-09-09T03:51:19.396967Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
