interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "4946f67d-d5a7-45f5-9470-6762dbc0e689",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Canada?"}, "expected_output": {"answer":
      "Ottawa"}, "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/4946f67d-d5a7-45f5-9470-6762dbc0e689/batch_update
  response:
    body:
      string: '{"data":[{"id":"40f54bd9-1028-4c09-b752-1c3b5e8b649d","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:06:42.147523144Z","dataset_id":"4946f67d-d5a7-45f5-9470-6762dbc0e689","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T01:06:42.147523144Z","version":1}},{"id":"f5bb432f-9188-4a4e-b788-45dd6721efc0","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:06:42.147523144Z","dataset_id":"4946f67d-d5a7-45f5-9470-6762dbc0e689","expected_output":{"answer":"Ottawa"},"input":{"prompt":"What
        is the capital of Canada?"},"updated_at":"2025-09-09T01:06:42.147523144Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
