interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "17a4c8f6-e134-496f-a2c8-b90267720b6b",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/17a4c8f6-e134-496f-a2c8-b90267720b6b/batch_update
  response:
    body:
      string: '{"data":[{"id":"d2f12a14-8937-46d5-b829-74228fe5f206","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"b49f5140-1946-40d3-a5a2-93b376974f1b","created_at":"2026-03-05T19:58:17.743784023Z","dataset_id":"17a4c8f6-e134-496f-a2c8-b90267720b6b","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-03-05T19:58:17.743784023Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
