interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "a2ecb9a3-419f-41fb-9056-161cb303346e",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Canada?"}, "expected_output": {"answer":
      "Ottawa"}, "metadata": null}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/a2ecb9a3-419f-41fb-9056-161cb303346e/batch_update
  response:
    body:
      string: '{"data":[{"id":"af21a9b5-5715-4337-89d4-41fe2225e190","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"51714af7-038a-48da-bd22-f395bbc3d8c9","created_at":"2026-02-18T06:06:44.330618158Z","dataset_id":"a2ecb9a3-419f-41fb-9056-161cb303346e","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:06:44.330618158Z","version":1}},{"id":"082bb130-833d-45ca-ad57-9e648b9f9d39","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"ee1f8bb4-bf42-4ebc-ba47-f17c1e126323","created_at":"2026-02-18T06:06:44.330618158Z","dataset_id":"a2ecb9a3-419f-41fb-9056-161cb303346e","expected_output":{"answer":"Ottawa"},"input":{"prompt":"What
        is the capital of Canada?"},"tags":[],"updated_at":"2026-02-18T06:06:44.330618158Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
