interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["bcf5148b-4654-42bf-ad5b-68dc54473a8a"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"bcf5148b-4654-42bf-ad5b-68dc54473a8a","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"created_at":"2026-02-18T06:06:05.237667Z","current_version":2,"dataset_type":"user","deleted_at":"2026-02-18T06:06:11.957366Z","description":"A
        test dataset","name":"test-dataset-test_dataset_delete_no_expected_output[test_dataset_records0]","project_id":"569aa33c-7acf-4061-abd0-4f2078e61ee8","updated_at":"2026-02-18T06:06:09.517346Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
