interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/c1579583-4e74-4538-8b17-17950b764f42/datasets?filter%5Bname%5D=test-dataset-test_dataset_delete_no_expected_output%5Btest_dataset_records0%5D
  response:
    body:
      string: '{"data":[{"id":"7cca2e83-cab9-4297-9731-ed43bb4cfb32","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"created_at":"2026-02-18T06:24:39.1246Z","current_version":2,"dataset_type":"user","description":"A
        test dataset","name":"test-dataset-test_dataset_delete_no_expected_output[test_dataset_records0]","project_id":"c1579583-4e74-4538-8b17-17950b764f42","updated_at":"2026-02-18T06:24:43.456373Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
