interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/64eb404a-91c6-4430-9b8b-d90493dcaa99/records
  response:
    body:
      string: '{"data":[{"id":"7b22722f-ce7e-4809-821d-a7cf511a2511","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:51:35.006167Z","dataset_id":"64eb404a-91c6-4430-9b8b-d90493dcaa99","expected_output":"","input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-08-06T20:51:35.006167Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
