interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/415d4fcb-a569-4983-84cd-3e43afc74633/records
  response:
    body:
      string: '{"data":[{"id":"117448d6-90d0-46ba-9493-6fad17a381d9","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"d4d33aea-7dfb-408e-aaac-38b8ed1aac56","created_at":"2026-02-20T04:44:52.587682Z","dataset_id":"415d4fcb-a569-4983-84cd-3e43afc74633","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"updated_at":"2026-02-20T04:44:52.587683Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
