interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "async-test-dataset-one",
      "description": "A test dataset"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9/datasets
  response:
    body:
      string: '{"data":{"id":"4df8ea9c-65df-4b55-b968-5efb88f64c53","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"created_at":"2026-02-10T19:28:35.591245406Z","current_version":0,"description":"A
        test dataset","name":"async-test-dataset-one","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","updated_at":"2026-02-10T19:28:35.591245406Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
