interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/cfdb514f-92b0-404f-9b3f-020f82b0cd51/records
  response:
    body:
      string: '{"data":[{"id":"e6c19140-44dd-41ae-8617-adb52e2a79c1","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-08T20:50:03.226626Z","dataset_id":"cfdb514f-92b0-404f-9b3f-020f82b0cd51","input":{"prompt":"What
        is the capital of Sweden?"},"updated_at":"2025-08-08T20:50:03.226626Z"}},{"id":"0a37e076-a220-427b-babe-74b9b7ca74a1","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-08T20:49:58.695339Z","dataset_id":"cfdb514f-92b0-404f-9b3f-020f82b0cd51","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-08-08T20:49:58.695339Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
