interactions:
- request:
    body: null
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter%5Bname%5D=test-dataset-test_dataset_delete%5Btest_dataset_records0%5D
  response:
    body:
      string: '{"data":[{"id":"ce11ec07-4c99-49c8-a471-acddc38e8946","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-17T05:00:15.031961Z","current_version":2,"description":"A
        test dataset","name":"test-dataset-test_dataset_delete[test_dataset_records0]","updated_at":"2025-07-17T05:00:20.945988Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
