interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "a8013231-8569-449e-8061-7264adba8f0d",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": {"difficulty":
      "easy"}}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/a8013231-8569-449e-8061-7264adba8f0d/batch_update
  response:
    body:
      string: '{"data":[{"id":"9135f8f0-66d4-4a68-a75e-3d285320c465","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"79c3fd7a-b9c6-470b-937b-796817e6f686","created_at":"2026-02-11T20:28:14.444547734Z","dataset_id":"a8013231-8569-449e-8061-7264adba8f0d","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{"difficulty":"easy"},"tags":[],"updated_at":"2026-02-11T20:28:14.444547734Z","version":3}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
