interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/644a6c0a-0c06-4ab1-bb0f-55dfa872e451/records
  response:
    body:
      string: '{"data":[{"id":"9333e533-e9e4-47f6-b979-3097bab8c279","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:52:59.348665Z","dataset_id":"644a6c0a-0c06-4ab1-bb0f-55dfa872e451","input":{"prompt":"What
        is the capital of Nauru?"},"updated_at":"2025-09-09T02:52:59.348665Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
