interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "6b6c7303-eb1e-4622-8b14-ae6ea86c8afa",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/6b6c7303-eb1e-4622-8b14-ae6ea86c8afa/batch_update
  response:
    body:
      string: '{"data":[{"id":"75091c96-8678-471f-bfc5-0272a0b502ed","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:01.162780751Z","dataset_id":"6b6c7303-eb1e-4622-8b14-ae6ea86c8afa","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T01:05:01.162780751Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
