interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "7173a373-b75e-46dc-b50f-c0506154ffb1",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/7173a373-b75e-46dc-b50f-c0506154ffb1/batch_update
  response:
    body:
      string: '{"data":[{"id":"f20816bf-ba7f-4eea-9def-70c4efa9abc2","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:53:08.388037491Z","dataset_id":"7173a373-b75e-46dc-b50f-c0506154ffb1","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T02:53:08.388037491Z","version":1}},{"id":"672c9268-1cc3-4ea7-a4f8-b11fd1c10b68","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:53:08.388037491Z","dataset_id":"7173a373-b75e-46dc-b50f-c0506154ffb1","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-09-09T02:53:08.388037491Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
