interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "013933b6-a31c-4483-8af4-9e9bcd4977ca",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/013933b6-a31c-4483-8af4-9e9bcd4977ca/batch_update
  response:
    body:
      string: '{"data":[{"id":"ea7af6bd-4ebd-4c9c-b19e-fe4aa1c5397a","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"b4f5aaf4-5c4e-4d12-a569-1eae644b5fc3","created_at":"2026-02-20T04:44:55.848584391Z","dataset_id":"013933b6-a31c-4483-8af4-9e9bcd4977ca","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-20T04:44:55.848584391Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
