interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/0f268cc9-6e15-4186-8d4c-6c69ba1ed74a/records
  response:
    body:
      string: '{"data":[{"id":"6ad6eec8-6ff5-4876-89b8-1c6aaa65c385","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"f8440d1e-57c0-4272-a3e8-0476dbff6a0f","created_at":"2026-02-18T06:23:31.595358Z","dataset_id":"0f268cc9-6e15-4186-8d4c-6c69ba1ed74a","expected_output":{"answer":"Beijing"},"input":{"prompt":"What
        is the capital of China?"},"updated_at":"2026-02-18T06:23:31.595358Z"}},{"id":"fe3bdc86-8ef4-4d0d-aa42-c7227826f5c6","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"6a77948c-2b55-4898-90cc-b8901f970ac0","created_at":"2026-02-18T06:23:29.445141Z","dataset_id":"0f268cc9-6e15-4186-8d4c-6c69ba1ed74a","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2026-02-18T06:23:29.445141Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
