interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/e772d37c-8f3a-4374-9121-44552fbb5024/records
  response:
    body:
      string: '{"data":[{"id":"0e5e2473-32ad-4ae5-a90d-88ed0c2ba3c4","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"a2ca33d1-4384-4c73-b80e-8294771c96e8","created_at":"2026-02-27T16:35:33.012959Z","dataset_id":"e772d37c-8f3a-4374-9121-44552fbb5024","expected_output":"","input":{"prompt":"world"},"metadata":{},"tags":["env:staging"],"updated_at":"2026-02-27T16:35:33.012959Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
