interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "13cef92c-20b7-412b-b7cf-bee4de3ac31a",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/13cef92c-20b7-412b-b7cf-bee4de3ac31a/batch_update
  response:
    body:
      string: '{"data":[{"id":"b78f2c3b-0c66-4ab1-9815-66dda065e793","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:52:41.311510114Z","dataset_id":"13cef92c-20b7-412b-b7cf-bee4de3ac31a","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T02:52:41.311510114Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
