interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "e772d37c-8f3a-4374-9121-44552fbb5024",
      "attributes": {"insert_records": [], "update_records": [{"input": {"prompt":
      "world"}, "expected_output": null, "metadata": null, "id": "6dbdd645-c6b4-4b83-bafc-b74d9900666f",
      "tag_operations": {"set": ["env:staging"]}}], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/e772d37c-8f3a-4374-9121-44552fbb5024/batch_update
  response:
    body:
      string: '{"data":[{"id":"0e5e2473-32ad-4ae5-a90d-88ed0c2ba3c4","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"a2ca33d1-4384-4c73-b80e-8294771c96e8","created_at":"2026-02-27T16:35:33.012959028Z","dataset_id":"e772d37c-8f3a-4374-9121-44552fbb5024","expected_output":"","input":{"prompt":"world"},"metadata":{},"tags":["env:staging"],"updated_at":"2026-02-27T16:35:33.01295911Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
