interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_experiment",
      "description": "", "dataset_id": "ds_123", "project_id": "f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9",
      "dataset_version": 1, "config": {}, "metadata": {"tags": ["ddtrace.version:4.6.0rc1",
      "project_name:test-project", "dataset_name:test_dataset", "experiment_name:test_experiment",
      "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9"]}, "ensure_unique": true,
      "run_count": 1}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
      ? !!python/object/apply:multidict._multidict.istr
      - Datadog-Entity-ID
      : - in-2258
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"errors":["Unauthorized"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 401
      message: Unauthorized
version: 1
