interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets?filter%5Bname%5D=test-dataset-test_dataset_push_new_record_with_tags_no_tag_operations
  response:
    body:
      string: '{"data":[{"id":"8597866a-fded-46dc-9a63-7e46ab1b71e5","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2026-02-27T16:35:44.196462Z","current_version":1,"dataset_type":"user","description":"A
        test dataset","name":"test-dataset-test_dataset_push_new_record_with_tags_no_tag_operations","project_id":"569aa33c-7acf-4061-abd0-4f2078e61ee8","updated_at":"2026-02-27T16:35:46.60646Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
