interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "84181136-9b53-4f56-9987-525f4785c89b",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/84181136-9b53-4f56-9987-525f4785c89b/batch_update
  response:
    body:
      string: '{"data":[{"id":"c00fe642-642d-4a23-be52-8afaefca03fb","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"3f5cfd03-127c-4e42-89ec-6c8c16649126","created_at":"2026-02-11T20:45:25.871789213Z","dataset_id":"84181136-9b53-4f56-9987-525f4785c89b","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:45:25.871789213Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
