interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "68b435c0-2281-4aa2-8ff9-ee7e66353091",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/68b435c0-2281-4aa2-8ff9-ee7e66353091/batch_update
  response:
    body:
      string: '{"data":[{"id":"d19a1e84-cce4-4938-9f65-10c214e54fda","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"f3de4fa9-8338-479e-8081-98de28cb9814","created_at":"2026-02-18T06:05:25.289110903Z","dataset_id":"68b435c0-2281-4aa2-8ff9-ee7e66353091","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:05:25.289110903Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
