interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "7778e4c0-b400-4e8d-9ae3-35ab2753123d",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/7778e4c0-b400-4e8d-9ae3-35ab2753123d/batch_update
  response:
    body:
      string: '{"data":[{"id":"63b5a396-f462-4093-87b2-6e3044971c12","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"a33ce762-11ef-46ed-bf57-39c1ffbd77d0","created_at":"2026-02-11T20:52:49.432456387Z","dataset_id":"7778e4c0-b400-4e8d-9ae3-35ab2753123d","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:52:49.432456387Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
