interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["cd4a3640-8cc3-40f0-829c-1f6116fdf94f"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"cd4a3640-8cc3-40f0-829c-1f6116fdf94f","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2026-02-20T06:02:42.009159Z","current_version":1,"dataset_type":"user","deleted_at":"2026-02-20T06:05:30.206313Z","description":"A
        test dataset","name":"test-dataset-one-rec","project_id":"569aa33c-7acf-4061-abd0-4f2078e61ee8","updated_at":"2026-02-20T06:02:42.220898Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
