interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "8740a174-ff37-4ceb-a001-3c20f845b9ee",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/8740a174-ff37-4ceb-a001-3c20f845b9ee/batch_update
  response:
    body:
      string: '{"data":[{"id":"9e91b2b2-0fe5-4ba0-a883-1fe96da35c2d","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"1b2118dc-7e14-46a8-be57-362854bfcf7b","created_at":"2026-02-18T06:06:12.396722557Z","dataset_id":"8740a174-ff37-4ceb-a001-3c20f845b9ee","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:06:12.396722557Z","version":1}},{"id":"1861556a-9e25-4c38-82e1-9b7631d5fe8b","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"09514625-db1b-4089-bde5-ae0ac38a123c","created_at":"2026-02-18T06:06:12.396722557Z","dataset_id":"8740a174-ff37-4ceb-a001-3c20f845b9ee","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-18T06:06:12.396722557Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
