interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "2c079a59-06d7-4592-adcc-8f4124c0ea3b",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": {"difficulty":
      "easy"}}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/2c079a59-06d7-4592-adcc-8f4124c0ea3b/batch_update
  response:
    body:
      string: '{"data":[{"id":"371eb8d2-f5f3-44e6-a8bb-64169a656a7b","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:51:38.394638367Z","dataset_id":"2c079a59-06d7-4592-adcc-8f4124c0ea3b","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{"difficulty":"easy"},"updated_at":"2025-08-06T20:51:38.394638367Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
