interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "b6ad1338-d393-4c73-9870-a476beaa17d1",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Massachusetts?"}, "expected_output": {"answer": "Boston"}, "metadata": null}],
      "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/b6ad1338-d393-4c73-9870-a476beaa17d1/batch_update
  response:
    body:
      string: '{"data":[{"id":"7de9aadb-3a37-457e-8e1a-051874218755","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:32:47.923070285Z","dataset_id":"b6ad1338-d393-4c73-9870-a476beaa17d1","expected_output":{"answer":"Boston"},"input":{"prompt":"What
        is the capital of Massachusetts?"},"updated_at":"2025-09-09T04:32:47.923070285Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
