interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "4fe88b92-aa39-4be9-9043-b8402147a3aa",
      "attributes": {"insert_records": [], "update_records": [{"input": "A", "expected_output":
      null, "metadata": null, "id": "348c1c74-0bd9-4f36-8593-feaa1331dd06"}], "delete_records":
      []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/4fe88b92-aa39-4be9-9043-b8402147a3aa/batch_update
  response:
    body:
      string: '{"data":[{"id":"1a3aa60f-bc17-434f-aa7f-460114d06e68","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:18.631319424Z","dataset_id":"4fe88b92-aa39-4be9-9043-b8402147a3aa","expected_output":{"answer":"Paris"},"input":"A","metadata":{"difficulty":"easy"},"updated_at":"2025-09-09T01:05:18.631319539Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
