interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"span_id": "123", "trace_id": "456", "timestamp_ms": 1234, "metric_type":
      "score", "label": "dummy_evaluator", "score_value": 0, "error": null, "tags":
      ["ddtrace.version:1.2.3", "experiment_id:17ba3b92-e354-4936-b07f-3b5e81be8bcd"],
      "experiment_id": "17ba3b92-e354-4936-b07f-3b5e81be8bcd"}], "tags": ["ddtrace.version:1.2.3",
      "experiment_id:17ba3b92-e354-4936-b07f-3b5e81be8bcd"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/17ba3b92-e354-4936-b07f-3b5e81be8bcd/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
