interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "988fb40f-a27b-4644-ba9b-b0e1ac41acd5",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/988fb40f-a27b-4644-ba9b-b0e1ac41acd5/batch_update
  response:
    body:
      string: '{"data":[{"id":"be5b06d8-ed1e-45dd-a8bb-7fab6209f142","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"d5ea278a-8be0-40bd-9c98-16928f76dd4c","created_at":"2026-03-05T19:58:10.197681145Z","dataset_id":"988fb40f-a27b-4644-ba9b-b0e1ac41acd5","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-03-05T19:58:10.197681145Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
