interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "a672d64f-b809-4904-b518-4ccaac15391a",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/a672d64f-b809-4904-b518-4ccaac15391a/batch_update
  response:
    body:
      string: '{"data":[{"id":"4e0acb5a-076b-4837-b4d2-e6ccb550ef11","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"41142add-4673-434f-8c9d-9c48f7e8f263","created_at":"2026-02-18T06:05:37.274217051Z","dataset_id":"a672d64f-b809-4904-b518-4ccaac15391a","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:05:37.274217051Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
