interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "b0cc7f71-b2eb-4a6e-94b1-d7f52b655969",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null, "tags":
      ["env:prod", "version:1.0"]}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/b0cc7f71-b2eb-4a6e-94b1-d7f52b655969/batch_update
  response:
    body:
      string: '{"data":[{"id":"aa4c3e92-ab00-4b68-9e33-2673fe80f484","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"de9b5273-f4e5-4883-8bd3-5facd8401041","created_at":"2026-02-20T06:29:24.815652767Z","dataset_id":"b0cc7f71-b2eb-4a6e-94b1-d7f52b655969","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":["env:prod","version:1.0"],"updated_at":"2026-02-20T06:29:24.815652767Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
