interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "2d747c1c-3969-4f00-9e39-8899dfb9ca2c",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Nauru?"}, "expected_output": null, "metadata": null}, {"input": {"prompt":
      "What is the capital of Sealand?"}, "expected_output": null, "metadata": null}],
      "update_records": [], "delete_records": [], "deduplicate": true, "create_new_version":
      true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/2d747c1c-3969-4f00-9e39-8899dfb9ca2c/batch_update
  response:
    body:
      string: '{"data":[{"id":"4fc85539-c080-4fc6-b103-830f7514c5ba","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"654e7f1b-2d14-461d-8bc4-b7a1eec7cce7","created_at":"2026-02-20T04:45:45.988309787Z","dataset_id":"2d747c1c-3969-4f00-9e39-8899dfb9ca2c","input":{"prompt":"What
        is the capital of Nauru?"},"tags":[],"updated_at":"2026-02-20T04:45:45.988309787Z","version":1}},{"id":"7b62d428-8435-405e-bf29-4606f6b3df84","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"d90fd310-86c7-44a1-abee-b3716fbe3626","created_at":"2026-02-20T04:45:45.988309787Z","dataset_id":"2d747c1c-3969-4f00-9e39-8899dfb9ca2c","input":{"prompt":"What
        is the capital of Sealand?"},"tags":[],"updated_at":"2026-02-20T04:45:45.988309787Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
