interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/612e5bc7-642b-4c93-a350-2bab8397f66b/records
  response:
    body:
      string: '{"data":[{"id":"57d8f978-cde6-403f-b5cb-2bdb9faa2361","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:51:24.458355Z","dataset_id":"612e5bc7-642b-4c93-a350-2bab8397f66b","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"updated_at":"2025-08-06T20:51:24.458355Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
