interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["1ebc4710-c5a1-4487-b56f-25ecefcc1bf1"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"1ebc4710-c5a1-4487-b56f-25ecefcc1bf1","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-08T05:56:35.23186Z","current_version":2,"deleted_at":"2025-08-08T05:56:44.724847Z","description":"A
        test dataset","name":"test-dataset-test_dataset_delete_after_update[test_dataset_records0]","updated_at":"2025-08-08T05:56:40.253808Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
