interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "87b064ed-06bd-41bb-90de-b25e8d8f049d",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Canada?"}, "expected_output": {"answer":
      "Ottawa"}, "metadata": null}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/87b064ed-06bd-41bb-90de-b25e8d8f049d/batch_update
  response:
    body:
      string: '{"data":[{"id":"5d02a3e5-78c7-4a03-ab17-47e7c808cc31","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"706c4da5-3cba-4627-9a64-d271064f0206","created_at":"2026-02-18T15:54:26.930289404Z","dataset_id":"87b064ed-06bd-41bb-90de-b25e8d8f049d","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T15:54:26.930289404Z","version":1}},{"id":"3e3823fa-d4ac-48b3-814e-072e5ad5a9ce","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"a92fe31a-8626-4a29-8d86-b416b937cf23","created_at":"2026-02-18T15:54:26.930289404Z","dataset_id":"87b064ed-06bd-41bb-90de-b25e8d8f049d","expected_output":{"answer":"Ottawa"},"input":{"prompt":"What
        is the capital of Canada?"},"tags":[],"updated_at":"2026-02-18T15:54:26.930289404Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
