interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "d3c606bc-400f-4ea1-b586-d45f0d4dac1d",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/d3c606bc-400f-4ea1-b586-d45f0d4dac1d/batch_update
  response:
    body:
      string: '{"data":[{"id":"85193866-4207-4994-9875-337d3867d924","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:52:50.328499029Z","dataset_id":"d3c606bc-400f-4ea1-b586-d45f0d4dac1d","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T02:52:50.328499029Z","version":1}},{"id":"04479368-e841-47ef-a3de-1bb20b5825ab","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:52:50.328499029Z","dataset_id":"d3c606bc-400f-4ea1-b586-d45f0d4dac1d","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-09-09T02:52:50.328499029Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
