interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "3b0f34cf-b840-4cb7-92bf-59fb2f103f38",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Massachusetts?"}, "expected_output": {"answer": "Boston"}, "metadata": null}],
      "update_records": [], "delete_records": [], "deduplicate": true, "create_new_version":
      true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/3a1a13ae-9bf7-4953-8f09-2e0235836d11/datasets/3b0f34cf-b840-4cb7-92bf-59fb2f103f38/batch_update
  response:
    body:
      string: '{"data":[{"id":"a3144722-593b-4e98-b3d1-a9bd4fb4e521","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"f1cff6c6-5eb8-4bf1-86ee-fd08987bc14f","created_at":"2026-02-20T04:44:41.484120553Z","dataset_id":"3b0f34cf-b840-4cb7-92bf-59fb2f103f38","expected_output":{"answer":"Boston"},"input":{"prompt":"What
        is the capital of Massachusetts?"},"tags":[],"updated_at":"2026-02-20T04:44:41.484120553Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
