interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "2de7d760-e683-4dfd-ae8f-16d107b92364",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["34ccd981-524a-4b51-9dcb-ffa71d163abc"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/2de7d760-e683-4dfd-ae8f-16d107b92364/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
