interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "49867f43-4abb-478a-bd6f-02bccff36419",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/49867f43-4abb-478a-bd6f-02bccff36419/batch_update
  response:
    body:
      string: '{"data":[{"id":"cbaf6747-b140-46ba-92d0-77c9161e26df","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"e874a945-ddd9-46f4-b3b7-33fdba1086fd","created_at":"2026-02-18T06:05:44.279530757Z","dataset_id":"49867f43-4abb-478a-bd6f-02bccff36419","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:05:44.279530757Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
