interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "c2c90d76-656e-4789-a438-82f4bcdac949",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null, "tags":
      ["env:prod", "version:1.0"]}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/c2c90d76-656e-4789-a438-82f4bcdac949/batch_update
  response:
    body:
      string: '{"data":[{"id":"0cfe9716-791b-40d9-b72b-db639eb3cbc4","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"41e5f006-20b3-417a-bc14-2d5bdb419717","created_at":"2026-02-20T06:45:30.847100962Z","dataset_id":"c2c90d76-656e-4789-a438-82f4bcdac949","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":["env:prod","version:1.0"],"updated_at":"2026-02-20T06:45:30.847100962Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
