interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_experiment",
      "description": "", "dataset_id": "6425ab27-20ab-4022-b1e0-b9996b33957f", "project_id":
      "c1579583-4e74-4538-8b17-17950b764f42", "dataset_version": 1, "config": {"models":
      ["gpt-4.1"]}, "metadata": {"tags": []}, "ensure_unique": true, "run_count":
      1}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"a01de151-561e-4102-af47-de78ad3c3457","type":"experiments","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"config":{"models":["gpt-4.1"]},"created_at":"2026-02-18T06:25:18.038473258Z","dataset_id":"6425ab27-20ab-4022-b1e0-b9996b33957f","dataset_version":1,"description":"","experiment":"test_experiment","metadata":{"tags":[]},"name":"test_experiment-1771395918038","project_id":"c1579583-4e74-4538-8b17-17950b764f42","run_count":1,"updated_at":"2026-02-18T06:25:18.038473373Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
