interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "8597866a-fded-46dc-9a63-7e46ab1b71e5",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      null, "metadata": null, "tags": ["env:prod"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/8597866a-fded-46dc-9a63-7e46ab1b71e5/batch_update
  response:
    body:
      string: '{"data":[{"id":"72215466-e265-4c3c-8ba7-bcd07689a1fd","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"5c984a23-0b3d-47ce-bc8a-708fdadda9dd","created_at":"2026-02-27T16:35:46.599301967Z","dataset_id":"8597866a-fded-46dc-9a63-7e46ab1b71e5","input":{"prompt":"hello"},"tags":["env:prod"],"updated_at":"2026-02-27T16:35:46.599301967Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
