interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "020f3813-838c-47f6-8442-f7f25b48f34f",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null, "tags":
      ["env:prod", "version:1.0"]}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/020f3813-838c-47f6-8442-f7f25b48f34f/batch_update
  response:
    body:
      string: '{"data":[{"id":"777cc3d4-047b-4ce4-b219-52086796c272","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"550483ed-1d19-4070-94f6-d2b30407a1e2","created_at":"2026-02-20T06:48:40.839757112Z","dataset_id":"020f3813-838c-47f6-8442-f7f25b48f34f","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":["env:prod","version:1.0"],"updated_at":"2026-02-20T06:48:40.839757112Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
