interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_experiment",
      "description": "", "dataset_id": "0969efc9-f104-45cc-b955-25b329e91293", "project_id":
      "f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "dataset_version": 0, "config": {},
      "metadata": {"tags": ["ddtrace.version:1.2.3", "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9"]},
      "ensure_unique": true, "run_count": 1}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"8611a103-2740-44fa-8d75-a6f461b7d902","type":"experiments","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"config":{},"created_at":"2026-02-18T00:32:45.533460398Z","dataset_id":"0969efc9-f104-45cc-b955-25b329e91293","dataset_version":0,"description":"","experiment":"test_experiment","metadata":{"tags":["ddtrace.version:1.2.3","project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9"]},"name":"test_experiment-1771374765533","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","run_count":1,"updated_at":"2026-02-18T00:32:45.533460489Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
