interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "0aea9a4d-97a2-4a33-aa01-8187f6f6555f",
      "attributes": {"insert_records": [], "update_records": [{"input": "A", "expected_output":
      null, "metadata": null, "id": "8205f5ca-b3b0-4340-9cbb-77b8a075127a"}], "delete_records":
      []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/0aea9a4d-97a2-4a33-aa01-8187f6f6555f/batch_update
  response:
    body:
      string: '{"data":[{"id":"e7356924-578a-40c9-890a-3af37eb8bbee","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T04:02:50.252631508Z","dataset_id":"0aea9a4d-97a2-4a33-aa01-8187f6f6555f","expected_output":{"answer":"Paris"},"input":"A","metadata":{"difficulty":"easy"},"updated_at":"2025-08-06T04:02:50.25263159Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
