interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "34aee701-ec6f-4ddb-b9f9-057620558129",
      "attributes": {"insert_records": [{"input": {"prompt": "a"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}, {"input": {"prompt": "b"}, "expected_output":
      "", "metadata": {}, "tags": ["env:staging"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/34aee701-ec6f-4ddb-b9f9-057620558129/batch_update
  response:
    body:
      string: '{"data":[{"id":"dd4068ce-6da3-4910-ba65-dc63cec7a6f0","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"47be0d85-0c74-4bc5-8ea7-a9f3c717be54","created_at":"2026-03-05T19:58:35.794541035Z","dataset_id":"34aee701-ec6f-4ddb-b9f9-057620558129","expected_output":"","input":{"prompt":"a"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-03-05T19:58:35.794541035Z","version":1}},{"id":"7c11bc24-5588-4d2f-8b13-00e8c73ce678","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"38a1960c-bc93-4f6d-b1f6-5f9cf98f6873","created_at":"2026-03-05T19:58:35.794541035Z","dataset_id":"34aee701-ec6f-4ddb-b9f9-057620558129","expected_output":"","input":{"prompt":"b"},"metadata":{},"tags":["env:staging"],"updated_at":"2026-03-05T19:58:35.794541035Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
