interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/6bf24627-df1e-4a2b-b6ec-03e50df584ee/records?filter%5Bversion%5D=1
  response:
    body:
      string: '{"data":[{"id":"8d336803-9a68-4d6d-b43c-ff80b8a33473","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"aaebd7d5-3fa1-4631-8977-8b19354eb238","created_at":"2026-02-18T06:02:08.145721Z","dataset_id":"6bf24627-df1e-4a2b-b6ec-03e50df584ee","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2026-02-18T06:02:08.145721Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
