interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/40888610-d567-4f8e-b3d8-79ddaf48e50c/records
  response:
    body:
      string: '{"data":[{"id":"bb47e28f-318c-449e-874b-d55d66f60dbe","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"0c5cfa02-336e-4f7a-880c-1b1a7688ccb2","created_at":"2026-02-20T04:45:03.673949Z","dataset_id":"40888610-d567-4f8e-b3d8-79ddaf48e50c","expected_output":"","input":{"prompt":"What
        is the capital of France?"},"updated_at":"2026-02-20T04:45:03.673949Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
