interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "a8013231-8569-449e-8061-7264adba8f0d",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": {"difficulty":
      "easy"}}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/a8013231-8569-449e-8061-7264adba8f0d/batch_update
  response:
    body:
      string: '{"data":[{"id":"a971b6e3-5855-4d58-89a9-1d6699711a97","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:31:41.008145836Z","dataset_id":"a8013231-8569-449e-8061-7264adba8f0d","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{"difficulty":"easy"},"updated_at":"2025-09-09T04:31:41.008145836Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
