interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["cfdb514f-92b0-404f-9b3f-020f82b0cd51"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"cfdb514f-92b0-404f-9b3f-020f82b0cd51","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-08T20:49:45.077961Z","current_version":2,"deleted_at":"2025-08-08T20:50:07.174644Z","description":"A
        test dataset","name":"test-dataset-test_dataset_delete_after_append[test_dataset_records0]","updated_at":"2025-08-08T20:50:03.656733Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
