interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/059e448e-d43e-4306-be6f-b8c30d6359a1/records
  response:
    body:
      string: '{"data":[{"id":"1329901d-3491-403b-aa37-348ace6f6367","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"2d40cbcc-ea52-47c2-889a-7ce3194aa0ad","created_at":"2026-02-18T06:05:12.353958Z","dataset_id":"059e448e-d43e-4306-be6f-b8c30d6359a1","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"updated_at":"2026-02-18T06:05:12.353958Z"}},{"id":"ff16d220-69c5-4afa-b9be-c54e163ee085","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"704e6a24-fd1d-4322-806c-62643b261f8a","created_at":"2026-02-18T06:05:12.353977Z","dataset_id":"059e448e-d43e-4306-be6f-b8c30d6359a1","expected_output":"","input":{"prompt":"What
        is the capital of Mexico?"},"metadata":{"difficulty":"easy"},"updated_at":"2026-02-18T06:05:12.353977Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
