interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "7ba0c6bf-cc2f-4aab-8c19-1f556b76d85c",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      null, "metadata": null, "tags": ["env:prod"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/7ba0c6bf-cc2f-4aab-8c19-1f556b76d85c/batch_update
  response:
    body:
      string: '{"data":[{"id":"963d92e6-6a22-4c78-9bd2-bde9ef819cbd","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"cd554a2d-3890-44b7-94ce-b7b61a9ecbd2","created_at":"2026-03-05T19:59:15.495007059Z","dataset_id":"7ba0c6bf-cc2f-4aab-8c19-1f556b76d85c","input":{"prompt":"hello"},"tags":["env:prod"],"updated_at":"2026-03-05T19:59:15.495007059Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
