interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/5e12e86a-c3b5-4e0f-86c8-d101fb882f74/records
  response:
    body:
      string: '{"data":[{"id":"4d411189-d140-4244-8815-ba2a7e44724d","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"bace4858-3eab-4270-a767-efbc534b722c","created_at":"2026-02-11T20:52:31.093631Z","dataset_id":"5e12e86a-c3b5-4e0f-86c8-d101fb882f74","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2026-02-11T20:52:31.093631Z"}},{"id":"400269ee-0c3d-42f3-bd02-23d893a2686b","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"cd90dc17-bd0f-4688-8359-ddf14f3075f0","created_at":"2026-02-11T20:52:22.878666Z","dataset_id":"5e12e86a-c3b5-4e0f-86c8-d101fb882f74","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2026-02-11T20:52:22.878666Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
