interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "5019600f-ab11-4806-99ca-b858c1ea6e75",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/5019600f-ab11-4806-99ca-b858c1ea6e75/batch_update
  response:
    body:
      string: '{"data":[{"id":"5d4a2376-a72d-4a35-b4da-783581b022fa","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"908dcee2-8d27-4146-9181-fedf4cbdd527","created_at":"2026-02-20T04:45:38.463421675Z","dataset_id":"5019600f-ab11-4806-99ca-b858c1ea6e75","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-20T04:45:38.463421675Z","version":1}},{"id":"39522562-e99e-45d7-aaf8-7394d06e4267","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"15b088d6-70ea-4296-b846-cca4cdc47abb","created_at":"2026-02-20T04:45:38.463421675Z","dataset_id":"5019600f-ab11-4806-99ca-b858c1ea6e75","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-20T04:45:38.463421675Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
