interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "da2d313e-11d6-4a75-ada5-371c30e31ac1",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Sweden?"}, "expected_output": null, "metadata": null}], "update_records":
      [], "delete_records": ["6889a39d-eefc-4267-9dc3-7f113438a3f6"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/da2d313e-11d6-4a75-ada5-371c30e31ac1/batch_update
  response:
    body:
      string: '{"data":[{"id":"10a88801-53e4-4d24-abf0-f65710a7e849","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:06:19.716386437Z","dataset_id":"da2d313e-11d6-4a75-ada5-371c30e31ac1","input":{"prompt":"What
        is the capital of Sweden?"},"updated_at":"2025-09-09T01:06:19.716386437Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
