interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/bcf5148b-4654-42bf-ad5b-68dc54473a8a/records
  response:
    body:
      string: '{"data":[{"id":"b4b96f64-6db7-4299-a9aa-98811c5fd66f","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"d5c91572-65be-43f3-97ef-eb2b5221ae5e","created_at":"2026-02-18T06:06:05.353471Z","dataset_id":"bcf5148b-4654-42bf-ad5b-68dc54473a8a","input":{"prompt":"What
        is the capital of Nauru?"},"updated_at":"2026-02-18T06:06:05.353471Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
