interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/8567ecff-48c3-43b9-9937-f470ef72d545/records
  response:
    body:
      string: '{"data":[{"id":"7a95007e-d4b8-4a91-80c8-bb7e588eaf1d","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-02-18T06:23:10.876691Z","dataset_id":"8567ecff-48c3-43b9-9937-f470ef72d545","expected_output":{"out0":"r1v4","out1":"r1v5"},"input":{"in0":"r1v1","in1":"r1v2","in2":"r1v3"},"metadata":{"m0":"r1v6"},"updated_at":"2026-02-18T06:23:10.876691Z"}},{"id":"0f93def9-10f3-4436-849f-d90e3bdb36b7","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-02-18T06:23:10.876691Z","dataset_id":"8567ecff-48c3-43b9-9937-f470ef72d545","expected_output":{"out0":"r0v4","out1":"r0v5"},"input":{"in0":"r0v1","in1":"r0v2","in2":"r0v3"},"metadata":{"m0":"r0v6"},"updated_at":"2026-02-18T06:23:10.876691Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
