interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/402df407-8e0a-4126-894b-30ed12b06c51/records?&filter%5Btags%5D=env:staging
  response:
    body:
      string: '{"data":[{"id":"16db93c4-9461-4751-84d7-3c21fdecc8e1","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"a07c72ad-47bf-4c93-a153-b32fe94edb9d","created_at":"2026-02-20T06:51:08.792649Z","dataset_id":"402df407-8e0a-4126-894b-30ed12b06c51","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"tags":["env:staging"],"updated_at":"2026-02-20T06:51:08.792649Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
