interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["4cb189d9-762b-4052-a2c9-eeb5284fe4b5"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"4cb189d9-762b-4052-a2c9-eeb5284fe4b5","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-01T16:57:07.436743Z","current_version":2,"deleted_at":"2025-08-01T16:57:13.075613Z","description":"A
        test dataset","name":"test-dataset-test_dataset_modify_single_record_on_optional_field[test_dataset_records0]","updated_at":"2025-08-01T16:57:10.618659Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
