interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "0f268cc9-6e15-4186-8d4c-6c69ba1ed74a",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of China?"}, "expected_output": {"answer": "Beijing"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/0f268cc9-6e15-4186-8d4c-6c69ba1ed74a/batch_update
  response:
    body:
      string: '{"data":[{"id":"6ad6eec8-6ff5-4876-89b8-1c6aaa65c385","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"f8440d1e-57c0-4272-a3e8-0476dbff6a0f","created_at":"2026-02-18T06:23:31.595358468Z","dataset_id":"0f268cc9-6e15-4186-8d4c-6c69ba1ed74a","expected_output":{"answer":"Beijing"},"input":{"prompt":"What
        is the capital of China?"},"tags":[],"updated_at":"2026-02-18T06:23:31.595358468Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
