interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/e16f4070-26ca-48b2-92fa-2d5a4f3e23e3/records
  response:
    body:
      string: '{"data":[{"id":"85da7b66-ac70-4fb2-8469-b3e46c7b8caf","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"2ce735cb-91f4-47ab-9e36-39eba6b14447","created_at":"2026-02-27T16:35:40.052946Z","dataset_id":"e16f4070-26ca-48b2-92fa-2d5a4f3e23e3","expected_output":"","input":{"prompt":"a"},"metadata":{},"tags":["priority:high","env:prod"],"updated_at":"2026-02-27T16:35:40.052946Z"}},{"id":"b0507b9b-c41e-4093-9d14-488f563c317f","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"00bb0a46-3910-429b-a343-67aabe5acc75","created_at":"2026-02-27T16:35:40.052962Z","dataset_id":"e16f4070-26ca-48b2-92fa-2d5a4f3e23e3","expected_output":"","input":{"prompt":"b"},"metadata":{},"updated_at":"2026-02-27T16:35:40.052962Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
