interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "bff1a9f4-1119-4d3a-94b0-f3aa7b71ddc7",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Canada?"}, "expected_output": {"answer":
      "Ottawa"}, "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/bff1a9f4-1119-4d3a-94b0-f3aa7b71ddc7/batch_update
  response:
    body:
      string: '{"data":[{"id":"4aa48cf8-581c-49bf-b96f-c91a80350192","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:53:46.821928189Z","dataset_id":"bff1a9f4-1119-4d3a-94b0-f3aa7b71ddc7","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T02:53:46.821928189Z","version":1}},{"id":"db702b16-20e7-419e-ae5d-daf6900dfc9f","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:53:46.821928189Z","dataset_id":"bff1a9f4-1119-4d3a-94b0-f3aa7b71ddc7","expected_output":{"answer":"Ottawa"},"input":{"prompt":"What
        is the capital of Canada?"},"updated_at":"2025-09-09T02:53:46.821928189Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
