interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "286232f5-07ca-44ff-8bff-ae24df9f8fa6",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of China?"}, "expected_output": {"answer": "Beijing"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/286232f5-07ca-44ff-8bff-ae24df9f8fa6/batch_update
  response:
    body:
      string: '{"data":[{"id":"963560ec-b917-48ae-afbe-ac806ddacb38","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:51:52.198976467Z","dataset_id":"286232f5-07ca-44ff-8bff-ae24df9f8fa6","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T02:51:52.198976467Z","version":1}},{"id":"abe2bff6-9f96-41d5-874b-6665189a13dc","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:51:52.198976467Z","dataset_id":"286232f5-07ca-44ff-8bff-ae24df9f8fa6","expected_output":{"answer":"Beijing"},"input":{"prompt":"What
        is the capital of China?"},"updated_at":"2025-09-09T02:51:52.198976467Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
