interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter%5Bname%5D=test-dataset-test_dataset_pull_exists_but_no_records%5Btest_dataset_records0%5D
  response:
    body:
      string: '{"data":[{"id":"b1c12787-7c4a-4a4d-b8ee-061bd83b9a5e","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:51:16.143945Z","current_version":0,"description":"A
        test dataset","name":"test-dataset-test_dataset_pull_exists_but_no_records[test_dataset_records0]","updated_at":"2025-08-06T20:51:16.143945Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
