interactions:
- request:
    body: "------------boundary------\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"tmp.csv\"\r\nContent-Type: text/csv\r\n\r\ninput,expected_output,metadata\r\n\"{\"\"in0\"\":
      \"\"r0v1\"\", \"\"in1\"\": \"\"r0v2\"\", \"\"in2\"\": \"\"r0v3\"\"}\",\"{\"\"out0\"\":
      \"\"r0v4\"\", \"\"out1\"\": \"\"r0v5\"\"}\",{}\r\n\"{\"\"in0\"\": \"\"r1v1\"\",
      \"\"in1\"\": \"\"r1v2\"\", \"\"in2\"\": \"\"r1v3\"\"}\",\"{\"\"out0\"\": \"\"r1v4\"\",
      \"\"out1\"\": \"\"r1v5\"\"}\",{}\r\n\r\n------------boundary--------\r\n"
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - multipart/form-data; boundary=----------boundary------
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/134f9180-4590-45ef-b27a-cd89acb805e2/records/upload
  response:
    body:
      string: '{"data":{"id":"58bb803b-f74b-4112-9aa4-8c5f074436e9","type":"dataset_version","attributes":{"dataset_id":"134f9180-4590-45ef-b27a-cd89acb805e2","last_used":"2026-02-11T20:50:50.091239168Z","version_number":1}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
