interactions:
- request:
    body: '{"data": {"type": "evaluation_metric", "attributes": {"metrics": [{"join_on":
      {"span": {"span_id": "12345678901", "trace_id": "98765432101"}}, "metric_type":
      "categorical", "categorical_value": "wrong-api-key", "label": "api-key", "ml_app":
      "dummy-ml-app", "timestamp_ms": 1756910127022}]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/intake/llm-obs/v2/eval-metric
  response:
    body:
      string: '{"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}'
    headers:
      content-type:
      - application/json
    status:
      code: 403
      message: Forbidden
version: 1
