interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "c46fe7a4-f87f-4d52-a234-7abf856d467e",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["c17dfeac-27ef-4316-a4ec-4f1e768355b9"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/c46fe7a4-f87f-4d52-a234-7abf856d467e/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
