interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "c46fe7a4-f87f-4d52-a234-7abf856d467e",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Nauru?"}, "expected_output": null, "metadata": null}, {"input": {"prompt":
      "What is the capital of Sealand?"}, "expected_output": null, "metadata": null}],
      "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/c46fe7a4-f87f-4d52-a234-7abf856d467e/batch_update
  response:
    body:
      string: '{"data":[{"id":"411de088-842f-44a7-9fac-5bea94d9696e","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:34:05.973713543Z","dataset_id":"c46fe7a4-f87f-4d52-a234-7abf856d467e","input":{"prompt":"What
        is the capital of Nauru?"},"updated_at":"2025-09-09T04:34:05.973713543Z","version":1}},{"id":"c17dfeac-27ef-4316-a4ec-4f1e768355b9","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:34:05.973713543Z","dataset_id":"c46fe7a4-f87f-4d52-a234-7abf856d467e","input":{"prompt":"What
        is the capital of Sealand?"},"updated_at":"2025-09-09T04:34:05.973713543Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
