interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "69835f73-67c1-4a71-b44a-a1c146e37930",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/69835f73-67c1-4a71-b44a-a1c146e37930/batch_update
  response:
    body:
      string: '{"data":[{"id":"6810fd1f-6391-490c-94ec-f4ea04512514","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"fca8e04c-2e76-42a4-9c9a-3072e1ae07a2","created_at":"2026-02-18T06:24:31.223565447Z","dataset_id":"69835f73-67c1-4a71-b44a-a1c146e37930","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:24:31.223565447Z","version":1}},{"id":"8ea71009-e18a-4cbf-ac55-d0471b9f73cd","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"e15fa6c5-8251-421e-b1bd-4ee7227bb824","created_at":"2026-02-18T06:24:31.223565447Z","dataset_id":"69835f73-67c1-4a71-b44a-a1c146e37930","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-18T06:24:31.223565447Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
