interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/b133bad1-1187-4b9b-9776-8a8fdb5e4d5e/records
  response:
    body:
      string: '{"data":[{"id":"54b23946-ab6d-48a1-81b6-4f57ec473870","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"dd543fe3-92c4-405b-9c6e-1eda3aa3f4f8","created_at":"2026-02-20T04:44:13.475154Z","dataset_id":"b133bad1-1187-4b9b-9776-8a8fdb5e4d5e","expected_output":"output_21","input":"input_21","updated_at":"2026-02-20T04:44:13.475154Z"}},{"id":"3f4f2805-0091-4d9b-af8b-9b48bdd41b9a","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"98bc8069-a732-4c61-9c77-dfa9f39cd936","created_at":"2026-02-20T04:44:13.475154Z","dataset_id":"b133bad1-1187-4b9b-9776-8a8fdb5e4d5e","expected_output":"output_6","input":"input_6","updated_at":"2026-02-20T04:44:13.475154Z"}},{"id":"f6f02d4b-6d62-457b-a421-cdc3cff604e5","type":"datasets","attributes":{"author":{"id":"de[...]
