interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "0a3ce469-bbb5-4d8e-8f9d-86024dba131f",
      "attributes": {"insert_records": [], "update_records": [{"input": {"prompt":
      "What is the capital of Germany?"}, "expected_output": {"answer": "Berlin"},
      "metadata": null, "id": "61e3dfe8-ab26-4952-84a0-ef6717a6508c"}, {"input": {"prompt":
      "What is the capital of Mexico?"}, "expected_output": "", "metadata": {"difficulty":
      "easy"}, "id": "fe4a6696-deab-4410-8667-dc6b32d1c8c2"}], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/0a3ce469-bbb5-4d8e-8f9d-86024dba131f/batch_update
  response:
    body:
      string: '{"data":[{"id":"3bace74a-68a9-4a5a-ad70-7af6aba25b57","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-08T05:14:12.868054731Z","dataset_id":"0a3ce469-bbb5-4d8e-8f9d-86024dba131f","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"updated_at":"2025-08-08T05:14:12.868054805Z","version":2}},{"id":"0f4490c1-6a55-4688-b695-e46d9e172671","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-08T05:14:12.868072454Z","dataset_id":"0a3ce469-bbb5-4d8e-8f9d-86024dba131f","expected_output":"","input":{"prompt":"What
        is the capital of Mexico?"},"metadata":{"difficulty":"easy"},"updated_at":"2025-08-08T05:14:12.868072528Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
