interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-with-tags",
      "description": "A test dataset with tags"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets
  response:
    body:
      string: '{"data":{"id":"b0cc7f71-b2eb-4a6e-94b1-d7f52b655969","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2026-02-20T06:29:24.634834672Z","current_version":0,"description":"A
        test dataset with tags","name":"test-dataset-with-tags","project_id":"569aa33c-7acf-4061-abd0-4f2078e61ee8","updated_at":"2026-02-20T06:29:24.634834672Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
