interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "ba9bf3d2-5b5a-4611-a3a8-d1b25935a46e",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["8e71c239-4491-48bf-8c00-54c5c114f756"], "deduplicate": true, "create_new_version":
      true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/ba9bf3d2-5b5a-4611-a3a8-d1b25935a46e/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
