interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/af94c83c-3e02-45dd-b1ee-c0b3e017300b/records
  response:
    body:
      string: '{"data":[{"id":"e9ca5822-f0b0-4c3f-81f4-2a49ce988e26","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"825000a5-b1dc-4769-a4d1-929bcf17e8b8","created_at":"2026-02-11T20:56:13.645549Z","dataset_id":"af94c83c-3e02-45dd-b1ee-c0b3e017300b","expected_output":"output_4","input":"input_4","updated_at":"2026-02-11T20:56:13.645549Z"}},{"id":"5b1ce8fe-7c99-4130-b2a5-ff3180dbec0c","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"44303aad-d7f7-4c42-948c-4dc0ff601857","created_at":"2026-02-11T20:56:13.645549Z","dataset_id":"af94c83c-3e02-45dd-b1ee-c0b3e017300b","expected_output":"output_2","input":"input_2","updated_at":"2026-02-11T20:56:13.645549Z"}},{"id":"0faa94e2-ba51-4b9b-8612-f624f65efed7","type":"datasets","attributes":{"author":{"id":"42[...]
