interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-test_dataset_pull_w_versions[test_dataset_records0]",
      "description": "A test dataset"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9/datasets
  response:
    body:
      string: '{"data":{"id":"4607e918-094d-4aa9-8b7a-50fa63a95b56","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-10-21T18:25:23.688284458Z","current_version":0,"description":"A
        test dataset","name":"test-dataset-test_dataset_pull_w_versions[test_dataset_records0]","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","updated_at":"2025-10-21T18:25:23.688284458Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
