interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"insert_records": [{"input":
      {"prompt": "What is the capital of France?"}, "expected_output": {"answer":
      "Paris"}, "metadata": {}, "record_id": null}, {"input": {"prompt": "What is
      the capital of Canada?"}, "expected_output": {"answer": "Ottawa"}, "metadata":
      {}, "record_id": null}]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/3bf4897d-e6aa-43a3-8d9c-5097b1f85177/batch_update
  response:
    body:
      string: '{"data":[{"id":"3eda96b0-5590-4886-8633-34154e381dc3","type":"datasets","attributes":{"author":{"id":"df7d11c9-da50-11ed-af19-2e9f609a4672"},"created_at":"2025-07-14T23:18:56.69063271Z","dataset_id":"3bf4897d-e6aa-43a3-8d9c-5097b1f85177","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{},"updated_at":"2025-07-14T23:18:56.69063271Z","version":1}},{"id":"54fd2188-bdae-47d5-bf76-4c5d8c9fba9f","type":"datasets","attributes":{"author":{"id":"df7d11c9-da50-11ed-af19-2e9f609a4672"},"created_at":"2025-07-14T23:18:56.69063271Z","dataset_id":"3bf4897d-e6aa-43a3-8d9c-5097b1f85177","expected_output":{"answer":"Ottawa"},"input":{"prompt":"What
        is the capital of Canada?"},"metadata":{},"updated_at":"2025-07-14T23:18:56.69063271Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
