interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/c1129a9c-35c8-41fb-acbb-b01b72e672b3/records
  response:
    body:
      string: '{"data":[{"id":"784ff4b0-dc28-4766-8e20-33d3b9c122de","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T03:00:23.232545Z","dataset_id":"c1129a9c-35c8-41fb-acbb-b01b72e672b3","expected_output":"","input":{"prompt":"What
        is the capital of France?"},"metadata":{},"updated_at":"2025-08-06T03:00:23.232545Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
