interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"experiment_id": "85b99559-e65b-4e2a-a99e-e7e3c565c252", "metric_source":
      "custom", "span_id": "123", "trace_id": "456", "timestamp_ms": 1770751160226,
      "metric_type": "score", "label": "sync_class_evaluator", "score_value": 0, "error":
      null, "tags": ["ddtrace.version:4.4.0rc4", "project_name:test-project", "dataset_name:async-test-dataset-one",
      "experiment_name:test_async_experiment_class_eval", "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9",
      "experiment_id:85b99559-e65b-4e2a-a99e-e7e3c565c252", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"]}, {"experiment_id": "85b99559-e65b-4e2a-a99e-e7e3c565c252",
      "metric_source": "custom", "span_id": "123", "trace_id": "456", "timestamp_ms":
      1770751160226, "metric_type": "score", "label": "async_class_evaluator", "score_value":
      0, "error": null, "tags": ["ddtrace.version:4.4.0rc4", "project_name:test-project",
      "dataset_name:async-test-dataset-one", "experiment_name:test_async_experiment_class_eval",
      "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "experiment_id:85b99559-e65b-4e2a-a99e-e7e3c565c252",
      "run_id:12345678-abcd-abcd-abcd-123456789012", "run_iteration:1"]}], "tags":
      ["ddtrace.version:4.4.0rc4", "project_name:test-project", "dataset_name:async-test-dataset-one",
      "experiment_name:test_async_experiment_class_eval", "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9",
      "experiment_id:85b99559-e65b-4e2a-a99e-e7e3c565c252", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/85b99559-e65b-4e2a-a99e-e7e3c565c252/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
