interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "ec1700cb-fec3-4aa9-b324-2a10b0b69247",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": {}}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/ec1700cb-fec3-4aa9-b324-2a10b0b69247/batch_update
  response:
    body:
      string: '{"data":[{"id":"4db63e47-c0c8-43d6-95a6-f5c5b6e2c8f6","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-16T20:06:37.985076092Z","dataset_id":"ec1700cb-fec3-4aa9-b324-2a10b0b69247","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{},"updated_at":"2025-07-16T20:06:37.985076092Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
