interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/0aea9a4d-97a2-4a33-aa01-8187f6f6555f/records
  response:
    body:
      string: '{"data":[{"id":"e7356924-578a-40c9-890a-3af37eb8bbee","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T04:02:50.252631Z","dataset_id":"0aea9a4d-97a2-4a33-aa01-8187f6f6555f","expected_output":{"answer":"Paris"},"input":"A","metadata":{"difficulty":"easy"},"updated_at":"2025-08-06T04:02:50.252631Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
