interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "126b1329-c830-4904-94d6-c278ac3d75c6",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/126b1329-c830-4904-94d6-c278ac3d75c6/batch_update
  response:
    body:
      string: '{"data":[{"id":"c5fa09ae-e8be-4f93-b51c-6ee527b87383","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"65168665-6432-4b7a-8bd3-3cf5fbadbc71","created_at":"2026-02-20T04:43:48.531439125Z","dataset_id":"126b1329-c830-4904-94d6-c278ac3d75c6","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-20T04:43:48.531439125Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
