interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "175818a4-8155-4084-9723-a2d4047d63d7",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/175818a4-8155-4084-9723-a2d4047d63d7/batch_update
  response:
    body:
      string: '{"data":[{"id":"3bf941f9-8ba6-44a1-82fb-675bfcd58884","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"b0d3293d-1683-4c01-95bb-a9ebfa4bd4cc","created_at":"2026-02-11T20:53:29.611887309Z","dataset_id":"175818a4-8155-4084-9723-a2d4047d63d7","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:53:29.611887309Z","version":1}},{"id":"58df2426-4784-472c-a865-67964c974b36","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"b0bf1317-015f-4ade-8f5f-e79d2f2ee09c","created_at":"2026-02-11T20:53:29.611887309Z","dataset_id":"175818a4-8155-4084-9723-a2d4047d63d7","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-11T20:53:29.611887309Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
