interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-bad-csv",
      "description": "not a real csv dataset"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets
  response:
    body:
      string: '{"data":{"id":"6890ba6e-8023-414c-bdb1-662c63f9f489","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-07-22T23:10:06.524865Z","current_version":0,"description":"not
        a real csv dataset","name":"test-dataset-bad-csv","updated_at":"2025-07-22T23:10:06.524865Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
