interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/21084b8a-7b25-4c69-895c-208ab1242338/records
  response:
    body:
      string: '{"data":[{"id":"4d5f4fc6-0eff-4a0a-866a-663d698da424","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:11.068513Z","dataset_id":"21084b8a-7b25-4c69-895c-208ab1242338","expected_output":"","input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T01:05:11.068513Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
