interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "1a5ec508-5e67-45e8-b8aa-264c1cd74aad",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/1a5ec508-5e67-45e8-b8aa-264c1cd74aad/batch_update
  response:
    body:
      string: '{"data":[{"id":"8e3c85b7-f7e9-4d0a-92ae-ae809cecb00a","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"305fe454-26b6-4e93-89c5-3d9cd50f873e","created_at":"2026-02-18T06:24:17.160460673Z","dataset_id":"1a5ec508-5e67-45e8-b8aa-264c1cd74aad","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:24:17.160460673Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
