interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "3f4aea28-d70e-4f55-bdb9-96748f77a2d4",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Canada?"}, "expected_output": {"answer":
      "Ottawa"}, "metadata": null}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/3f4aea28-d70e-4f55-bdb9-96748f77a2d4/batch_update
  response:
    body:
      string: '{"data":[{"id":"9fc01989-d239-4f47-92bf-5b05c0614470","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"12c0d352-56e3-4585-a40d-f2c3a65c556e","created_at":"2026-02-20T04:47:46.896178671Z","dataset_id":"3f4aea28-d70e-4f55-bdb9-96748f77a2d4","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-20T04:47:46.896178671Z","version":1}},{"id":"52ac1477-6120-44f9-ae4e-d7f36fde5122","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"2750656c-c851-4105-bea9-468601095c76","created_at":"2026-02-20T04:47:46.896178671Z","dataset_id":"3f4aea28-d70e-4f55-bdb9-96748f77a2d4","expected_output":{"answer":"Ottawa"},"input":{"prompt":"What
        is the capital of Canada?"},"tags":[],"updated_at":"2026-02-20T04:47:46.896178671Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
