interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "0081d43a-6044-4a23-8786-db5a3f8212e3",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/0081d43a-6044-4a23-8786-db5a3f8212e3/batch_update
  response:
    body:
      string: '{"data":[{"id":"11e2d315-29fe-4132-997e-fa9fc5d251cc","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:52:07.656817993Z","dataset_id":"0081d43a-6044-4a23-8786-db5a3f8212e3","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T02:52:07.656817993Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
