interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"experiment_id": "9829b3ae-4626-4159-a672-78cd8ea6b37c", "metric_source":
      "custom", "span_id": "123", "trace_id": "456", "timestamp_ms": 1770751160226,
      "metric_type": "score", "label": "async_dummy_evaluator", "score_value": 0,
      "error": null, "tags": ["ddtrace.version:4.4.0rc4", "project_name:test-project",
      "dataset_name:async-test-dataset-multiple", "experiment_name:test_async_experiment_async_summary",
      "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "experiment_id:9829b3ae-4626-4159-a672-78cd8ea6b37c",
      "run_id:12345678-abcd-abcd-abcd-123456789012", "run_iteration:1"]}, {"experiment_id":
      "9829b3ae-4626-4159-a672-78cd8ea6b37c", "metric_source": "custom", "span_id":
      "123", "trace_id": "456", "timestamp_ms": 1[...]
