interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/vnd.api+json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/spans/events?filter%5Bml_app%5D=test-ml-app-no-spans&page%5Blimit%5D=100
  response:
    body:
      string: '{"data":[],"meta":{"elapsed":24,"request_id":"pddv1ChY0S2tWR2RvOVNwMmlaMmxxRnpxS0tRIisKG7m0v5xpvm9JRRXhN35S7BhEfZnvkVbQtKidRBIM-J5syDoC6NaBrXq0","status":"done","page":null}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
