interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/27ef289c-85fd-48de-abb4-18b513062bd3/records
  response:
    body:
      string: '{"data":[{"id":"c66d3738-f72c-4a4c-b299-61c654be8767","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"a256f519-9a87-4204-8717-f88d9f7ba920","created_at":"2026-02-11T20:45:46.821855Z","dataset_id":"27ef289c-85fd-48de-abb4-18b513062bd3","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2026-02-11T20:45:46.821855Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
