interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "c89692a3-b263-48eb-ab2f-eaff5b262d1f",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Canada?"}, "expected_output": {"answer":
      "Ottawa"}, "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/c89692a3-b263-48eb-ab2f-eaff5b262d1f/batch_update
  response:
    body:
      string: '{"data":[{"id":"cfa3db13-d2cb-42bc-95a6-d019e90bb7a8","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:34:51.806090766Z","dataset_id":"c89692a3-b263-48eb-ab2f-eaff5b262d1f","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T04:34:51.806090766Z","version":1}},{"id":"76e4465d-fcae-4dcd-a567-b22f519dc59a","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:34:51.806090766Z","dataset_id":"c89692a3-b263-48eb-ab2f-eaff5b262d1f","expected_output":{"answer":"Ottawa"},"input":{"prompt":"What
        is the capital of Canada?"},"updated_at":"2025-09-09T04:34:51.806090766Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
