interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "2d747c1c-3969-4f00-9e39-8899dfb9ca2c",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["7b62d428-8435-405e-bf29-4606f6b3df84"], "deduplicate": true, "create_new_version":
      true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/2d747c1c-3969-4f00-9e39-8899dfb9ca2c/batch_update
  response:
    body:
      string: '{"data":[{"id":"7b62d428-8435-405e-bf29-4606f6b3df84","type":"datasets","attributes":{"version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
