interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-857",
      "description": "A boston dataset"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/3a1a13ae-9bf7-4953-8f09-2e0235836d11/datasets
  response:
    body:
      string: '{"data":{"id":"b6ad1338-d393-4c73-9870-a476beaa17d1","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:32:47.724958797Z","current_version":0,"description":"A
        boston dataset","name":"test-dataset-857","project_id":"3a1a13ae-9bf7-4953-8f09-2e0235836d11","updated_at":"2025-09-09T04:32:47.724958797Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
