interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_submit_eval_metric_raises_when_no_span_available",
      "description": "", "dataset_id": "126b1329-c830-4904-94d6-c278ac3d75c6", "project_id":
      "569aa33c-7acf-4061-abd0-4f2078e61ee8", "dataset_version": 1, "config": {},
      "metadata": {"tags": ["ddtrace.version:4.6.0rc1", "project_name:test-project-clean",
      "dataset_name:test-dataset-123", "experiment_name:test_submit_eval_metric_raises_when_no_span_available",
      "project_id:569aa33c-7acf-4061-abd0-4f2078e61ee8"]}, "ensure_unique": false,
      "run_count": 1}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
      ? !!python/object/apply:multidict._multidict.istr
      - Datadog-Entity-ID
      : - in-710
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"errors":["Unauthorized"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 401
      message: Unauthorized
version: 1
