interactions:
- request:
    body: '{"data": {"type": "projects", "attributes": {"name": "new-different-project",
      "description": ""}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/projects
  response:
    body:
      string: '{"data":{"id":"c4b49fb5-7b16-46e1-86f0-de5800e8a56c","type":"projects","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-10-16T21:04:07.493104Z","name":"new-different-project","updated_at":"2025-10-16T21:04:07.493104Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
