interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_async_experiment_metadata",
      "description": "", "dataset_id": "ee6a4f79-9e62-4661-9ef5-8ee7c849d84e", "project_id":
      "f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "dataset_version": 1, "config": {},
      "metadata": {"tags": ["ddtrace.version:1.2.3", "project_name:test-project",
      "dataset_name:async-test-dataset-metadata", "experiment_name:test_async_experiment_metadata",
      "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9"]}, "ensure_unique": true,
      "run_count": 1}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"78d1738c-abad-43c7-b4f7-2f8d309e0799","type":"experiments","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"config":{},"created_at":"2026-02-11T00:58:49.357213203Z","dataset_id":"ee6a4f79-9e62-4661-9ef5-8ee7c849d84e","dataset_version":1,"description":"","experiment":"test_async_experiment_metadata","metadata":{"tags":["ddtrace.version:1.2.3","project_name:test-project","dataset_name:async-test-dataset-metadata","experiment_name:test_async_experiment_metadata","project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9"]},"name":"test_async_experiment_metadata-1770771529357","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","run_count":1,"updated_at":"2026-02-11T00:58:49.357213285Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
