interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["0db64595-86bd-4c4d-aca7-00a13885b5a5"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"0db64595-86bd-4c4d-aca7-00a13885b5a5","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-03T21:44:03.763621Z","current_version":2,"deleted_at":"2025-09-03T21:44:13.845046Z","description":"A
        test dataset","name":"test-dataset-test_dataset_extend[test_dataset_records0]","updated_at":"2025-09-03T21:44:09.229562Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
