interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/195f6eab-3cdf-42e4-8003-439e4150f3e8/records
  response:
    body:
      string: '{"data":[{"id":"7a5501ca-60cb-467e-a7ff-9cea8ae1620a","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:04:57.405967Z","dataset_id":"195f6eab-3cdf-42e4-8003-439e4150f3e8","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"updated_at":"2025-09-09T01:04:57.405967Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
