interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "fc26be36-268f-4d5a-b2ee-fbeb73dd66b6",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Italy?"}, "expected_output": {"answer": "Rome"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Sweden?"}, "expected_output": {"answer":
      "Stockholm"}, "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/fc26be36-268f-4d5a-b2ee-fbeb73dd66b6/batch_update
  response:
    body:
      string: '{"data":[{"id":"12a07060-b13e-4ab7-b45c-87a3bd67ba9f","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"3628de54-9879-4b42-ae3d-6492ae932850","created_at":"2026-02-11T20:52:44.08005211Z","dataset_id":"fc26be36-268f-4d5a-b2ee-fbeb73dd66b6","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-11T20:52:44.08005211Z","version":2}},{"id":"c5099304-f52e-49e2-b066-6e3991f19867","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"c9f6c5ac-cec3-4717-9bb8-03068e5573ea","created_at":"2026-02-11T20:52:44.08005211Z","dataset_id":"fc26be36-268f-4d5a-b2ee-fbeb73dd66b6","expected_output":{"answer":"Stockholm"},"input":{"prompt":"What
        is the capital of Sweden?"},"tags":[],"updated_at":"2026-02-11T20:52:44.08005211Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
