interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-good-csv-pipe",
      "description": "A good pipe separated csv dataset"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets
  response:
    body:
      string: '{"data":{"id":"79dc8a68-9dd7-4f99-8ee0-c42b59059432","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2026-02-20T04:44:08.517516332Z","current_version":0,"description":"A
        good pipe separated csv dataset","name":"test-dataset-good-csv-pipe","project_id":"569aa33c-7acf-4061-abd0-4f2078e61ee8","updated_at":"2026-02-20T04:44:08.517516332Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
