interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "bc0a52f9-e5b8-42bb-81ec-4fa83b379dd4",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/bc0a52f9-e5b8-42bb-81ec-4fa83b379dd4/batch_update
  response:
    body:
      string: '{"data":[{"id":"88b9c2df-ffae-4e33-8e32-389348080985","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"9088cda1-30a7-4384-9956-fca318eb60f9","created_at":"2026-02-18T06:02:01.14489248Z","dataset_id":"bc0a52f9-e5b8-42bb-81ec-4fa83b379dd4","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:02:01.14489248Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
