interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "d2900581-71da-4dd5-9582-4f64839b3955",
      "attributes": {"insert_records": [], "update_records": [{"input": {"prompt":
      "What is the capital of Germany?"}, "expected_output": {"answer": "Berlin"},
      "metadata": null, "id": "4f146190-32ff-485a-895b-2aa465722c80"}, {"input": {"prompt":
      "What is the capital of Mexico?"}, "expected_output": "", "metadata": {"difficulty":
      "easy"}, "id": "545eeabd-1fc7-4e2a-a5e3-701036d4702d"}], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/d2900581-71da-4dd5-9582-4f64839b3955/batch_update
  response:
    body:
      string: '{"data":[{"id":"c1545950-25d9-4679-90a9-ea25bedfc22b","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:32:56.045081032Z","dataset_id":"d2900581-71da-4dd5-9582-4f64839b3955","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"updated_at":"2025-09-09T04:32:56.045081105Z","version":2}},{"id":"316190fc-ac7e-4fc8-afef-463749416142","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:32:56.045103136Z","dataset_id":"d2900581-71da-4dd5-9582-4f64839b3955","expected_output":"","input":{"prompt":"What
        is the capital of Mexico?"},"metadata":{"difficulty":"easy"},"updated_at":"2025-09-09T04:32:56.045103209Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
