interactions:
- request:
    body: '{"data": {"type": "projects", "attributes": {"name": "greg-tets-project",
      "description": ""}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/projects
  response:
    body:
      string: '{"data":{"id":"c1579583-4e74-4538-8b17-17950b764f42","type":"projects","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"created_at":"2026-02-18T06:22:51.556209599Z","name":"greg-tets-project","updated_at":"2026-02-18T06:22:51.556209599Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
