interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "d546a3b6-781e-4043-9d46-4599fc28eb40",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/d546a3b6-781e-4043-9d46-4599fc28eb40/batch_update
  response:
    body:
      string: '{"data":[{"id":"8c9d68b0-ef61-46a8-bb7b-f9edaa9b10ba","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"e3f705a0-b104-4929-9381-4593fd909913","created_at":"2026-02-18T06:23:47.521293535Z","dataset_id":"d546a3b6-781e-4043-9d46-4599fc28eb40","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:23:47.521293535Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
