interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "21084b8a-7b25-4c69-895c-208ab1242338",
      "attributes": {"insert_records": [], "update_records": [{"input": null, "expected_output":
      "", "metadata": null, "id": "f89de4b0-9d05-44e3-b844-4a1551d37ef1"}], "delete_records":
      []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/21084b8a-7b25-4c69-895c-208ab1242338/batch_update
  response:
    body:
      string: '{"data":[{"id":"4d5f4fc6-0eff-4a0a-866a-663d698da424","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:11.068513618Z","dataset_id":"21084b8a-7b25-4c69-895c-208ab1242338","expected_output":"","input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T01:05:11.068513692Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
