interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/60128338-44f7-4317-8cf2-0699124296fa/records
  response:
    body:
      string: '{"data":[{"id":"62bb8ef7-d5ef-4fde-9479-4b0a091b879e","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"86f15f4a-fe05-4848-a66f-17a677e4f6b7","created_at":"2026-03-05T19:58:59.123257Z","dataset_id":"60128338-44f7-4317-8cf2-0699124296fa","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-03-05T19:58:59.123257Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
