interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "5b25f158-9e45-4da9-980e-2cdbee4b01d3",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Sweden?"}, "expected_output": null, "metadata": null}], "update_records":
      [], "delete_records": ["d89379e3-c338-4093-8239-ce620e6475b0"], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/5b25f158-9e45-4da9-980e-2cdbee4b01d3/batch_update
  response:
    body:
      string: '{"data":[{"id":"74c220b1-6cac-4741-957b-7fc89ba68c5d","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"9cc6cfb2-72d6-4117-b081-c1ff52aa547d","created_at":"2026-02-20T04:46:05.238681106Z","dataset_id":"5b25f158-9e45-4da9-980e-2cdbee4b01d3","input":{"prompt":"What
        is the capital of Sweden?"},"tags":[],"updated_at":"2026-02-20T04:46:05.238681106Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
