interactions:
- request:
    body: "------------boundary------\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"tmp.csv\"\r\nContent-Type: text/csv\r\n\r\ninput,expected_output,metadata\r\n\"{\"\"in0\"\":
      \"\"r0v1\"\", \"\"in1\"\": \"\"r0v2\"\", \"\"in2\"\": \"\"r0v3\"\"}\",\"{\"\"out0\"\":
      \"\"r0v4\"\", \"\"out1\"\": \"\"r0v5\"\"}\",\"{\"\"m0\"\": \"\"r0v6\"\"}\"\r\n\"{\"\"in0\"\":
      \"\"r1v1\"\", \"\"in1\"\": \"\"r1v2\"\", \"\"in2\"\": \"\"r1v3\"\"}\",\"{\"\"out0\"\":
      \"\"r1v4\"\", \"\"out1\"\": \"\"r1v5\"\"}\",\"{\"\"m0\"\": \"\"r1v6\"\"}\"\r\n\r\n------------boundary--------\r\n"
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - multipart/form-data; boundary=----------boundary------
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/68925c9c-7399-47c8-85ca-c9a3f19e8760/records/upload
  response:
    body:
      string: '{"data":{"id":"51e9c4e4-619f-423e-a19d-1f06990e2b03","type":"dataset_version","attributes":{"dataset_id":"68925c9c-7399-47c8-85ca-c9a3f19e8760","last_used":"2026-02-11T20:45:39.333811333Z","version_number":1}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
