interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/f572bfe7-98d4-42c2-90d9-4c50e554d62b/records
  response:
    body:
      string: '{"data":[{"id":"be2eb356-9436-40fb-bb6a-3fa4345c216c","type":"datasets","attributes":{"author":{"id":"a7cd01e3-f412-11ed-a144-0aa89e224034"},"created_at":"2025-09-04T23:06:39.684676Z","dataset_id":"f572bfe7-98d4-42c2-90d9-4c50e554d62b","expected_output":"output_21","input":"input_21","updated_at":"2025-09-04T23:06:39.684676Z"}},{"id":"ea518203-0b44-4ca0-919a-13862e2ecbff","type":"datasets","attributes":{"author":{"id":"a7cd01e3-f412-11ed-a144-0aa89e224034"},"created_at":"2025-09-04T23:06:39.684676Z","dataset_id":"f572bfe7-98d4-42c2-90d9-4c50e554d62b","expected_output":"output_68","input":"input_68","updated_at":"2025-09-04T23:06:39.684676Z"}},{"id":"1100735b-377e-4fdc-a878-e9525a2ba604","type":"datasets","attributes":{"author":{"id":"a7cd01e3-f412-11ed-a144-0aa89e224034"},"created_at":"2[...]
