interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"metric_source": "custom", "span_id": "123", "trace_id": "456",
      "timestamp_ms": 1234, "metric_type": "score", "label": "dummy_evaluator", "score_value":
      0, "error": null, "tags": ["ddtrace.version:1.2.3", "experiment_id:0629f6b6-8fa3-4649-948f-6446fee79415"],
      "experiment_id": "0629f6b6-8fa3-4649-948f-6446fee79415"}], "tags": ["ddtrace.version:1.2.3",
      "experiment_id:0629f6b6-8fa3-4649-948f-6446fee79415"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/0629f6b6-8fa3-4649-948f-6446fee79415/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
