interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "4df8ea9c-65df-4b55-b968-5efb88f64c53",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/4df8ea9c-65df-4b55-b968-5efb88f64c53/batch_update
  response:
    body:
      string: '{"data":[{"id":"8674dcfe-155e-4db9-b056-f38a8f279c0f","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"3399862d-e311-431f-98fb-66d066f6ec0e","created_at":"2026-02-10T19:28:35.797094047Z","dataset_id":"4df8ea9c-65df-4b55-b968-5efb88f64c53","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-10T19:28:35.797094047Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
