interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/45f86a2d-47aa-4361-b1a8-d6e3fdff10f9/records
  response:
    body:
      string: '{"data":[{"id":"8997f388-9570-4abc-a36e-5602a171231e","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"b80f5a49-9950-4157-9ad9-b0c7b6fe8759","created_at":"2026-02-11T20:53:51.213504Z","dataset_id":"45f86a2d-47aa-4361-b1a8-d6e3fdff10f9","input":{"prompt":"What
        is the capital of Sweden?"},"updated_at":"2026-02-11T20:53:51.213504Z"}},{"id":"285063e5-0ad4-4e5f-a340-6ca5f95c6a74","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"9aec8d72-78e5-4d0f-b001-29a6a6452273","created_at":"2026-02-11T20:53:43.088331Z","dataset_id":"45f86a2d-47aa-4361-b1a8-d6e3fdff10f9","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2026-02-11T20:53:43.088331Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
