interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "49867f43-4abb-478a-bd6f-02bccff36419",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Italy?"}, "expected_output": {"answer": "Rome"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Sweden?"}, "expected_output": {"answer":
      "Stockholm"}, "metadata": null}], "update_records": [], "delete_records": [],
      "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/49867f43-4abb-478a-bd6f-02bccff36419/batch_update
  response:
    body:
      string: '{"data":[{"id":"4e063205-ae0e-4f1c-9c55-8201414656d0","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"b5581849-f430-4a12-9a59-8b183b1c24af","created_at":"2026-02-18T06:05:48.435654602Z","dataset_id":"49867f43-4abb-478a-bd6f-02bccff36419","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-18T06:05:48.435654602Z","version":2}},{"id":"0cd44ade-2c75-4676-a0ba-a87d0c2b98da","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"34f15d84-5bc4-4b67-9e15-ad3030b0680c","created_at":"2026-02-18T06:05:48.435654602Z","dataset_id":"49867f43-4abb-478a-bd6f-02bccff36419","expected_output":{"answer":"Stockholm"},"input":{"prompt":"What
        is the capital of Sweden?"},"tags":[],"updated_at":"2026-02-18T06:05:48.435654602Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
