interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "5e744005-d5ec-4d61-b88c-316b3e0aa2fe",
      "attributes": {"insert_records": [], "update_records": [{"input": {"prompt":
      "world"}, "expected_output": null, "metadata": null, "id": "95f2fd7b-5322-4e4a-8186-4ebb420960fc",
      "tag_operations": {"set": ["env:staging"]}}], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/5e744005-d5ec-4d61-b88c-316b3e0aa2fe/batch_update
  response:
    body:
      string: '{"data":[{"id":"db8ecffe-f869-4ad8-aa23-d5544c430d06","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"891a27fe-7e49-4b97-844e-cd9f5dac8136","created_at":"2026-03-05T19:59:04.128076462Z","dataset_id":"5e744005-d5ec-4d61-b88c-316b3e0aa2fe","expected_output":"","input":{"prompt":"world"},"metadata":{},"tags":["env:staging"],"updated_at":"2026-03-05T19:59:04.128076568Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
