interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_experiment",
      "description": "", "dataset_id": "38e7b573-1559-45e2-938d-64ac5ce53ea9", "project_id":
      "f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "dataset_version": 1, "config": {"models":
      ["gpt-4.1"]}, "metadata": {"tags": []}, "ensure_unique": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"017eaed1-54ed-47dc-b7ef-6cd6433d76c4","type":"experiments","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"config":{"models":["gpt-4.1"]},"created_at":"2025-08-06T20:52:41.508827811Z","dataset_id":"38e7b573-1559-45e2-938d-64ac5ce53ea9","dataset_version":1,"description":"","experiment":"test_experiment","metadata":{"tags":[]},"name":"test_experiment-1754513561508","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","updated_at":"2025-08-06T20:52:41.508827909Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
