interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "38e7b573-1559-45e2-938d-64ac5ce53ea9",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/38e7b573-1559-45e2-938d-64ac5ce53ea9/batch_update
  response:
    body:
      string: '{"data":[{"id":"f85957ba-84e6-42ac-a474-3958b15bd3a0","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:49:58.535574916Z","dataset_id":"38e7b573-1559-45e2-938d-64ac5ce53ea9","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-08-06T20:49:58.535574916Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
