interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/c1579583-4e74-4538-8b17-17950b764f42/datasets?filter%5Bname%5D=test-dataset-large-num-records
  response:
    body:
      string: '{"data":[{"id":"8e1e6b63-1a25-4cc7-80b7-43e6e960fcbb","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"created_at":"2026-02-18T06:23:14.755142Z","current_version":1,"dataset_type":"user","description":"A
        test dataset with a large number of records","name":"test-dataset-large-num-records","project_id":"c1579583-4e74-4538-8b17-17950b764f42","updated_at":"2026-02-18T06:23:15.759901Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
