interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_async_experiment",
      "description": "", "dataset_id": "bc0a52f9-e5b8-42bb-81ec-4fa83b379dd4", "project_id":
      "569aa33c-7acf-4061-abd0-4f2078e61ee8", "dataset_version": 1, "config": {},
      "metadata": {"tags": ["ddtrace.version:1.2.3", "project_id:569aa33c-7acf-4061-abd0-4f2078e61ee8"]},
      "ensure_unique": true, "run_count": 1}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"571f46fb-9a1a-4196-9c2e-0fad90051288","type":"experiments","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"config":{},"created_at":"2026-02-18T15:54:33.831425454Z","dataset_id":"bc0a52f9-e5b8-42bb-81ec-4fa83b379dd4","dataset_version":1,"description":"","experiment":"test_async_experiment","metadata":{"tags":["ddtrace.version:1.2.3","project_id:569aa33c-7acf-4061-abd0-4f2078e61ee8"]},"name":"test_async_experiment-1771430073831","project_id":"569aa33c-7acf-4061-abd0-4f2078e61ee8","run_count":1,"updated_at":"2026-02-18T15:54:33.831425544Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
