interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets?filter%5Bname%5D=test-dataset-123
  response:
    body:
      string: '{"data":[{"id":"bc0a52f9-e5b8-42bb-81ec-4fa83b379dd4","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"created_at":"2026-02-18T06:02:01.002425Z","current_version":1,"dataset_type":"user","description":"A
        test dataset","name":"test-dataset-123","project_id":"569aa33c-7acf-4061-abd0-4f2078e61ee8","updated_at":"2026-02-18T06:02:01.154932Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
