interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/878e91c3-62de-4eed-bb8f-fe9bfb4bc722/records
  response:
    body:
      string: '{"data":[{"id":"e378461c-3857-4c63-be0a-47d7c18d0381","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"472c2b03-f0ba-46d3-a0ef-954ab6da0872","created_at":"2026-02-11T20:51:49.623615Z","dataset_id":"878e91c3-62de-4eed-bb8f-fe9bfb4bc722","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"updated_at":"2026-02-11T20:51:49.623615Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
