interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"metric_source": "custom", "span_id": "123", "trace_id": "456",
      "timestamp_ms": 1234, "metric_type": "score", "label": "async_dummy_evaluator",
      "score_value": 0, "error": null, "tags": [], "experiment_id": "712d6d7d-cae2-43aa-b334-1ddc20d0015c"}],
      "tags": ["ddtrace.version:1.2.3", "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9",
      "experiment_id:712d6d7d-cae2-43aa-b334-1ddc20d0015c", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/712d6d7d-cae2-43aa-b334-1ddc20d0015c/events
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"Key: ''ExperimentEvalMetricEvent.EvalMetricBase.TimestampMs''
        Error:Field validation for ''TimestampMs'' failed on the ''timestamp_within_24hr''
        tag"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
