interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "97180779-8dbc-47af-ad8f-7eff2dc3317f",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": {}}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/97180779-8dbc-47af-ad8f-7eff2dc3317f/batch_update
  response:
    body:
      string: '{"data":[{"id":"634e369d-2bdc-4c23-afb4-d9439f15915c","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T03:00:17.428744367Z","dataset_id":"97180779-8dbc-47af-ad8f-7eff2dc3317f","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{},"updated_at":"2025-08-06T03:00:17.428744367Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
