interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/ff18eb63-477a-4622-82a2-b7732a752c8b/records
  response:
    body:
      string: '{"data":[{"id":"9a1d9408-ad1a-4650-9f41-85c7bd52593e","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T03:54:43.30191Z","dataset_id":"ff18eb63-477a-4622-82a2-b7732a752c8b","expected_output":{"answer":"Boston"},"input":{"prompt":"What
        is the capital of Massachusetts?"},"updated_at":"2025-09-09T03:54:43.30191Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
