interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "fc26be36-268f-4d5a-b2ee-fbeb73dd66b6",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/fc26be36-268f-4d5a-b2ee-fbeb73dd66b6/batch_update
  response:
    body:
      string: '{"data":[{"id":"b6ddc551-d4da-41e1-b772-c850d9204fb9","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"761deb8d-e849-4249-a412-2582ab43faf1","created_at":"2026-02-11T20:52:35.905923315Z","dataset_id":"fc26be36-268f-4d5a-b2ee-fbeb73dd66b6","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:52:35.905923315Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
