interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-test_experiment_create_no_project_name_raises",
      "description": "A test dataset"}}}'
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets
  response:
    body:
      string: '{"data":{"id":"cfec1684-5640-47ad-b42e-c0cfcb8d44cd","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-14T17:40:12.843945483Z","current_version":0,"description":"A
        test dataset","name":"test-dataset-test_experiment_create_no_project_name_raises","updated_at":"2025-07-14T17:40:12.843945483Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
