interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "4f6919dd-ea6d-44f6-89b5-cc77b04ec872",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/4f6919dd-ea6d-44f6-89b5-cc77b04ec872/batch_update
  response:
    body:
      string: '{"data":[{"id":"11904c20-21c6-4aad-9dd0-d04c134df0f9","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"daa54d43-ab8e-44bb-a4bc-f4e5e8948190","created_at":"2026-02-27T16:35:16.551988128Z","dataset_id":"4f6919dd-ea6d-44f6-89b5-cc77b04ec872","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-02-27T16:35:16.551988128Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
