interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/2d5ba9ea-9d38-436b-a83e-abddf23c8f5b/records
  response:
    body:
      string: '{"data":[{"id":"be43cb79-11f0-4b18-bb47-d873cf73be28","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:52:28.428499Z","dataset_id":"2d5ba9ea-9d38-436b-a83e-abddf23c8f5b","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-09-09T02:52:28.428499Z"}},{"id":"242c009b-3cf1-49c7-ac39-075c216e5d44","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:52:23.731876Z","dataset_id":"2d5ba9ea-9d38-436b-a83e-abddf23c8f5b","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T02:52:23.731876Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
