interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/c1579583-4e74-4538-8b17-17950b764f42/datasets?filter%5Bname%5D=test-dataset-test_dataset_pull_w_invalid_version%5Btest_dataset_records0%5D
  response:
    body:
      string: '{"data":[{"id":"44e34da1-301a-4295-b05c-2fb52a4f93c2","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"created_at":"2026-02-18T06:23:36.824894Z","current_version":1,"dataset_type":"user","description":"A
        test dataset","name":"test-dataset-test_dataset_pull_w_invalid_version[test_dataset_records0]","project_id":"c1579583-4e74-4538-8b17-17950b764f42","updated_at":"2026-02-18T06:23:36.928449Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
