interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/0fe0c8dd-a7a8-40ab-9f2f-c5917c5739cf/records
  response:
    body:
      string: '{"data":[{"id":"b6c80f0c-8222-47a2-86c2-df5cac5da9df","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:32:20.123559Z","dataset_id":"0fe0c8dd-a7a8-40ab-9f2f-c5917c5739cf","expected_output":{"out0":"r0v4","out1":"r0v5"},"input":{"in0":"r0v1","in1":"r0v2","in2":"r0v3"},"metadata":{},"updated_at":"2025-09-09T04:32:20.123559Z"}},{"id":"4e4e76e7-4ec1-4d23-9bc5-9f787731cceb","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:32:20.123559Z","dataset_id":"0fe0c8dd-a7a8-40ab-9f2f-c5917c5739cf","expected_output":{"out0":"r1v4","out1":"r1v5"},"input":{"in0":"r1v1","in1":"r1v2","in2":"r1v3"},"metadata":{},"updated_at":"2025-09-09T04:32:20.123559Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
