interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "edec616f-2789-4d7d-bcf5-ce559976c003",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Italy?"}, "expected_output": {"answer": "Rome"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Sweden?"}, "expected_output": {"answer":
      "Stockholm"}, "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/edec616f-2789-4d7d-bcf5-ce559976c003/batch_update
  response:
    body:
      string: '{"data":[{"id":"e1722420-265c-41f8-b573-529123103e8c","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:33:42.192348583Z","dataset_id":"edec616f-2789-4d7d-bcf5-ce559976c003","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-09-09T04:33:42.192348583Z","version":2}},{"id":"64ecfcf1-9f9d-47e9-9d65-8c9c89f49ba0","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:33:42.192348583Z","dataset_id":"edec616f-2789-4d7d-bcf5-ce559976c003","expected_output":{"answer":"Stockholm"},"input":{"prompt":"What
        is the capital of Sweden?"},"updated_at":"2025-09-09T04:33:42.192348583Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
