interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/da2d313e-11d6-4a75-ada5-371c30e31ac1/records
  response:
    body:
      string: '{"data":[{"id":"10a88801-53e4-4d24-abf0-f65710a7e849","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:06:19.716386Z","dataset_id":"da2d313e-11d6-4a75-ada5-371c30e31ac1","input":{"prompt":"What
        is the capital of Sweden?"},"updated_at":"2025-09-09T01:06:19.716386Z"}},{"id":"c09f69d6-508a-4cca-a483-b5aa50fc2fc3","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:06:14.877787Z","dataset_id":"da2d313e-11d6-4a75-ada5-371c30e31ac1","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-09-09T01:06:14.877787Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
