interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "f924e358-f516-47f0-933e-3f8a8aadf56f",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/f924e358-f516-47f0-933e-3f8a8aadf56f/batch_update
  response:
    body:
      string: '{"data":[{"id":"f60c0427-088e-4b89-99db-8e2eac7d51b4","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"5fcb91e6-6b31-45b0-b02f-eb43d187be6b","created_at":"2026-02-11T20:51:54.348054013Z","dataset_id":"f924e358-f516-47f0-933e-3f8a8aadf56f","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:51:54.348054013Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
