interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "f8b5322a-16df-41e1-b7a1-e08ebb1024dc",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/f8b5322a-16df-41e1-b7a1-e08ebb1024dc/batch_update
  response:
    body:
      string: '{"data":[{"id":"e463d0a4-2243-479b-be71-689d84c86cb7","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"232fdb4b-d407-45a7-9948-720a369f49b0","created_at":"2026-03-05T19:58:12.69170062Z","dataset_id":"f8b5322a-16df-41e1-b7a1-e08ebb1024dc","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-03-05T19:58:12.69170062Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
