interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-123",
      "description": "A test dataset"}}}'
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets
  response:
    body:
      string: '{"data":{"id":"9e29a063-0274-44c4-a32d-b1764a91c6c4","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-16T20:06:33.828298798Z","current_version":0,"description":"A
        test dataset","name":"test-dataset-123","updated_at":"2025-07-16T20:06:33.828298798Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
