interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "c690837e-36f6-4eb3-bc28-7d8be7b35669",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Italy?"}, "expected_output": {"answer": "Rome"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Sweden?"}, "expected_output": {"answer":
      "Stockholm"}, "metadata": null}], "update_records": [], "delete_records": [],
      "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/c690837e-36f6-4eb3-bc28-7d8be7b35669/batch_update
  response:
    body:
      string: '{"data":[{"id":"5667525a-d104-4c27-b3ba-58c0d63d9474","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"68cc98ce-30e0-430b-b29d-c255d5369bba","created_at":"2026-02-20T04:45:27.194641158Z","dataset_id":"c690837e-36f6-4eb3-bc28-7d8be7b35669","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-20T04:45:27.194641158Z","version":2}},{"id":"cb482033-cb6c-4171-90a2-3ba2eca1a8a2","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"14a73bee-6cd9-49f3-acbd-535bad59334a","created_at":"2026-02-20T04:45:27.194641158Z","dataset_id":"c690837e-36f6-4eb3-bc28-7d8be7b35669","expected_output":{"answer":"Stockholm"},"input":{"prompt":"What
        is the capital of Sweden?"},"tags":[],"updated_at":"2026-02-20T04:45:27.194641158Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
