interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "7173a373-b75e-46dc-b50f-c0506154ffb1",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["f20816bf-ba7f-4eea-9def-70c4efa9abc2"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/7173a373-b75e-46dc-b50f-c0506154ffb1/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
