interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "644a6c0a-0c06-4ab1-bb0f-55dfa872e451",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["eb714cfd-d657-4937-bfb9-5606828c7a11"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/644a6c0a-0c06-4ab1-bb0f-55dfa872e451/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
