interactions:
- request:
    body: "------------boundary------\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"tmp.csv\"\r\nContent-Type: text/csv\r\n\r\ninput,expected_output,metadata\r\n\"{\"\"in0\"\":
      \"\"r0v1\"\", \"\"in1\"\": \"\"r0v2\"\", \"\"in2\"\": \"\"r0v3\"\"}\",\"{\"\"out0\"\":
      \"\"r0v4\"\", \"\"out1\"\": \"\"r0v5\"\"}\",\"{\"\"m0\"\": \"\"r0v6\"\"}\"\r\n\"{\"\"in0\"\":
      \"\"r1v1\"\", \"\"in1\"\": \"\"r1v2\"\", \"\"in2\"\": \"\"r1v3\"\"}\",\"{\"\"out0\"\":
      \"\"r1v4\"\", \"\"out1\"\": \"\"r1v5\"\"}\",\"{\"\"m0\"\": \"\"r1v6\"\"}\"\r\n\r\n------------boundary--------\r\n"
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - multipart/form-data; boundary=----------boundary------
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/8567ecff-48c3-43b9-9937-f470ef72d545/records/upload?deduplicate=True
  response:
    body:
      string: '{"data":{"id":"c121a338-c69f-42e2-9d5b-d84b036d8df7","type":"dataset_version","attributes":{"dataset_id":"8567ecff-48c3-43b9-9937-f470ef72d545","last_used":"2026-02-18T06:23:10.895044445Z","version_number":1}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
