interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "faf29e08-7af7-4f45-9b55-8de1a156805b",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["be478ac8-2f29-4b85-8362-1deece3c79f0"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/faf29e08-7af7-4f45-9b55-8de1a156805b/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
