interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "a14fa7c0-e16c-4781-800d-e37d61d8837d",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Italy?"}, "expected_output": {"answer": "Rome"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/a14fa7c0-e16c-4781-800d-e37d61d8837d/batch_update
  response:
    body:
      string: '{"data":[{"id":"aae28efd-7929-4de7-88bf-35ca486cb6d6","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"eb470caa-efc2-4976-b7c4-81e1ca590af3","created_at":"2026-02-20T04:45:19.612298539Z","dataset_id":"a14fa7c0-e16c-4781-800d-e37d61d8837d","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-20T04:45:19.612298539Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
