interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "8740a174-ff37-4ceb-a001-3c20f845b9ee",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["9e91b2b2-0fe5-4ba0-a883-1fe96da35c2d"], "deduplicate": true, "create_new_version":
      true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/8740a174-ff37-4ceb-a001-3c20f845b9ee/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
