interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "b05bf30a-f4e9-4c50-a6ad-1f02486804d6",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": {"difficulty":
      "easy"}}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/b05bf30a-f4e9-4c50-a6ad-1f02486804d6/batch_update
  response:
    body:
      string: '{"data":[{"id":"e9e99009-b4e4-450e-8a40-1303755c342d","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T03:08:40.106769728Z","dataset_id":"b05bf30a-f4e9-4c50-a6ad-1f02486804d6","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{"difficulty":"easy"},"updated_at":"2025-09-09T03:08:40.106769728Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
