interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "569da609-084d-4a26-ba65-31ae35321678",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/569da609-084d-4a26-ba65-31ae35321678/batch_update
  response:
    body:
      string: '{"data":[{"id":"53008271-38a5-4636-876a-2217677bdc27","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T03:12:13.984385477Z","dataset_id":"569da609-084d-4a26-ba65-31ae35321678","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T03:12:13.984385477Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
