interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "9535dc38-1108-4141-9a7b-8723e9a9aab8",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod", "team:ml"]}], "update_records": [],
      "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/9535dc38-1108-4141-9a7b-8723e9a9aab8/batch_update
  response:
    body:
      string: '{"data":[{"id":"38b9077f-cd7e-46d9-aea9-fe678111de85","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"a5c711d5-046e-41d2-b249-2abf776d8261","created_at":"2026-02-27T16:34:53.872320024Z","dataset_id":"9535dc38-1108-4141-9a7b-8723e9a9aab8","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod","team:ml"],"updated_at":"2026-02-27T16:34:53.872320024Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
