interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter%5Bname%5D=test-dataset-test_dataset_delete_after_append%5Btest_dataset_records0%5D
  response:
    body:
      string: '{"data":[{"id":"4d9db36e-386d-4dfb-8cf7-4057c264d0a7","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-08T06:45:17.521058Z","current_version":2,"description":"A
        test dataset","name":"test-dataset-test_dataset_delete_after_append[test_dataset_records0]","updated_at":"2025-08-08T06:45:22.587194Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
