interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "64eb404a-91c6-4430-9b8b-d90493dcaa99",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/64eb404a-91c6-4430-9b8b-d90493dcaa99/batch_update
  response:
    body:
      string: '{"data":[{"id":"988ca87d-e7a7-4837-8f36-04ca8d0ad82b","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:51:32.345382993Z","dataset_id":"64eb404a-91c6-4430-9b8b-d90493dcaa99","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-08-06T20:51:32.345382993Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
