interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "84a30ea8-df55-4bcb-8ca5-d7e8bd4a8212",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["281525b3-3b48-4f5a-b63e-82225d9a1f5b"]}}}'
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/84a30ea8-df55-4bcb-8ca5-d7e8bd4a8212/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
