interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "0969efc9-f104-45cc-b955-25b329e91293",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/0969efc9-f104-45cc-b955-25b329e91293/batch_update
  response:
    body:
      string: '{"data":[{"id":"301c9bfd-a111-4480-9e86-6d71451eb902","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:30:31.539461998Z","dataset_id":"0969efc9-f104-45cc-b955-25b329e91293","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T04:30:31.539461998Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
