interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"metric_source": "custom", "span_id": "123", "trace_id": "456",
      "timestamp_ms": 1234, "metric_type": "score", "label": "dummy_evaluator", "score_value":
      0, "error": null, "tags": ["ddtrace.version:3.19.0.dev42+g1f1eda22d.d20251114",
      "experiment_id:b1d96a7b-aea5-48a6-9bff-44a4d66e5788", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"], "experiment_id": "b1d96a7b-aea5-48a6-9bff-44a4d66e5788"},
      {"metric_source": "summary", "span_id": "", "trace_id": "", "timestamp_ms":
      1234, "metric_type": "score", "label": "dummy_summary_evaluator", "score_value":
      4, "error": null, "tags": ["ddtrace.version:3.19.0.dev42+g1f1eda22d.d20251114",
      "experiment_id:b1d96a7b-aea5-48a6-9bff-44a4d66e5788", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"], "experiment_id": "b1d96a7b-aea5-48a6-9bff-44a4d66e5788"}],
      "tags": ["ddtrace.version:3.19.0.dev42+g1f1eda22d.d20251114", "experiment_id:b1d96a7b-aea5-48a6-9bff-44a4d66e5788",
      "run_id:12345678-abcd-abcd-abcd-123456789012", "run_iteration:1"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/b1d96a7b-aea5-48a6-9bff-44a4d66e5788/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
