interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "bcf5148b-4654-42bf-ad5b-68dc54473a8a",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["1dc9a526-4db5-4bdc-9c9a-c03030a8f4d6"], "deduplicate": true, "create_new_version":
      true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/bcf5148b-4654-42bf-ad5b-68dc54473a8a/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
