interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"experiment_id": "d5cb060f-d44a-430e-bc65-5cd5ba748bf6", "metric_source":
      "custom", "span_id": "123", "trace_id": "456", "timestamp_ms": 1770839456896,
      "metric_type": "score", "label": "async_dummy_evaluator", "score_value": 0,
      "error": null, "tags": ["ddtrace.version:1.2.3", "project_name:test-project",
      "dataset_name:async-test-dataset-multiple", "experiment_name:test_experiment_sync_summary",
      "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "experiment_id:d5cb060f-d44a-430e-bc65-5cd5ba748bf6",
      "run_id:12345678-abcd-abcd-abcd-123456789012", "run_iteration:1"]}, {"experiment_id":
      "d5cb060f-d44a-430e-bc65-5cd5ba748bf6", "metric_source": "custom", "span_id":
      "123", "trace_id": "456", "timestamp_ms": 17708394568[...]
