interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/8491bade-bb2a-4ded-8111-bd97520cb025/records
  response:
    body:
      string: '{"data":[{"id":"568d0050-82ec-48a2-8334-d9c679989627","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"944320bb-e9c7-42bd-af1f-6dfebf2025dc","created_at":"2026-02-18T06:23:44.702282Z","dataset_id":"8491bade-bb2a-4ded-8111-bd97520cb025","expected_output":"","input":{"prompt":"What
        is the capital of Mexico?"},"metadata":{"difficulty":"easy"},"updated_at":"2026-02-18T06:23:44.702282Z"}},{"id":"35029790-07f3-452a-bd30-cfb995d50189","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"5721b61f-da01-4199-ba22-1bd10ab0dd1b","created_at":"2026-02-18T06:23:44.702259Z","dataset_id":"8491bade-bb2a-4ded-8111-bd97520cb025","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"updated_at":"2026-02-18T06:23:44.702259Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
