interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "745739a2-7571-43d5-995e-18b1042d6177",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/745739a2-7571-43d5-995e-18b1042d6177/batch_update
  response:
    body:
      string: '{"data":[{"id":"8486c96c-4fe7-4d0d-b843-669974daecdf","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:33:27.369349774Z","dataset_id":"745739a2-7571-43d5-995e-18b1042d6177","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T04:33:27.369349774Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
