interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "f5b1bcfa-e2df-4de4-b386-5544126a466f",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Canada?"}, "expected_output": {"answer":
      "Ottawa"}, "metadata": null}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/f5b1bcfa-e2df-4de4-b386-5544126a466f/batch_update
  response:
    body:
      string: '{"data":[{"id":"da0fe48e-8ebe-4320-888c-78e691b49e43","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"9442420f-1cbc-42e5-9328-c80a3013d516","created_at":"2026-02-20T04:46:25.8970043Z","dataset_id":"f5b1bcfa-e2df-4de4-b386-5544126a466f","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-20T04:46:25.8970043Z","version":1}},{"id":"dcf10af6-787d-47af-8782-9c85b1aa85f4","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"50fa9642-13e2-4704-ae6a-eb53380536ba","created_at":"2026-02-20T04:46:25.8970043Z","dataset_id":"f5b1bcfa-e2df-4de4-b386-5544126a466f","expected_output":{"answer":"Ottawa"},"input":{"prompt":"What
        is the capital of Canada?"},"tags":[],"updated_at":"2026-02-20T04:46:25.8970043Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
