interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/286232f5-07ca-44ff-8bff-ae24df9f8fa6/records
  response:
    body:
      string: '{"data":[{"id":"25d66285-ea75-4311-9196-ca6582045170","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:51:55.572475Z","dataset_id":"286232f5-07ca-44ff-8bff-ae24df9f8fa6","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"updated_at":"2025-09-09T02:51:55.572475Z"}},{"id":"4a08ed21-3777-4942-b6ac-b85ac517c867","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:51:55.572494Z","dataset_id":"286232f5-07ca-44ff-8bff-ae24df9f8fa6","expected_output":"","input":{"prompt":"What
        is the capital of Mexico?"},"metadata":{"difficulty":"easy"},"updated_at":"2025-09-09T02:51:55.572494Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
