interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/90a01190-a77e-4f7d-a746-0c1784822b83/records
  response:
    body:
      string: '{"data":[{"id":"2b614014-a95b-4077-b418-c7fbf9412a32","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"eb4ab19f-9cb5-417c-8910-0ada16aa0451","created_at":"2026-02-18T06:24:00.346757Z","dataset_id":"90a01190-a77e-4f7d-a746-0c1784822b83","expected_output":"","input":{"prompt":"What
        is the capital of France?"},"updated_at":"2026-02-18T06:24:00.346758Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
