interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "6bf24627-df1e-4a2b-b6ec-03e50df584ee",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of China?"}, "expected_output": {"answer": "Beijing"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/6bf24627-df1e-4a2b-b6ec-03e50df584ee/batch_update
  response:
    body:
      string: '{"data":[{"id":"43578c5d-d9aa-4182-b71f-fd018a10b8c4","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"94896a0f-7a6c-4530-ad90-045665dc4dbe","created_at":"2026-02-18T06:02:10.308261326Z","dataset_id":"6bf24627-df1e-4a2b-b6ec-03e50df584ee","expected_output":{"answer":"Beijing"},"input":{"prompt":"What
        is the capital of China?"},"tags":[],"updated_at":"2026-02-18T06:02:10.308261326Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
