interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "c46fe7a4-f87f-4d52-a234-7abf856d467e",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Nauru?"}, "expected_output": null, "metadata": null}, {"input": {"prompt":
      "What is the capital of Sealand?"}, "expected_output": null, "metadata": null}],
      "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/c46fe7a4-f87f-4d52-a234-7abf856d467e/batch_update
  response:
    body:
      string: '{"data":[{"id":"8e0f3e94-c0c8-4747-88a4-49d62b4e89b5","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"907fcd70-86d5-4dbc-8c23-83cd81fe071d","created_at":"2026-02-11T20:28:18.566046471Z","dataset_id":"c46fe7a4-f87f-4d52-a234-7abf856d467e","input":{"prompt":"What
        is the capital of Sealand?"},"tags":[],"updated_at":"2026-02-11T20:28:18.566046471Z","version":3}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
