interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/89e2fa0a-b4f7-4e7d-b077-fe28839ae987/records
  response:
    body:
      string: '{"data":[{"id":"476b317d-21d1-4bf8-84e7-6bd8b1e8fff7","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-02-18T06:04:35.093811Z","dataset_id":"89e2fa0a-b4f7-4e7d-b077-fe28839ae987","expected_output":{},"input":{"in0":"r1v1","in1":"r1v2","in2":"r1v3"},"metadata":{},"updated_at":"2026-02-18T06:04:35.093811Z"}},{"id":"ce9df223-3012-409a-9cf6-94f54cd10d9b","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-02-18T06:04:35.093811Z","dataset_id":"89e2fa0a-b4f7-4e7d-b077-fe28839ae987","expected_output":{},"input":{"in0":"r0v1","in1":"r0v2","in2":"r0v3"},"metadata":{},"updated_at":"2026-02-18T06:04:35.093811Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
