interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"experiment_id": "acfbf688-3f0f-41ec-ab4b-023af46f9f7e", "metric_source":
      "custom", "span_id": "123", "trace_id": "456", "timestamp_ms": 1770839456896,
      "metric_type": "boolean", "label": "async_evaluator_with_extra_return_values",
      "boolean_value": false, "error": null, "tags": ["ddtrace.version:1.2.3", "project_name:test-project",
      "dataset_name:async-test-dataset-one", "experiment_name:test_experiment_arun_extra_values",
      "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "experiment_id:acfbf688-3f0f-41ec-ab4b-023af46f9f7e",
      "run_id:12345678-abcd-abcd-abcd-123456789012", "run_iteration:1"], "reasoning":
      "async no match", "assessment": "fail", "metadata": {"async": true}}], "tags":
      ["ddtrace.version:1.2.3", "project_name:test-project", "dataset_name:async-test-dataset-one",
      "experiment_name:test_experiment_arun_extra_values", "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9",
      "experiment_id:acfbf688-3f0f-41ec-ab4b-023af46f9f7e", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/acfbf688-3f0f-41ec-ab4b-023af46f9f7e/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
