interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "dc5900ff-f112-4f02-9262-2f39af3535b7",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/dc5900ff-f112-4f02-9262-2f39af3535b7/batch_update
  response:
    body:
      string: '{"data":[{"id":"cd111664-d553-4184-9fc8-689dec09579e","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"b39a8288-5613-4f88-a50d-346a9cbd4a7d","created_at":"2026-03-05T19:58:22.765439557Z","dataset_id":"dc5900ff-f112-4f02-9262-2f39af3535b7","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-03-05T19:58:22.765439557Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
