interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/bad7c5ca-d1ff-4d34-b7fb-1384381af919/records?&filter%5Btags%5D=env:prod&filter%5Btags%5D=nonexistent:tag
  response:
    body:
      string: '{"data":[{"id":"61fbbc08-a913-4ae8-9a60-f2852d9c5935","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"eff6b684-1407-4ca6-b14d-41e4cea2137e","created_at":"2026-02-20T06:47:01.350939Z","dataset_id":"bad7c5ca-d1ff-4d34-b7fb-1384381af919","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":["env:prod","version:1.0"],"updated_at":"2026-02-20T06:47:01.350939Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
