interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "ff18eb63-477a-4622-82a2-b7732a752c8b",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Massachusetts?"}, "expected_output": {"answer": "Boston"}, "metadata": null}],
      "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/ff18eb63-477a-4622-82a2-b7732a752c8b/batch_update
  response:
    body:
      string: '{"data":[{"id":"9a1d9408-ad1a-4650-9f41-85c7bd52593e","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T03:54:43.301910087Z","dataset_id":"ff18eb63-477a-4622-82a2-b7732a752c8b","expected_output":{"answer":"Boston"},"input":{"prompt":"What
        is the capital of Massachusetts?"},"updated_at":"2025-09-09T03:54:43.301910087Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
