interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "286232f5-07ca-44ff-8bff-ae24df9f8fa6",
      "attributes": {"insert_records": [], "update_records": [{"input": {"prompt":
      "What is the capital of Germany?"}, "expected_output": {"answer": "Berlin"},
      "metadata": null, "id": "963560ec-b917-48ae-afbe-ac806ddacb38"}, {"input": {"prompt":
      "What is the capital of Mexico?"}, "expected_output": "", "metadata": {"difficulty":
      "easy"}, "id": "abe2bff6-9f96-41d5-874b-6665189a13dc"}], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/286232f5-07ca-44ff-8bff-ae24df9f8fa6/batch_update
  response:
    body:
      string: '{"data":[{"id":"25d66285-ea75-4311-9196-ca6582045170","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:51:55.572475177Z","dataset_id":"286232f5-07ca-44ff-8bff-ae24df9f8fa6","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"updated_at":"2025-09-09T02:51:55.572475259Z","version":2}},{"id":"4a08ed21-3777-4942-b6ac-b85ac517c867","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:51:55.572494106Z","dataset_id":"286232f5-07ca-44ff-8bff-ae24df9f8fa6","expected_output":"","input":{"prompt":"What
        is the capital of Mexico?"},"metadata":{"difficulty":"easy"},"updated_at":"2025-09-09T02:51:55.57249418Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
