interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"metric_source": "custom", "span_id": "123", "trace_id": "456",
      "timestamp_ms": 1234, "metric_type": "score", "label": "dummy_evaluator", "score_value":
      0, "error": null, "tags": [], "experiment_id": "c35ee209-ccc7-4484-9e3b-c81039da06d4"},
      {"metric_source": "summary", "span_id": "", "trace_id": "", "timestamp_ms":
      1234, "metric_type": "score", "label": "dummy_summary_evaluator", "score_value":
      4, "error": null, "tags": [], "experiment_id": "c35ee209-ccc7-4484-9e3b-c81039da06d4"}],
      "tags": ["ddtrace.version:1.2.3", "project_id:569aa33c-7acf-4061-abd0-4f2078e61ee8",
      "experiment_id:c35ee209-ccc7-4484-9e3b-c81039da06d4", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/c35ee209-ccc7-4484-9e3b-c81039da06d4/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
