interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/da65493e-1d6e-4c70-8fa2-734f72ecb955/records
  response:
    body:
      string: '{"data":[{"id":"5d8ea06b-e485-4487-914f-dfee2093e3c6","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T02:59:55.342344Z","dataset_id":"da65493e-1d6e-4c70-8fa2-734f72ecb955","expected_output":{},"input":{"in0":"r1v1","in1":"r1v2","in2":"r1v3"},"metadata":{},"updated_at":"2025-08-06T02:59:55.342344Z"}},{"id":"05de01ee-e900-4ea7-b212-902fd05feddb","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T02:59:55.342344Z","dataset_id":"da65493e-1d6e-4c70-8fa2-734f72ecb955","expected_output":{},"input":{"in0":"r0v1","in1":"r0v2","in2":"r0v3"},"metadata":{},"updated_at":"2025-08-06T02:59:55.342344Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
