interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "fc463e9c-0afb-4a6f-854a-3784f7a5154e",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/fc463e9c-0afb-4a6f-854a-3784f7a5154e/batch_update
  response:
    body:
      string: '{"data":[{"id":"98d88b39-b136-4161-8b9c-d74a6d599ff9","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:38.274605125Z","dataset_id":"fc463e9c-0afb-4a6f-854a-3784f7a5154e","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T01:05:38.274605125Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
