interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/c7e92120-edec-4585-bcee-f8c26d49a826/records
  response:
    body:
      string: '{"data":[{"id":"99ff4b58-864e-4dd0-8058-51ddecda7ae6","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"9d1f2e14-215e-4548-b085-4e65815ef312","created_at":"2026-02-18T06:24:14.340319Z","dataset_id":"c7e92120-edec-4585-bcee-f8c26d49a826","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2026-02-18T06:24:14.340319Z"}},{"id":"49c96760-1856-4f99-a388-18dc5aa81812","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"7a44cf29-3cb8-46e3-80e8-219e29cd6a82","created_at":"2026-02-18T06:24:10.178494Z","dataset_id":"c7e92120-edec-4585-bcee-f8c26d49a826","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2026-02-18T06:24:10.178494Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
