interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "bbef66f9-5e48-49aa-92ec-65e217d08271",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Nauru?"}, "expected_output": null, "metadata": null}, {"input": {"prompt":
      "What is the capital of Sealand?"}, "expected_output": null, "metadata": null}],
      "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/bbef66f9-5e48-49aa-92ec-65e217d08271/batch_update
  response:
    body:
      string: '{"data":[{"id":"9ee706fe-e479-4a16-96f2-171af6f2bbb4","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:52:16.558459596Z","dataset_id":"bbef66f9-5e48-49aa-92ec-65e217d08271","input":{"prompt":"What
        is the capital of Nauru?"},"updated_at":"2025-08-06T20:52:16.558459596Z","version":1}},{"id":"caa14d5c-2d02-4058-8a73-fd4f5c55959d","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:52:16.558459596Z","dataset_id":"bbef66f9-5e48-49aa-92ec-65e217d08271","input":{"prompt":"What
        is the capital of Sealand?"},"updated_at":"2025-08-06T20:52:16.558459596Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
