interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "5019600f-ab11-4806-99ca-b858c1ea6e75",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["5d4a2376-a72d-4a35-b4da-783581b022fa"], "deduplicate": true, "create_new_version":
      true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/5019600f-ab11-4806-99ca-b858c1ea6e75/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
