interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"metric_source": "custom", "span_id": "123", "trace_id": "456",
      "timestamp_ms": 1234, "metric_type": "score", "label": "dummy_evaluator", "score_value":
      0, "error": null, "tags": [], "experiment_id": "6a861b07-2523-41c0-9367-c63dbb910318"}],
      "tags": ["ddtrace.version:1.2.3", "project_id:c1579583-4e74-4538-8b17-17950b764f42",
      "experiment_id:6a861b07-2523-41c0-9367-c63dbb910318", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/6a861b07-2523-41c0-9367-c63dbb910318/events
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"Key: ''ExperimentEvalMetricEvent.EvalMetricBase.TimestampMs''
        Error:Field validation for ''TimestampMs'' failed on the ''timestamp_within_24hr''
        tag"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
