interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "d2900581-71da-4dd5-9582-4f64839b3955",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of China?"}, "expected_output": {"answer": "Beijing"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/d2900581-71da-4dd5-9582-4f64839b3955/batch_update
  response:
    body:
      string: '{"data":[{"id":"4f146190-32ff-485a-895b-2aa465722c80","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:32:52.68244642Z","dataset_id":"d2900581-71da-4dd5-9582-4f64839b3955","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T04:32:52.68244642Z","version":1}},{"id":"545eeabd-1fc7-4e2a-a5e3-701036d4702d","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:32:52.68244642Z","dataset_id":"d2900581-71da-4dd5-9582-4f64839b3955","expected_output":{"answer":"Beijing"},"input":{"prompt":"What
        is the capital of China?"},"updated_at":"2025-09-09T04:32:52.68244642Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
