interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "45f86a2d-47aa-4361-b1a8-d6e3fdff10f9",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Sweden?"}, "expected_output": null, "metadata": null}], "update_records":
      [], "delete_records": ["4a1673a3-dd41-4ab6-9051-f2928d9c5188"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/45f86a2d-47aa-4361-b1a8-d6e3fdff10f9/batch_update
  response:
    body:
      string: '{"data":[{"id":"8997f388-9570-4abc-a36e-5602a171231e","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"b80f5a49-9950-4157-9ad9-b0c7b6fe8759","created_at":"2026-02-11T20:53:51.213504544Z","dataset_id":"45f86a2d-47aa-4361-b1a8-d6e3fdff10f9","input":{"prompt":"What
        is the capital of Sweden?"},"tags":[],"updated_at":"2026-02-11T20:53:51.213504544Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
