interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/12031876-be01-4cee-af83-e99a68d078ca/records
  response:
    body:
      string: '{"data":[{"id":"11d1b986-e7f2-46be-b2d4-2107b0408c19","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"d8294a48-8a32-4055-aaaa-6b26d8a20d77","created_at":"2026-02-18T06:05:32.415174Z","dataset_id":"12031876-be01-4cee-af83-e99a68d078ca","expected_output":{"answer":"Paris"},"input":"A","metadata":{"difficulty":"easy"},"updated_at":"2026-02-18T06:05:32.415174Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
