interactions:
- request:
    body: null
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/6b9d0a65-a8a0-47ef-9deb-6fdbeef395f8/records
  response:
    body:
      string: '{"data":[{"id":"30a4b642-2477-442a-88e0-228bdcd43f7d","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-16T20:06:48.867813Z","dataset_id":"6b9d0a65-a8a0-47ef-9deb-6fdbeef395f8","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"metadata":{},"updated_at":"2025-07-16T20:06:48.867813Z"}},{"id":"d2d91cb9-c26a-45ec-84f1-68e6e2abc415","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-16T20:06:44.561248Z","dataset_id":"6b9d0a65-a8a0-47ef-9deb-6fdbeef395f8","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{},"updated_at":"2025-07-16T20:06:44.561248Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
