interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets?filter%5Bname%5D=test-dataset-test_dataset_extend%5Btest_dataset_records0%5D
  response:
    body:
      string: '{"data":[{"id":"0db64595-86bd-4c4d-aca7-00a13885b5a5","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-03T21:44:03.763621Z","current_version":2,"description":"A
        test dataset","name":"test-dataset-test_dataset_extend[test_dataset_records0]","updated_at":"2025-09-03T21:44:09.229562Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
