interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "bad7c5ca-d1ff-4d34-b7fb-1384381af919",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null, "tags":
      ["env:prod", "version:1.0"]}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/bad7c5ca-d1ff-4d34-b7fb-1384381af919/batch_update
  response:
    body:
      string: '{"data":[{"id":"61fbbc08-a913-4ae8-9a60-f2852d9c5935","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"eff6b684-1407-4ca6-b14d-41e4cea2137e","created_at":"2026-02-20T06:47:01.350939585Z","dataset_id":"bad7c5ca-d1ff-4d34-b7fb-1384381af919","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":["env:prod","version:1.0"],"updated_at":"2026-02-20T06:47:01.350939585Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
