interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"insert_records": [{"input":
      {"prompt": "What is the capital of France?"}, "expected_output": {"answer":
      "Paris"}, "metadata": {}, "record_id": null}]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/757f4529-ce99-4c10-ab9c-4c389b47839c/batch_update
  response:
    body:
      string: '{"data":[{"id":"45f49d20-a612-4b7e-b889-ee5a4b928b83","type":"datasets","attributes":{"author":{"id":"df7d11c9-da50-11ed-af19-2e9f609a4672"},"created_at":"2025-07-15T14:39:10.911035757Z","dataset_id":"757f4529-ce99-4c10-ab9c-4c389b47839c","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{},"updated_at":"2025-07-15T14:39:10.911035757Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
