interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/a672d64f-b809-4904-b518-4ccaac15391a/records
  response:
    body:
      string: '{"data":[{"id":"ab712a62-00cd-4bd1-bcb5-3dab9cbb84af","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"747d5203-0b25-4ee8-8852-7327b6857fb5","created_at":"2026-02-18T06:05:41.446723Z","dataset_id":"a672d64f-b809-4904-b518-4ccaac15391a","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2026-02-18T06:05:41.446723Z"}},{"id":"4e0acb5a-076b-4837-b4d2-e6ccb550ef11","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"41142add-4673-434f-8c9d-9c48f7e8f263","created_at":"2026-02-18T06:05:37.274217Z","dataset_id":"a672d64f-b809-4904-b518-4ccaac15391a","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2026-02-18T06:05:37.274217Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
