interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/ab895273-5180-4970-b7d6-a2d95f2fc9df/records
  response:
    body:
      string: '{"data":[{"id":"c19b7425-257e-4405-8fe6-948df9a199ff","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:25.051648Z","dataset_id":"ab895273-5180-4970-b7d6-a2d95f2fc9df","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-09-09T01:05:25.051648Z"}},{"id":"4a61c325-5bc7-4730-9a8f-d833eba4c583","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T01:05:20.22205Z","dataset_id":"ab895273-5180-4970-b7d6-a2d95f2fc9df","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T01:05:20.22205Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
