interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"name": "test_experiment",
      "description": "", "dataset_id": "6425ab27-20ab-4022-b1e0-b9996b33957f", "project_id":
      "c4b49fb5-7b16-46e1-86f0-de5800e8a56c", "dataset_version": 1, "config": {},
      "metadata": {"tags": ["ddtrace.version:1.2.3", "project_id:c4b49fb5-7b16-46e1-86f0-de5800e8a56c"]},
      "ensure_unique": true, "run_count": 1}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments
  response:
    body:
      string: '{"data":{"id":"5789cb27-eca5-488a-aaf7-5a7b639a6d7a","type":"experiments","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"config":{},"created_at":"2026-02-18T06:26:01.118044571Z","dataset_id":"6425ab27-20ab-4022-b1e0-b9996b33957f","dataset_version":1,"description":"","experiment":"test_experiment","metadata":{"tags":["ddtrace.version:1.2.3","project_id:c4b49fb5-7b16-46e1-86f0-de5800e8a56c"]},"name":"test_experiment-1771395961118","project_id":"c4b49fb5-7b16-46e1-86f0-de5800e8a56c","run_count":1,"updated_at":"2026-02-18T06:26:01.118044644Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
