interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/745739a2-7571-43d5-995e-18b1042d6177/records
  response:
    body:
      string: '{"data":[{"id":"27c46447-61c8-4367-88b6-86f91d6fbf98","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:33:32.176369Z","dataset_id":"745739a2-7571-43d5-995e-18b1042d6177","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-09-09T04:33:32.176369Z"}},{"id":"8486c96c-4fe7-4d0d-b843-669974daecdf","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:33:27.369349Z","dataset_id":"745739a2-7571-43d5-995e-18b1042d6177","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T04:33:27.369349Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
