interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "a8013231-8569-449e-8061-7264adba8f0d",
      "attributes": {"insert_records": [], "update_records": [{"input": "A", "expected_output":
      null, "metadata": null, "id": "90463c7051964550be9ac482888897f9"}], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/a8013231-8569-449e-8061-7264adba8f0d/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
