interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "async-test-dataset-metadata",
      "description": "A test dataset with metadata"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9/datasets
  response:
    body:
      string: '{"data":{"id":"ee6a4f79-9e62-4661-9ef5-8ee7c849d84e","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"created_at":"2026-02-10T19:30:01.049657911Z","current_version":0,"description":"A
        test dataset with metadata","name":"async-test-dataset-metadata","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","updated_at":"2026-02-10T19:30:01.049657911Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
