interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["0fe0c8dd-a7a8-40ab-9f2f-c5917c5739cf"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"0fe0c8dd-a7a8-40ab-9f2f-c5917c5739cf","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:32:19.881513Z","current_version":3,"dataset_type":"user","deleted_at":"2026-02-11T20:28:04.399234Z","description":"A
        good csv dataset","name":"test-dataset-good-csv-1","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","updated_at":"2026-02-11T20:28:03.927897Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
