interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "415d4fcb-a569-4983-84cd-3e43afc74633",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/415d4fcb-a569-4983-84cd-3e43afc74633/batch_update
  response:
    body:
      string: '{"data":[{"id":"a8d02f63-e542-4489-aa7f-4474324a2a3d","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"d4d33aea-7dfb-408e-aaac-38b8ed1aac56","created_at":"2026-02-20T04:44:50.330236859Z","dataset_id":"415d4fcb-a569-4983-84cd-3e43afc74633","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-20T04:44:50.330236859Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
