interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-test_dataset_pull_from_project",
      "description": "A boston dataset"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/3a1a13ae-9bf7-4953-8f09-2e0235836d11/datasets
  response:
    body:
      string: '{"data":{"id":"3a4daef7-474a-43ff-9334-7e7f8a167609","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"created_at":"2026-02-11T20:46:02.727841356Z","current_version":0,"description":"A
        boston dataset","name":"test-dataset-test_dataset_pull_from_project","project_id":"3a1a13ae-9bf7-4953-8f09-2e0235836d11","updated_at":"2026-02-11T20:46:02.727841356Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
