interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/ab8dd059-2cc1-48b1-96a1-52f0f3282efc/records
  response:
    body:
      string: '{"data":[{"id":"853db97f-c64e-4552-9ccd-eaaf411ab5f0","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"fdc8b942-9380-4615-9bd8-2e3d8ae5c93c","created_at":"2026-02-11T20:53:03.025546Z","dataset_id":"ab8dd059-2cc1-48b1-96a1-52f0f3282efc","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2026-02-11T20:53:03.025546Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
