interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "cfdb514f-92b0-404f-9b3f-020f82b0cd51",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Sweden?"}, "expected_output": null, "metadata": null}], "update_records":
      [], "delete_records": ["0c84833f-c2a2-43e0-bbbe-5dee1336c5f3"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/cfdb514f-92b0-404f-9b3f-020f82b0cd51/batch_update
  response:
    body:
      string: '{"data":[{"id":"e6c19140-44dd-41ae-8617-adb52e2a79c1","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-08T20:50:03.226626591Z","dataset_id":"cfdb514f-92b0-404f-9b3f-020f82b0cd51","input":{"prompt":"What
        is the capital of Sweden?"},"updated_at":"2025-08-08T20:50:03.226626591Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
