interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "071fc47f-b011-46cc-b0e4-feede46d583f",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/071fc47f-b011-46cc-b0e4-feede46d583f/batch_update
  response:
    body:
      string: '{"data":[{"id":"1e783074-7e6b-4c5b-b29e-1eee680f7b8a","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"127957d1-5a18-4e50-bee1-20b3bc49867d","created_at":"2026-02-11T20:51:07.159331267Z","dataset_id":"071fc47f-b011-46cc-b0e4-feede46d583f","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:51:07.159331267Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
