interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "94de8893-283e-432e-8d28-6e4e44521e00",
      "attributes": {"insert_records": [], "update_records": [{"input": {"prompt":
      "What is the capital of Germany?"}, "expected_output": {"answer": "Berlin"},
      "metadata": null, "id": "56dbf170-a8fa-47cb-ba11-3abb35ac9dba"}], "delete_records":
      []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/94de8893-283e-432e-8d28-6e4e44521e00/batch_update
  response:
    body:
      string: '{"data":[{"id":"045a5850-deb9-40b0-87fc-6c2eddb7e260","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:33:03.161499143Z","dataset_id":"94de8893-283e-432e-8d28-6e4e44521e00","expected_output":{"answer":"Berlin"},"input":{"prompt":"What
        is the capital of Germany?"},"updated_at":"2025-09-09T04:33:03.161499225Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
