interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "991e43a9-f74b-41a6-99b0-04a0bbf76268",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": [], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/991e43a9-f74b-41a6-99b0-04a0bbf76268/batch_update
  response:
    body:
      string: '{"data":[{"id":"6beb0660-9101-4004-ab51-43db4d430631","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"48868332-0f9e-493d-97e3-4bb07faf4f6e","created_at":"2026-02-18T06:06:19.375735388Z","dataset_id":"991e43a9-f74b-41a6-99b0-04a0bbf76268","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:06:19.375735388Z","version":1}},{"id":"d14dbf37-9497-48e8-af4b-12f57c3c3b5f","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"a0670550-15c1-40ce-92c6-9af340cbc70d","created_at":"2026-02-18T06:06:19.375735388Z","dataset_id":"991e43a9-f74b-41a6-99b0-04a0bbf76268","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-18T06:06:19.375735388Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
