interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "e7f2516b-a21d-483f-8044-e7538e3002a9",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Canada?"}, "expected_output": {"answer":
      "Ottawa"}, "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/e7f2516b-a21d-483f-8044-e7538e3002a9/batch_update
  response:
    body:
      string: '{"data":[{"id":"81f6671a-34bb-48da-a492-b6ac753ca5de","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"2cd32975-ccb5-4a48-b1a8-95bf94ea143a","created_at":"2026-02-12T17:47:37.532609276Z","dataset_id":"e7f2516b-a21d-483f-8044-e7538e3002a9","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-12T17:47:37.532609276Z","version":1}},{"id":"0352b0ed-abac-4215-8433-2b129469667d","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"741224db-2c01-46a5-9128-9edc42507ba2","created_at":"2026-02-12T17:47:37.532609276Z","dataset_id":"e7f2516b-a21d-483f-8044-e7538e3002a9","expected_output":{"answer":"Ottawa"},"input":{"prompt":"What
        is the capital of Canada?"},"tags":[],"updated_at":"2026-02-12T17:47:37.532609276Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
