interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "72b0363a-8072-41d5-b524-74352ac402f2",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/72b0363a-8072-41d5-b524-74352ac402f2/batch_update
  response:
    body:
      string: '{"data":[{"id":"79526448-ac73-4a05-8fe2-6c4bec98cf58","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"dab7128a-7950-4cd6-8c75-8be79552ac71","created_at":"2026-02-27T16:34:46.900450854Z","dataset_id":"72b0363a-8072-41d5-b524-74352ac402f2","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-02-27T16:34:46.900450854Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
