interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "45f86a2d-47aa-4361-b1a8-d6e3fdff10f9",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}, {"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": null}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/45f86a2d-47aa-4361-b1a8-d6e3fdff10f9/batch_update
  response:
    body:
      string: '{"data":[{"id":"4a1673a3-dd41-4ab6-9051-f2928d9c5188","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"8a89e0d1-b69c-400c-a8b3-f922a1d0b79b","created_at":"2026-02-11T20:53:43.088331Z","dataset_id":"45f86a2d-47aa-4361-b1a8-d6e3fdff10f9","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:53:43.088331Z","version":1}},{"id":"285063e5-0ad4-4e5f-a340-6ca5f95c6a74","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"9aec8d72-78e5-4d0f-b001-29a6a6452273","created_at":"2026-02-11T20:53:43.088331Z","dataset_id":"45f86a2d-47aa-4361-b1a8-d6e3fdff10f9","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"tags":[],"updated_at":"2026-02-11T20:53:43.088331Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
