interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "2f376001-f964-4f1e-897d-4585ccff39ea",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Nauru?"}, "expected_output": "", "metadata": {}}, {"input": {"prompt": "What
      is the capital of Sealand?"}, "expected_output": "", "metadata": {}}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/2f376001-f964-4f1e-897d-4585ccff39ea/batch_update
  response:
    body:
      string: '{"data":[{"id":"8d55ad5a-528e-46c4-bd58-76e3d2ea4ddf","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T03:00:50.046982233Z","dataset_id":"2f376001-f964-4f1e-897d-4585ccff39ea","expected_output":"","input":{"prompt":"What
        is the capital of Nauru?"},"metadata":{},"updated_at":"2025-08-06T03:00:50.046982233Z","version":1}},{"id":"f859c072-c30a-497b-be53-a66d14fedd57","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T03:00:50.046982233Z","dataset_id":"2f376001-f964-4f1e-897d-4585ccff39ea","expected_output":"","input":{"prompt":"What
        is the capital of Sealand?"},"metadata":{},"updated_at":"2025-08-06T03:00:50.046982233Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
