interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "745739a2-7571-43d5-995e-18b1042d6177",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Italy?"}, "expected_output": {"answer": "Rome"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/745739a2-7571-43d5-995e-18b1042d6177/batch_update
  response:
    body:
      string: '{"data":[{"id":"27c46447-61c8-4367-88b6-86f91d6fbf98","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:33:32.176369234Z","dataset_id":"745739a2-7571-43d5-995e-18b1042d6177","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-09-09T04:33:32.176369234Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
