interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/7cb8c026-5fe2-44e9-bdf6-be9128648870/records
  response:
    body:
      string: '{"data":[{"id":"4b0af082-24a1-4e4f-aca1-5bb53f06d9dc","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-02-20T04:44:05.161213Z","dataset_id":"7cb8c026-5fe2-44e9-bdf6-be9128648870","expected_output":{"out0":"r1v4","out1":"r1v5"},"input":{"in0":"r1v1","in1":"r1v2","in2":"r1v3"},"metadata":{},"updated_at":"2026-02-20T04:44:05.161213Z"}},{"id":"5c0f45e0-5de9-4e96-8f12-f3b4b25bd9dd","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-02-20T04:44:05.161213Z","dataset_id":"7cb8c026-5fe2-44e9-bdf6-be9128648870","expected_output":{"out0":"r0v4","out1":"r0v5"},"input":{"in0":"r0v1","in1":"r0v2","in2":"r0v3"},"metadata":{},"updated_at":"2026-02-20T04:44:05.161213Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
