interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "f307ddbd-2103-47d8-b921-e68557d0ebea",
      "attributes": {"insert_records": [], "update_records": [{"input": null, "expected_output":
      null, "metadata": null, "id": "ec601051-c011-4708-9af7-bc591b4bf9fe", "tag_operations":
      {"add": ["priority:high"]}}, {"input": null, "expected_output": null, "metadata":
      null, "id": "88af46b8-c354-4f5c-9ede-a985a862ac8d", "tag_operations": {"remove":
      ["env:staging"]}}], "delete_records": [], "deduplicate": true, "create_new_version":
      true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/f307ddbd-2103-47d8-b921-e68557d0ebea/batch_update
  response:
    body:
      string: '{"data":[{"id":"d9d038a3-4af1-4803-94f5-feff84fda2fe","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"92afa3ce-9a34-4c01-8c2d-942bfa67e476","created_at":"2026-03-05T19:59:10.554554601Z","dataset_id":"f307ddbd-2103-47d8-b921-e68557d0ebea","expected_output":"","input":{"prompt":"a"},"metadata":{},"tags":["env:prod","priority:high"],"updated_at":"2026-03-05T19:59:10.554554692Z","version":2}},{"id":"7f8fe7c2-e8bc-4237-bd9a-006aa0eb1fc7","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"710fd25e-cca0-4fda-ae17-eb0b017bff01","created_at":"2026-03-05T19:59:10.554569371Z","dataset_id":"f307ddbd-2103-47d8-b921-e68557d0ebea","expected_output":"","input":{"prompt":"b"},"metadata":{},"tags":[],"updated_at":"2026-03-05T19:59:10.554569445Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
