interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "9683ace0-bde7-4223-a623-b0d57dc090e7",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/9683ace0-bde7-4223-a623-b0d57dc090e7/batch_update
  response:
    body:
      string: '{"data":[{"id":"57200165-7a8e-4c44-aad7-82abda3e15e0","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"dc93334c-fe61-4c76-be87-0c2c08a52298","created_at":"2026-02-18T06:05:51.331183313Z","dataset_id":"9683ace0-bde7-4223-a623-b0d57dc090e7","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-18T06:05:51.331183313Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
