interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "ab8dd059-2cc1-48b1-96a1-52f0f3282efc",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["aa8d873b-6f71-4fcf-bd5b-f884e0be1957"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/ab8dd059-2cc1-48b1-96a1-52f0f3282efc/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
