interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "e0af2dff-8b56-4965-a0ee-72b6c92f7279",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/e0af2dff-8b56-4965-a0ee-72b6c92f7279/batch_update
  response:
    body:
      string: '{"data":[{"id":"38cc7ed1-0278-43cf-9d7e-cf208642e224","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"a45ebe2e-8000-42dc-a08e-26e530280dbd","created_at":"2026-02-11T20:50:33.075501809Z","dataset_id":"e0af2dff-8b56-4965-a0ee-72b6c92f7279","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:50:33.075501809Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
