interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "a1fec266-45ed-474b-b87e-a43dda49bb3f",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": {"difficulty":
      "easy"}}], "update_records": [], "delete_records": [], "deduplicate": true,
      "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/a1fec266-45ed-474b-b87e-a43dda49bb3f/batch_update
  response:
    body:
      string: '{"data":[{"id":"f58680bb-6881-4d44-a618-0be1fffdfc1c","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"4c00c56f-6373-4f44-a2bc-8aef98211290","created_at":"2026-02-20T04:45:06.868016609Z","dataset_id":"a1fec266-45ed-474b-b87e-a43dda49bb3f","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{"difficulty":"easy"},"tags":[],"updated_at":"2026-02-20T04:45:06.868016609Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
