interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "3a4daef7-474a-43ff-9334-7e7f8a167609",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Massachusetts?"}, "expected_output": {"answer": "Boston"}, "metadata": null}],
      "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/3a4daef7-474a-43ff-9334-7e7f8a167609/batch_update
  response:
    body:
      string: '{"data":[{"id":"cb047c06-3610-4d0d-900e-0422b0248a90","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"3f786916-3a9a-4df8-a373-da9631557ebf","created_at":"2026-02-11T20:46:02.921088841Z","dataset_id":"3a4daef7-474a-43ff-9334-7e7f8a167609","expected_output":{"answer":"Boston"},"input":{"prompt":"What
        is the capital of Massachusetts?"},"tags":[],"updated_at":"2026-02-11T20:46:02.921088841Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
