interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "f4feada7-0fe5-45df-acc7-b8b3949f3b43",
      "attributes": {"insert_records": [], "update_records": [{"input": "A", "expected_output":
      null, "metadata": null, "id": "bb18a249-4030-463d-8dee-bbe3e85a3ae1"}], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/f4feada7-0fe5-45df-acc7-b8b3949f3b43/batch_update
  response:
    body:
      string: '{"data":[{"id":"4828cca9-8ef3-43b0-9c2d-c532fa41685d","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"44fa5b03-d2d3-4635-ba58-858f40ed8d9e","created_at":"2026-02-18T06:24:05.364665355Z","dataset_id":"f4feada7-0fe5-45df-acc7-b8b3949f3b43","expected_output":{"answer":"Paris"},"input":"A","metadata":{"difficulty":"easy"},"tags":[],"updated_at":"2026-02-18T06:24:05.364665454Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
