interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-good-csv-without-expected-output",
      "description": "A good csv dataset without expected_output columns"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9/datasets
  response:
    body:
      string: '{"data":{"id":"899a64f9-f2f2-4266-bb45-2013555081e4","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:32:12.849711511Z","current_version":0,"description":"A
        good csv dataset without expected_output columns","name":"test-dataset-good-csv-without-expected-output","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","updated_at":"2025-09-09T04:32:12.849711511Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
