interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "async-test-dataset-multiple",
      "description": "A test dataset with multiple records"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9/datasets
  response:
    body:
      string: '{"data":{"id":"108d1c0d-0fda-4d3f-8bba-de3075e0ee15","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"created_at":"2026-02-10T19:29:44.71086183Z","current_version":0,"description":"A
        test dataset with multiple records","name":"async-test-dataset-multiple","project_id":"f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9","updated_at":"2026-02-10T19:29:44.71086183Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
