interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "f307ddbd-2103-47d8-b921-e68557d0ebea",
      "attributes": {"insert_records": [{"input": {"prompt": "a"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}, {"input": {"prompt": "b"}, "expected_output":
      "", "metadata": {}, "tags": ["env:staging"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/f307ddbd-2103-47d8-b921-e68557d0ebea/batch_update
  response:
    body:
      string: '{"data":[{"id":"ec601051-c011-4708-9af7-bc591b4bf9fe","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"92afa3ce-9a34-4c01-8c2d-942bfa67e476","created_at":"2026-03-05T19:59:07.000760768Z","dataset_id":"f307ddbd-2103-47d8-b921-e68557d0ebea","expected_output":"","input":{"prompt":"a"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-03-05T19:59:07.000760768Z","version":1}},{"id":"88af46b8-c354-4f5c-9ede-a985a862ac8d","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"710fd25e-cca0-4fda-ae17-eb0b017bff01","created_at":"2026-03-05T19:59:07.000760768Z","dataset_id":"f307ddbd-2103-47d8-b921-e68557d0ebea","expected_output":"","input":{"prompt":"b"},"metadata":{},"tags":["env:staging"],"updated_at":"2026-03-05T19:59:07.000760768Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
