interactions:
- request:
    body: '{"data": {"type": "experiments", "attributes": {"scope": "experiments",
      "metrics": [{"experiment_id": "d648683f-01cd-44c0-9784-c1a8a84907fa", "metric_source":
      "custom", "span_id": "123", "trace_id": "456", "timestamp_ms": 1770839456896,
      "metric_type": "score", "label": "async_dummy_evaluator", "score_value": 0,
      "error": null, "tags": ["ddtrace.version:1.2.3", "project_name:test-project",
      "dataset_name:async-test-dataset-one", "experiment_name:test_experiment_summary_error",
      "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "experiment_id:d648683f-01cd-44c0-9784-c1a8a84907fa",
      "run_id:12345678-abcd-abcd-abcd-123456789012", "run_iteration:1"]}, {"experiment_id":
      "d648683f-01cd-44c0-9784-c1a8a84907fa", "metric_source": "summary", "span_id":
      "", "trace_id": "", "timestamp_ms": 1770839456896, "metric_type": "categorical",
      "label": "async_faulty_summary_evaluator", "categorical_value": null, "error":
      {"message": "This is a test error in async summary evaluator", "type": "ValueError",
      "stack": "Traceback (most recent call last):\n  ValueError: This is a test error
      in async summary evaluator\n"}, "tags": ["ddtrace.version:1.2.3", "project_name:test-project",
      "dataset_name:async-test-dataset-one", "experiment_name:test_experiment_summary_error",
      "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9", "experiment_id:d648683f-01cd-44c0-9784-c1a8a84907fa",
      "run_id:12345678-abcd-abcd-abcd-123456789012", "run_iteration:1"]}], "tags":
      ["ddtrace.version:1.2.3", "project_name:test-project", "dataset_name:async-test-dataset-one",
      "experiment_name:test_experiment_summary_error", "project_id:f0a6723e-a7e8-4efd-a94a-b892b7b6fbf9",
      "experiment_id:d648683f-01cd-44c0-9784-c1a8a84907fa", "run_id:12345678-abcd-abcd-abcd-123456789012",
      "run_iteration:1"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/experiments/d648683f-01cd-44c0-9784-c1a8a84907fa/events
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
