interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/5019600f-ab11-4806-99ca-b858c1ea6e75/records
  response:
    body:
      string: '{"data":[{"id":"39522562-e99e-45d7-aaf8-7394d06e4267","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"15b088d6-70ea-4296-b846-cca4cdc47abb","created_at":"2026-02-20T04:45:38.463421Z","dataset_id":"5019600f-ab11-4806-99ca-b858c1ea6e75","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2026-02-20T04:45:38.463421Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
