interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"type": "soft", "dataset_ids":
      ["bbef66f9-5e48-49aa-92ec-65e217d08271"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/delete
  response:
    body:
      string: '{"data":[{"id":"bbef66f9-5e48-49aa-92ec-65e217d08271","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:52:16.406296Z","current_version":2,"deleted_at":"2025-08-06T20:52:23.730421Z","description":"A
        test dataset","name":"test-dataset-test_dataset_delete_no_expected_output[test_dataset_records0]","updated_at":"2025-08-06T20:52:21.244995Z"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
