interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "8fcbc747-a048-4654-82f3-9a752daf33bd",
      "attributes": {"insert_records": [{"input": {"prompt": "hello"}, "expected_output":
      "", "metadata": {}, "tags": ["env:prod"]}], "update_records": [], "delete_records":
      [], "deduplicate": true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets/8fcbc747-a048-4654-82f3-9a752daf33bd/batch_update
  response:
    body:
      string: '{"data":[{"id":"0cbc6a96-895f-49f2-95e9-12fe76afd214","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"canonical_id":"2618f667-014a-486e-8474-41876dde7f96","created_at":"2026-02-27T16:34:38.842342136Z","dataset_id":"8fcbc747-a048-4654-82f3-9a752daf33bd","expected_output":"","input":{"prompt":"hello"},"metadata":{},"tags":["env:prod"],"updated_at":"2026-02-27T16:34:38.842342136Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
