interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/432f5a40-5a84-4616-a373-38655f3228a6/records
  response:
    body:
      string: '{"data":[{"id":"52d6eb97-fe5e-4831-a2c8-9c0bd96e9210","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-02-11T20:45:36.342667Z","dataset_id":"432f5a40-5a84-4616-a373-38655f3228a6","expected_output":{"out0":"r0v4","out1":"r0v5"},"input":{"in0":"r0v1","in1":"r0v2","in2":"r0v3"},"metadata":{},"updated_at":"2026-02-11T20:45:36.342667Z"}},{"id":"f051a687-2a42-4772-b163-1a141cc786c5","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-02-11T20:45:36.342667Z","dataset_id":"432f5a40-5a84-4616-a373-38655f3228a6","expected_output":{"out0":"r1v4","out1":"r1v5"},"input":{"in0":"r1v1","in1":"r1v2","in2":"r1v3"},"metadata":{},"updated_at":"2026-02-11T20:45:36.342667Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
