interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/991e43a9-f74b-41a6-99b0-04a0bbf76268/records
  response:
    body:
      string: '{"data":[{"id":"d990cae8-2d7e-4c05-9ca7-6fc0f0ff7e1c","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"3498e842-82aa-4497-8def-548941c3af53","created_at":"2026-02-18T06:06:23.522964Z","dataset_id":"991e43a9-f74b-41a6-99b0-04a0bbf76268","input":{"prompt":"What
        is the capital of Sweden?"},"updated_at":"2026-02-18T06:06:23.522964Z"}},{"id":"d14dbf37-9497-48e8-af4b-12f57c3c3b5f","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"a0670550-15c1-40ce-92c6-9af340cbc70d","created_at":"2026-02-18T06:06:19.375735Z","dataset_id":"991e43a9-f74b-41a6-99b0-04a0bbf76268","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2026-02-18T06:06:19.375735Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
