interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "4cb189d9-762b-4052-a2c9-eeb5284fe4b5",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": {}}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/4cb189d9-762b-4052-a2c9-eeb5284fe4b5/batch_update
  response:
    body:
      string: '{"data":[{"id":"f4cf91d1-3097-4752-aa39-8733923de32f","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-01T16:57:07.557331857Z","dataset_id":"4cb189d9-762b-4052-a2c9-eeb5284fe4b5","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{},"updated_at":"2025-08-01T16:57:07.557331857Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
