interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "3249d56a-701e-45e1-a317-790c8e0eff66",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["4b02d88b-1458-4b88-8322-3ec086113dd0"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/3249d56a-701e-45e1-a317-790c8e0eff66/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
