interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "6caca08a-b29c-403a-849b-a8b7c9d96104",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of Sweden?"}, "expected_output": null, "metadata": null}], "update_records":
      [], "delete_records": ["026a6974-4102-49a4-aa16-e05b49dc0c29"], "deduplicate":
      true, "create_new_version": true}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/6caca08a-b29c-403a-849b-a8b7c9d96104/batch_update
  response:
    body:
      string: '{"data":[{"id":"bb3bb851-a960-418e-ab75-4fc86952b600","type":"datasets","attributes":{"author":{"id":"a9af4515-bc2f-11f0-9c2b-4a5a6f125af3"},"canonical_id":"d5c7d8a5-517b-43b7-95b8-feb7f8545745","created_at":"2026-02-18T06:24:57.948059546Z","dataset_id":"6caca08a-b29c-403a-849b-a8b7c9d96104","input":{"prompt":"What
        is the capital of Sweden?"},"tags":[],"updated_at":"2026-02-18T06:24:57.948059546Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
