interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "0aea9a4d-97a2-4a33-aa01-8187f6f6555f",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": {"difficulty":
      "easy"}}], "update_records": [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/0aea9a4d-97a2-4a33-aa01-8187f6f6555f/batch_update
  response:
    body:
      string: '{"data":[{"id":"8205f5ca-b3b0-4340-9cbb-77b8a075127a","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T04:02:47.474741938Z","dataset_id":"0aea9a4d-97a2-4a33-aa01-8187f6f6555f","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"metadata":{"difficulty":"easy"},"updated_at":"2025-08-06T04:02:47.474741938Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
