interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "facbdf11-4c36-4528-8f2e-dc75541f48db",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/facbdf11-4c36-4528-8f2e-dc75541f48db/batch_update
  response:
    body:
      string: '{"data":[{"id":"c6c063c3-60f5-40f2-9378-2080cd6274f9","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"0720ba21-3136-412d-b0a7-388a9374b27f","created_at":"2026-02-11T20:50:37.648686163Z","dataset_id":"facbdf11-4c36-4528-8f2e-dc75541f48db","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:50:37.648686163Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
