interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "94de8893-283e-432e-8d28-6e4e44521e00",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/94de8893-283e-432e-8d28-6e4e44521e00/batch_update
  response:
    body:
      string: '{"data":[{"id":"74fa9131-b7e9-4660-9922-2a39330ea40c","type":"datasets","attributes":{"author":{"id":"422c9d15-2e5e-11ef-99c3-7291dac01325"},"canonical_id":"4719eaac-fc8e-47a6-9e43-ebf675822b10","created_at":"2026-02-11T20:28:12.402340764Z","dataset_id":"94de8893-283e-432e-8d28-6e4e44521e00","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"tags":[],"updated_at":"2026-02-11T20:28:12.402340764Z","version":3}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
