interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "fab95c00-b301-4b9f-90f7-48cbe23b630d",
      "attributes": {"insert_records": [{"input": {"prompt": "What is the capital
      of France?"}, "expected_output": {"answer": "Paris"}, "metadata": null}], "update_records":
      [], "delete_records": []}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/fab95c00-b301-4b9f-90f7-48cbe23b630d/batch_update
  response:
    body:
      string: '{"data":[{"id":"d126c578-a119-41a1-8355-1325c510fbca","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T02:52:32.248930344Z","dataset_id":"fab95c00-b301-4b9f-90f7-48cbe23b630d","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T02:52:32.248930344Z","version":1}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
