interactions:
- request:
    body: '{"data": {"type": "datasets", "id": "66e52899-01fd-4b36-89b2-25a580bfd3f9",
      "attributes": {"insert_records": [], "update_records": [], "delete_records":
      ["1f1e5435-24fb-4343-95ac-e8111b76d085"]}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/66e52899-01fd-4b36-89b2-25a580bfd3f9/batch_update
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
