interactions:
- request:
    body: null
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Length
      : - '0'
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: GET
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/edec616f-2789-4d7d-bcf5-ce559976c003/records
  response:
    body:
      string: '{"data":[{"id":"e1722420-265c-41f8-b573-529123103e8c","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:33:42.192348Z","dataset_id":"edec616f-2789-4d7d-bcf5-ce559976c003","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"updated_at":"2025-09-09T04:33:42.192348Z"}},{"id":"64ecfcf1-9f9d-47e9-9d65-8c9c89f49ba0","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:33:42.192348Z","dataset_id":"edec616f-2789-4d7d-bcf5-ce559976c003","expected_output":{"answer":"Stockholm"},"input":{"prompt":"What
        is the capital of Sweden?"},"updated_at":"2025-09-09T04:33:42.192348Z"}},{"id":"94dcc570-fa9f-4087-ad76-1da9abd49a82","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-09-09T04:33:37.396792Z","dataset_id":"edec616f-2789-4d7d-bcf5-ce559976c003","expected_output":{"answer":"Paris"},"input":{"prompt":"What
        is the capital of France?"},"updated_at":"2025-09-09T04:33:37.396792Z"}}],"meta":{"after":""}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
