interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"insert_records": [{"input":
      {"prompt": "What is the capital of Italy?"}, "expected_output": {"answer": "Rome"},
      "metadata": {}}], "update_records": [], "delete_record_ids": []}}}'
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets/b892c6a3-f691-40de-ae33-f65f102d1696/batch_update
  response:
    body:
      string: '{"data":[{"id":"75b9914e-5918-4a37-8ead-36e94a5e4be9","type":"datasets","attributes":{"author":{"id":"0dd9d379-c1a3-11ed-b4e0-566658a732f8"},"created_at":"2025-07-16T02:23:55.717350595Z","dataset_id":"b892c6a3-f691-40de-ae33-f65f102d1696","expected_output":{"answer":"Rome"},"input":{"prompt":"What
        is the capital of Italy?"},"metadata":{},"updated_at":"2025-07-16T02:23:55.717350595Z","version":2}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
