interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-pull-tag-1-match-1-non",
      "description": "A test dataset with tags"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/569aa33c-7acf-4061-abd0-4f2078e61ee8/datasets
  response:
    body:
      string: '{"data":{"id":"bad7c5ca-d1ff-4d34-b7fb-1384381af919","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2026-02-20T06:47:01.146579426Z","current_version":0,"description":"A
        test dataset with tags","name":"test-dataset-pull-tag-1-match-1-non","project_id":"569aa33c-7acf-4061-abd0-4f2078e61ee8","updated_at":"2026-02-20T06:47:01.146579426Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
