interactions:
- request:
    body: '{"data": {"type": "datasets", "attributes": {"name": "test-dataset-good-csv-without-expected-output",
      "description": "A good csv dataset without expected_output columns"}}}'
    headers:
      ? !!python/object/apply:multidict._multidict.istr
      - Accept-Encoding
      : - identity
      ? !!python/object/apply:multidict._multidict.istr
      - Content-Type
      : - application/json
    method: POST
    uri: https://api.datadoghq.com/api/unstable/llm-obs/v1/datasets
  response:
    body:
      string: '{"data":{"id":"ee7fe7e8-e947-4d0e-be54-be22314ca561","type":"datasets","attributes":{"author":{"id":"de473b30-eb9f-11e9-a77a-c7405862b8bd"},"created_at":"2025-08-06T20:50:33.433205969Z","current_version":0,"description":"A
        good csv dataset without expected_output columns","name":"test-dataset-good-csv-without-expected-output","updated_at":"2025-08-06T20:50:33.433205969Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
