interactions:
- request:
    body: email=customer%40example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 54d53751-91da-44b7-a5e7-84e535d8ae4a
      Stripe-Version:
      - 2025-11-17.clover
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: '{"id": "cus_TcZMVmnokeG6Ji", "object": "customer", "address": null,
        "balance": 0, "created": 1765975989, "currency": null, "customer_account":
        null, "default_source": null, "delinquent": false, "description": null, "discount":
        null, "email": "customer@example.com", "invoice_prefix": "P673ZIKW", "invoice_settings":
        {"custom_fields": null, "default_payment_method": null, "footer": null, "rendering_options":
        null}, "livemode": false, "metadata": {}, "name": null, "phone": null, "preferred_locales":
        [], "shipping": null, "tax_exempt": "none", "test_clock": null}'
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 54d53751-91da-44b7-a5e7-84e535d8ae4a
      Original-Request:
      - req_anHvjCWhkSKokA
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-11-17.clover
      X-Wc:
      - ABGHIJ
    status:
      code: 200
      message: OK
version: 1
