interactions:
- request:
    body: type=card&card[token]=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a02d8775-e4b9-4c54-a471-69101bc13085
      Stripe-Version:
      - 2025-11-17.clover
    method: POST
    uri: https://api.stripe.com/v1/payment_methods
  response:
    body:
      string: '{"id": "pm_1SfKE5AiRiHgXZJivWogcUDl", "object": "payment_method", "allow_redisplay":
        "unspecified", "billing_details": {"address": {"city": null, "country": null,
        "line1": null, "line2": null, "postal_code": null, "state": null}, "email":
        null, "name": null, "phone": null, "tax_id": null}, "card": {"brand": "visa",
        "checks": {"address_line1_check": null, "address_postal_code_check": null,
        "cvc_check": "unchecked"}, "country": "US", "display_brand": "visa", "exp_month":
        12, "exp_year": 2026, "fingerprint": "ERUxoq8oeJHvbFWk", "funding": "credit",
        "generated_from": null, "last4": "4242", "networks": {"available": ["visa"],
        "preferred": null}, "regulated_status": "unregulated", "three_d_secure_usage":
        {"supported": true}, "wallet": null}, "created": 1765975989, "customer": null,
        "customer_account": null, "livemode": false, "metadata": {}, "type": "card"}'
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a02d8775-e4b9-4c54-a471-69101bc13085
      Original-Request:
      - req_opxc3cB3ybBR5T
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-11-17.clover
      X-Wc:
      - ABGHIJ
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_TcZMVmnokeG6Ji
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5f8ba8c5-96b3-4702-a1a7-0001f93d405b
      Stripe-Version:
      - 2025-11-17.clover
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_1SfKE5AiRiHgXZJivWogcUDl/attach
  response:
    body:
      string: '{"id": "pm_1SfKE5AiRiHgXZJivWogcUDl", "object": "payment_method", "allow_redisplay":
        "unspecified", "billing_det[...]
