interactions:
- request:
    body: code=APPSEC_CHRISTMAS_2025&promotion[type]=coupon&promotion[coupon]=gN7nSKKV
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fdd57f24-6b06-45ca-9350-269ccfd4f1f9
      Stripe-Version:
      - 2025-11-17.clover
    method: POST
    uri: https://api.stripe.com/v1/promotion_codes
  response:
    body:
      string: '{"id": "promo_1SfKFhAiRiHgXZJiEvfweRJd", "object": "promotion_code",
        "active": true, "code": "APPSEC_CHRISTMAS_2025", "created": 1765976089, "customer":
        null, "customer_account": null, "expires_at": null, "livemode": false, "max_redemptions":
        null, "metadata": {}, "promotion": {"coupon": "gN7nSKKV", "type": "coupon"},
        "restrictions": {"first_time_transaction": false, "minimum_amount": null,
        "minimum_amount_currency": null}, "times_redeemed": 0}'
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fdd57f24-6b06-45ca-9350-269ccfd4f1f9
      Original-Request:
      - req_omRbSoJVySqZJh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-11-17.clover
      X-Wc:
      - ABGHIJ
    status:
      code: 200
      message: OK
version: 1
