interactions:
- request:
    body: amount=2000&currency=usd&payment_method=pm_1SfKE5AiRiHgXZJivWogcUDl&payment_method_types[0]=card&receipt_email=customer%40example.com&customer=cus_TcZMVmnokeG6Ji&expand[0]=payment_method
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e567bef8-e4bc-4b01-9fe9-6b56eb07351c
      Stripe-Version:
      - 2025-11-17.clover
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body:
      string: '{"id": "pi_3SfKE7AiRiHgXZJi0W5ng1Xh", "object": "payment_intent", "amount":
        2000, "amount_capturable": 0, "amount_details": {"tip": {}}, "amount_received":
        0, "application": null, "application_fee_amount": null, "automatic_payment_methods":
        null, "canceled_at": null, "cancellation_reason": null, "capture_method":
        "automatic_async", "client_secret": "redacted", "confirmation_method": "automatic",
        "created": 1765975991, "currency": "usd", "customer": "cus_TcZMVmnokeG6Ji",
        "customer_account": null, "description": null, "excluded_payment_method_types":
        null, "last_payment_error": null, "latest_charge": null, "livemode": false,
        "metadata": {}, "next_action": null, "on_behalf_of": null, "payment_method":
        {"id": "pm_1SfKE5AiRiHgXZJivWogcUDl", "object": "payment_method", "allow_redisplay":
        "unspecified", "billing_details": {"address": {"city": null, "country": null,
        "line1": null, "line2": null, "postal_code": null, "state": null}, "email":
        null, "name": null, "phone": null, "tax_id": null}, "card": {"brand": "visa",
        "checks": {"address_line1_check": null, "address_postal_code_check": null,
        "cvc_check": "pass"}, "country": "US", "display_brand": "visa", "exp_month":
        12, "exp_year": 2026, "fingerprint": "ERUxoq8oeJHvbFWk", "funding": "credit",
        "generated_from": null, "last4": "4242", "networks": {"available": ["visa"],
        "preferred": null}, "regulated_status": "unregulated", "three_d_secure_usage":
        {"supported": true}, "wallet": null}, "created": 1765975989, "customer": "cus_TcZMVmnokeG6Ji",
        "customer_account": null, "livemode": false, "metadata": {}, "type": "card"},
        "payment_method_configuration_details": null, "payment_method_options": {"card":
        {"installments": null, "mandate_options": null, "network": null, "request_three_d_secure":
        "automatic"}}, "payment_method_types": ["card"], "processing": null, "receipt_email":
        "customer@example.com", "review": null, "setup_future_usage": null, "shipping":
        null, "source": null, "statement_descriptor": null, "statement_descriptor_suffix":
        null, "status": "requires_confirmation", "transfer_data": null, "transfer_group":
        null}'
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e567bef8-e4bc-4b01-9fe9-6b56eb07351c
      Original-Request:
      - req_p455IZU4LBUlDZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-11-17.clover
      X-Wc:
      - ABGHIJ
    status:
      code: 200
      message: OK
version: 1
