interactions:
- request:
    body: amount=2000&currency=usd&payment_method=pm_1SfKE5AiRiHgXZJivWogcUDl&payment_method_types[0]=card&receipt_email=customer%40example.com&customer=cus_TcZMVmnokeG6Ji
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9f3c0777-2e2a-4735-984d-c1207c2a5e55
      Stripe-Version:
      - 2025-11-17.clover
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body:
      string: '{"id": "pi_3SfKE7AiRiHgXZJi12Mnls5Z", "object": "payment_intent", "amount":
        2000, "amount_capturable": 0, "amount_details": {"tip": {}}, "amount_received":
        0, "application": null, "application_fee_amount": null, "automatic_payment_methods":
        null, "canceled_at": null, "cancellation_reason": null, "capture_method":
        "automatic_async", "client_secret": "redacted", "confirmation_method": "automatic",
        "created": 1765975991, "currency": "usd", "customer": "cus_TcZMVmnokeG6Ji",
        "customer_account": null, "description": null, "excluded_payment_method_types":
        null, "last_payment_error": null, "latest_charge": null, "livemode": false,
        "metadata": {}, "next_action": null, "on_behalf_of": null, "payment_method":
        "pm_1SfKE5AiRiHgXZJivWogcUDl", "payment_method_configuration_details": null,
        "payment_method_options": {"card": {"installments": null, "mandate_options":
        null, "network": null, "request_three_d_secure": "automatic"}}, "payment_method_types":
        ["card"], "processing": null, "receipt_email": "customer@example.com", "review":
        null, "setup_future_usage": null, "shipping": null, "source": null, "statement_descriptor":
        null, "statement_descriptor_suffix": null, "status": "requires_confirmation",
        "transfer_data": null, "transfer_group": null}'
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9f3c0777-2e2a-4735-984d-c1207c2a5e55
      Original-Request:
      - req_fCiSiJgqjmCpbJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-11-17.clover
      X-Wc:
      - ABGHIJ
    status:
      code: 200
      message: OK
version: 1
