interactions:
- request:
    body: success_url=https%3A%2F%2Fexample.com%2Fsuccess&client_reference_id=order_123&customer_email=customer%40example.com&line_items[0][price_data][currency]=eur&line_items[0][price_data][product_data][name]=Demo+Product&line_items[0][price_data][unit_amount]=1000&line_items[0][quantity]=2&mode=payment&discounts[0][coupon]=gN7nSKKV&shipping_options[0][shipping_rate_data][display_name]=Standard&shipping_options[0][shipping_rate_data][fixed_amount][amount]=250&shipping_options[0][shipping_rate_data][fixed_amount][currency]=eur&shipping_options[0][shipping_rate_data][type]=fixed_amount
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 45e10226-d83a-4882-8b41-06d8038ffda9
      Stripe-Version:
      - 2025-11-17.clover
    method: POST
    uri: https://api.stripe.com/v1/checkout/sessions
  response:
    body:
      string: '{"id": "cs_test_a1Le47ZuuCoUHPsLocpkjwbO8JKTMDOcmaEgKHxaKbBYdXyV6BgzPyxrZ7",
        "object": "checkout.session", "adaptive_pricing": {"enabled": true}, "after_expiration":
        null, "allow_promotion_codes": null, "amount_subtotal": 2000, "amount_total":
        1750, "automatic_tax": {"enabled": false, "liability": null, "provider": null,
        "status": null}, "billing_address_collection": null, "branding_settings":
        {"background_color": "#ffffff", "border_style": "rounded", "button_color":
        "#0074d4", "display_name": "", "font_family": "default", "icon": null, "logo":
        null}, "cancel_url": null, "client_reference_id": "order_123", "client_secret":
        "redacted", "collected_information": {"business_name": null, "individual_name":
        null, "shipping_details": null}, "consent": null, "consent_collection": null,
        "created": 1765976461, "currency": "eur", "currency_conversion": null, "custom_fields":
        [], "custom_text": {"after_submit": null, "shipping_address": null, "submit":
        null, "terms_of_service_acceptance": null}, "customer": null, "customer_account":
        null, "customer_creation": "if_required", "customer_details": {"address":
        null, "business_name": null, "email": "customer@example.com", "individual_name":
        null, "name": null, "phone": null, "tax_exempt": "none", "tax_ids": null},
        "customer_email": "customer@example.com", "discounts": [{"coupon": "gN7nSKKV",
        "promotion_code": null}], "expires_at": 1766062861, "invoice": null, "invoice_creation":
        {"enabled": false, "invoice_data": {"account_tax_ids": null, "custom_fields":
        null, "description": null, "footer": null, "issuer": null, "metadata": {},
        "rendering_options": null}}, "livemode": false, "locale": null, "metadata":
        {}, "mode": "payment", "origin_context": null, "payment_intent": null, "payment_link":
        null, "payment_method_collection": "if_required", "payment_method_configuration_details":
        {"id": "pmc_1SdSuoAiRiHgXZJiX2GuVMpZ", "parent": null}, "payment_method_options":
        {"card": {"request_three_d_secure": "automatic"}}, "payment_method_types":
        ["card", "bancontact", "eps", "klarna", "link", "amazon_pay"], "payment_status":
        "unpaid", "permissions": null, "phone_number_collection": {"enabled": false},
        "recovered_from": null, "saved_payment_method_options": null, "setup_intent":
        null, "shipping_address_collection": null, "shipping_cost": {"amount_subtotal":
        250, "amount_tax": 0, "amount_total": 250, "shipping_rate": "shr_1SfKLhAiRiHgXZJibOcsJe4j"},
        "shipping_options": [{"shipping_amount": 250, "shipping_rate": "shr_1SfKLhAiRiHgXZJibOcsJe4j"}],
        "status": "open", "submit_type": null, "subscription": null, "success_url":
        "https://example.com/success", "total_details": {"amount_discount": 500, "amount_shipping":
        250, "amount_tax": 0}, "ui_mode": "hosted", "url": "https://checkout.stripe.com/c/pay/cs_test_a1Le47ZuuCoUHPsLocpkjwbO8JKTMDOcmaEgKHxaKbBYdXyV6BgzPyxrZ7#fidnandhYHdWcXxpYCc%2FJ2FgY2RwaXEnKSdkdWxOYHwnPyd1blpxYHZxWjA0VmFWcExEbFdsTWJdX09sdVZEPFJsa3NXdTBrPDFCTW11RG1wZHBBSmg2a09ndzRUdXxGcTV%2FcFNsX3EycmlBPF1KU21oUHVXajJER1BXZlRDd31ufTN8NTVrZ2Y9a2ZrNycpJ2N3amhWYHdzYHcnP3F3cGApJ2dkZm5id2pwa2FGamlqdyc%2FJyZjY2NjY2MnKSdpZHxqcHFRfHVgJz8ndmxrYmlgWmxxYGgnKSdga2RnaWBVaWRmYG1qaWFgd3YnP3F3cGB4JSUl",
        "wallet_options": null}'
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 45e10226-d83a-4882-8b41-06d8038ffda9
      Original-Request:
      - req_zeXhqum1lTAjKo
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-11-17.clover
      X-Wc:
      - ABGHIJ
    status:
      code: 200
      message: OK
version: 1
