interactions:
- request:
    body: duration=once&percent_off=25
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 325df2a1-1413-49aa-8cf2-6f7457a7e216
      Stripe-Version:
      - 2025-11-17.clover
    method: POST
    uri: https://api.stripe.com/v1/coupons
  response:
    body:
      string: '{"id": "gN7nSKKV", "object": "coupon", "amount_off": null, "created":
        1765976089, "currency": null, "duration": "once", "duration_in_months": null,
        "livemode": false, "max_redemptions": null, "metadata": {}, "name": null,
        "percent_off": 25.0, "redeem_by": null, "times_redeemed": 0, "valid": true}'
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 325df2a1-1413-49aa-8cf2-6f7457a7e216
      Original-Request:
      - req_iXyGRxq7vVKUKh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-11-17.clover
      X-Wc:
      - ABGHIJ
    status:
      code: 200
      message: OK
version: 1
