interactions:
- request:
    body: '{"data": {"type": "evaluation_metric", "attributes": {"metrics": [{"span_id":
      "12345678902", "trace_id": "98765432102", "metric_type": "score", "label": "sentiment",
      "score_value": 0.9}]}}}'
    headers:
      Content-Type:
      - application/json
      DD-API-KEY:
      - XXXXXX
    method: POST
    uri: https://api.datad0g.com/api/unstable/llm-obs/v1/eval-metric
  response:
    body:
      string: '{"data":{"id":"33220b48-b299-4456-abe5-942ad9347f26","type":"evaluation_metric","attributes":{"metrics":[{"id":"9197af4e-e0a1-4bb3-b121-a5dbf80b6fa1","trace_id":"98765432102","span_id":"12345678902","timestamp":1714067719961,"metric_type":"score","label":"sentiment","score_value":0.9}]}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
