interactions:
- request:
    body: '{"data": {"type": "evaluation_metric", "attributes": {"metrics": [{"join_on":
      {"span": {"span_id": "12345678901", "trace_id": "98765432101"}}, "metric_type":
      "categorical", "categorical_value": "very", "label": "toxicity", "ml_app": "dummy-ml-app",
      "timestamp_ms": 1732568297307}]}}}'
    headers:
      Content-Type:
      - application/json
      DD-API-KEY:
      - XXXXXX
    method: POST
    uri: https://api.datad0g.com/api/intake/llm-obs/v2/eval-metric
  response:
    body:
      string: '{"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}'
    headers:
      content-type:
      - application/json
    status:
      code: 403
      message: Forbidden
version: 1
