interactions:
- request:
    body: '[{"timestamp": 1682540723305.4048, "message": "test msg", "hostname": "dev-mbp",
      "ddsource": "python", "service": "", "status": "info", "ddtags": ""}]'
    headers:
      Content-Type:
      - application/json
      DD-API-KEY:
      - XXXXXX
    method: POST
    uri: https://http-intake.logs.datadoghq.com/api/v2/logs
  response:
    body:
      string: '{"errors":[{"status":"403","title":"Forbidden","detail":"API key is
        invalid"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 403
      message: Forbidden
version: 1
