interactions:
- request:
    body: '{"data": {"type": "evaluation_metric", "attributes": {"metrics": [{"span_id":
      "12345678902", "trace_id": "98765432102", "metric_type": "score", "label": "sentiment",
      "score_value": 0.9}]}}}'
    headers:
      Content-Type:
      - application/json
      DD-API-KEY:
      - XXXXXX
    method: POST
    uri: https://api.datad0g.com/api/unstable/llm-obs/v1/eval-metric
  response:
    body:
      string: '{"data":{"id":"3a7f7352-d7b0-485b-a352-46a66517da67","type":"evaluation_metric","attributes":{"metrics":[{"id":"b2660a92-f811-4bef-a45e-0eff068cea87","trace_id":"98765432102","span_id":"12345678902","timestamp":1714076672148,"metric_type":"score","label":"sentiment","score_value":0.9}]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
