interactions:
- request:
    body: '{"data": {"type": "evaluation_metric", "attributes": {"metrics": [{"span_id":
      "12345678901", "trace_id": "98765432101", "metric_type": "categorical", "categorical_value":
      "very", "label": "toxicity", "ml_app": "dummy-ml-app", "timestamp_ms": 1724249500339}]}}}'
    headers:
      Content-Type:
      - application/json
      DD-API-KEY:
      - XXXXXX
    method: POST
    uri: https://api.datad0g.com/api/intake/llm-obs/v1/eval-metric
  response:
    body:
      string: '{"data":{"id":"36d88c24-d7d4-4d3e-853c-b695aff61344","type":"evaluation_metric","attributes":{"metrics":[{"id":"0c189d9c-a730-4c5d-bbc2-55ef3455900f","trace_id":"98765432101","span_id":"12345678901","timestamp_ms":1724249500339,"ml_app":"dummy-ml-app","metric_type":"categorical","label":"toxicity","categorical_value":"very"}]}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
