interactions:
- request:
    body: '{"data": {"type": "evaluation_metric", "attributes": {"metrics": [{"span_id":
      "123", "trace_id": "1234", "label": "dummy", "metric_type": "score", "timestamp_ms":
      1728480443772, "score_value": 1.0, "ml_app": "unnamed-ml-app", "tags": ["ddtrace.version:2.14.0.dev196+g7cf7989ab",
      "ml_app:unnamed-ml-app"]}]}}}'
    headers:
      Content-Type:
      - application/json
      DD-API-KEY:
      - XXXXXX
    method: POST
    uri: https://api.datad0g.com/api/intake/llm-obs/v1/eval-metric
  response:
    body:
      string: '{"data":{"id":"ccf36d1a-6153-4042-ba2d-a5ec5896a6ac","type":"evaluation_metric","attributes":{"metrics":[{"id":"bYp4oTawxz","trace_id":"1234","span_id":"123","timestamp_ms":1728480443772,"ml_app":"unnamed-ml-app","metric_type":"score","label":"dummy","score_value":1,"tags":["ddtrace.version:2.14.0.dev196+g7cf7989ab","ml_app:unnamed-ml-app"]}]}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
