interactions:
- request:
    body: '{"data": {"type": "evaluation_metric", "attributes": {"metrics": [{"span_id":
      "12345678902", "trace_id": "98765432102", "metric_type": "score", "label": "sentiment",
      "score_value": 0.9, "ml_app": "dummy-ml-app", "timestamp_ms": 1724249589510},
      {"span_id": "12345678901", "trace_id": "98765432101", "metric_type": "categorical",
      "categorical_value": "very", "label": "toxicity", "ml_app": "dummy-ml-app",
      "timestamp_ms": 1724249589510}]}}}'
    headers:
      Content-Type:
      - application/json
      DD-API-KEY:
      - XXXXXX
    method: POST
    uri: https://api.datad0g.com/api/intake/llm-obs/v1/eval-metric
  response:
    body:
      string: '{"data":{"id":"2ccffdfc-024b-49e6-881c-4e4d1c5f450e","type":"evaluation_metric","attributes":{"metrics":[{"id":"ed072901-fd70-4417-9cab-1bad62b6ac09","trace_id":"98765432102","span_id":"12345678902","timestamp_ms":1724249589510,"ml_app":"dummy-ml-app","metric_type":"score","label":"sentiment","score_value":0.9},{"id":"16175a34-7c25-43ca-8551-bd2f7242ab77","trace_id":"98765432101","span_id":"12345678901","timestamp_ms":1724249589510,"ml_app":"dummy-ml-app","metric_type":"categorical","label":"toxicity","categorical_value":"very"}]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
