interactions:
- request:
    body: '{"data": {"type": "evaluation_metric", "attributes": {"metrics": [{"span_id":
      "123", "trace_id": "1234", "label": "ragas_faithfulness", "metric_type": "score",
      "timestamp_ms": 1727967503420, "score_value": 1.0, "ml_app": "unnamed-ml-app",
      "tags": ["ddtrace.version:2.14.0.dev210+g461698c35", "ml_app:unnamed-ml-app"]}]}}}'
    headers:
      Content-Type:
      - application/json
      DD-API-KEY:
      - XXXXXX
    method: POST
    uri: https://api.datad0g.com/api/intake/llm-obs/v1/eval-metric
  response:
    body:
      string: '{"data":{"id":"fe169488-d892-42db-8127-86b3bdd06fdb","type":"evaluation_metric","attributes":{"metrics":[{"id":"Vg3TgXiiVG","trace_id":"1234","span_id":"123","timestamp_ms":1727967503420,"ml_app":"unnamed-ml-app","metric_type":"score","label":"ragas_faithfulness","score_value":1,"tags":["ddtrace.version:2.14.0.dev210+g461698c35","ml_app:unnamed-ml-app"]}]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
