interactions:
- request:
    body: '{"data": {"type": "evaluation_metric", "attributes": {"metrics": [{"span_id":
      "12345678902", "trace_id": "98765432102", "metric_type": "score", "label": "sentiment",
      "score_value": 0.9, "ml_app": "dummy-ml-app", "timestamp_ms": 1724249500942}]}}}'
    headers:
      Content-Type:
      - application/json
      DD-API-KEY:
      - XXXXXX
    method: POST
    uri: https://api.datad0g.com/api/intake/llm-obs/v1/eval-metric
  response:
    body:
      string: '{"data":{"id":"e66c93b9-ca0a-4f0a-9207-497e0a1b6eec","type":"evaluation_metric","attributes":{"metrics":[{"id":"5fb5ed5d-20c1-4f34-abf9-c0bdc09680e3","trace_id":"98765432102","span_id":"12345678902","timestamp_ms":1724249500942,"ml_app":"dummy-ml-app","metric_type":"score","label":"sentiment","score_value":0.9}]}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
version: 1
