interactions:
- request:
    body: '{"prompt": "Why does everyone in Bikini Bottom hate Plankton?", "stopSequences":
      [], "temperature": 0.7, "maxTokens": 256, "minTokens": 0, "topP": 1.0, "presencePenalty":
      {"scale": 0, "applyToWhitespaces": true, "applyToPunctuations": true, "applyToNumbers":
      true, "applyToStopwords": true, "applyToEmojis": true}, "countPenalty": {"scale":
      0, "applyToWhitespaces": true, "applyToPunctuations": true, "applyToNumbers":
      true, "applyToStopwords": true, "applyToEmojis": true}, "frequencyPenalty":
      {"scale": 0, "applyToWhitespaces": true, "applyToPunctuations": true, "applyToNumbers":
      true, "applyToStopwords": true, "applyToEmojis": true}, "numResults": 1, "logitBias":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ai21.com/studio/v1/j2-jumbo-instruct/complete
  response:
    body:
      string: "{\"id\":\"bd7908fe-177b-abdf-7c35-15cb979f81d1\",\"prompt\":{\"text\":\"Why
        does everyone in Bikini Bottom hate Plankton?\",\"tokens\":[{\"generatedToken\":{\"token\":\"\u2581Why\u2581does\",\"logprob\":-10.318473815917969,\"raw_logprob\":-10.318473815917969},\"topTokens\":null,\"textRange\":{\"start\":0,\"end\":8}},{\"generatedToken\":{\"token\":\"\u2581everyone\",\"logprob\":-5.643066883087158,\"raw_logprob\":-5.643066883087158},\"topTokens\":null,\"textRange\":{\"start\":8,\"end\":17}},{\"generatedToken\":{\"token\":\"\u2581in\",\"logprob\":-5.006829261779785,\"raw_logprob\":-5.006829261779785},\"topTokens\":null,\"textRange\":{\"start\":17,\"end\":20}},{\"generatedToken\":{\"token\":\"\u2581Bikini\",\"logprob\":-6.992229461669922,\"raw_logprob\":-6.992229461669922},\"topTokens\":null,\"textRange\":{\"start\":20,\"end\":27}},{\"generatedToken\":{\"token\":\"\u2581Bottom\",\"logprob\":-0.027995750308036804,\"raw_logprob\":-0.027995750308036804},\"topTokens\":null,\"textRange\":{\"start\":27,\"end\":34}},{\"generatedToken\":{\"token\":\"\u2581hate\",\"logprob\":-1.445479393005371,\"raw_logprob\":-1.445479393005371},\"topTokens\":null,\"textRange\":{\"start\":34,\"end\":39}},{\"generatedToken\":{\"token\":\"\u2581Plank\",\"logprob\":-0.42204487323760986,\"raw_logprob\":-0.42204487323760986},\"topTokens\":null,\"textRange\":{\"start\":39,\"end\":45}},{\"generatedToken\":{\"token\":\"ton\",\"logprob\":-0.0033109700307250023,\"raw_logprob\":-0.0033109700307250023},\"topTokens\":null,\"textRange\":{\"start\":45,\"end\":48}},{\"generatedToken\":{\"token\":\"?\",\"logprob\":-5.707734107971191,\"raw_logprob\":-5.707734107971191},\"topTokens\":null,\"textRange\":{\"start\":48,\"end\":49}}]},\"completions\":[{\"data\":{\"text\":\"\\nPlankton
        is trying to steal the Krabby Patty secret formula from Mr. Krabs, so Mr.
        Krabs wants him gone.\",\"tokens\":[{\"generatedToken\":{\"token\":\"<|newline|>\",\"logprob\":-2.98023280720372e-07,\"raw_logprob\":-7.259582343976945e-05},\"topTokens\":null,\"textRange\":{\"start\":0,\"end\":1}},{\"generatedToken\":{\"token\":\"\u2581Plank\",\"logprob\":-0.06834851205348969,\"raw_logprob\":-0.29260167479515076},\"topTokens\":null,\"textRange\":{\"start\":1,\"end\"[...]
