interactions:
- request:
    body: '{"prompt": "Why does everyone in Bikini Bottom hate Plankton?", "stopSequences":
      [], "temperature": 0.7, "maxTokens": 256, "minTokens": 0, "topP": 1.0, "presencePenalty":
      {"scale": 0, "applyToWhitespaces": true, "applyToPunctuations": true, "applyToNumbers":
      true, "applyToStopwords": true, "applyToEmojis": true}, "countPenalty": {"scale":
      0, "applyToWhitespaces": true, "applyToPunctuations": true, "applyToNumbers":
      true, "applyToStopwords": true, "applyToEmojis": true}, "frequencyPenalty":
      {"scale": 0, "applyToWhitespaces": true, "applyToPunctuations": true, "applyToNumbers":
      true, "applyToStopwords": true, "applyToEmojis": true}, "numResults": 1, "logitBias":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ai21.com/studio/v1/j2-jumbo-instruct/complete
  response:
    body:
      string: '{"detail":"Forbidden: Bad or missing API token."}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: Unauthorized
version: 1
