interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.pinecone.io/indexes/langchain-retrieval
  response:
    body:
      string: '{"name":"langchain-retrieval","metric":"cosine","dimension":1536,"status":{"ready":true,"state":"Ready"},"host":"langchain-retrieval-t1ac9v7.svc.aped-4627-b74a.pinecone.io","spec":{"serverless":{"region":"us-east-1","cloud":"aws"}}}'
    headers:
      X-Cloud-Trace-Context:
      - f2ea037462c13694fe9cefb2c8f378c7
      content-type:
      - application/json
      x-pinecone-api-version:
      - 2024-04
    status:
      code: 200
      message: OK
- request:
    body: '{"topK": 1, "vector": [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.[...]
