name: Backport
on:
  pull_request:
    types:
      - closed
      - labeled

jobs:
  backport:
    name: Backport
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    # Only react to merged PRs for security reasons.
    # See https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request_target.
    # the first || is only for testing
    if: >
      github.event.pull_request.merged
      || (
        github.event.action == 'closed'
        || (
          github.event.action == 'labeled'
          && contains(github.event.label.name, 'backport')
        )
      )
    steps:
      - uses: DataDog/dd-octo-sts-action@acaa02eee7e3bb0839e4272dacb37b8f3b58ba80 # v1.0.3
        id: octo-sts
        with:
          scope: DataDog/dd-trace-py
          policy: self.backport.create-pr

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Execute Backport
        id: create-commit
        env:
          BACKPORT_LABEL: ${{ github.event.label.name }}
          PR_NUMBER: ${{ github.event.pull_request.id }}
          PR_BRANCH: ${{ github.head_ref }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "${GIT_AUTHOR_NAME}"
          git config --global user.email "${GIT_AUTHOR_EMAIL}"

          TARGET_BRANCH=$(echo "${BACKPORT_LABEL}" | awk '{ print $NF }')
          MERGE_COMMIT=$(git rev-parse HEAD)
          WORKTREE=".worktrees/backport-${TARGET_BRANCH}"
          BACKPORT_BRANCH="backport-${PR_NUMBER}-to-${TARGET_BRANCH}"

          git worktree add ${WORKTREE} ${TARGET_BRANCH}
          cd ${WORKTREE}
          git switch --create ${BACKPORT_BRANCH}
          git cherry-pick -x --mainline 1 ${MERGE_COMMIT}
          git push --set-upstream origin ${BACKPORT_BRANCH}

          echo "branch=${BACKPORT_BRANCH}" >> $GITHUB_OUTPUT
          echo "branch-from=${TARGET_BRANCH}" >> $GITHUB_OUTPUT
          echo "commit=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: Push Commit
        uses: DataDog/commit-headless@action/v0.5.2
        with:
          branch: ${{ steps.create-commit.outputs.branch }}
          branch-from: ${{ steps.create-commit.outputs.branch-from }}
          command: push
          commits: ${{ steps.create-commit.outputs.commit }}

      - name: Create PR
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo " \
           gh pr create \
             --title "title [backport x.y]" \
             --body "Backport 1234 to x.y" \
             --base ${{ steps.create-commit.outputs.branch-from }} \
             --head ${{ steps.create-commit.outputs.branch }} \
          "
