name: Validate Backport
on:
  pull_request_target:
    types:
      - labeled

jobs:
  validate-backport:
    name: Validate Backport
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    if: >
      github.event.action == 'labeled' && contains(github.event.label.name, 'backport')
    steps:
      - uses: DataDog/dd-octo-sts-action@acaa02eee7e3bb0839e4272dacb37b8f3b58ba80 # v1.0.3
        id: octo-sts
        with:
          scope: DataDog/dd-trace-py
          policy: self.backport.create-pr
      - name: Check Conflicts
        env:
          BACKPORT_LABEL: ${{ github.event.label.name }}
          PR_BRANCH: ${{ github.ref.name }}
        run: |
          echo "backport label: ${BACKPORT_LABEL}"
          echo "branch: ${PR_BRANCH}"
