name: Build

on:
  push:
    branches:
      - main
      - '[0-9].[0-9]*'
      - '[0-9].x'
      # special branches used to test this workflow
      # before merging/releasing
      - build_deploy*
      - 'upgrade-latest-*'
      - 'mq-working-branch-*'
      # TODO: Remove this after 3.x work is done
      - 3.x-staging
  pull_request:
  merge_group:
  release:
    types:
      - published
  workflow_dispatch:
    # Allow manually triggering, but do NOT upload the result
  schedule:
    # Nightly builds after weekdays
    - cron:  0 2 * * 2-6

jobs:
  build_wheels:
    needs: []
    uses: ./.github/workflows/build_python_3.yml
    with:
      cibw_build: 'cp39* cp310* cp311* cp312* cp313* cp314*'
      cibw_skip: 'cp39-win_arm64 cp310-win_arm64 cp314t* *_i686'

  build_sdist:
    needs: []
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        # Include all history and tags
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        name: Install Python
        with:
          python-version: '3.12'
      - name: Build sdist
        run: |
          pip install "setuptools_scm[toml]>=4" "cython" "cmake>=3.24.2,<3.28" "setuptools-rust<2"
          # Disable cython extensions to avoid compiling .pyx files
          DD_CYTHONIZE=0 python setup.py sdist
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: source-dist
          path: dist/*.tar.gz

  test_alpine_sdist:
    # alpine is the only environment not built/tested by cibuildwheel
    name: Test source distribution on Alpine Linux
    needs: [build_sdist]
    runs-on: ubuntu-latest
    container:
      image: python:3.9-alpine
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: source-dist
          path: dist

      - name: Install build dependencies
        # Rust + Cargo are needed for Cryptography
        run: apk add git gcc g++ musl-dev libffi-dev openssl-dev bash rust cargo make cmake patchelf

      - name: Check source package
        # https://github.com/theacodes/cmarkgfm/issues/84
        run: |
          pip install twine readme_renderer[md] "cmarkgfm<2025.10.20"
          twine check dist/*.tar.gz
      - name: Install source package
        env:
          CMAKE_BUILD_PARALLEL_LEVEL: 12
        run: pip install dist/*.tar.gz

      - name: Test the source package
        run: python $GITHUB_WORKSPACE/tests/smoke_test.py
        # Move out of the workspace to avoid importing ddtrace from the source
        working-directory: /
