name: Build

on:
  push:
    branches:
      - main
      - '[0-9].[0-9]*'
      - '[0-9].x'
      # special branches used to test this workflow
      # before merging/releasing
      - build_deploy*
      - 'upgrade-latest-*'
      - 'mq-working-branch-*'
      # TODO: Remove this after 3.x work is done
      - 3.x-staging
  pull_request:
  merge_group:
  release:
    types:
      - published
  workflow_dispatch:
    # Allow manually triggering, but do NOT upload the result
  schedule:
    # Nightly builds after weekdays
    - cron:  0 2 * * 2-6

jobs:
  build_wheels:
    needs: []
    uses: ./.github/workflows/build_python_3.yml
    with:
      cibw_build: 'cp39* cp310* cp311* cp312* cp313* cp314*'
      cibw_skip: 'cp39-win_arm64 cp310-win_arm64 cp314t* *_i686'
