name: Build

on:
  push:
    branches:
      - main
      - '[0-9].[0-9]*'
      - '[0-9].x'
      # special branches used to test this workflow
      # before merging/releasing
      - build_deploy*
      - 'upgrade-latest-*'
      - 'mq-working-branch**'
      # TODO: Remove this after 3.x work is done
      - 3.x-staging
  pull_request:
  release:
    types:
      - published
  workflow_dispatch:
    # Allow manually triggering, but do NOT upload the result
  schedule:
    # Nightly builds after weekdays
    - cron:  0 2 * * 2-6

jobs:
  compute_version:
    name: Compute Library Version
    runs-on: ubuntu-latest
    outputs:
      library_version: ${{ steps.compute-version.outputs.library_version }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        # Include all history and tags
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        name: Install Python
        with:
          python-version: '3.12'
      - name: Compute Version
        id: compute-version
        run: |
          pip install "setuptools_scm[toml]>=4"

          # If we are on the main or release branch, strip away the dev version
          if [[ "$GITHUB_REF_NAME" == "main" || \
                "$GITHUB_REF_NAME" =~ ^[0-9]+\.[0-9]+$ || \
                "$GITHUB_REF_NAME" =~ ^[0-9]+\.x$ ]]; then
            LIBRARY_VERSION=$(setuptools-scm --strip-dev)
          else
            # use version string explicitly set in the project metadata, if exists
            LIBRARY_VERSION=$(grep '^version = ' pyproject.toml | tr -d '"' | cut -d' ' -f3)
            if [[ -z $LIBRARY_VERSION ]]; then
              # All else, maintain the dev version
              LIBRARY_VERSION=$(setuptools-scm)
            fi
          fi

          echo "${LIBRARY_VERSION}" | tee version.txt
          echo "library_version=${LIBRARY_VERSION}" >> $GITHUB_OUTPUT
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: library-version
          path: version.txt

  build_wheels:
    needs: [ "compute_version" ]
    uses: ./.github/workflows/build_python_3.yml
    with:
      cibw_build: 'cp39* cp310* cp311* cp312* cp313* cp314*'
      cibw_skip: 'cp39-win_arm64 cp310-win_arm64 cp314t* *_i686'
      library_version: ${{ needs.compute_version.outputs.library_version }}

  build_sdist:
    needs: [ "compute_version" ]
    name: Build source distribution
    runs-on: ubuntu-latest
    env:
      SETUPTOOLS_SCM_PRETEND_VERSION_FOR_DDTRACE: ${{ needs.compute_version.outputs.library_version }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        # Include all history and tags
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        name: Install Python
        with:
          python-version: '3.12'
      - name: Build sdist
        run: |
          pip install "setuptools_scm[toml]>=4" "cython" "cmake>=3.24.2,<3.28" "setuptools-rust"
          # Disable cython extensions to avoid compiling .pyx files
          DD_CYTHONIZE=0 python setup.py sdist
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: source-dist
          path: dist/*.tar.gz

  test_alpine_sdist:
    # alpine is the only environment not built/tested by cibuildwheel
    name: Test source distribution on Alpine Linux
    needs: [build_sdist]
    runs-on: ubuntu-latest
    container:
      image: python:3.9-alpine
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: source-dist
          path: dist

      - name: Install build dependencies
        # Rust + Cargo are needed for Cryptography
        run: apk add git gcc g++ musl-dev libffi-dev openssl-dev bash rust cargo make cmake patchelf

      - name: Check source package
        # https://github.com/theacodes/cmarkgfm/issues/84
        run: |
          pip install twine readme_renderer[md] "cmarkgfm<2025.10.20"
          twine check dist/*.tar.gz
      - name: Install source package
        env:
          CMAKE_BUILD_PARALLEL_LEVEL: 12
        run: pip install dist/*.tar.gz

      - name: Test the source package
        run: python $GITHUB_WORKSPACE/tests/smoke_test.py
        # Move out of the workspace to avoid importing ddtrace from the source
        working-directory: /
