name: Build and publish image

on:
  workflow_call:
    inputs:
      tags:
        required: true
        type: string
      platforms:
        required: true
        type: string
      build-args:
        required: true
        type: string
      context:
        required: true
        type: string
      file:
        required: false
        type: string
        default: Dockerfile
    secrets:
      token:
        required: true

jobs:
  build_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        persist-credentials: false
    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      with:
        # Images after this version (>=v0.10) are incompatible with gcr and aws.
        version: v0.9.1  # https://github.com/docker/buildx/issues/1533
    - name: Login to Docker
      run: docker login -u publisher -p ${{ secrets.token }} ghcr.io
    - name: Docker Build
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        push: true
        tags: ${{ inputs.tags }}
        platforms: ${{ inputs.platforms }}
        build-args: ${{ inputs.build-args }}
        context: ${{ inputs.context }}
        file: ${{ inputs.context }}/${{ inputs.file }}
