name: Changelog
on:
  push:
    branches:
      - main
  pull_request:
    # Important that we run on `labeled` and `unlabeled` to pick up `changelog/no-changelog` being added/removed
    # DEV: [opened, reopened, synchronize] is the default
    types: [opened, reopened, synchronize, labeled, unlabeled, ready_for_review]
jobs:
  validate:
    name: Validate changelog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        # Include all history and tags
        with:
          persist-credentials: false
          fetch-depth: 0

      # Ensure a new reno release note was added in this PR.
      # Use `reno new <slug>` to add a new note to `releasenotes/notes`,
      #   or add `changelog/no-changelog` label if no release note is needed.
      - name: Ensure release note added
        # Only run this on pull requests
        if: github.event_name == 'pull_request'
        run: scripts/check-releasenotes

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        name: Install Python
        with:
          python-version: '3.8'

      - name: Install Dependencies
        run: pip install reno docutils

      - name: Lint changelog notes
        run: reno lint

      - name: Generate changelog
        run: |
          reno report | tee CHANGELOG.rst
          rst2html.py CHANGELOG.rst CHANGELOG.html

      - name: Upload CHANGELOG.rst
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: changelog
          path: |
            CHANGELOG.rst
            CHANGELOG.html
