name: Codeowners

on:
  pull_request:

jobs:
  report_codeowners:
    name: "Report codeowners"
    runs-on: ubuntu-latest
    permissions:
       pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
      - name: Setup go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      - name: Install codeowners
        run: go install github.com/hmarr/codeowners/cmd/codeowners@latest
      - name: List owners of all changed files
        id: codeowners_resolved
        run: |
          codeowners ${{ steps.changed-files.outputs.all_modified_files	 }}
          echo "results<<EOF" >> "$GITHUB_OUTPUT"
          echo "$(codeowners ${{ steps.changed-files.outputs.all_modified_files	 }})" >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"
      - name: Comment PR
        uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77933840a6a841d1b32b # v3.0.1
        with:
          file-path: resolved.txt
          comment-tag: codeowners_resolved
          mode: upsert
          message: |
            `CODEOWNERS` have been resolved as:

            ```
            ${{ steps.codeowners_resolved.outputs.results }}
            ```
