name: django-overhead-profile
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'ddtrace/**'
      - 'scripts/profiles/django-simple/**'
jobs:
  django-overhead-profile:
    runs-on: ubuntu-latest
    env:
      PREFIX: ${{ github.workspace }}/prefix
    defaults:
      run:
        working-directory: ddtrace
    steps:
      - uses: actions/checkout@v4
        with:
          path: ddtrace

      - uses: actions/setup-python@v5
        with:
          python-version: "3.8"

      - name: Setup
        run: |
          bash scripts/profiles/django-simple/setup.sh ${PREFIX}

      - name: Run
        run: |
          bash scripts/profiles/django-simple/run.sh ${PREFIX}

      - uses: actions/upload-artifact@v4
        with:
          name: django-overhead-profile
          path: ${{ github.workspace }}/prefix/artifacts

