name: django-overhead-profile
on:
  push:
    branches:
      - main
      - 'mq-working-branch**'
  pull_request:
    paths:
      - 'ddtrace/**'
      - 'scripts/profiles/django-simple/**'
      - '.github/workflows/django-overhead-profile.yml'

jobs:
  django-overhead-profile:
    runs-on: ubuntu-latest
    env:
      PREFIX: ${{ github.workspace }}/prefix
      DD_CODE_ORIGIN_FOR_SPANS_ENABLED: "1"
      DD_PROFILING_ENABLED: "1"
      DD_PROFILING_OUTPUT_PPROF: ${{ github.workspace }}/prefix/artifacts/ddtrace_profile
      DD_EXCEPTION_REPLAY_ENABLED: "1"
    defaults:
      run:
        working-directory: ddtrace
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
          path: ddtrace

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.10"

      - name: Setup
        run: |
          bash scripts/profiles/django-simple/setup.sh ${PREFIX}

      - name: Run
        run: |
          bash scripts/profiles/django-simple/run.sh ${PREFIX}

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: django-overhead-profile
          path: ${{ github.workspace }}/prefix/artifacts
