name: flask-overhead-profile
on:
  push:
    branches:
      - main
      - 'mq-working-branch**'
  pull_request:
    paths:
      - 'ddtrace/**'
      - 'scripts/profiles/flask-simple/**'
      - '.github/workflows/flask-overhead-profile.yml'

jobs:
  flask-overhead-profile:
    runs-on: ubuntu-latest
    env:
      PREFIX: ${{ github.workspace }}/prefix
    defaults:
      run:
        working-directory: ddtrace
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          path: ddtrace

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.10"

      - name: Setup
        run: |
          bash scripts/profiles/flask-simple/setup.sh ${PREFIX}

      - name: Run
        run: |
          bash scripts/profiles/flask-simple/run.sh ${PREFIX}

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: flask-overhead-profile
          path: ${{ github.workspace }}/prefix/artifacts
