name: Generate Package Versions

on:
  workflow_dispatch: # can be triggered manually
  schedule:
    - cron: "0 0 * * 0" # weekly on Sunday at midnight

jobs:
  generate-package-versions:
    name: Generate package versions
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python 3.7
        uses: actions/setup-python@v5
        with:
          python-version: "3.7"

      - name: Setup Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"

      - name: Setup Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Setup Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Setup Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Setup Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Docker Compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/v2.20.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
          docker-compose --version

      - name: Start docker service
        run: docker-compose up -d testagent

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libmariadb-dev

      - name: Install hatch
        uses: pypa/hatch@install
        with:
          version: "1.12.0"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install packaging
          pip install requests
          pip install riot==0.19.1

      - name: Run regenerate-riot-latest
        run: scripts/regenerate-riot-latest.sh

      - name: Get latest version
        id: new-latest
        run: |
          NEW_LATEST=$(python scripts/get_latest_version.py ${{ env.VENV_NAME }})
          echo "NEW_LATEST=$NEW_LATEST" >> $GITHUB_ENV

      - name: Create Pull Request
        id: pr
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: "upgrade-latest-${{ env.VENV_NAME }}-version"
          commit-message: "Update package version"
          delete-branch: true
          base: main
          title: "chore: update ${{ env.VENV_NAME }} latest version to ${{ env.NEW_LATEST }}"
          labels: changelog/no-changelog
          body-path: .github/PULL_REQUEST_TEMPLATE.md