name: Import analysis

on:
  pull_request:

jobs:
  import_analysis:
    name: "Bootstrap import analysis"
    runs-on: ubuntu-latest
    permissions:
       pull-requests: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
          path: dd-trace-py

      - name: Install Python 3.12
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        with:
          python-version: '3.12'

      - name: Install rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@9399c7bb15d4c7d47b27263d024f0a4978346ba4 # v1.11.0
        
      - name: Install apt dependencies
        run: sudo apt-get update && sudo apt-get install -y --no-install-recommends build-essential

      - name: Set up PR environment
        run: |
          python -m venv .venv-pr
          source .venv-pr/bin/activate
          python -m pip install ./dd-trace-py
          python -c "import ddtrace.auto"
          deactivate

      - name: Collect import data from PR
        run: |
          source .venv-pr/bin/activate
          for n in {0..1000}; do
            python -X importtime -c "import ddtrace.auto" 2> import-pr-${n}.txt
          done
          deactivate

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.base_ref }}
          persist-credentials: false
          path: dd-trace-py
  
      - name: Set up base environment
        run: |
          python -m venv .venv-base
          source .venv-base/bin/activate
          python -m pip install ./dd-trace-py
          python -c "import ddtrace.auto"
          deactivate
  
      - name: Collect import data from base
        run: |
          source .venv-base/bin/activate
          for n in {0..1000}; do
            python -X importtime -c "import ddtrace.auto" 2> import-base-${n}.txt
          done
          deactivate

      - name: Analyze import data
        run: |
          source .venv-pr/bin/activate
          python -m pip install -r dd-trace-py/scripts/import-analysis/requirements.txt
          python dd-trace-py/scripts/import-analysis/import_analysis.py > import_analysis.txt
          deactivate

      - name: Report analysis result on PR
        uses: thollander/actions-comment-pull-request@fabd468d3a1a0b97feee5f6b9e499eab0dd903f6 # v2.5.0
        with:
          filePath: import_analysis.txt
          comment_tag: import_analysis
          mode: upsert
        if: always()
