name: pr-name
on:
  push:
    branches:
      - mq-working-branch-*
  merge_group:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']
    branches-ignore:
      - "[0-9]+.[0-9]+"

jobs:
  pr_name_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        name: Install Node.js
        with:
          node-version: 16
      - name: Install dependencies
        run: |
          npm install @commitlint/lint@18.6.1 @commitlint/load@18.6.1 @commitlint/config-conventional@18.6.2 @actions/core
      - name: Lint PR name
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        # Only validate on pull requests
        if: github.event_name == 'pull_request'
        with:
          script: |
            const load = require('@commitlint/load').default;
            const lint = require('@commitlint/lint').default;

            const CONFIG = {
              extends: ['./commitlint.config.js'],
            };

            const title = context.payload.pull_request.title;

            core.info(`Linting: ${title}`);

            load(CONFIG)
              .then((opts) => {
                lint(
                  title,
                  opts.rules,
                  opts.parserPreset ? {parserOpts: opts.parserPreset.parserOpts} : {}
                ).then((report) => {
                  report.warnings.forEach((warning) => {
                    core.warning(warning.message);
                  });

                  report.errors.forEach((error) => {
                    core.error(error.message);
                  });

                  if (!report.valid) {
                    core.setFailed("PR title linting failed");
                  }
                });
              });
