name: PyPA i686 musl linux CI image

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
      - 'mq-working-branch**'
    paths:
      - 'docker/**'

jobs:
  build-and-publish:
    uses: ./.github/workflows/build-and-publish-image.yml
    permissions:
      contents: read
      packages: write
    with:
      tags: 'ghcr.io/datadog/dd-trace-py/pypa_musllinux_1_2_i686:${{ github.sha }},ghcr.io/datadog/dd-trace-py/pypa_musllinux_1_2_i686:latest'
      platforms: 'linux/386'
      build-args: ''
      context: ./docker
      file: Dockerfile.pypa_musllinux_1_2_i686
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
