name: Pytorch Unit Tests (with GPU)

on:
  push:
    branches:
      - 'main'
    paths:
      - ddtrace/internal/datadog/profiling/**
      - ddtrace/profiling/**
      - .github/workflows/pytorch_gpu_tests.yml
  pull_request:
    paths:
      - ddtrace/internal/datadog/profiling/**
      - ddtrace/profiling/**
      - .github/workflows/pytorch_gpu_tests.yml
  workflow_dispatch:

jobs:
   unit-tests:
    runs-on: APM-4-CORE-GPU-LINUX
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        # Include all history and tags
        with:
          persist-credentials: false
          fetch-depth: 0

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        name: Install Python
        with:
          python-version: '3.12'

      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      - name: Install latest stable toolchain and rustfmt
        run: rustup update stable && rustup default stable && rustup component add rustfmt clippy

      - name: Install hatch
        run: pip install -r ci/requirements/ci.txt

      - name: Install PyTorch
        run: pip install -r ci/requirements/ci.txt

      - name: Run tests
        run: hatch run profiling_pytorch:test
