name: Pytorch Unit Tests (with GPU)

on:
  push:
    branches:
      - 'main'
    paths:
      - ddtrace/internal/datadog/profiling/**
      - ddtrace/profiling/**
      - .github/workflows/pytorch_gpu_tests.yml
  pull_request:
    paths:
      - ddtrace/internal/datadog/profiling/**
      - ddtrace/profiling/**
      - .github/workflows/pytorch_gpu_tests.yml
  workflow_dispatch:

jobs:
   unit-tests:
    runs-on: APM-4-CORE-GPU-LINUX
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        # Include all history and tags
        with:
          persist-credentials: false
          fetch-depth: 0

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        name: Install Python
        with:
          python-version: '3.12'

      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      - name: Install latest stable toolchain and rustfmt
        run: rustup update stable && rustup default stable && rustup component add rustfmt clippy

      - name: Install hatch
        run: pip install hatch==1.12.0

      - name: Install PyTorch
        run: pip install torch

      - name: Run tests
        run: hatch run profiling_pytorch:test
