name: Pytorch Unit Tests (with GPU) 

on:
  push:
    branches:
      - 'main'
      - 'mq-working-branch**'
    paths:
      - 'ddtrace/profiling/collector/pytorch.py'
  pull_request:
    paths:
      - 'ddtrace/profiling/collector/pytorch.py'
  workflow_dispatch: 

jobs:
   unit-tests:
    runs-on: APM-4-CORE-GPU-LINUX
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        # Include all history and tags
        with:
          persist-credentials: false
          fetch-depth: 0

      - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        name: Install Python
        with:
          python-version: '3.12'

      - uses: actions-rust-lang/setup-rust-toolchain@9399c7bb15d4c7d47b27263d024f0a4978346ba4 # v1.11.0
      - name: Install latest stable toolchain and rustfmt
        run: rustup update stable && rustup default stable && rustup component add rustfmt clippy

      - name: Install hatch
        uses: pypa/hatch@257e27e51a6a5616ed08a39a408a21c35c9931bc # install
        with:
          version: "1.12.0"
      
      - name: Install PyTorch
        run: pip install torch

      - name: Run tests
        run: hatch run profiling_pytorch:test 
