name: Skipped Flaky Tests Report

on:
  schedule:
    # Run every Monday and Thursday at 6 AM Eastern Time (EST)
    - cron: '0 11 * * 1,4'
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to run the workflow on"
        required: true
        default: "main"
        type: string


jobs:
  flaky-tests:
    name: Run Skipped Flaky Tests Report
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.branch }}

      - uses: ./.github/actions/setup-ci-deps
        with:
          python-version: '3.11'

      - name: Run flaky tests report script
        run: python scripts/report_skipped_flaky.py

      - name: Upload report artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: flaky-tests-report
          path: flaky_tests_report.json
          retention-days: 7
