name: Skipped Flaky Tests Report

on:
  schedule:
    # Run every Monday and Thursday at 6 AM Eastern Time (EST)
    - cron: '0 11 * * 1,4'
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to run the workflow on"
        required: true
        default: "main"
        type: string


jobs:
  flaky-tests:
    name: Run Skipped Flaky Tests Report
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ inputs.branch }}

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.11'

      - name: Install codeowners
        run: |
            pip install codeowners

      - name: Run flaky tests report script
        run: python scripts/report_skipped_flaky.py

      - name: Upload report artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: flaky-tests-report
          path: flaky_tests_report.json
          retention-days: 7
