name: Test Requirements Lockfiles Check
on:
  push:
    branches:
      - main
      - 'mq-working-branch**'
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  validate:
    name: Check requirements lockfiles
    runs-on: ubuntu-latest
    container: ghcr.io/datadog/dd-trace-py/testrunner:cee4f8852c30ae41310ab5951cff5ddb94a9f0a8@sha256:c698d8497cda4c95841ec511723eb310d4840c916a9ea3098256ec872e175de2
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Fixup git permissions
        # https://github.com/actions/checkout/issues/766
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Set python interpreters
        run: pyenv global 3.10 3.8 3.9 3.11 3.12 3.13

      - name: Install Dependencies
        run: pip install --upgrade pip && pip install riot==0.20.1

      - name: Generate riot locks
        run: scripts/compile-and-prune-test-requirements

      - name: Check locks diff
        run: scripts/check-diff '.riot/requirements/' 'Mismatches found between .riot/requirements/*.txt and riotfile.py. Run scripts/compile-and-prune-test-requirements and commit the result.'

      - name: Generate min_compatible_versions
        run: python scripts/min_compatible_versions.py

      - name: Check min_compatible_versions diff
        run: scripts/check-diff 'min_compatible_versions.csv' 'Mismatches found between min_compatible_versions.csv and riotfile.py. Run `python scripts/min_compatible_versions.py` and commit the result.'

      - name: Check lib-injection min_compatible_versions diff
        run: scripts/check-diff 'lib-injection/sources/min_compatible_versions.csv' 'Mismatches found between min_compatible_versions.csv and riotfile.py. Run `python scripts/min_compatible_versions.py` and commit the result.'
