name: Test Requirements Lockfiles Check
on:
  push:
    branches:
      - main
      - 'mq-working-branch**'
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  validate:
    name: Check requirements lockfiles
    runs-on: ubuntu-latest
    container: ghcr.io/datadog/dd-trace-py/testrunner:0a50e839f4b1600f02157518b8d016451b346578@sha256:5dae9bc7872f69b31b612690f0748c7ad71ab90ef28a754b2ae93d0ba505837b
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Fixup git permissions
        # https://github.com/actions/checkout/issues/766
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Set python interpreters
        run: pyenv global 3.10 3.7 3.8 3.9 3.11 3.12 3.13

      - name: Install Dependencies
        run: pip install --upgrade pip && pip install riot==0.20.1

      - name: Generate riot locks
        run: scripts/compile-and-prune-test-requirements

      - name: Check git diff
        run: scripts/check-diff '.riot/requirements/' 'Mismatches found between .riot/requirements/*.txt and riotfile.py. Run scripts/compile-and-prune-test-requirements and commit the result.'
