name: System Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch: {}
  schedule:
    - cron: '00 04 * * 2-6'

jobs:
  needs-run:
    runs-on: ubuntu-latest
    outputs:
      outcome: ${{ steps.run_needed.outcome }}
    steps:
      - uses: actions/checkout@v4
      - id: run_needed
        name: Check if run is needed
        run:  |
          # git fetch origin ${{ github.event.pull_request.base.sha || github.sha }}
          # export PATHS=$(git diff --name-only HEAD ${{ github.event.pull_request.base.sha || github.sha }})
          # python -c "import os,sys,fnmatch;sys.exit(not bool([_ for pattern in {'ddtrace/*', 'setup*', 'pyproject.toml', '.github/workflows/system-tests.yml'} for _ in fnmatch.filter(os.environ['PATHS'].splitlines(), pattern)]))"
          echo "success"
        continue-on-error: true

  system-tests-build:
    runs-on: ubuntu-latest
    needs: needs-run
    strategy:
      matrix:
        include:
          - weblog-variant: flask-poc
          - weblog-variant: uwsgi-poc
          - weblog-variant: django-poc
          - weblog-variant: fastapi
        #   runs django-poc for 3.12
          - weblog-variant: python3.12
      fail-fast: false
    env:
      TEST_LIBRARY: python
      WEBLOG_VARIANT: ${{ matrix.weblog-variant }}
      # system-tests requires an API_KEY, but it does not have to be a valid key, as long as we don't run a scenario
      # that make assertion on backend data. Using a fake key allow to run system tests on PR originating from forks.
      # If ever it's needed, a valid key exists in the repo, using ${{ secrets.DD_API_KEY }}
      DD_API_KEY: 1234567890abcdef1234567890abcdef
      CMAKE_BUILD_PARALLEL_LEVEL: 12
    steps:
      - name: Setup python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Checkout system tests
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        uses: actions/checkout@v3
        with:
          repository: 'DataDog/system-tests'

      - name: Checkout dd-trace-py
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        uses: actions/checkout@v3
        with:
          path: 'binaries/dd-trace-py'
          fetch-depth: 0

      - name: Build
        id: build
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        run: ./build.sh

      - name: Save
        id: save
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        run: docker image save system_tests/weblog:latest | gzip > ${{ matrix.weblog-variant}}_${{ github.sha }}.tar.gz

      - uses: actions/upload-artifact@master
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        with:
          name: ${{ matrix.weblog-variant }}_${{ github.sha }}
          path: ${{ matrix.weblog-variant}}_${{ github.sha }}.tar.gz

  system-tests-run:
    runs-on: ubuntu-latest
    needs: [needs-run, system-tests-build]
    strategy:
      matrix:
        weblog-variant: [flask-poc, uwsgi-poc, django-poc, fastapi, python3.12]
        scenario: [INTEGRATIONS, CROSSED_TRACING_LIBRARIES, REMOTE_CONFIG_MOCKED_BACKEND_ASM_FEATURES]

      fail-fast: false
    env:
      TEST_LIBRARY: python
      WEBLOG_VARIANT: ${{ matrix.weblog-variant }}
      # system-tests requires an API_KEY, but it does not have to be a valid key, as long as we don't run a scenario
      # that make assertion on backend data. Using a fake key allow to run system tests on PR originating from forks.
      # If ever it's needed, a valid key exists in the repo, using ${{ secrets.DD_API_KEY }}
      DD_API_KEY: 1234567890abcdef1234567890abcdef
      CMAKE_BUILD_PARALLEL_LEVEL: 12
    steps:
      - name: Setup python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - uses: actions/download-artifact@master
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        with:
          name: ${{ matrix.weblog-variant }}_${{ github.sha }}
          path: ${{ matrix.weblog-variant}}_${{ github.sha }}.tar.gz

      - name: docker load
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        run: docker load < ${{ matrix.weblog-variant}}_${{ github.sha }}.tar.gz/${{ matrix.weblog-variant}}_${{ github.sha }}.tar.gz

      - name: Run ${{ matrix.scenario }}
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        run: ./run.sh ${{ matrix.scenario }}

      # even on failures, we want to have artifact to be able to investigate, so run if build was a success
      # The compress step speed up a lot the upload artifact process
      - name: Compress artifact
        id: compress-artifact
        if: steps.build.outcome == 'success' || github.event_name == 'schedule'
        run: tar -czvf artifact.tar.gz $(ls | grep logs)

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        if: steps.compress-artifact.outcome == 'success' || github.event_name == 'schedule'
        with:
          name: logs_${{ matrix.weblog-variant }}
          path: artifact.tar.gz

  parametric:
    runs-on: ubuntu-latest
    needs: needs-run
    env:
      TEST_LIBRARY: python
    steps:
      - name: Checkout system tests
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        uses: actions/checkout@v3
        with:
          repository: 'DataDog/system-tests'
      - name: Checkout dd-trace-py
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        uses: actions/checkout@v3
        with:
          path: 'binaries/dd-trace-py'
          fetch-depth: 0
      - uses: actions/setup-python@v4
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        with:
          python-version: '3.9'

      - name: Build
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        run: ./build.sh -i runner

      - name: Run
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        run: ./run.sh PARAMETRIC

      - name: Compress artifact
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        run: tar -czvf artifact.tar.gz $(ls | grep logs)

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        with:
          name: logs_parametric
          path: artifact.tar.gz
