name: System Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch: {}
  schedule:
    - cron: '00 04 * * 2-6'

jobs:
  needs-run:
    runs-on: ubuntu-latest
    outputs:
      outcome: ${{ steps.run_needed.outcome }}
    steps:
      - uses: actions/checkout@v4
      - id: run_needed
        name: Check if run is needed
        run:  |
          git fetch origin ${{ github.event.pull_request.base.sha || github.sha }}
          export PATHS=$(git diff --name-only HEAD ${{ github.event.pull_request.base.sha || github.sha }})
          python -c "import os,sys,fnmatch;sys.exit(not bool([_ for pattern in {'ddtrace/*', 'setup*', 'pyproject.toml', '.github/workflows/system-tests.yml'} for _ in fnmatch.filter(os.environ['PATHS'].splitlines(), pattern)]))"
        continue-on-error: true

  system-tests-build-agent:
    runs-on: ubuntu-latest
    needs: needs-run
    steps:

      - name: Checkout system tests
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        uses: actions/checkout@v4
        with:
          repository: 'DataDog/system-tests'

      - name: Build agent
        id: build
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        run: ./build.sh -i agent

      - name: Save
        id: save
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        run: |
          docker image save system_tests/agent:latest | gzip > agent_${{ github.sha }}.tar.gz

      - uses: actions/upload-artifact@v4
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        with:
          name: agent_${{ github.sha }}
          path: |
            agent_${{ github.sha }}.tar.gz
          retention-days: 2

  system-tests-build-weblog:
    runs-on: ubuntu-latest
    needs: needs-run
    strategy:
      matrix:
        include:
          - weblog-variant: flask-poc
          - weblog-variant: uwsgi-poc
          - weblog-variant: django-poc
          - weblog-variant: fastapi
          # runs django-poc for 3.12
          - weblog-variant: python3.12
      fail-fast: false
    env:
      TEST_LIBRARY: python
      WEBLOG_VARIANT: ${{ matrix.weblog-variant }}
      # system-tests requires an API_KEY, but it does not have to be a valid key, as long as we don't run a scenario
      # that make assertion on backend data. Using a fake key allow to run system tests on PR originating from forks.
      # If ever it's needed, a valid key exists in the repo, using ${{ secrets.DD_API_KEY }}
      DD_API_KEY: 1234567890abcdef1234567890abcdef
      CMAKE_BUILD_PARALLEL_LEVEL: 12
    steps:

      - name: Checkout system tests
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        uses: actions/checkout@v4
        with:
          repository: 'DataDog/system-tests'

      - name: Checkout dd-trace-py
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        uses: actions/checkout@v4
        with:
          path: 'binaries/dd-trace-py'
          fetch-depth: 0
          # NB this ref is necessary to keep the checkout out of detached HEAD state, which setuptools_scm requires for
          # proper version guessing
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Build
        id: build
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        run: ./build.sh -i weblog

      - name: Save
        id: save
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        run: |
          docker image save system_tests/weblog:latest | gzip > ${{ matrix.weblog-variant}}_weblog_${{ github.sha }}.tar.gz

      - uses: actions/upload-artifact@v4
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        with:
          name: ${{ matrix.weblog-variant }}_${{ github.sha }}
          path: |
            ${{ matrix.weblog-variant}}_weblog_${{ github.sha }}.tar.gz
          retention-days: 2

  system-tests:
    runs-on: ubuntu-latest
    needs: [needs-run, system-tests-build-agent, system-tests-build-weblog]
    strategy:
      matrix:
        weblog-variant: [flask-poc, uwsgi-poc , django-poc, fastapi, python3.12]
        scenario: [remote-config, appsec, appsec-1, other]

      fail-fast: false
    env:
      TEST_LIBRARY: python
      WEBLOG_VARIANT: ${{ matrix.weblog-variant }}
      # system-tests requires an API_KEY, but it does not have to be a valid key, as long as we don't run a scenario
      # that make assertion on backend data. Using a fake key allow to run system tests on PR originating from forks.
      # If ever it's needed, a valid key exists in the repo, using ${{ secrets.DD_API_KEY }}
      DD_API_KEY: 1234567890abcdef1234567890abcdef
      CMAKE_BUILD_PARALLEL_LEVEL: 12
    steps:

      - name: Checkout system tests
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        uses: actions/checkout@v4
        with:
          repository: 'DataDog/system-tests'

      - name: Build runner
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        uses: ./.github/actions/install_runner

      - uses: actions/download-artifact@v4
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        with:
          name: ${{ matrix.weblog-variant }}_${{ github.sha }}
          path: images_artifacts/

      - uses: actions/download-artifact@v4
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        with:
          name: agent_${{ github.sha }}
          path: images_artifacts/

      - name: docker load
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        run: |
          docker load < images_artifacts/${{ matrix.weblog-variant}}_weblog_${{ github.sha }}.tar.gz
          docker load < images_artifacts/agent_${{ github.sha }}.tar.gz

      - name: Run DEFAULT
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'other'
        run: ./run.sh DEFAULT
        continue-on-error: true

      - name: Run SAMPLING
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'other'
        run: ./run.sh SAMPLING
        continue-on-error: true

      - name: Run INTEGRATIONS
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'other'
        run: ./run.sh INTEGRATIONS
        continue-on-error: true

      - name: Run CROSSED_TRACING_LIBRARIES
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'other'
        run: ./run.sh CROSSED_TRACING_LIBRARIES
        continue-on-error: true

      - name: Run REMOTE_CONFIG_MOCKED_BACKEND_ASM_FEATURES
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'remote-config'
        run: ./run.sh REMOTE_CONFIG_MOCKED_BACKEND_ASM_FEATURES
        continue-on-error: true

      - name: Run REMOTE_CONFIG_MOCKED_BACKEND_LIVE_DEBUGGING
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'remote-config'
        run: ./run.sh REMOTE_CONFIG_MOCKED_BACKEND_LIVE_DEBUGGING
        continue-on-error: true

      - name: Run REMOTE_CONFIG_MOCKED_BACKEND_ASM_DD
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'remote-config'
        run: ./run.sh REMOTE_CONFIG_MOCKED_BACKEND_ASM_DD
        continue-on-error: true

      - name: Run APPSEC_MISSING_RULES
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'appsec'
        run: ./run.sh APPSEC_MISSING_RULES
        continue-on-error: true

      - name: Run APPSEC_CUSTOM_RULES
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'appsec'
        run: ./run.sh APPSEC_CUSTOM_RULES
        continue-on-error: true

      - name: Run APPSEC_CORRUPTED_RULES
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'appsec'
        run: ./run.sh APPSEC_CORRUPTED_RULES
        continue-on-error: true

      - name: Run APPSEC_RULES_MONITORING_WITH_ERRORS
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'appsec'
        run: ./run.sh APPSEC_RULES_MONITORING_WITH_ERRORS
        continue-on-error: true

      - name: Run APPSEC_LOW_WAF_TIMEOUT
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'appsec'
        run: ./run.sh APPSEC_LOW_WAF_TIMEOUT
        continue-on-error: true

      - name: Run APPSEC_CUSTOM_OBFUSCATION
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'appsec'
        run: ./run.sh APPSEC_CUSTOM_OBFUSCATION
        continue-on-error: true

      - name: Run APPSEC_RATE_LIMITER
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'appsec'
        run: ./run.sh APPSEC_RATE_LIMITER
        continue-on-error: true

      - name: Run APPSEC_STANDALONE
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'appsec-1'
        run: ./run.sh APPSEC_STANDALONE

      - name: Run APPSEC_RUNTIME_ACTIVATION
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'appsec-1'
        run: ./run.sh APPSEC_RUNTIME_ACTIVATION
        continue-on-error: true

      - name: Run APPSEC_WAF_TELEMETRY
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'appsec-1'
        run: ./run.sh APPSEC_WAF_TELEMETRY
        continue-on-error: true

      - name: Run APPSEC_DISABLED
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'appsec-1'
        run: ./run.sh APPSEC_DISABLED
        continue-on-error: true

      - name: Run APPSEC_BLOCKING
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'appsec-1'
        run: ./run.sh APPSEC_BLOCKING
        continue-on-error: true

      - name: Run APPSEC_BLOCKING_FULL_DENYLIST
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'appsec-1'
        run: ./run.sh APPSEC_BLOCKING_FULL_DENYLIST
        continue-on-error: true

      - name: Run APPSEC_REQUEST_BLOCKING
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'appsec-1'
        run: ./run.sh APPSEC_REQUEST_BLOCKING
        continue-on-error: true

      - name: Run APPSEC_RASP
        if: (needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule') && matrix.scenario == 'appsec-1'
        run: ./run.sh APPSEC_RASP
        continue-on-error: true

      # The compress step speed up a lot the upload artifact process
      - name: Compress artifact
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        id: compress-artifact
        run: tar -czvf artifact.tar.gz $(ls | grep logs)
        continue-on-error: true

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        if: steps.compress-artifact.outcome == 'success' || github.event_name == 'schedule'
        with:
          name: logs_${{ matrix.weblog-variant }}_${{ matrix.scenario }}
          path: artifact.tar.gz
        continue-on-error: true

      - name: Verify results
        if: ${{ failure() }}
        run: |
          echo "Some of the scenarios have failed"
          exit 1
        continue-on-error: false

  parametric:
    runs-on:
      group: "APM Larger Runners"
    needs: needs-run
    env:
      TEST_LIBRARY: python
    steps:
      - name: Checkout system tests
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        uses: actions/checkout@v4
        with:
          repository: 'DataDog/system-tests'
      - name: Checkout dd-trace-py
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        uses: actions/checkout@v4
        with:
          path: 'binaries/dd-trace-py'
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Build runner
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        uses: ./.github/actions/install_runner

      - name: Run
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        run: ./run.sh PARAMETRIC
        continue-on-error: true

      - name: Compress artifact
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        run: tar -czvf artifact.tar.gz $(ls | grep logs)

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        if: needs.needs-run.outputs.outcome == 'success' || github.event_name == 'schedule'
        with:
          name: logs_parametric
          path: artifact.tar.gz

      - name: Verify results
        if: ${{ failure() }}
        run: |
          echo "Some of the scenarios have failed"
          exit 1
        continue-on-error: false
