name: Upstream issue notifier
on:
  schedule:
  # run at 8am EST every day
    - cron: "0 13 * * *"
jobs:
  upstream-issues:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Kyle-Verhoog/upstream-issue-notifier@v0.1.3
        env:
          GITHUB_TOKEN: ${{ github.token }}
          IGNORE_DIRS: ddtrace/vendor
